@import "~@nti/style-common/all.scss";

.site-admin-advanced {
	color: #444;
	border-radius: 2px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);

	.advanced-item {
		border: solid 1px #eaeaea;
		border-radius: 2px;
		padding: 10px;
		text-align: left;
		box-shadow: inset 0 -1px 0 0 #e2e2e2;
		margin-bottom: 15px;
	}
}
