@import '~@nti/style-common';

.course-resources {
	padding-top: 40px;
	position: relative;

	.course-resources-header {
		display: flex;
		align-items: center;

		.list-table-header {
			text-transform: uppercase;
		}

		.header {
			flex: 0 0 auto;
			color: var(--primary-grey);
			display: inline-flex;
			flex-direction: row;
			align-items: center;

			span {
				font: normal 300 2.25rem/1 var(--body-font-family);
			}

			i {
				font-size: 1.5rem;
				transition: transform 0.2s;
			}

			&.flyout-open i {
				transform: rotate(180deg);
			}
		}

		.spacer {
			flex: 1 1 auto;
		}

		.resource-controls {
			flex: 0 0 auto;
		}
	}
}

.course-resource-types {
	.header-option {
		display: block;
		padding: 0.5rem 1rem;
		font: normal 300 1.25rem/1 var(--body-font-family);
	}
}
