.asset-item {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 0.875rem;
}

.asset-item > * {
	flex: 1;
}

.info {
	padding-right: 1rem;
}

.file-info {
	margin-top: 1rem;
	display: flex;
}

.file-info > * {
	flex: 0 0 auto;
	margin-right: 0.5em;
}

.filename {
	color: var(--secondary-grey);
}

.asset-item > .preview {
	--height: 70px;

	flex: 0 0 auto;
	max-height: var(--height);
	background-image: linear-gradient(
			45deg,
			var(--checkerboard) 25%,
			transparent 25%
		),
		linear-gradient(-45deg, var(--checkerboard) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--checkerboard) 75%),
		linear-gradient(-45deg, transparent 75%, var(--checkerboard) 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}

.preview img {
	max-height: var(--height);
	display: block;
}
