@import "~nti-style-common";

.course-roster-instructors {
	background: white;

	.title {
		border-bottom: 1px solid $border-grey-light;
	}

	.error {
		background: $primary-red;
		color: white;
		line-height: 1.25rem;
		text-align: center;
	}

	.search-container {
		width: 50%;
		margin-bottom: 1rem;

		form {
			margin: 0;
			background: white;
		}
	}

	.permissions-list-container {
		max-height: 80vh;
		overflow: auto;
		min-height: 200px;
		width: 100vw;
		max-width: 768px;
		padding: 1rem 2rem 2rem;
		background: $panel-background;
	}
}

.course-roster-instructors-container {
	.icon-close {
		display: none;
	}
}
