@import "~nti-style-common/all.scss";

.site-admin-course {
	.site-admin-course-list {
		ul li a {
			text-decoration: none;
		}
	}

	.create-course-button {
		background-color: #3fb3f6;
		color: white;
		width: 150px;
		text-align: center;
		padding: 10px;
		border-radius: 3px;
		font-size: 14px;
		line-height: 22px;
		cursor: pointer;
		margin: 20px;
	}

	.course-create-message {
		text-align: center;
		font-size: 20px;
		color: #5c7;
	}
}
