@mixin dot-separated-list{
	span{
		&::after{
			color: $tertiary-grey;
			font: normal 500 10px/20px $font;

			position: static;
			content: '\00B7';
			vertical-align: middle;
			display: inline;
			padding: 0 0.5em;
			background: none;
		}
		&:last-of-type::after {
			content: '';
			display: none;
		}
	}
}

@mixin editor-with-borders {
	& > div {
		border: 1px solid #dcdcdc;
		color: #dcdcdc;
		background: white;
		font: italic 400 14px/37px $font;
		padding: 0 10px;
		.editor {
			margin-bottom: 10px;
		}
	}
}

.activity-view{
	@include side-panel-view-title;
	.activity-panel {
		@include scrollbar(#ffffff, $tertiary-grey);

		.activity {
			cursor: pointer;
			position: relative;
			border-top: 1px solid #eaeaea;


			margin: 0 18px 0 20px;
			padding: 12px 0 12px 0;
			font: italic normal 12px/20px $font;
			color: $primary-grey;
			overflow: hidden;

			//&::after {
			//	content: ' ';
			//	position: absolute;
			//	top: 15px;
			//	left: 0;
			//}

			&.deleted{
				cursor: default;
			}

			&.nothing{
				&::after{display: none;}
				text-align: center;
				font-style: italic;
				color: $secondary-grey;
				padding: 0px;
				margin: 0px;
				border-top: none;
				box-shadow: none;
			}

			&.loading{
				padding-left: 30px;
				&::after {
					@include loadingSpinner($top:12px,$left:0);
				}
			}

			//&.user::after{ @include sprite($add-contact-14x14); }
			//&.comment, &.personalblogcomment, &.generalforumcomment{
			//	&::after{ @include sprite($activity-comment); }
			//}
			//&.highlight::after { @include sprite($activity-highlight); }
			&.note,&.personalblogentry, &.communityheadlinetopic{
				//&::after{ @include sprite($activity-note); }
				font-style: italic;
			}

			.name, .with, .verb {
				font: normal bold 10px $font;
				text-transform: uppercase;
			}

			.name, .with { color: $primary-blue; }
			.verb {color: $tertiary-grey; }
		}

		.center-button{
			text-align: center;
		}

		.more-button{
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;

			span {
				text-transform: capitalize;
			}
		}

		//add some space between the divider and the next activity
		@include divider;
		.divider + .activity {
			border-top: none;
			box-shadow: none;
		}
	}
}




.activity-popout{
	background-color: #fff;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,.14), inset 0 2px rgba(255,255,255,.5);
	border: solid 1px #cecece;
	outline: 0;

	&.x-layer {
		overflow: hidden;
	}


	.activity-preview {

		.x-component-forum-comment-thread {
			font-size: 0.9em;

			&.no-reply {
				.flag::before {
					content: '';
					display: none !important;
				}
			}

			.topic-comment-container{
				padding: 0 0 0 10px;
				background-color: #f9f9f9;

				&[data-depth='0'] {
					padding-left: 0px;
				}
			}

			.topic-comment{
				padding-left: 40px;
				background-color: #f9f9f9;

				.foot {
					padding: 5px;
				}

				.foot, .meta{
					.link {
						cursor: pointer;
						color: $primary-blue;
					}

					.name {
						padding-bottom: 0;
					}

					& > span{
						display: inline-block;
						max-width: 50%;
						overflow-x: hidden;
						vertical-align: bottom;
						@include ellipse;
						color: $secondary-grey;
						&::before{
							color: $tertiary-grey;
							font-weight: 600;
							position: static;
							content: '\00B7';
							text-decoration: none !important;
							vertical-align: baseline;
							display: inline-block;
							padding: 0 0.3em;
							background: none;
							text-decoration: none;
						}

						.tag:last-of-type::after,
						&:empty::before,
						&:first-of-type::before {
							content: '';
							display: none;
						}
					}
				}

				.commentAvatar{
					left: 65px;
				}

				&[data-depth='4']{
					padding-left: 30px;

					.commentAvatar{
						left: 55px;
					}
				}

				&[data-depth='3']{
					padding-left: 20px;

					.commentAvatar{
						left: 45px;
					}
				}

				&[data-depth='2']{
					padding-left: 10px;
					.commentAvatar{
						left: 35px;
					}
				}

				&[data-depth='1'], &[data-depth='0']{

					border: 0 solid #f5f5f5;
					border-top-width: 1px;
					padding-left: 0px;

					.commentAvatar{
						left: 25px;
					}
				}


			}
		}

		.thought-label {
			position: absolute;
			color: #8fbc30;
			font: normal bold 10px $font;
			text-transform: uppercase;
			left: 20px;
			top: 20px;

			& + .item {
				padding-top: 30px;
				.controls { margin:{top:-31px;}}
				.avatar { display: none; }
				.meta { margin:{ left: 0; top: 35px; } }
			}
		}

		.foot, .replies, .respond {
			background: #f9f9f9;
			padding:{ left: 15px; right: 15px; }
		}

		.replies + .respond {
			border-top: 1px solid #e7e7e7;
			box-shadow: inset 0 1px 0 0 white;
			padding: 10px;
			@include editor-with-borders;
			.editor .main {
				.content{
					min-height: 0;
					max-height: auto;
					height: 100px;
				}
				.error-tip[data-error-tip]::before{
					top: 32px !important;
				}
			}
		}

		.editor-box.reply {
			@include editor-with-borders;
		}

		&.editor-active ~ .respond {
			.reply-options { display: none; }
			.editor .action.share {display: none !important;}
		}


		.path,
		.content-callout {
			padding: 16px 36px 0px 16px;
			border-bottom-width: 0;
			cursor: pointer;
			border-color: #eaeaea;

			.location {
				text-transform: uppercase;
				font: normal 600 10px/20px $font;
				color: $tertiary-grey !important;
				height: 20px;
				overflow: hidden;
				@include ellipse;
			}

			.context{
				overflow: hidden;
				position: relative;
				cursor: pointer;
				height: 55px;

				& > .text {
					position: relative;
					overflow: hidden;
					font: normal 400 14px/20px $font;
					color: $primary-grey;
					display: block;
					height: 40px;
					img { max-width: 50% !important; }

					p { margin: 0; }
				}

				&.video-context{
					height: 135px;

					& > .text{
						height: 120px;
					}
				}

				&::after {
					content: ' ';
					position: absolute;
					left: 0; right: 0;
					bottom: 0; height: 10px;
					background-image: linear-gradient(to bottom, rgba(251, 251, 251, 0) 0%, #fbfbfb 100%);
				}
			}
		}


		.path {
			color: $tertiary-grey;
			text-transform: uppercase;
			padding: 0 20px;
			font: normal 700 10px/40px $font;
			height: 40px;
			overflow: hidden;
			@include ellipse;

			&:empty { display: none; }

			span.path-part {
				&::after{
					content: ' / ';
				}
				&:last-of-type::after{
					content: '';
				}
			}
		}


		.item {
			position: relative;
			z-index: 2;
			border: 0;
			border-top: 1px solid #f0f0f0;
			border-bottom: 1px solid #ececec;
			box-shadow: 0 1px 4px 0px rgba(30, 30, 30, 0.05);
			padding: 0 20px 0;

			@include like-and-favorite;

			& > * { margin-top: 20px; }
			.controls {margin: 0 -20px 0 0;}

			.avatar {
				float: left;
				width: 60px;
				height: 60px;
				border-radius: 5px;
				cursor: pointer;
				background:{
					color: transparent;
					position: center;
					repeat: no-repeat;
					size: cover;
				}
			}

			.meta {
				margin: 20px 70px 0 80px;
				min-height: 60px;
				font: normal 400 12px $font;
				color: $tertiary-grey;
			}

			.stamp {
				margin-top: 5px;
				.name {
					font: normal 600 10px/20px $font;
					color: $primary-blue;
					text-transform: uppercase;
					cursor: pointer;
					&::after{
						content:' ';
						padding-right: 0.3em;
					}
				}

			}

			.subject, .name.no-subject {
				display: block;
				color: $primary-grey;
				overflow: hidden;
				padding-bottom: 3px;
				@include ellipse;
				font: normal 300 28px/30px "Open Sans Condensed", $font;
				cursor: pointer;
				&::after{
					content: '';
					display: none;
				}
				.whiteboard-container{display: none !important;}
			}

			.subject:empty,
			.subject.no-subject{
				display: none;
			}

		}


		a.more {
			position: absolute;
			left: 20px; bottom: 4px;
			text-decoration: none;
			display: block;
			background: white;

			div {
				display: inline-block;
				border-radius: 90px;
				width: 4px; height: 4px;
				margin: 2px;
				background: $primary-blue;
			}

		}

		.body{
			position: relative;
			margin: 10px 0 25px 0;
			font: normal 400 14px/19px $font;
			color: $primary-grey;
			max-height: 57px;
			overflow: hidden;

			.whiteboard-container{ cursor: default; }
			@include text-pre-wrap;
		}


		.foot {
			clear: both;
			opacity: 1;
			padding: 15px;
			color: $primary-blue;

			.comments {
				cursor: pointer;
			}

			div {
				font: normal 600 12px/15px $font;
				//cursor: pointer;
				display: inline-block;
				//opacity: 0.75;
				padding: 0 0 0 0.5em;
				margin: 0;
				//&:hover { opacity: 1; &::after{opacity: 0.75;} }
				&::after{
					font: normal 600 14px/20px $font;
					position: static;
					content: '\00B7';
					vertical-align: middle;
					text-decoration: none !important;
					display: inline;
					padding: 0 0 0 0.5em;
					background: none;
				}
				&:last-of-type::after {
					content: '';
					display: none;
				}
				&.last::after{
					content: '';
					display: none;
				}
			}
		}

		.replies {
			overflow: {
				x: hidden;
				y: auto; //scroll;
			}

			.x-component-reply {
				position: relative;
				padding-bottom: 10px;

				.controls {
					position: absolute;
					top: -5px;
					right: 0;
					@include like-and-favorite;
					.like:not(.on):not(.liked){
						display: none;
					}
				}

				.avatar {
					float: left;
					width: 35px; height: 35px;
					border-radius: 3px;
					cursor: pointer;
					background:{
						color: transparent;
						position: center;
						repeat: no-repeat;
						size: cover;
					}
				}

				.meta,.body,.foot {
					margin-left: 45px;
					margin-right: 40px;
				}

				.foot {
					display:block;
					height: 20px;
					padding: 0;
					font-size: 0.8em;
					@include dot-separated-list;

					.link{
						display: none;
						cursor: pointer;

						&.flag.on{
							color: $primary-red;
							display: block;
						}
				  	}
				}

				&:hover{
					.foot{
						.link{
							display: inline-block;
						}
					}

					.controls .like{
						display: block !important;;
					}
				}

				.meta {
					font: normal 600 10px $font;

					.name {
						max-width: 100%;
						display: inline-block;
						overflow: hidden;
						vertical-align: bottom;
						@include ellipse();

						color: $primary-blue;
						cursor: pointer;
						text-transform: uppercase;
						&::after{
							content:' ';
							padding-right: 0.3em;
						}
					}

					.time{
						color: $tertiary-grey;
						text-transform: uppercase;
					}
				}

				.body {
					color: $primary-grey;
					margin:{ top: 5px; bottom: 5px; }
					font: normal 500 14px/20px $font;
					max-height: 300px;

					.whiteboard-container{ cursor: pointer; }
				}

				a.more{
					position: relative;
					left: 52px;
					cursor: pointer;
					background: transparent;
					width: 100px;
				}

				&.deleted-reply{
					.controls{
						display: none;
					}
				}
			}
		}
	}
}

.badge-preview {
	cursor: pointer;
	min-height: 120px;

	.img {
		width: 100px;
		height: 100px;
		background-size: contain;
		float: left;
		margin: 10px;
	}

	.wrap {
		color: $primary-grey;
		float: left;
		width: 278px;
		max-height: 400px;
		overflow-y: auto;
		padding: 20px 10px 10px 0;

		.name {
			font: normal 700 1em/1.4em 'Open Sans Condensed',$font;
		}

		.description {
			font: normal 500 0.9em/1.4em $font;
			font-size: 0.9em;
			margin: 4px 0;
		}
	}
}

.feedback-preview {
	.path {
		display: inline-block;
		font: normal 400 0.6em/40px $font;
		height: 40px;
		width: 400px;
		padding: 0 15px 0 15px;
		border-bottom: 1px solid #EDEDED;
	}

	.path .part {
		line-height: 40px;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 600;
		cursor: pointer;
		color: $tertiary-grey;
		max-width: 185px;
		width: 50%;
		position: relative;
		margin-right: 5px;
		padding-right: 8px;
		@include ellipse;
		overflow: hidden;

		&::after {
			content: ' /  ';
			color: $tertiary-grey;
			font-weight: 400;
			position: absolute;
			right: 0;
		}

		&:last-of-type {
			max-width: 200px;
			cursor: default;

			&::after {
				content: none;
			}
		}

		&.lesson {
			max-width: 175px;
		}
	}

	.assignment {
		cursor: pointer;
		padding: 15px 20px 0 20px;
		height: 80px;
		position: relative;

		.status {
			width: 40px;
			height: 40px;
			margin-right: 10px;
			float: left;

			@include icon($assignment_ontime);
		}

		.meta {
			width: 305px;
			float: left;

			.name {
				color: $primary-grey;
				font: normal 600 1em/1.1em $font;
			}

			.turned-in {
				color: $primary-green;
				font: normal 600 0.7em/2em $font;
			}
		}

		&.late {
			.status {
				@include icon($assignment_late);
			}

			.meta .turned-in {
				color: $primary-red;
			}
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 2px;
			height: 80px;
			left: 0;
			right: 0;
			background-color: $quad-grey;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
			clip: rect(80px, auto, 300px, auto);
			border-radius: 250em / 3em;
		}
	}

	.show-more {
		background-color: $panel-background;
		color: $primary-blue;
		font: normal 500 0.8em/20px $font;
		padding: 10px 0 0 20px;

		.more-text {
			cursor: pointer;
		}
	}

	.replies {
		font-size: 0.7em;

		.feedback-panel .x-component-feedback-box .feedback-item {
			padding: 10px 20px;
		}
	}
}
