@mixin draggable-zone{
	.draggable-area{
		display: table-cell;
		min-width: 54px;
		border: 0px solid $tertiary-grey-alt;
		border-bottom-width: 1px;
		padding-left: 15px;
		position: relative;
		cursor: move;

		.text{
			position: relative;
			margin-right: 61px;
			line-height: 26px;
			min-width: 30px;
		}

		&:hover{
			outline: 1px solid $tertiary-grey;
			&::after{
				@include sprite($drag-controls-hover);
			}
		}

		.controls{
			position: relative;

			.drag-control{
				position: absolute;
				top: 20px;
				right: 20px;
				@include sprite($drag-controls);
			}
		}
	}
}

@mixin draggable-span{
	.dd-label-token{
		display: inline-block;
		position: relative;
		padding: 0 10px;
		margin: 0 10px 10px 0;
		border: 1px solid $primary-blue;
		border-radius: 3px;
		box-shadow: 1px 1px 2px rgba(0,0,0,.09);
		cursor: move;
		font-weight: 600;
		color: $primary-blue;

		p{margin: 0;}

		&:hover{
			background-color: $primary-blue;
			color: #fff;
		}

		.value{
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}

		.x{
			position: relative;
			width: 15px;
			height: 18px;
			display: none;
			vertical-align: middle;

			&::after{
				content: '';
				display: block;
				position: absolute;
				@include sprite($light-x_hover);
				top: 6px; left: 9px;
				cursor: pointer;
			}
		}
	}
}

body.dragging * {
	cursor: grabbing !important;
}

.component-overlay {
	.shield {
		position: fixed;
		height: auto;
		bottom: 0;
		top: 0; left: 0; right: 0;
		background: transparent;
		z-index: 1;
	}

	.tabable:active,
	.tabable:focus {

	}
}

.assessment-content {
	font: {
		size: 14px;
		style: normal;
		weight: normal;
	}
	line-height: 2em;

	.math {
		line-height: normal;
	}

	img {
		margin: 1em 0 0 0;
		max-width: 100%;
		height: auto !important;
	}

	sup {
		vertical-align: super;
	}

	sub {
		vertical-align: sub;
	}

	.nobreak {
		white-space: nowrap;
	}

	.vfrac {
		white-space: nowrap;

		.divider {
			font-size: 140%;
			vertical-align: -4%;
		}
	}

	.underline {
		text-decoration: underline;
	}

	.overline {
		text-decoration: overline;
	}

	em,
	.mathname {
		font-style: italic;
	}

	.tabular {
		td {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}


.dd-assessment-proxy-ghost {
	overflow: visible;
	//pointer-events: auto;

	.x-dd-drag-ghost{
		filter: none;
		opacity: 1;
		position: relative;
	}

	.target.drag {
		font: normal normal 1.3em/2em $font;
		border: 1px solid $primary-blue;
		border-radius: 3px;
		box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.5);
		display: inline-block;
		padding: 0 15px;

		color: #fff;
		background: $primary-blue;

		cursor: grabbing;
	}

}

.feedback-panel{
	&, & > .x-panel-body {
		overflow: visible;
	}

	.x-component-feedback-title{
		margin: 0 -60px 0 -30px;
		padding: 0 60px 0 30px;
		position: relative;
		border-bottom: 1px solid #f0f0f0;

		h1{
			font: normal 200 1.6em/1 $font;
			color: $secondary-grey;
			margin: 0;
		}

		.message{
			font: normal 500 1.1em/2.5 $font;
			color: $secondary-grey;
			margin-bottom: 10px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -1px;
			height: 300px;
			left: 0;
			right: 0;
			background-color: #f0f0f0;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
			clip: rect(300px, auto, 310px, auto);
			border-radius: 350em / 5em;
		}
	}

	.x-container-feedback-box {
		background-color: #fbfbfb;
		border: 1px solid #f0f0f0;
		border-top: none;
		border-bottom: none;

		.feedback-item {
			$s: 35px;
			$m: $s + 10px;
			border: 0 solid #f0f0f0;
			border-bottom-width: 1px;
			position: relative;
			padding: 30px 20px 40px;

			.avatar {
				float: left;
				width: $s;
				height: $s;
				border-radius: 2px;
				cursor: pointer;

				background: {
					size: cover;
					position: center center;
					repeat: no-repeat;
				}
			}

			.wrap {
				font: normal normal 1.1em/1.6 $font;
				color: $secondary-grey;
				margin: 0 0 0 $m;

				.meta > * { margin-right: 0.5em; }

				.name {
					color: $primary-blue;
					cursor: pointer;
				}

				time {
					color: $tertiary-grey;
				}

				.message {
					@include note-body;
					@include attachment();

					.attachment-part {
						margin: 7px 0;
					}
				}

				.footer {
					.link {
						color: $primary-blue;
						cursor: pointer;
					}
					span {
						display: inline-block;
						&::after{
							color: $tertiary-grey;
							font: normal 500 12px/20px $font;
							text-decoration: none !important;
							position: static;
							content: '\00B7';
							vertical-align: baseline;
							display: inline;
							padding: 0 0.5em;
							background: none;
						}
						&:last-of-type::after {
							content: '';
							display: none;
						}
					}
				}
			}
		}
	}

	.x-component-comment-box{
		background-color: #fbfbfb;
		border: 1px solid #f0f0f0;
		border-top: none;
		box-shadow: inset 0 1px 0 0 #fff;
		overflow: hidden;

		.editor-box{
			border: 1px solid #dcdcdc;
			background-color: white;
			line-height: 39px;
			margin: 10px;

			&:not(.editor-active)::before{
				content: 'Add a comment';
				margin-left: 10px;
				color: $tertiary-grey;
				font: italic normal 1em/39px $font;
			}
		}
	}
}

.x-panel-assessment {
	&.question.no-data {
		border-color: #f0f0f0;
		box-shadow: 0px 1px 2px 1px rgba(127, 127, 127, 0.08);

		&::before {
			content: "";
			position: absolute;
			background: #fdfdfd;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.8;
			z-index: 10;
		}
	}

	&.question.poll {
		&.showing-results {
			height: auto !important;

			.terms {
				display: none;
			}
		}
	}

	&.question { //main frame of the question
		background: $panel-background;
		border: 1px solid #e2e2e2;
		border-radius: 3px;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);

		& > .x-panel-body-assessment {
			.question-content {
				@extend .assessment-content;
				vertical-align: initial;
				margin: 17px 40px 15px 40px;
				min-height: 28px;

				&:empty {display: none;}
			}
			.question-number-container {
				top: 21px;
				left: 13px;
				min-width: 20px;
				position: absolute;
			}
			.question-number {
				color: rgb(190, 190, 190);
				font-size: 14px;
				font-style: normal;
				font-weight: normal;
				float: right;
			}
			background: #ffffff;
			color: $primary-grey;
			overflow: hidden;
			position: relative;

			.labels{
				padding: 10px 15px 0 0;
				@include draggable-span;
			}
		}

		& > .header {
			color: #737373;
			border-radius: 3px 3px 0 0;
			font: {
				family: $font;
				weight: bold;
				size: 14px;
				style: normal;
			}
			border: 0px solid #e2e2e2;
			border-bottom-width: 1px !important;
			padding: 11px 10px 6px 10px;

			&.correct{ font-style: italic; color: #8eb737; }
			&.incorrect{ font-style: italic; color: #f35252; }

			.title, .status {
				display: inline;
			}

			.controls {
				@include like-and-favorite;
				position: absolute;
				right: 0;
				top: 0;


				.video {
					opacity: 0.8;
					position: relative;
					margin: 9px 10px 0 0;
					padding: 0 0 0 26px;
					cursor: pointer;
					color: $primary-grey;
					float: right;
					font-size: 14px;
					font-weight: normal;
					white-space: nowrap;

					&:hover { opacity: 1; }

					&::after {
						position: absolute;
						left: 3px;
						top: 2px;

						content: ' ';
						@include sprite($video);
					}
				}
			}

			.status {
				text-transform: uppercase;
				padding-left: 5px;
			}
		}
	}


	.dropzone:not(.graded) {
		color: #e0e0e0;
		font-weight: 500;

		.target.drag {
			transition: padding-right 0.5s ease;
			.reset {
				transition: all 0.5s ease;
				display: inline-block;
				float: right;
				width: 0;
				opacity: 0;
				height: 2em;
				//margin-right: -1em;
				top: 0;
				left: 0;
				cursor: pointer;
				@include icon($light-x,10px,6px);
				&:hover::after{
					@include sprite($light-x_hover);
				}
			}
			&:hover {
				padding-right: 0;
				.reset {
					width: 1.5em;
					opacity: 1;
				}
			}
		}
	}

	.drop-hover {
		.dropzone {
			color: $tertiary-grey;
		}
	}

	.terms {
		min-height: 30px;
		margin: 15px 0;

		.drag.target {
			margin-left: 1em;
		}
	}

	.target.drag {
		color: $primary-blue;
		border: 1px solid $primary-blue;
		border-radius: 3px;
		background: #fff;
		box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
		display: inline-block;
		padding: 0 15px;
		font: normal normal 1em/2 $font;
		margin: 15px 5px 15px 0;
		@include experimental-value(cursor,grab);

		&:active,
		&:hover {
			color: #fff;
			background: $primary-blue;
		}

		&:active {
			@include experimental-value(cursor,grabbing);
		}

		&.dropped {
			visibility: hidden;
		}


		.reset {
			display: none;
		}
	}

	.target.choice {
		cursor: default;

		&.correct {
			cursor: pointer;
			@include icon($circle-check-green-18,26px,11px);
			.target.drag {
				background: #8eb737;
				border-color: #8eb737;
				color: #fff;
				box-shadow: none;
				cursor: default;
			}
		}

		&.incorrect {
			cursor: pointer;
			@include icon($circle-x-red-18,26px,11px);
			.target.drag {
				background: #f35252;
				border-color: #f35252;
				color: #fff;
				box-shadow: none;
				cursor: default;
			}
		}
	}


	&.submission-panel {
		border: 0 solid #ebebeb;
		border-top-width: 1px;

		.reset,.submit,.status {
			display: inline-block;
			padding: 15px 20px;
			text-decoration: none;
			color: $secondary-grey;
		}

		.status {
			color: #f35252;
			padding-left: 0;
			font: {
				size: 14px;
				style: italic;
				weight: normal;
			}
			&.ready { color: #8eb737; }
		}

		.buttons {
			float: right;
			white-space: nowrap;
			font: {
				size: 14px;
				style: normal;
				weight: normal;
			}

			.reset,.submit {
				border: 1px solid rgba(0,0,0,0);
				cursor: pointer;

				&.tabable:active,
				&.tabable:focus {
					border: 1px dashed rgba(0,0,0,0.5);
				}
			}

			.submit{
				background: $primary-blue;
				border: 1px solid $border-blue;
				color: #ffffff;
				font:{
					weight: bold;
					style: italic;
				}

				&.disabled {
					cursor: default;
					border-color: #d0d0d0;
					background: rgba(184,184,184,0.5);
					color: rgba(255,255,255,0.7);
				}
			}
		}
	}

	&.scoreboard {
		& > .x-panel-body-assessment{ padding: 0 15px 0 10px; }
		.x-btn-secondary-large .x-btn-inner { font-weight: bold; }
		& > .score-header {
			border: 0px solid #efefef;
			border-bottom-width: 1px !important;
			border-radius: 3px 3px 0 0;
			box-shadow: 0 1px 0 0 #ffffff;
			padding: 6px 10px;
			font: {
				family: $font;
				weight: bold;
				size: 10px;
				style: normal;
			}

			.title {
				display: inline;
				color: #ababab;
				text-transform: uppercase;
			}

			.time {
				cursor: pointer;
				position: relative;
				float: right;
				color: $secondary-grey;
				font:{
					family: $font;
					size: 11px;
					style: normal;
					weight: 700;
				}

				padding: 0 15px 0 0;
				margin: 0 5px 0 0;

				.arrow {
					@include arrow(top,7px,4px,#a2a2a2);
					vertical-align: middle;
					position: absolute;
					right: 2px; top: 6px;
				}
			}
		}

		.tally-box {
			padding: 0 10px;
			top: 17px !important;
			font: {
				family: $font;
				weight: normal;
				style: italic;
			}
		}

		.message {
			color: $primary-grey;
			font: {
				weight: normal;
				size: 18px;
			}
		}

		.tally {
			.stat {
				display: inline-block;
				position: relative;
				padding: 0 0 0 15px;
				margin-right: 20px;
				font: {
					weight: 600;
					size: 12px;
				}

				&.correct { color: #94b61a; }
				&.incorrect { color: #e95a57; }
				&.questions{ padding: 0; color: $tertiary-grey; font-weight: 400; }

				&.correct {
					@include icon($check_progress_grn,$top: 3px);
				}
				&.incorrect {
					@include icon($red-x-10,$top: 3px);
				}
			}
		}

		&.assignment {
			.tally .stat {
				padding-left: 0;
				&::after {content: none; display: none;}
			}
		}

		background: #fcfcfc;
		border: 1px solid #e2e2e2;
		border-radius: 5px;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);
		width: 100%;
	}

	& > .parts {
		margin: 0;
		border-radius: 0 0 3px 3px;
		border: 0px solid #e2e2e2;
		border-top-width: 1px !important;

		&.multipart > .x-panel-body-assessment,
		&.part-of-set > .x-panel-body-assessment {
			padding-bottom: 0;
			.footer .action.check { display: none; }
			.multipart-submission .footer .action.check {
				display: block;
				border-radius: 0 0 3px 0;
			}
		}
		&.correct.multipart > .x-panel-body-assessment,
		&.correct.part-of-set > .x-panel-body-assessment {
			padding-bottom: 20px;
		}

		&.multipart > .x-panel-body-assessment{
			padding: 0px;

			.part-container {
				padding: 30px 60px;
				border-bottom: 1px solid #e4e4e4;

				.part-content {
					position: relative;
					margin: 0 0 30px 0;
					font-size: 14px;

					.ordinal {
						position: absolute;
						display: block;
						left: -20px;
						font-weight: 600;
						color: $primary-grey;
					}
					.content {
						font-weight: normal;
						color: $secondary-grey;
					}
				}
			}

		}

		& > .x-panel-body-assessment {
			padding: 20px;
		}
	}

	.response-container {
		position: relative;
		min-height: 38px;
		background: #ffffff;
		border: 1px solid $tertiary-grey;

		.inputbox {
			color: $primary-grey;
			min-height: 38px;

			@include icon($circle-x-red-18,$top: 10px, $left: 10px);
			&::after{
				display: none;
			}

			.mathquill-editable,
			.mathquill-rendered-math {
				font: {
					family: $font;
					weight: normal;
					size: 14px;
					style: normal;
				}

				border: none;
				min-height: 38px;
				min-width: 100%;
				padding: 12px 8px 5px 8px !important;

				&[data-label]::after{
					@include placeholder-style();
					content: attr(data-label);
					margin: 0.3em;
				}
			}

			& > .label {
				position: absolute;
				display: inline-block;
				white-space: nowrap;
				@include placeholder-style();
				padding: 0 0.3em;
				line-height: 38px;
				top: 0;
			}

			&.submitted {
				&, input.answer-field {
					font-weight: 600;
				}
				padding-left: 28px;
				input.answer-field {
					left: 28px;
				}
				&::after {
					display: block;
				}
			}

			&.incorrect {
				&, input.answer-field { color: #f35252; }
				&::after { @include sprite($circle-x-red-18); }
			}

			&.correct{
				&, input.answer-field {
					color: #8eb737;
					font-weight: normal;
				}

				&::after {
					@include sprite($circle-check-green-18);
				}
			}

			.x-mask {
				background: rgba(245,245,245,0.66);
			}

			input.answer-field {
				@extend .assessment-content;
				color: $primary-grey;
				margin: 5px 10px 4px;
				border: none;
				padding: 0;
				position: absolute;
				left: 0; right: 0;
				min-height: 28px; // mainly a fix for IE
				min-width: 85%;	// mainly a fix for IE

				&[readonly],
				&[disabled] {
					background: none;
					opacity: 0.5;
				}
			}
		}

		.historyMenu{
			display: block;
			position: absolute;
			top: 9px;
			right: 5px;
			width: 32px;
			height: 20px;

			&::after{
				content: ' ';
				@include sprite($answer-history);
				position: absolute;
				top: 0;
				left: 0;
			}

			&:hover{
				&::after{
					@include sprite($answer-history_active);
				}
			}
		}

		.choice {
			@extend .assessment-content;
			cursor: pointer;
			position: relative;
			color: $primary-grey;
			vertical-align: middle;
			min-height: 38px;
			background: #ffffff;
			border: 0px solid $tertiary-grey;
			border-bottom-width: 1px;
			&:last-of-type { border-bottom-width: 0px; }
			padding-left: 54px;

			& > span {
				line-height: 38px;
			}

			.label {
				height: 38px;
				font-weight: bold;
				margin-right: 10px;
			}
			.control {
				position: absolute;
				top: 0; left: 0;
				display: inline-block;
				width: 54px;
				height: 38px;
				border: none;
				border-left: 6px solid white;
				&.checked {
					border-color: $primary-blue;
				}
			}

			&.drop-hover {
				box-shadow: 0 0 3px 1px $primary-blue;
				border-color: $primary-blue;
				z-index: 3;
			}
		}

		.choice.target {
			padding: 20px 40px;
		}

		.multi, .single {
			.choice, .choice:hover {

				&.correct .control {
					&,&.checked{
						border-color: #9ac73c;
						@include icon($circle-check-green-18,$top:10px,$left:9px, $position:absolute);
					}
				}

				&.incorrect .control{
					&,&.checked{
						border-color: #f35252;
						@include icon($circle-x-red-18,$top:10px,$left:9px, $position:absolute);
					}
				}
			}
		}

		.multi .choice {
			.control {
				@include icon($checkbox-14, $top:12px,$left:20px, $position:absolute);
				&.checked::after { @include sprite($checkbox-14_active); }
			}

			&:hover .control{
				&::after { @include sprite($checkbox-14_hover); }
				&.checked::after{
					@include sprite($checkbox-14_active);
				}
			}
		}

		.single .choice {
			.control {
				@include icon($radio-button-16, $top:10px,$left:10px, $position:absolute);
				&.checked::after { @include sprite($radio-button-16_active); }
			}
			&:hover .control{
				&::after { @include sprite($radio-button-16_hover); }
				&.checked::after{
					@include sprite($radio-button-16_active);
				}
			}
		}

		.ordering-dd-zone{
			display: table;
			table-layout: fixed;

			.ordinal{
				@extend .assessment-content;
				position: relative;
				display: table-row;
				color: $primary-grey;
				vertical-align: middle;
				background: #ffffff;
				border: 0 solid $tertiary-grey;
				border-bottom-width: 1px;
				&:last-of-type {
					border-bottom-width: 0px;
					.draggable-area{ border-bottom-width: 0px;}
					.label{ border-bottom-width: 0px;}
				}

				&.selected{
					opacity: 0.3;
				}

				.text{
					line-height: 26px;
					min-width: 54px;
					padding: 12px 0;
				}

				.label {
					display: table-cell;
					min-width: 54px;
					padding-left: 20px;
					padding-right: 20px;
					font-weight: bold;
					background-color: rgba(209,209,209, 0.6);
					border: 0 solid $tertiary-grey-alt;
					border-bottom-width: 1px;
					border-right-width: 1px;
					vertical-align: middle;
					overflow: hidden;

					span[itemprop] {
						display: inline-block;

						img {
							max-width: 275px !important;
						}
					}

				}

				&.target-hover{
					.label{
						background-color: $panel-background;
					}
				}

				@include draggable-zone;

				.draggable-area{

					.controls{
						.control {
							position: absolute;
							top: 6px; left: 0;
							width: 20px;
							height: 38px;
							border: none;
							display: none;

							&::after{
								position: absolute;
								left: 0px; top: 10px;
								content: ' ';
								@include sprite($circle-check-green-18);
							}
						}

						&::before {
							content: '';
							height: 50px;
							width: 0;
							float: right;
						}
					}

					&.correct, &.incorrect{
						.controls .control{
							display: inline-block;
						}

						.text{
							margin-left: 38px;
						}
					}

					&.incorrect .controls .control{
						&::after{
							@include sprite($circle-x-red-18);
						}
					}
				}
			}
		}


		.solution {
			@extend .assessment-content;
			padding: 10px 20px 15px 20px;
			.close {
				opacity: 0.8;
				cursor: pointer;
				position: absolute;
				right: 17px; top: 16px;
				@include sprite($window-control-close);
				&:hover{
					opacity: 1;
				}
			}

			.answer {
				font-weight: 600;
				color: #8eb737;

				.solution-choice-text {
					font-weight: normal;
					margin-left: 10px;
				}

				.ordering-solution{
					span{
						display: inline-block;
						padding-right: 20px;
						vertical-align: middle;
						color: $primary-grey;

						img {
							max-width: 300px !important;
							height: auto !important;
							width: auto !important;
						}

						&.solution-ordering-text{
							color: $primary-green;
						}
					}
				}
			}
			.explanation {
				color: $secondary-grey;
			}
		}
	}

	.x-panel-body-assessment {
		.wordbank-input .footer,
		.shortanswer-input .footer,
		.assessment-result .footer,
		.field .footer {
			position: relative;
			overflow: hidden;
			min-height: 43px;

			.left {
				float: left;
				.action { float: left; }
			}
			.right {
				float: right;
				.action { float: right; }
			}


			.mathsymbol {
				opacity: 0.6;
				&:hover{ opacity: 1; }
				margin-top: 4px;
				cursor: pointer;
				width: 36px;
				height: 36px;
				background: url(../images/old_sprites/spr_math_symbols.png) 0 0 no-repeat;
				float: left;

				&.sqrt { background-position: -2px -2px; }
				&.square { background-position: -42px -2px; }
				&.parens { background-position: -82px -2px; }
				&.approx { background-position: -122px -2px; }
				&.pi { background-position: -162px -2px; }
				&.leq {
					background: none;
					@include icon($symbols-leq);
				}
				&.geq {
					background: none;
					@include icon($symbols-geq);
				}
				&.neq {
					background: none;
					@include icon($symbols-neq);
				}
			}

			.action {
				color: $secondary-grey;
				cursor: pointer;
				padding: 12px 20px;
				font: {
					size: 14px;
					style: normal;
					weight: normal;
				}

				&.check {
					background: $primary-blue;
					border: 1px solid $border-blue;
					color: #ffffff;
					font: {
						style: italic;
						weight: 700;
					}

					&.wrong {
						background: #F35252;
						border-color: #d84343;
					}

					&.disabled {
						cursor: default;
						border-color: #d0d0d0;
						background: rgba(184,184,184,0.5);
						color: rgba(255,255,255,0.7);
					}
				}

				&.report {
					@include icon($reports-gray_hover, $top: 12px);
				}

			}
		}
	}


	&.file-submission {
		width: auto;
		left: 0 !important;
		right: 0 !important;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);

		.x-panel-assessment, .parts {
			.x-panel-body-assessment {
				padding: 0;

				.question-content {
					line-height: 32px;
					margin: 0 40px;
					min-height: 0;
				}
			}
		}

		.indexed-content {
			color: $primary-grey;
			font-size: 1.2em;
		}

		& > .header {
			display: none;
		}
	}

	.modeled-body-part {
		.editor {
			.content {
				min-height: 0;
				max-height: none;
				height: 25em;
			}

			[contenteditable=false] {
				opacity: .5;
			}

			& > div.footer {
				overflow: visible;
				position: absolute;

				.action {padding: 0;}

				& > div.right {
					display: none;
				}
			}
		}
	}

	.file-submission-part {
		position: relative;
		background: #fbfbfb;
		text-align: center;

		.input-container {
			position: relative;
			background-color: #fbfbfb;

			.drop {
				position: relative;

				.label-container {
					margin: 0 auto;
					padding-top: 45px;
					font-size: 16px;
					font-weight: 600;
					color: #b8b8b8;
				}

				.button-container {
					width: 155px;
					margin: 0 auto;
					margin-top: 20px;
					height: 100px;
				}
			}

			.preview-wrapper {
				position: relative;

				.preview {
					display: flex;
					margin: 20px 20px 10px 20px;
					box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(0, 0, 0, 0.05);
    				border-radius: 2px;

					&.uploading {
						opacity: 0.5;

						.meta {
							.controls {
								display: none;
							}
							.clear {
								display: none;
							}
						}
					}

					.thumbnail {
						width: 100px;
						height: 125px;
						flex: 0 0 auto;

						.file-type.icon {
							width: 100px;
							height: 125px;
							border-right: 1px solid $border-grey;
						}
					}

					.meta {
						flex: 1 1 auto;
						background-color: #fafdff;
						text-align: left;
						padding: 10px 20px;
						position: relative;

						.text {
							font-size: 14px;
							font-weight: 600;
							overflow: hidden;
							@include ellipse();

							.name {
								color: $primary-grey;
								padding-right: 15px;
							}

							.size {
								color: $secondary-grey;
								padding-right: 15px;
							}
						}

						.controls {
							font-size: 14px;

							.link {
								font-weight: 600;
								color: $primary-blue;
								text-decoration: underline;
								padding-right: 15px;
								cursor: pointer;

								a {
									color: $primary-blue;
									text-decoration: none;
									&:hover, &:visited {
										color: $primary-blue;
									}
								}

								&.change-link {
									position: relative;
								}
							}
						}

						.clear {
							position: absolute !important;
							top: 10px;
							right: 20px;
							@include icon($window-control-close, $top:0, $left:0);
							cursor: pointer;
						}
					}
				}

				.progress {
					position: relative;
					margin-bottom: 20px;
					text-align: left;

					.progress-bar-component {
						max-width: 39.67rem;
					}
				}
			}

			.drop-zone {
				position: relative;
				top: 0;
				margin: 0;
				border-radius: 2px;
				background-color: rgba(63, 179, 246, 0.1);
				box-shadow: inset 0 1px 0 0 #e2e2e2;
				border: solid 4px #3fb3f6;
				height: 209px;

				.button-container {
					position: relative;
					height: 100%;

					.button {
						border-radius: 2px;
						background-color: #3fb3f6;
						box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
						width: 250px;
						padding: 10px 20px;
						float: none;
						margin: 0px auto;
						font-size: 13px;
						font-weight: 600;
						position: absolute;
						bottom: 15px;
						left: 0;
						right: 0;
					}
				}
			}

			input[type=file].hidden {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				border: none;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			&.file-over {
				.drop-zone {
					display: block;
					z-index: 10;
				}
				.drop,.preview-wrapper {
					display: none;
					z-index: 0;
				}
				.input-wrapper {
					input[type=file] {
						z-index: 11;
					}
				}
			}

			&.has-file {
				.preview-wrapper {
					display: block;
					z-index: 10;
				}

				.drop, .drop-zone {
					display: none;
					z-index: 0;
				}
			}

			&.no-file {
				.drop {
					display: block;
					z-index: 0;
				}

				.preview-wrapper, .drop-zone {
					display: none;
					z-index: 0;
				}
			}

		}

		.empty-submission {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background-color: #fbfbfb;

			.icon {
				position: relative;
				top: 30px;
				margin: 0 auto;
				@include sprite($none_large);
			}

			.title {
				position: relative;
			    top: 40px;
			    width: 150px;
			    margin: 0 auto;
			    color: $tertiary-grey;
			    font-size: 14px;
			}
		}

		&:not(.not-submitted) {
			.input-container {
				.preview-wrapper {
					.progress {
						display: none;
					}
					.preview {
						.meta {
							.controls {
								.change-link {
									display: none;
								}
							}
							.clear {
								display: none;
							}
						}
					}
				}
			}
		}

		&:not(.not-submitted) .not-submitted {
			display: none;
		}

		&.disabled.good, &.disabled.late {
			.button { display: none; }
		}

		&.late {
			.due {color: $primary-red;}
			&::after {
				@include sprite($assignment_late);
			}
		}
		&.good {
			.due {
				color: $primary-green;
			}
			&::after {
				@include sprite($assignment_ontime);
			}
		}

		a.active.button {
			display: block;
			text-decoration: none;
		}

		&.hide-buttons {
			.button {
				display: none !important;
			}
		}

		& > .response-container,
		& > .response-container .inputbox {
			border: none !important;
			position: static !important;
			background: none !important;
			min-height: auto !important;
		}

		& > .footer {
			display: none;
		}

		.label {
			font: normal 500 1.5em/1 $font;
			color: $primary-grey;
			word-break: break-all;
		}
		.due {
			font: normal 700 0.8em/3 $font;
			text-transform: uppercase;
			color: $tertiary-grey;
		}

		.delete {
			font: normal 700 0.8em/3 $font;
			text-transform: uppercase;
			color: $primary-blue;
			cursor: pointer;

			&::before {
				color: #b8b8b8;
				font-weight: 600;
				position: static;
				content: '\00B7';
				text-decoration: none !important;
				vertical-align: baseline;
				display: inline-block;
				padding: 0 0.6em;
				background: none;
			}
		}

		.button {
			cursor: pointer;
			overflow: hidden;
			background: $primary-blue;
			border-radius: 3px;
			font: italic 600 1.2em/1 $font;
			color: #fff;
			padding: 1em 2em;
			margin-right: 5px;
			float: right;

			&.disabled {
				background: $tertiary-grey;
				color: $secondary-grey;
				cursor: default;
			}

			input {
				cursor: pointer;
				position: absolute;
				top: 0;	right: 0;
				opacity: 0;
				font-size: 3em;
			}
			position: relative;
		}

		a.download.button:not(.active) {
			display: none;
		}

	}

	.shortanswer-input,
	.wordbank-input {
		font-size: 14px;

		.inputbox,
		.response-container {
			border: 0;
			background: none;
			min-height: 0;
			line-height: 3;
		}

		input {display: none;}

		.blank {
			display: inline-block;
			margin-right: 0.5em;
			border-radius: 3px;

			position: relative;

			&.drop-hover {
				.drag {visibility: hidden;}
				background: rgba(0, 0, 0, 0.3);
			}

			.target.drag {
				color: #fff;
				cursor: default;
				background: $primary-blue;
				margin: 0;
			}

			&:empty {
				&::before {
					content: '(drop)';
					visibility: hidden;
				}
			}


			&::after {
				$o: 0;
				content: '';
				position: absolute;
				height: 24px;
				left: $o; right: $o; bottom: 6px;

				border: 2px solid $border-grey;
				border-radius: 3px;
				clip: rect(20px auto auto auto);
			}


			&:not(.graded) .wordentry {
				padding-right: 0;
				.reset {
					opacity: 1;
					display: inline-block;
					width: 1.5em;
				}
			}
		}
	}

	.wordbank-input {
		.blank {
			&.drop-hover, &:not(:empty) {
				&::after{display: none;}
			}
		}
	}

	.shortanswer-input {
		.inputbox,
		.fill-in,
		.response-container {
			font-size: 14px;
			line-height: 2;
		}

		.blank{
			margin-right: 0;
			&::after {display: none;}
		}
		input {
			text-align: center;
			font: normal normal 1em/1 $font;
			color: $secondary-grey;
			display: inline-block;
			padding:x 0; margin: 0 0.2em;
			border: 1px solid $border-grey;
			background: white;
		}
	}
}

.wordbank {
	overflow: hidden;
	position: relative;

	.submitted & {
		.drag {
			opacity: 0.4;
			cursor: default !important;
			background-color: $primary-blue;
			color: #fff;
		}
	}

	.wordentry.draggingk.unique,
	.wordentry.drag.used {
		opacity: 0.5;
		background: #fff;
		border: 1px solid $border-grey;
		color: $tertiary-grey;
		cursor: default;
		pointer-events: none;
	}

	.wordbank-body.locked {
		background-color: white;
		border-right: 1px #e2e2e2 solid;
		border-bottom: 1px #e2e2e2 solid;
		border-left: 1px #e2e2e2 solid;
		box-shadow: 0px 1px 2px 1px #e6e6e6;
		padding: 15px;
	}
}


.blank[data-term],
.blank[data-input] {
	display: inline-block;
	margin-right: 0.5em;
	border-radius: 3px;

	position: relative;

	&:empty {
		&::before {
			content: '(blank)';
			visibility: hidden;
		}
	}

	&::after {
		$o: 0;
		content: '';
		position: absolute;
		height: 24px;
		left: $o; right: $o; bottom: 6px;

		border: 2px solid $border-grey;
		border-radius: 3px;
		clip: rect(20px auto auto auto);
	}
}

.blank[data-term]:not(:empty)::after {
	display: none;
}


input.preview[readonly] {
	border: 0;
	box-shadow: inset 0 -2px 0 0 $border-grey;
	width: 3em;
	margin-right: 0.5em;
}


.x-component-assessment.audio-clip {

	.note-container .context & {display: none;}

	display: inline-block;
	cursor: pointer;
	padding: 0;
	border: 0;
	background: none;
	margin-right: 8px;
	vertical-align: text-bottom;//looks good so far

	@include icon($audio-icon);
	@include sprite-width($audio-icon);
	@include sprite-height($audio-icon);

	&.playing {
		opacity: 0.7;
		&::after {
			background-position: sprite-position($audio-icon_hover);
		}
	}

	&:hover{
		&.playing {
			opacity: 1;
		}

		&:not(.noplay)::after {
			background-position: sprite-position($audio-icon_hover);
		}
	}

	&:active{
		&:not(.noplay)::after {
			background-position: sprite-position($audio-icon_hover);
		}
	}

	&.noplay::after {
		cursor: default;
		background-position: sprite-position($audio-icon_error);
	}


	.drag:hover &:not(.noplay) {
		opacity: 0.6;

		&:active,
		&:hover {
			opacity: 1;
		}
		&::after {
			background-position: sprite-position($audio-icon_white);
		}
	}
}

.x-dd-drag-ghost{
	@include draggable-zone;
	top: -30px;
	color: $primary-grey;
	vertical-align: middle;
	background: transparent;

	.draggable-area{
		height: 100%;
		display: block;
		background: #ffffff;
		border: solid 1px #3fb3f6;
		background-color: #fff;
		box-shadow: 0 0 5px rgba(63,179,246,.23), 0 3px 8px rgba(0,0,0,.22);

		.text{
			white-space: normal;
			font: {
				size: 14px;
				style: normal;
				weight: normal;
			}
		}
	}

	@include draggable-span;
	.dd-label-token{
		color: #fff !important;
		cursor: move;
		white-space: normal;
		border: 1px solid $primary-blue;
		background-color: $primary-blue;
		line-height: 26px;
		border-radius: 3px;
		box-shadow: 0 3px 8px rgba(0,0,0,.22);

		font: {
			size: 14px;
			style: normal;
			weight: normal;
		}
	}
}


//in the iframe
.x-ie9 #NTIContent .naquestion {
	&, * {
		word-wrap: normal !important;
		white-space: nowrap !important;
	}
}

.answer_history_menu{
	.x-menu-item{
		&.answer-title{
			font-weight: bold !important;
			font-size: 11px !important;
			font-family: $font !important;
			color: #8A8989 !important;
			padding: 10px 0 10px 15px !important;
		}
		&.no-answer-history{
			font-size: 11px !important;
			font-family: $font !important;
			padding: 10px 0 10px 15px !important;
		}
	}
}


.alibraimage {
	display: block;
	text-align: center;

	.alibraimage-caption {
		display: block;
		font-size: 2em;
		font-weight: 700;
	}
}

.underline {
	text-decoration: underline;
}

.survey-header {
	@include flexContainer();
	@include experimental(align-items, center);

	.survey-history {
		@include flexItem(1 1 auto);
		font-size: 1.5em;
		color: $primary-grey;
	}

	.survey-report {
		@include flexItem(0 0 auto);
		padding: 0 20px;
		color: $primary-blue;
		opacity: 0.8;
		cursor: pointer;
		font-weight: 600;

		@include icon($reports-blue_hover, $side: after);

		&:hover {
			opacity: 1;
		}

		&::after {
			opacity: 0.8;
		}
	}

	.survey-results {
		line-height: 35px;
		padding: 0 20px;
		color: white;
		background-color: $primary-blue;
		opacity: 0.8;
		cursor: pointer;

		@include flexItem(0 0 auto);

		&:hover {
			opacity: 1;
		}
	}
}

.assessment-result {
	background: #fbfbfb;

	.footer {
		min-height: 20px;
	}

	.message {
		font-size: 0.875rem;
		color: $primary-red;
	}

	.error {
		border: 0px solid #e2e2e2;
		border-top-width: 1px !important;
		padding: 20px 20px 0;
		font-size: 0.875rem;
		color: $primary-red;
	}
}

.poll-results-container {
	border: 0px solid #e2e2e2;
	border-top-width: 1px;
	padding-bottom: 15px;

	.part-content {
		position: relative;
		margin: 30px 0 15px 0;
		padding-left: 60px;
		font-size: 14px;

		.ordinal {
			position: absolute;
			display: block;
			left: 40px;
			font-weight: 600;
			color: $primary-grey;
		}
		.content {
			font-weight: normal;
			color: $secondary-grey;
		}
	}

	.result-part {
		border: none;
	}
}

.result-part {
	padding: 20px 20px 0;
	border-radius: 0 0 3px 3px;
	border: 0px solid #e2e2e2;
	border-top-width: 1px !important;

	.tab-bar {
		text-align: center;
		margin-bottom: 20px;

		.tab {
			display: inline-block;
			min-width: 110px;
			line-height: 35px;
			font-size: 0.75rem;
			padding: 0 0.5em;
			background: white;
			color: $secondary-grey;
			cursor: pointer;
			box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);

			&.active {
				background: #308cc1;
				color: white;
			}

			&:first-of-type {
				border-radius: 3px 0 0 3px;
				box-shadow: -1px 0 1px 0 rgba(0, 0, 0, 0.1),
							0 1px 1px 0 rgba(0, 0, 0, 0.1),
							0 -1px 1px 0 rgba(0, 0, 0, 0.1);
			}

			&:last-of-type {
				border-radius: 0 3px 3px 0;
				box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.1),
							0 1px 1px 0 rgba(0, 0, 0, 0.1),
							0 -1px 1px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.result.chart {
	.graph {
		background: #ffffff;
		border: 1px solid #b8b8b8;
	}

	.row {
		&:not(:last-of-type) {
			border-bottom: 1px solid #d1d1d1;
		}

		div.label {
			box-shadow: 1px 0 0 0 #d1d1d1;
			display: inline-block;
			vertical-align: top;
			width: 30%;
			font: normal 400 0.875rem/40px $font;
			padding: 0 10px;
			overflow: hidden;
			@include ellipse;
		}

		div.series {
			display: inline-block;
			vertical-align: top;
			width: 70%;
			height: 100%;

			.item {
				height: 100%;
				position: relative;
				display: inline-block;

				 & > .label {
					text-align: right;
					line-height: 40px;
					font-size: 0.875rem;
					color: white;
					width: 100%;
				}

				&:hover {
					& > .label {
						opacity: 0.8;
					}

					.info {
						display: block;
					}
				}

				.info {
					display: none;
					position: absolute;
					left: 50%;
					bottom: 45px;
					transform: translateX(-50%);
					background-color: #fbfbfb;
					white-space: nowrap;
					color: $primary-grey;
					padding: 10px;
					box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

					.label {
						white-space: nowrap;
					}

					.sublabel {
						display: block;
						white-space: nowrap;
					}

					&::after {
						content: '';
						position: absolute;
						bottom: -16px;
						left: 50%;
						margin-left: -8px;

						@include arrow($pointFrom: top, $width: 16px, $height: 8px, $color: #fbfbfb);
					}

					&::before {
						content: '';
						position: absolute;
						bottom: -17px;
						left: 50%;
						margin-left: -9px;

						@include arrow($pointFrom: top, $width: 16px, $height: 8px, $color: rgba(0, 0, 0, 0.1));
					}
				}
			}
		}
	}

	.legend {
		padding: 20px 0 0 0;
		list-style: none;
		margin: 0;

		.item {
			float: left;
			width: 25%;
			margin-bottom: 5px;
			overflow: hidden;
			@include ellipse;

			.key {
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
			}

			.value {
				display: inline;
				vertical-align: middle;
				padding-left: 0.5em;
			}
		}
	}
}

.modeled-content-results, .free-response-results {
	.header {
		text-align: right;
		margin-bottom: 20px;

		span {
			text-transform: uppercase;
		}

		.current, .total {
			font-weight: 600;
		}
	}

	.next-arrow, .prev-arrow {
		display: inline-block;
		cursor: pointer;
		width: 21px;
		height: 12px;

		&.disabled {
			cursor: default;
		}
	}

	.prev-arrow {
		margin: 0 1em 0 3em;
		@include icon($arrow-up);

		&.disabled {
			@include icon($arrow-up_inactive);
		}
	}

	.next-arrow {
		@include icon($arrow-down);

		&.disabled {
			@include icon($arrow-down_inactive);
		}
	}

	.content {
		background: #fff;
		padding: 2px 5px;
		border: 1px solid $tertiary-grey;
		font: normal 400 0.875rem/1 $font;
		min-height: 200px;
		color: $secondary-grey;
	}
}

.free-response-results {
	padding: 30px 60px 30px 60px;

	.content {
		padding: 11px 5px;
		min-height: 40px;
	}
}

.result.table {
	table {
		background: white;
		width: 100%;
		border: 1px solid #d1d1d1;
		border-collapse: collapse;

		thead {
			tr {
				border-bottom: 1px solid #d1d1d1;
			}
		}

		tbody {
			tr {
				border-bottom: 1px solid #d1d1d1;

				&:last-of-type {
					border-bottom: none;
				}
			}
		}

		tr {

			td, th {
				text-align: center;

				&:first-of-type {
					width: 25%;
					text-align: left;
					padding-left: 10px;
				}
			}

			td {
				font: normal 300 1rem/40px $font;

				&.max {
					color: $primary-green;
				}
			}

			th, td:first-of-type {
				font: normal 400 0.875rem/40px $font;
				overflow: hidden;
				@include ellipsis;
			}
		}
	}
}
