

$skins: nt,primary,secondary,caution;
$sizes: small,medium,large;

$button-borders:
	#24418c,
	#a8a8a8,
	#a8a8a8,
	#a8a8a8;

$button-shadows: #a4c8f5,#cce49c,#ffffff,#ffb3b3;
$button-start-colors: #6D91EB,#a4ce50,#e4e4e4,#ff7979;
$button-end-colors: #384EA9,#87b133,#c8c8c8,#eb4a4a;

$button-text-colors: #ffffff,#ffffff,#707070,#ffffff;
$button-text-shadows: #12236a,#688b23,#ffffff,#B93533;
$button-text-weights: 500,500,600,500;

@each $skin in $skins {
	$experimental-support-for-svg: true;
	$x: index($skins,$skin);

	$border: nth($button-borders,$x);
	$shadow: nth($button-shadows,$x);
	$startColor: nth($button-start-colors,$x);
	$endColor: nth($button-end-colors,$x);
	$color: nth($button-text-colors,$x);
	$text-shadow: nth($button-text-shadows,$x);
	$font-weight: nth($button-text-weights,$x);

	$direction: -1px;

	@if lightness($text-shadow) > lightness($color) {
		$direction: 1px;
	}

	@each $size in $sizes {
		$i: index($sizes,$size)  - 1;

		@each $type in icon, noicon {
			.x-btn-#{$skin}-#{$size}-#{$type} {
				a {
					background: none;
					border: none;
					padding: 0;
					margin: 0;
				}

				button,
				.x-btn-inner {
					height: auto;
					line-height: normal;
				}
			}
		}

		.x-btn-#{$skin}-#{$size} {
			margin-left:10px;
			border: 1px $border solid;
			border-radius: 4px;
			box-shadow: inset 0px 1px 1px $shadow;
			padding: (4px*$i) 10px+(5px*$i);

			background-image: linear-gradient(to bottom, $startColor 0%, $endColor 100%);

			&.x-over {}
			&.x-disabled{
				box-shadow: none;
				background: #e4e4e4;
				border-color: #e4e4e4;
				cursor: default;
				//color: #adadad;

				.x-btn-inner{
					box-shadow: none;
					text-shadow: none;
					font-weight: lighter;
					color: $secondary-grey;
				}
			}
			&.x-pressed {
				box-shadow: inset 0px -1px 1px $shadow;
				background-image: linear-gradient(to bottom, $endColor 0%, $startColor 100%);
			}

			.x-btn-inner {
				font-size: 10px + (2px*$i) !important;
				font-weight: $font-weight;
				color: $color;
				text-shadow: 0 $direction -1px $text-shadow;
			}
		}
	}
}

.x-btn-flat-large,
.x-btn-flat-medium {
	cursor: pointer;
	a {
		background: none;
		border: none;
		padding: 12px 20px;

		.x-btn-inner{
			font: {
				size: 14px;
				style: normal;
				weight: normal;
			}
			color: $primary-grey;
			padding-right: 2px;
		}
	}
}

.x-btn-blue-large,
.x-btn-blue-medium {
	cursor: pointer;
	.x-btn-button {
		padding: 8px 20px;
		letter-spacing: 0.1em;
		background: #3fb3f6;
		border: 1px solid #39a1dd;
		border-radius: 3px;
		cursor: pointer;
		z-index: 10;

		.x-btn-inner{
			font: {
				size: 14px;
				style: italic;
				weight: 600;
				family: $font;
			}
			color: #ffffff;
			padding-right: 2px;
		}
	}
}

.nt-button {
	&.edit {
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
		border-radius: 4px;
		font-size: 0.75rem;
		font-weight: 600;
		color: $secondary-grey;
		padding: 5px 11px 5px 22px;
		cursor: pointer;

		@include icon($pencil-gray, $top: 50%, $left: 7px, $side: after);

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0.1+0,0.15+100 */
		background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.15) 100%);


		&::after {
			margin-top: -6px;
		}

		&.white {
			color: white;

			@include icon($pencil-white, $top: 50%, $left: 7px, $side: after);
		}
	}

	&.add {
		cursor: pointer;

		&::before {
			content: '+';
		}
	}

	&.delete {
		display: inline-block;
		cursor: pointer;
		background-color: $primary-red;
		color: white;
		border-radius: 3px;
		text-align: center;
		line-height: 40px;
		padding: 0 1em 0 32px;

		@include icon($redactions-trashcan_hover, $top: 50%, $left: 1em, $side: before);

		&::before {
			margin-top: -7px;
		}

		& ~ .nt-button.switch-type {
			margin-left: 1rem;
		}
	}

	&.switch-type {
		display: inline-block;
		cursor: pointer;
		background-color: white;
		background-image: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
		color: $secondary-grey;
		border-radius: 3px;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.18);
		text-align: center;
		line-height: 40px;
		padding: 0 1rem;

	}

	&.synclock {
		display: inline-block;
		padding: 5px 11px 5px 22px;

		@include icon($lock, $top: 50%, $left: 7px, $side: after);

		&::after {
			margin-top: -6px;
		}

		&.white {
			@include icon($lock_icon_active, $top: 50%, $left: 7px, $side: after);
		}
	}
}
