.content-toolbar .path-items {
	width: 600px;

	display: -ms-flexbox;
	-ms-box-orient: horizontal;

	display: flex;
	flex-wrap: nowrap;

	text-transform: uppercase;

	.tabs {
		flex: none;
		cursor: pointer;

		&.go-up {
			@include icon($profile_back_arrow, $top: 23px, $left: 35px);
			width: 60px;
			cursor: pointer;

			&:hover {
				&::after {
					@include sprite($profile_back_arrow_active);
				}
			}
		}
	}

	.toc {
		flex: none;
		padding: 0 0 0 20px;
		font: normal 500 1.2em/59px $font;

		display: -ms-flexbox;
		-ms-box-orient: horizontal;
		-ms-flex-align: center;

		&.hidden {
			visibility: hidden;
			width: 20px;
		}

		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		align-content: center;

		.icon {
			border-radius: 5px;
			box-shadow: 0 0 0 1px #e5e5e5;
			background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);

			padding: 8px 18px 8px 18px;
			display: inline-block;
			@include icon($topic-blue, $position: none);
			line-height: 0;
			&::after {margin-right: 0;}
		}

		.label {display: none;}

		cursor: pointer;

		&::after {
			content: '\00a0/\00a0';
			color: $tertiary-grey;
			margin-left: 0.4em;
		}
	}

	.breadcrumb {
		flex: 1 1 auto;
		display: -ms-flexbox;
		-ms-box-orient: horizontal;
		display: inline-flex;
		flex-wrap: nowrap;
		font: normal 500 1em/59px $font;

		&, * {
			color: $primary-blue;
			vertical-align: top;
			overflow: hidden;
			@include ellipse;
		}

		.part:not(.no-children):not(:first-of-type)::before {
			content: '\00a0/\00a0';
			color: $tertiary-grey;
		}

		.part {
			flex: 0 1 auto;
			cursor: pointer;

			&:last-of-type { flex: 1 1 auto; }

			&:hover,
			&:last-of-type:not(.no-children) {
				color: $primary-blue;
			}


			&.locked {
				cursor: default;
				&:not(:last-of-type):hover {
					color: inherit;
				}
			}

			&.no-children:last-of-type{
				overflow: visible;
				cursor: default;
				margin-left: 0.4em;
				&:hover {
					position: relative;
					color: inherit;

					&::after{
						display: block;
						position: absolute;
						top: 0;
						left: -30px;

						color: #ffffff;
						background: #333333;
						border-width: 0;
						padding: 3px 5px;
						border-radius: 0;
						box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);

						font: normal 600 11px/12px $font;
						text-transform: uppercase;

						content: 'No sections in chapter';
					}

					&::before{
						position: absolute;
						top: 18px;
						left: -4px;
						content: '';
						@include sprite($tooltip-pointer-black-bottom);
					}
				}
			}
		}
	}
}

.nav-outline.toc-flyout {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	min-width: 360px;
	.outline-list {top: 61px;}
	.header {
		font-size: 0.8em;
		background: #fff;
		height: 60px;
		box-shadow: inset 0 -1px 0 0 #f3f3f3;
		padding: 0 18px 0 20px;
		&::after { display: none; }

		display: -ms-flexbox;
		-ms-box-orient: horizontal;
		-ms-flex-align: center;

		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		align-content: center;
	}

	.button {
		flex: none;
		display: inline-block;
		line-height: 36px;
		padding: 0 0.9em;
		border-radius: 5px;
		cursor: pointer;
		box-shadow: 0 0 0 1px #e5e5e5;
		background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
		color: $primary-blue;
	}

	.search {
		margin-left: 10px;
		overflow: hidden;
		flex: 1 1 auto;
		background: #fafafa;
		border-radius: 5px;
		box-shadow: 0 0 0 1px #eaeaea;
		@include icon($rhp-search,$top:10px,$left:9px);

		line-height: 38px;
		&::after{ cursor: text; }

		input {
			background: #fafafa;
			border: 0;
			line-height: 0;
			font: normal normal 14px/24px $font;
			color: $primary-grey;
			margin: 0;
			padding: 0 32px;
			width: 100%;

			&:not(:valid) ~ .clear {
				opacity: 0;
				cursor: text;
			}
		}
		.clear {
			@include icon($clear_line, $position: absolute);
			background: none;
			transition: opacity 0.5s;
			opacity: 1;
			top: 10px;
			right: 10px;
			left: auto;
			cursor: pointer;
			margin: 0;
			width: 16px;
			height: 16px;
			padding: 0;
			border-width: 0;
		}
	}

	.outline-row {

		text-transform: uppercase;
		padding-left: 30px;
		padding-right: 10px;
		font-size: 0.7em;
		line-height: 3;

		&, .label {
			white-space: normal;
		}

		&:not(.disabled):not(.part) {
			.label {
				margin-left: -20px;
				padding-left: 20px;
				border-radius: 3px;
				padding-top: 2px;
				padding-bottom: 2px;
				line-height: 16px;
			}

			&:hover,
			&.over {
				box-shadow: none;
				background: none;

				.label {
					background: #f3f3f3;
				}
			}

			&.x-item-selected {
				box-shadow: none;
				background: none;
				.label {
					color: #ffffff;
					font-weight: 600;
					background: #3fb3f6;
				}
			}
		}

		&.part {
			text-transform: none;
			background: #fafafa;
			border: {
				style: solid;
				color: #f2f2f2;
				width: 0 0 1px 0;
			}
			font: 100 normal 1.5em/2 'Open Sans Condensed', $font;
			z-index: 1;
			&:hover,
			&.over {
				box-shadow: none;
			}
			&.x-item-selected {
				background: #3fb3f6;
				.label {
					font-weight: 100;
				}
			}
		}

		&.chapter {
			font-weight: 700;
		}

		&.section {
			text-transform: none;
			padding-left: 50px;
		}
		&.subsection {
			text-transform: none;
			padding-left: 70px;
		}
		&.subsubsection {
			text-transform: none;
			padding-left: 90px;
		}
	}
}

.content-toolbar .right.controls {
	position: relative;
	padding-right: 10px;
	white-space: nowrap;
	height: 59px;
	float: right;


	.page {
		vertical-align: top;
		line-height: 59px;
		display: inline-block;
		font-style: italic;
		color: $primary-grey;
		margin-right: 15px;
		span {
			font-weight: 600;
		}
	}

	.prev, .next {
		cursor: pointer;
		display: inline-block;
		width: 40px;
		height: 60px;
		line-height: 0;
		opacity: 0.65;

		&.disabled {
			cursor: default;
		}
		&:not(.disabled):hover {
			opacity: 1;
		}
	}

	.prev {
		@include icon($arrow-up, $top: 24px, $left: 10px);

		&.disabled::after {
			@include sprite($arrow-up_inactive);
		}
	}

	.next {
		@include icon($arrow-down, $top: 24px, $left: 10px);

		&.disabled::after {
			@include sprite($arrow-down_inactive);
		}
	}



}


.x-panel-notes-and-discussion {
	&,.x-panel-body-default{
		background: #fbfbfb;
	}
	border-left: 1px solid #ededed;
	border-left-width: 1px !important;
}

.nti-notes-and-discussion-tabbar,
.content-toolbar  {
	border-bottom: 1px solid #ededed;
	border-bottom-width: 1px !important;
}

.nti-notes-and-discussion-tabbar{
	.x-tab {


		text-transform: uppercase;
		color: $tertiary-grey;
		font: normal 600 12px/59px $font;

		.x-tab-icon-el {
			width: 21px;
			height: 20px;

			top: 20px;
			left: 15px;

			&.notepad {
				@include icon($notepad,$position:absolute);
			}

			&.discuss {
				top: 22px;
				@include icon($discussions,$position:absolute);
			}
		}

		.x-tab-inner {
			text-align: left;
			margin-left: 43px;
			margin-right: 21px;
		}

		&.x-active {
			color: $secondary-grey;

			.x-tab-icon-el {
				&.notepad::after { @include sprite($notepad_active); }
				&.discuss::after { @include sprite($discussions_active); }
			}
		}
	}
}
