.prompt-container {
	.prompt.overview-creation {
		.body-container {
			background-color: white;
		}
	}
}

.overview-editing.child-creation {
	.new-type-list {
		margin: 22px 20px 110px 19px;
		min-height: 350px;
		background-color: white;
		border-top: solid 1px #f2f2f2;
		border-left: solid 1px #f2f2f2;

		.new-type {
			cursor: pointer;
			background: white;
			width: 154px;
			height: 154px;
			position: relative;
			float: left;
			border-right: solid 1px #f2f2f2;
			border-bottom: solid 1px #f2f2f2;

			&:hover {
				border: 1px solid #f2f2f2;
				transform: scale(1.07);
				z-index: 100;
				box-shadow: 0 6px 30px -5px rgba(0, 0, 0, 0.15);
			}

			.icon {
				width: 46px;
				height: 46px;
				margin: 0 auto;
				margin-top: 36px;
				margin-bottom: 26px;
				background-size: cover !important;
				background-repeat: no-repeat !important;

				&.document {
					background: url(/app/resources/images/overview-type-icons/Upload.svg);
				}

				&.reading {
					background: url(/app/resources/images/overview-type-icons/Reading.svg);
				}

				&.link {
					width: 51px;
					background: url(/app/resources/images/overview-type-icons/Link.svg);
				}

				&.video {
					background: url(/app/resources/images/overview-type-icons/Video.svg);
				}

				&.discussion {
					width: 52px;
					background: url(/app/resources/images/overview-type-icons/Discussion.svg);
				}

				&.assessment {
					background: url(/app/resources/images/overview-type-icons/Self-Assessment.svg);
				}

				&.assignment {
					background: url(/app/resources/images/overview-type-icons/Assignment.svg);
				}

				&.survey {
					width: 63px;
					background: url(/app/resources/images/overview-type-icons/Survey.svg);
				}

				&.timeline {
					background: url(/app/resources/images/overview-type-icons/Reading.svg);
				}
			}

			.title {
				font: normal 600 0.625em/20px "Open Sans", sans-serif;
				text-transform: uppercase;
				text-align: center;
				color: $tertiary-grey;
			}
		}
	}
}
