.overview-editing.child-creation {
	.new-type-list {
		padding: 35px 15px 0;
		overflow: hidden;

		.new-type {
			cursor: pointer;
			width: 100px;
			height: 125px;
			background: white;
			margin: 0 15px 35px;
			position: relative;
			float: left;
			border-radius: 2px;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);

			.icon {
				height: 80px;
				width: 80px;
				margin: 10px;

				&.document {
					@include icon($upload-file, $side: after, $top: 0, $left: 0);
				}

				&.reading {
					@include icon($content, $side: after, $top: 0, $left: 0);
				}

				&.link {
					@include icon($link, $side: after, $top: 0, $left: 0);
				}

				&.video {
					@include icon($video-content, $side: after, $top: 0, $left: 0);
				}

				&.discussion {
					@include icon($discussion-content, $side: after, $top: 0, $left: 0);
				}

				&.assessment {
					@include icon($self-assessment-content, $side: after, $top: 0, $left: 0);
				}

				&.assignment {
					@include icon($assignment-content, $side: after, $top: 0, $left: 0);
				}

				&.survey {
					@include icon($assignment-content, $side: after, $top: 0, $left: 0);
				}

				&.timeline {
					@include icon($timeline-content, $side: after, $top: 0, $left: 0);
				}
			}

			.title {
				position: absolute;
				bottom: 13px;
				left: -10px;
				padding: 0 8px;
				font: normal 600 0.625em/20px $font;
				color: white;
				text-transform: uppercase;
				border-radius: 2px;
				background-color: $primary-blue;
			}
		}
	}
}
