.overview-editing.child-creation {
	.new-type-list {
		padding: 22px 20px 110px 19px;
		min-height: 350px;
		background-color: white;
		box-sizing: content-box;

		.new-type {
			cursor: pointer;
			background: white;
			width: 154px;
			height: 154px;
			position: relative;
			float: left;
			box-shadow: 0 0 0 1px #f2f2f2;

			&:hover {
				border: 1px solid #f2f2f2;
				transform: scale(1.07);
				z-index: 100;
				box-shadow: 0 6px 30px -5px rgba(0, 0, 0, 0.15);
			}

			.icon {
				width: 50px;
				height: 50px;
				margin: 0 auto;
				margin-top: 36px;
				margin-bottom: 26px;
				background-repeat: no-repeat;
				background-position: center;

				&.document {
					background-image: url(/app/resources/images/overview-type-icons/Upload.svg);
				}

				&.reading {
					background-image: url(/app/resources/images/overview-type-icons/Reading.svg);
				}

				&.link {
					width: 51px;
					background-image: url(/app/resources/images/overview-type-icons/Link.svg);
				}

				&.video {
					background-image: url(/app/resources/images/overview-type-icons/Video.svg);
				}

				&.discussion {
					background-image: url(/app/resources/images/overview-type-icons/Discussion.svg);
				}

				&.assessment {
					background-image: url(/app/resources/images/overview-type-icons/Self-Assessment.svg);
				}

				&.assignment {
					background-image: url(/app/resources/images/overview-type-icons/Assignment.svg);
				}

				&.survey {
					background-image: url(/app/resources/images/overview-type-icons/Survey.svg);
				}

				&.timeline {
					background-image: url(/app/resources/images/overview-type-icons/timeline.svg);
				}

				&.ltitools {
					background-image: url(/app/resources/images/overview-type-icons/ltitools.svg);
				}
			}

			.title {
				font: normal 600 0.625em/20px "Open Sans", sans-serif;
				text-transform: uppercase;
				text-align: center;
				color: $tertiary-grey;
			}
		}
	}
}
