@import 'content-editing-type-list';
@import 'content-editing-parentselection';
@import 'content-editing-itemselection';

.overview-editing-prompt {
	width: 90vw;
	max-width: 810px;

	.content-editor {
		padding: 20px;

		.overview-editing-parentselection {
			margin-bottom: 20px;
		}

		&.reading-editor {
			padding: 20px;
		}

		&.video-editor {
			padding: 20px 15px;
		}

		&.outline-editor{
			input[name="title"] {
			    width: 100%;
			    font-size: 1em;
			    padding: .5em;
			}
		}
	}
}

.reading-editor .content-editor.content-link {
	.reading-preview {
		background: white;
		padding: 10px 15px;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);

		.path {
			font-size: 0.625rem;
			font-weight: 600;
			text-transform: uppercase;
			color: $tertiary-grey;

			span::after {
				content: '/';
				margin: 0 0.5em;
			}

			span:last-of-type::after {
				display: none;
			}
		}

		.label, .page-count, .change {
			font-size: 0.875rem;
			font-weight: 600;
			margin-right: 0.5rem;
		}

		.label {
			color: $primary-grey;
		}

		.page-count {
			color: $secondary-grey;
		}

		.change {
			border-left: 1px solid $tertiary-grey;
			color: $primary-blue;
			text-decoration: underline;
			padding-left: 0.5rem;
			cursor: pointer;
		}
	}

	form {


		.group.card {
			border-top: none;
		}
	}
}

.content-editor.questionset, .content-editor.survey {
	.assignment-preview, .self-assessment-preview, .survey-preview {
		background: white;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 3px;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
		position: relative;

		&.overdue {
			.due-date {
				color: $primary-red;
			}
		}

		.title {
			font-size: 1.125rem;
			font-style: italic;
		}

		.due-date {
			font-size: 0.75rem;
			font-style: italic;
		}

		.question-count {
			font-size: 0.75em;
			color: $tertiary-grey;
		}

		.remove {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 16px; height: 16px;
			@include icon($message_box_close, $top: 3px, $left: 3px, $position: absolute);
		}
	}
}

.content-editor {
	position: relative;

	.nt-button {
		&.delete {
			margin-top: 10px;
		}

		&.advanced {
			position: absolute;
			top: 17px;
			right: 25px;
			font: normal 600 14px/20px $font;
			color: $primary-blue;
			cursor: pointer;
			text-align: right;
		}

		&.visibility {
			padding: 2px 0;
			.title {
		    	display: inline-block;
			    color: $secondary-grey;
			    font: normal 500 14px/1 $font;
			    text-transform: capitalize;
			    margin-bottom: 0;

		    }

		    .scope {
		    	display: inline-block;
		    	line-height: 34px;
		    	min-width: 54px;
		    	min-height: 34px;
		    	text-align: left;
		    	vertical-align: middle;
			    background: white;
			    box-shadow: 0 0 3px 0px rgba(0,0,0,0.3);
			    margin: 2px 0 2px 9px;
			    padding: 0 22px 0 10px;
			    color: $primary-grey;
			    text-transform: capitalize;
			    position: relative;
			    cursor: pointer;

			    &::after {
			    	content: '';
				    position: absolute;
				    pointer-events: none;
				    top: 50%;
				    right: 10px;
				    width: 0;
				    height: 0;
				    margin-top: -2px;
				    border-style: solid;
				    border-width: 0 4px 5px 4px;
				    border-color: transparent transparent #bfbfbf transparent;
				    transform: rotate(180deg);
			    }

			    &:active, &.open {
			    	transform: none;
			    }
		    }

		    .menu-container{
		    	position: absolute;
		    	top: 58px;
		    	right: -1px;
    			width: 97px;
			    background-color: white;
			    border: 1px solid #eae9e9;
			    display: none;

			    &.open {
			    	display: block;
			    }

		    	.options {
		    		.option {
		    			line-height: 36px;
    					color: $primary-grey;
					    font-weight: 400;
					    padding: 0 15px;
					    text-align: left;
					    border-bottom: 1px solid #eae9e9;
					    text-transform: capitalize;

					    &.selected {
					    	color: $primary-blue;
					    }
		    		}
		    	}
		    }
		}
	}
}

input[type=number]{
	&::-webkit-inner-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
    	appearance: none;
  		margin: 0;
	}
}

.content-editor.discussion-link {
	form {
		width: 230px;

		.card {
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
		}

		.meta {
			background: #f5f5f5;
			padding: 3px;

			textarea {
				padding: 2px;
			    font: normal 300 1.6em/1.2em 'Open Sans Condensed', $font;
				width: 100%;
				height: 64px;
				resize: none;
			    box-shadow: 0 0 0 1px #d8d8d8;
			}
		}
	}
}

.content-editor.content-link {

	&.document {
		.overview-editing-parentselection {
			position: relative;
			top: 0;
			opacity: 1;
			height: auto;
			transition: top 0.5s, opacity 0.3s;
		}

		.group.card {
			position: relative;
			top: 0;
			opacity: 1;
			height: auto;
			transition: top 0.5s, opacity 0.3s;
		}

		&.file-only {
			overflow: hidden;

			.overview-editing-parentselection {
				top: -10px;
				opacity: 0;
				height: 0;
				pointer-events: none;
			}

			.group.card {
				top: 10px;
				opacity: 0;
				height: 0;
				overflow: hidden;
				pointer-events: none;
				visibility: hidden;
			}

			form {
				box-shadow: none;
			}

			.nt-button {
				&.advanced {
					display: none;
				}
			}
		}
	}


	&.url {
		.field.href {
			background: white;
			padding: 15px;
		}
	}



	form {
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);

		// Style the place holder
		textarea {
		    font-family: $font;
		}
		::-webkit-input-placeholder {
		    font-family: $font;
		}
		:-moz-placeholder {
		    font-family: $font;
		}
		::-moz-placeholder {
		    font-family: $font;
		}
		:-ms-input-placeholder {
		    font-family: $font;
		}

		.group.card {
			background: white;
			padding: 15px;
			border-top: 1px solid #d8d8d8;
			@include flexContainer();
			@include experimental(flex-wrap, wrap);

			.field.icon {
				@include flexItem(0 0 auto);
				padding-left: 1px;

				box-shadow: inset 1px 0 0 0 #d8d8d8,
								0 1px 0 0 #d8d8d8,
								0 -1px 0 0 #d8d8d8;
			}

			.meta {
				@include flexItem(1 1 auto);
				padding: 10px 11px;
				background-color: #f5fbff;
				box-shadow: inset -1px 0 0 0 #d8d8d8,
								inset 1px 0 0 0 #d8d8d8,
								0 1px 0 0 #d8d8d8,
								0 -1px 0 0 #d8d8d8;
			}

			.save-progress {
				margin-top: 10px;
				width: 100%;
			}

			.field.byline input, .field.label input, .field.description textarea {
				&:focus {
					background: white;
					box-shadow: 0 0 0 1px $primary-blue;
				}

				&.error {
					box-shadow: 0 0 0 1px $primary-red;
				}
			}

			.field.byline, .field.label, .field.title {
				input {
					padding: 0 0.5em;
					display: block;
					line-height: 22px;
					margin: 0 0 5px;
					font-size: 0.75em;
					font-weight: 300;
					border: none;
					box-shadow: 0 0 0 1px #d8d8d8;
					width: 100%;
				}
			}

			.field.label, .field.title {
				input {
					font: normal 600 0.9375rem/26px $font;
				}
			}

			.field.description {
				textarea {
					margin: 0;
					padding: 2px 0.5em;
					resize: none;
					width: 100%;
					font-size: 0.75em;
					line-height: 22px;
					font-weight: 300;
					height: 43px;
					border: none;
					box-shadow: 0 0 0 1px #d8d8d8;
				}
			}
		}
	}
}

.outline-node-editing {
	background: white;
	position: relative;

	& > .overview-editing-controls {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 1;
	}

	.outline-overview-footer {
	    text-align: center;
	    height: 55px;
	    padding: 15px;

		.add.nt-button {
		    display: inline-block;
		    line-height: 30px;
		    font-size: 0.875em;
		    font-weight: 600;
		    color: #3fb3f6;
		}
	}
}

.outline-node-preview {
	padding: 1.0em 2rem;
	position: relative;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	z-index: 2;


	.title {
		color: $primary-grey;
		font: normal 300 2.25em/1.15em $font;
	}

	.controls {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.toolbar {
		position: relative;
		display: block;
		height: 60px;
		clear: both;

		.left {
			float: left;
		}

		.right {
			float: right;
		}
	}

	.footer {
		margin: 10px 0;
		height: 30px;

		.edit {
			float: right;
		}

		.synclock {
			padding-top: 20px;
			float: right;
		}
	}
}


.overview-editing-controls {
	.control {
		display: inline-block;
		width: 20px; height: 20px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		opacity: 0.7;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	.edit {
		@include icon($edit-12, $top: 4px, $left: 4px);
	}

	.add {
		@include icon($editor-add_hover, $top: 4px, $left: 4px);
	}

	.publish {
		&.unpublished {
			@include icon($publishing-visible, $top: 4px, $left: 4px);
		}

		&.published {
			@include icon($publishing-invisible, $top: 4px, $left: 4px);
		}
	}
}

.new-node {
	> .title {
		text-align: center;
		font: normal 600 16px/42px $font;
		color: $primary-blue;
		background-color: #e8e8e8;
		cursor: pointer;
	}
}

.inline-editor {
	.field {
		input {
			margin: 5px 10px;
			padding: 5px 10px;
			font: normal 400 0.9em/1.5em $font;
			color: $secondary-grey;
			@include experimental-value(width, calc(100% - 20px));

			&.error {
				border: 1px solid $primary-red;
			}
		}
	}
}

.outline-items {
	background: $quad-grey;
	padding: 30px 20px;

	.header {
		> * {
			display: inline-block;
			color: $secondary-grey;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 12px;
			padding: 10px 0;
		}

		.date-column {
			width: 75px;
		}

		.controls-column {
			width: 230px;
		}

		.title-column {
			width: 415px;
		}
	}
	.collection-body {
		border: 1px solid $tertiary-grey-alt;
		background: #ffffff;
		border-collapse: collapse;

		.outline-node-listitem {
			border-bottom: 1px solid $tertiary-grey-alt;
			height: 3.75em;
			transition: max-height 0.5s;
			position: relative;
			overflow: hidden;

			&.dragging {
				border-bottom: none;
				overflow: hidden;
				max-height: 0;
			}

			&:last-of-type {
				border-bottom: none;
			}

			> * {
				display: inline-block;
				vertical-align: middle;
			}

			.calendar-container {
				width: 75px;
				text-align: center;
				position: relative;
				padding-top: 13px;

				.date-calendar {
					margin-left: 15px;
					position: relative !important;

					&::after {
						top: 19px;
						right: 8px;
						display: block;
					}
				}

				.menu-container {
					position: relative;
					margin-top: 0;

					&::before{
						left: 21px;
						top: 9px;
					}

					&::after {
						left: 22px;
						top: 10px;
					}

					.editing-available-date-menu {
						margin-left: 15px;
					}
				}
			}

			.controls {
				width: 230px;
				position: absolute;
				right: 10px;
				top: 0px;
			}

			.title {
				position: absolute;
				left: 75px;
				top: 50%;
				transform: translateY(-50%);
				width: 415px;
				color: $primary-grey;
				font-size: 14px;
				font-weight: 600;
				cursor: pointer;
				@include limit-lines($lines: 3, $line-height: 1.40);
			}
		}
	}
}


.overviewgroup-editor {

	text-align: left;
	border: 1px solid #ededed;
	padding: 0.7em;
	background: #FFFFFF;
    box-shadow: 0 0 3px 0px rgba(0,0,0,0.3);


	.title {
		width: 100%;
		font-size: 0.875em;
		margin-bottom: 1.25em;
		padding: 0.35em;
		font-family: $font;
		font-style: italic;
		color: $primary-grey;
		border: none;
		box-shadow: 0 0 0 1px #d8d8d8;

		&.error {
			box-shadow: 0 0 0 1px $primary-red;
		}
	}

	ul.colors {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 0.5em;
		margin-bottom: 2em;
	    max-width: 240px;

		li.color {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			cursor: pointer;

			&:last-child,
			&:nth-child(8) {
			    margin-right: 0px;
			}

			&.selected {
				opacity: 0.7;
				position: relative;

				&:after {
						content: '';
						display: block;
						position: absolute;
						top: -4px;
						left: -4px;
						right: -4px;
						bottom: -4px;
						box-shadow: 0 0 0 1px #979797;
						border-radius: 4px;
				}
			}
		}
	}
}

.nav-outline {
	&.editing {
		background: none;

		.outline-group {
			& .outline-group {
				transition: max-height 0.15s ease-out;
				max-height: 76px;

				&.dragging{
					overflow: hidden;
					max-height: 0;
					opacity: 0;
				}
			}
		}

		.outline-header {
			background: #ffffff;
			box-shadow: none;
		}

		.outline-list {
			bottom: 47px;

			.body {

				> .outline-group {
				    padding-top: 0.313em;

					> .items {
						padding: 5px;
						padding-bottom: 0px;
						background-color: #e2e2e2;

						> .outline-group {
							> .outline-row {
								border-bottom: 1px solid $tertiary-grey-alt;
								.label {
									color: $primary-grey;
								}

								&.lesson:not(.heading) {
									font-weight: 600;
								}

								&.selected {
									.label {
										color: $quad-grey;
									}
								}
							}
						}
					}

					.new-node {
						&.lesson {
							background-color: #E2E2E2;
						    padding-left: 5px;
    						padding-right: 5px;

							.inline-editor {
								    background: #FFFFFF;
									.field {
										.input {
										    margin: 5px 5px;
											padding: 5px 8px;
										    width: calc(100% - 10px);
										}
									}
							}
							.title {
								font: normal 600 16px/42px $font;
								background-color: #e2e2e2;
							    padding-bottom: 3px;

								&:before {
								    content: '+';
								}
							}
						}
					}
				}
			}
		}

		> .new-node {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: #ffffff;

			.title {
				background-color: $primary-blue;
				color: #ffffff;

				&:before {
					content: '+';
				}
			}
		}

		&.editor-open {
			.outline-list {
				bottom: 95px;
			}
		}
	}
}

.date-calendar {
	position: absolute !important;
	left: 0;
	top: -5px;
	cursor: pointer;
	width: 51px;
	height: 40px;
	display: block;

	@include icon($dropdown-am-pm-icon, $side: after, $top: 20px, $left: auto, $right: 3px);

	.date {
		cursor: pointer;
		display: block;
		min-width: 31px;
		min-height: 31px;
		position: absolute;
		left: 0px;
		top: 7px;
		text-transform: uppercase;
		border-radius: 4px;
		box-shadow: 0 0 0 1px #AFAFAF, inset 0 0 0 1px #AFAFAF;
		text-align: center;
		padding: 0;

		.month {
			background: #AFAFAF;
			color: white;
			border-radius: 0;
			font: normal 700 10px/14px $font;
			padding: 1px 2px;
		}

		.day {
			color: #AFAFAF;
			font: normal 600 12px/15px $font;
			border-radius: 0;
		}

		&.empty {
			.month {
				background: #AFAFAF;
				height: 12px;
			}

			.day {
				@include icon($empty-calendar, $side: after, $top: 2px, $left: 4px);
			}
		}
	}
}


.outline-editing-controls, .outline-node-preview, .outline-node-listitem {
	.button {
		position: relative;

		&.closed {
			.menu-container {
				display: none;
			}
		}

		&.publish, &.published {
			width: 220px;

			.label {
				width: 200px;
				padding: 9px 10px;
				margin: 10px;
				border-radius: 5px;
				background: $primary-blue;
				color: #ffffff;
				font-size: 14px;
				position: relative;
				font-weight: 600;
				cursor: pointer;
				border: 1px solid $tertiary-grey-alt;

				@include icon($dropdown-white, $side: after, $top: 10px, $left: auto, $right: 10px);
			}
		}

		&.published {
			.label {
				color: $primary-blue;
				background: #f8f8f8;
				@include icon($dropdown-blue, $side: after, $top: 10px, $left: auto, $right: 10px);
			}
		}

		.save {
			margin: 5px 0;
			display: block;
			line-height: 40px;
			text-align: center;
			padding: 0 1.5em;
			border-radius: 3px;
			color: white;
			background-color: $primary-blue;
			cursor: pointer;

			&.disabled {
				background-color: $tertiary-grey-alt;
				box-shadow: inset 1px 0 0 0 $border-grey;
			}
		}

		.menu-container {
			position: relative;
			top: 100%;
			background: white;
			z-index: 2;

			.editing-publishing-menu, .editing-available-date-menu {
				background-color: #ffffff;
				width: 355px;
				box-shadow: 0 0 3px 0px rgba(0,0,0,0.3);
				position: fixed;

				.container {
					padding: 10px;
					overflow-y: auto;
					overflow-x: hidden;
				}

				.option {
					border-bottom: 1px solid $quad-grey;
					color: $secondary-grey;

					.text {
						padding: 10px 10px 10px 37px;
						font-size: 14px;
						position: relative;

						@include icon($radio-unfilled, $side: after, $top: 12px, $left: 10px);
					}

					&.selected {
						.text {
							position: relative;
							padding-bottom: 0;
							@include icon($radio-filled, $side: after, $top: 12px, $left: 10px);
						}

						.subtext {
							display: block;
						}
					}

					.subtext {
						font-size: 12px;
						color: $tertiary-grey;
						padding: 0 0 10px 37px;
						display: none;
					}


					&:last-of-type {
						border-bottom: none;
					}
				}

				.arrow {
					position: absolute;
					right: 18px;
					top: -10px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 9px 10px 9px;
					border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;

					&::after {
						content: '';
						position: absolute;
						left: -8px;
						top: 1px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 8px 9px 8px;
						border-color: transparent transparent #fff transparent;
					}
				}

				&.above {
					.arrow {
						top: auto;
						bottom: -10px;
						transform: rotate(180deg);
					}
				}
			}

			.editing-available-date-menu {
				margin-top: 7px;

				.arrow {
					left: 10px;
					right: auto;
				}

				.toggle {
					@include experimental-value(display, flex);
					flex-direction: row;
					border-radius: 3px;
					overflow: hidden;

					.part {
						@include experimental(flex, 1 1 auto);
						background: #ffffff;
						background-image: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);

						border: 1px solid rgba(150,150,150,0.3);
						text-align: center;
						line-height: 36px;
						color: $secondary-grey;

						&.selected {
							color: #ffffff;
							background: #A0A0A0;
							box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.4);
						}
					}
				}

				.container {
					> .error {
						color: $primary-red;
						font: italic 500 12px/17px $font;
						margin: 5px;
						text-align: center;
					}
				}

				.date-picker-container {
					.nti-date-picker .x-datepicker {
						margin: 20px auto;
					}
				}
			}
		}

		&.calendar {
			position: relative;

			.date-calendar {
				&::after {
					display: none;
				}
			}

			.main {
				position: relative;
				display: block;
				color: $tertiary-grey;
				margin-left: 40px;
				margin-top: 10px;

				.text {
					display: inline-block;
					border: 1px solid #d1d1d1;
					padding: 0 10px;
					cursor: pointer;
					font: italic 500 12px/32px $font;

					@include icon($dropdown-am-pm-icon, $side: after, $top: 14px, $left: auto, $right: -13px);
				}

				.clear {
					position: absolute;
					top: 0px;
					right: 10px;
					color: $tertiary-grey;
					text-transform: uppercase;
					font: normal 700 10px/34px $font;
					z-index: 10;
					cursor: pointer;
					display: none;

					&:hover {
						color: $secondary-grey;
					}
				}

				&.has-date {
					.text {
						position: relative;
						padding-right: 50px;
					    color: #494949;
					    font-style: normal;
					}

					.clear {
						display: block;
					}
				}

				.save {
					display: none;
					line-height: 32px;
					padding: 0 12px;
					margin: 0 0 0 12px;

					&.active {
						display: inline-block;
					}
				}
			}



			.menu-container {
				margin-top: 10px;

				&::before {
					left: 9px;
					right: auto;
				}

				&::after {
					left: 10px;
					right: auto;
				}


				.calendar-menu {
					margin-top: 6px;
					width: auto;
				}
			}
		}
	}
}

.nti-date-picker {
	.x-datepicker {
		width: 268px;
		border: none;
		margin: 10px 0;

		.x-datepicker-header {
			background-color: #ffffff;
			background-image: none;
			color: $secondary-grey;
			margin: 10px 0;

			.x-datepicker-month {

				.x-btn-inner {
					color: $secondary-grey;
					font-size: 14px;
					font-family: $font;
				}
			}

			.x-datepicker-arrow {
				width: 12px;
				height: 21px;

				&.x-datepicker-next {
					background: url(../images/icons/date-chevron-right.png) no-repeat;
				}

				&.x-datepicker-prev {
					background: url(../images/icons/date-chevron-left.png) no-repeat;
				}
			}
		}

		.x-datepicker-inner {
			.x-datepicker-column-header {
				background: none;
				border: none;
				color: $secondary-grey;
				font-weight: 500;
				font-size: 14px;
				text-align: center;
				font-family: $font;
			}

			.x-datepicker-cell {
				.x-datepicker-date {
					color: $secondary-grey;
					padding: 3px;
					background: none;
					font-size: 13px;
					font-weight: 500;
					text-align: center;
					margin: 4px 3px;
					width: 26px;
					font-family: $font;

					&:hover {
						color: $primary-blue;
					}
				}

				&:first-of-type {
					.x-datepicker-date {
						padding-left: 0;
						margin-left: 0;
					}
				}

				&:last-of-type {
					.x-datepicker-date {
						padding-right: 0;
						margin-right: 0;
					}
				}

				&.x-datepicker-disabled {
					background: none;
					border: none;
					.x-datepicker-date {
						opacity: 0.25;
					}
				}

				&.x-datepicker-selected:not(.x-datepicker-disabled) {
					background: none;
					border: none;
					.x-datepicker-date {
						background-color: $primary-blue;
						color: #ffffff;
						border-radius: 90px;
					}
				}

				&.x-datepicker-today {
					border:none;
					background: none;

					.x-datepicker-date {
						background-color: $tertiary-grey;
						color: #494949;
						border-radius: 90px;
					}
				}

				.x-datepicker-date::hover {
					color: $primary-blue;
				}
			}
		}

		.x-datepicker-footer {
			display: none;
		}
	}

	.time-container {
		margin: -12px auto 12px;
		font-size: 13px;
		text-align: center;

		input {
			font-size: 13px;
			color: $secondary-grey;

			&.has-error {
				border: 1px solid $primary-red;
			}
		}

		.hour, .minute {
			width: 38px;
			padding: 5px 0;
			text-align: center;
		}

		.error {
			color: $primary-red;
			font: italic 500 12px $font;
			min-height: 12px;
			margin-bottom: 5px;
		}

		.divider {
			margin: 0 5px;
		}

		.meridiem {
			margin-left: 15px;
			padding: 5px 15px 5px 5px;
			border: 1px solid $tertiary-grey-alt;
			position: relative;
			color: $secondary-grey;

			@include icon($dropdown-am-pm-icon, $side: after, $top: 11px, $left: auto, $right: 5px);
		}
	}
}


.course-overview.course-overview-editing {
	padding: 15px 10px 60px;
	background-color: #fafafa;
	position: relative;

	body.control-bar-open & {
		padding-bottom: 80px;

		.course-overview-footer {
			bottom: 35px
		}
	}

	.dnd-drop-placeholder, .dnd-save-placeholder {
		margin-bottom: 10px;
	}

	.overview-section {
		margin-bottom: 10px;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	}

	.overview-group-header {
		padding: 0 22px 0 12px;

		@include flexContainer();
		@include experimental(align-items, center);

		.overview-group-title {
			@include flexItem(1 1 auto);
			padding-right: 5px;
			overflow: hidden;
			@include ellipse;
		}

		.button.edit {
			@include flexItem(0 0 auto);
		}
	}

	.overview-group-body, .overview-group-footer {
		background: rgba(255, 255, 255, 0.8);
	}

	.overview-group-body {
		padding: 13px 12px;
		@include containFloats();
	}

	.overview-group-title {
		font: normal 400 1.5rem/2.8rem $condensed-font;
		color: white;
	}

	.overview-editing-listitem {
		background: white;
		margin-bottom: 10px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		clear: both;

		&:not(.transition) {
			max-height: 500px;
			max-width: 800px;
			transition: max-height 0.1s;

			@include containFloats();
		}

		&.dragging {
			opacity: 0;
			max-height: 0;
			max-width: 0;
			float: left;
			clear: none;
		}

		&:last-of-type {
			margin-bottom: 0;
		}


		&.discussion {
			width: 230px;
			margin: 5px 5px 5px;
			float: left;
			transition: max-width 0.1s;
			clear: none;

			&.dragging {
				max-width: 0;
				max-height: 500px;
				margin: 0;
			}

			.overview-discussion {
				width: 210px;
				margin: 0;
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
			}
		}

		& > .controls {
			padding: 8px 10px;
			text-align: right;
			border-bottom: 1px solid #e3e3e3;
			min-height: 44px;

			.nt-button.edit {
				display: inline-block;
			}

			.visibility {
				display: inline-block;
				font-size: 0.85rem;
		    	font-weight: 600;
		    	color: $secondary-grey;
		    	padding: 5px 11px 5px 22px;
			}
		}

		.body {
			padding: 12px 10px;
			@include containFloats();

			& > .overview-video {
				width: auto !important;
				overflow: hidden;
			}

			& > .overview-videos {
				.body {
					margin: 0;
				}
			}
		}

		.controls-wrapper {
			position: relative;
			height: 28px;

			.controls {
				position: absolute;
				display: flex;
				right: 12px;

				.select-box {
					ul {
						padding: 0;
						font-size: 12px;
						color: $secondary-grey;
						cursor: pointer;
					}

					.menu-label {
						font-size: 12px;
						color: $secondary-grey;
						margin-top: 6px;
						margin-right: 10px;
						cursor: pointer;
					}
				}

				.nt-button {
					height: 28px;
					margin-top: 10px;
				}
			}
		}
	}

	.overview-group-footer {
		text-align: center;
		height: 55px;
		padding: 15px;

		.nt-button.add {
			display: inline-block;
			line-height: 30px;
			font-size: 0.875em;
			font-weight: 600;
			color: $primary-blue;
		}
	}

	.course-overview-footer {
		position: absolute;
		bottom: 15px;
		left: 10px; right: 10px;

		.nt-button.add {
			background: $primary-blue;
			line-height: 46px;
			font-size: 0.875em;
			font-weight: 600;
			color: white;
			text-align: center;
		}
	}
}


.video-items {
	.video-items-header {
		margin-bottom: 20px;

		.reorder {
			font-size: 1.125rem;
		}

		.add {
			float: right;
			color: $primary-blue;
			text-decoration: underline;
			cursor: pointer;
			font-size: 0.875rem;
		}
	}

	.video-items-item {
		overflow: hidden;
		background-color: white;
		margin-bottom: 10px;
		position: relative;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
		max-height: 100px;
		transition: max-height 0.5s;

		&.dragging {
			box-shadow: none;
			max-height: 0;
			opacity: 0;
		}

		.close {
			top: 10px;
			right: 10px;
			cursor: pointer;
			width: 16px; height: 16px;
			@include icon($message_box_close, $top: 3px, $left: 3px, $position: absolute);
		}

		.thumbnail {
			float: left;
			width: 180px;
			height: 100px;
			background-size: contain;
		}

		.meta {
			height: 100px;
			padding: 15px 15px 15px 195px;

			.title {
				font-size: 0.875em;
			}

			.providers {
				font-size: 0.625em;
				font-weight: 700;
				text-transform: uppercase;
				color: $tertiary-grey;

				&:not(:first-of-type)::after {
					content: ',';
					margin-right: 0.5em;
				}
			}
		}
	}
}


.create-assignment-overview-editing, .create-video-overview-editing {
    float: left;
    color: white;
    background: #3fb3f6;
    padding: 6.5px;
    border-radius: 3px;
	cursor: pointer;
}
