.item-selection {

	&.has-search-term {
		.search {
			.has-search {
				visibility: visible;
			}

			.input-container {
				.clear {
					display: block;
				}
			}
		}


	}

	.search {
		padding: 0 10px;
		margin-bottom: 20px;
		@include flexContainer();

		.has-search {
			visibility: hidden;
			line-height: 35px;
			font-size: 1.125rem;
			font-weight: 700;
			color: $secondary-grey;
			@include flexItem(1 1 auto);
		}

		.input-container {
			width: 375px;
			position: relative;
			border-radius: 3px;
			overflow: hidden;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
			@include flexItem(0 0 auto);


			input {
				line-height: 35px;
				font-size: 0.875rem;
				margin: 0;
				padding: 0 35px 0 5px;
				border: none;
				width: 100%;
			}

			.clear {
				display: none;
				font-size: 0.635em;
				font-weight: 700;
				text-transform: uppercase;
				color: $primary-blue;
				line-height: 35px;
				position: absolute;
				top: 0; right: 40px;
				cursor: pointer;
			}

			.do-search {
				position: absolute;
				height: 35px;
				width: 35px;
				background-color: $panel-background;
				box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.3);
				top: 0; right: 0;
				cursor: pointer;

				@include icon($rhp-search, $top: 8px, $left: 9px, $position: absolute);
			}
		}
	}

	.filter {
		margin-top: -10px;//pull it up into the search bar's margin
		margin-bottom: 10px;
		padding: 0 10px;
		text-align: right;

		label {
			padding-left: 24px;
		}


	}

	.items {
		clear: both;
	}

	.empty {
		text-align: center;
    	color: $secondary-grey;
    	font-style: italic;
	}
}

.video-item-selection, .discussion-item-selection {
	.items {
		overflow: hidden;


		.selection-item {
			position: relative;
			margin: 10px;
			width: 175px;
			height: 200px;
			background: white;
			float: left;
			border-radius: 3px;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
			overflow: hidden;
			cursor: pointer;

			&.excluded {
				opacity: 0.4;
				cursor: default;

				.video-item, .discussion-item {
					cursor: default;
				}
			}

			&.selected {
				box-shadow: 0 0 0 3px $primary-blue;
			}

			&.filtered {
				display: none;
			}
		}

		.video-item, .discussion-item {
			cursor: pointer;
			overflow: hidden;
			display: block;

			input[type=checkbox] {
				position: absolute;
				top: 8px;
				left: 8px;
				cursor: pointer;
				pointer-events: none;
			}

			.thumbnail {
				width: 100%;
				height: 100px;
				background-size: contain;
			}

			.title {
				font-size: 0.75em;
				margin: 8px 8px 15px;
				height: 3rem;
				@include limit-lines($lines: 3, $line-height: 1);
				max-height: 3rem;
			}

			.providers {
				padding: 0 8px;
				font-size: 0.625em;
				font-weight: 700;
				text-transform: uppercase;
				color: $tertiary-grey;

				span:not(:first-of-type) {
					content: ',';
					margin-right: 0.5em;
				}
			}

			&:hover > .edit-link {
				opacity: 1;
			}

			.edit-link {
				position: absolute;
				bottom: 15px;
				right: 8px;
				opacity: 0;
			}
		}
	}
}

.discussion-item-selection{
	.items {
		.selection-item {
			width: auto;
			height: auto;
			border-radius: 0;
			padding: 8px 10px;

			.overview-discussion {
				width: 200px;
				height: 220px;
				cursor: pointer;
    			background: #f5f5f5;
    			position: relative;
    			margin: 0;
    			box-shadow: 0 0 0 1px rgba(0,0,0,0.2);

    			.discussion-item {
    				height: 100%;

    				.title {
						color: $primary-grey;
						font: normal 300 1.6em/1.2em 'Open Sans Condensed', $font;
						overflow: hidden;
						height: 64px;
						margin-bottom: 6px;
						word-break: break-word;

						.ellipsis{
							margin-left: 5px;
						}
					}
    			}
			}
		}
	}
}

.reading-item-selection {
	.items {
		background: white;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
		position: relative;
		overflow: hidden;
		padding-bottom: 75px;
	}

	&.has-search-term {
		.reading-item {
			padding-left: 1.5rem !important;

			.expand {
				display: none;
			}
		}

		.selection-item-container {
			.selection-children {
				display: block !important;
			}
		}

		.reading-selection-breadcrumb {
			@include flexContainer();
		}
	}

	.selection-children {
		.reading-item {
			padding-left: 1.5rem;
		}

		.selection-children {
			.reading-item {
				padding-left: 3rem;
			}

			.selection-children {
				.reading-item {
					padding-left: 4.5rem;
				}

				.selection-children {
					.reading-item {
						padding-left: 6rem;
					}

					.selection-children {
						.reading-item {
							padding-left: 7.5rem;
						}

						.selection-children {
							.reading-item {
								padding-left: 9rem;
							}
						}
					}
				}
			}
		}
	}

	.selection-item-container {
		.selection-children {
			display: none;
		}

		&.expanded {
			.selection-children {
				display: block;
			}

			.reading-item .expand::before {
				@include experimental(transform, rotate(90deg));
			}
		}
	}

	.selection-item {
		padding: 0 10px;

		&.filtered {
			display: none;
		}
	}

	.reading-item {
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
		line-height: 40px;
		font-size: 0.875rem;
		color: $primary-grey;
		padding: 0 1em;

		.expand, .icon, .label {
			display: inline-block;
			vertical-align: middle;
		}

		.expand {
			height: 40px;
			width: 20px;
			position: relative;

			&.hidden {
				visibility: hidden;
			}

			&::before {
				content: '';
				position: absolute;
				top: 17px;//40/2 - 9/2
				left: 5px;//15/2 - 9/2
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4.5px 0 4.5px 7px;
				border-color: transparent transparent transparent #8f8f8f;
			}
		}

		.icon {
			width: 20px;
			height: 40px;
			margin-right: 5px;

			&.folder {
				@include icon($library-folder, $top: 13px, $left: 2px);
			}

			&.file {
				@include icon($file-icon, $top: 11px, $left: 4px);
			}
		}
	}

	.selected {
		background: $primary-blue;

		.reading-item {
			color: white;
			box-shadow: none;

			.expand::before {
				border-color: transparent transparent transparent white;
			}

			.icon {
				&.folder {
					@include icon($library-folder-white, $top: 13px, $left: 2px);
				}

				&.file {
					@include icon($file-icon-white, $top: 11px, $left: 4px);
				}
			}
		}
	}


	.reading-selection-breadcrumb {
		display: none;
		position: absolute;
		line-height: 35px;
		bottom: 46px;
		left: 0; right: 0;
		background-color: #f8f8f8;
		border-top: 1px solid #d9d9d9;
		padding: 0 10px;

		div {
			padding-right: 18px;
			margin-right: 5px;
			font-size: 0.875em;

			@include flexItem(0 0 auto);

			&:not(.root) {
				cursor: pointer;
			}

			&:not(:last-of-type) {
				@include icon($mv-dropdown-arrow_hover, $side: 'after', $top: 13px, $left: auto, $right: 0);

				&::after {
					@include experimental(transform, rotate(270deg));
				}
			}

			&.file {
				padding-left: 18px;
				@include icon($file-icon, $side: before, $top: 9px, $left: 0);
			}

			&.folder {
				padding-left: 22px;
				@include icon($library-folder, $side: before, $top: 11px, $left: 0);
			}
		}
	}
}


.assignment-item-selection, .assessment-item-selection, .survey-item-selection {
	.selected {
		.assignment-item, .self-assessment-item, .survey-item {
			background-color: $primary-blue;
			color: white;

			&.overdue .due-date, .question-count {
				color: white;
			}
		}
	}

	.filtered {
		display: none;
	}

	.assignment-item, .self-assessment-item, .survey-item {
		cursor: pointer;
		background: white;
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 3px;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);

		&.overdue {
			.due-date {
				color: $primary-red;
			}
		}

		.title {
			font-size: 1.125rem;
			font-style: italic;
		}

		.due-date {
			font-size: 0.75rem;
			font-style: italic;
		}

		.question-count {
			font-size: 0.75em;
			color: $tertiary-grey;
		}
	}
}

.timeline-item-selection{
	.selection-item {
		&.selected {
			box-shadow: 0 0 0 3px $primary-blue;
		}
	}
	.overview-timeline {
		.timeline-item {
			display: block;
			background: #fff;
			position: relative;
			margin-bottom: 24px;

			input[type=checkbox] {
				position: absolute;
				top: 8px;
				left: 8px;
				cursor: pointer;
				pointer-events: none;
			}

			.thumbnail {
				width: 100px;
				height: 125px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.35);
				float: left;
				cursor: pointer;
			}

			.meta {
				padding-top: 16px;
				margin-left: 120px;
				height: 125px;
				padding: 10px 45px 10px 0;

				.title {
					font: normal 600 15px/20px $font;
					max-height: 40px;
					overflow: hidden;
					margin-bottom: 5px;
					color: $primary-grey;
				}

				.description {
					margin-bottom: 20px;
					max-height: 3em;
					overflow: hidden;
					margin-top: 5px;
					font: normal normal 12px/1 $font;
					color: $primary-grey;
				}
			}
		}
	}
}


.content-package-item-selection {

	.selected .content-package-item {
		box-shadow: 0 0 0 2px $primary-blue;
	}

	.filtered {
		display: none;
	}

	.content-package-item {
		display: flex;
		background-color: $panel-background-blue;
		margin-bottom: 1rem;
		box-shadow: 0 0 0 1px rgba(63, 179, 246, 0.3);

		&.unpublished {
			opacity: 0.6;
			pointer-events: none;
		}

		.icon {
			flex: 0 0 100px;
			max-width: 100px;
			height: 128px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: white;
			box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.08);
		}

		.wrap {
			flex: 1 1 auto;
			padding: 1rem 1.25rem;
			color: $primary-grey;

			.title {
				font-size: 1rem;
				font-weight: 600
			}

			.description {
				font-size: 0.875rem;
				line-height: 1.38;
			}
		}
	}
}
