.nav-outline.toc-flyout .outline-list {
	height: 2000px;
}

.x-panel-notes-and-discussion {
	&,.x-panel-body-default{
		background: #fbfbfb;
	}
	border-left: 1px solid #ededed;
	border-left-width: 1px !important;
}

.nti-notes-and-discussion-tabbar,
.content-toolbar  {
	border-bottom: 1px solid #ededed;
	border-bottom-width: 1px !important;
}

.nti-notes-and-discussion-tabbar{
	.x-tab {


		text-transform: uppercase;
		color: $tertiary-grey;
		font: normal 600 12px/59px $font;

		.x-tab-icon-el {
			width: 21px;
			height: 20px;

			top: 20px;
			left: 15px;

			&.notepad {
				@include icon($notepad,$position:absolute);
			}

			&.discuss {
				top: 22px;
				@include icon($discussions,$position:absolute);
			}
		}

		.x-tab-inner {
			text-align: left;
			margin-left: 43px;
			margin-right: 21px;
		}

		&.x-active {
			color: $secondary-grey;

			.x-tab-icon-el {
				&.notepad::after { @include sprite($notepad_active); }
				&.discuss::after { @include sprite($discussions_active); }
			}
		}
	}
}
