.email-window {
	.window-header {
		.title {
			font: normal 300 18px/44px $font;
			color: $secondary-grey;
		}
	}

	input[type=checkbox] {
		opacity: 0;
		position: relative;
	}

	input[type=checkbox] + label {
		min-height: 40px;
		padding: 1px 15px 1px 40px;
		display: inline-block;
		cursor: pointer;

		@include icon($checkbox-14, $top: 13px, $left: 18px);
	}

	input[type=checkbox]:checked + label {
		@include icon($checkbox-14_active, $top: 13px, $left: 18px);
	}

	.email-editor {
		.editor {
			.main {
				.aux {
					padding: 0;

					.row {
						padding: 0 10px;
						border-bottom: 1px solid #f2f2f2;
						position: relative;
						height: 40px;

						&:last-of-type {
							border-bottom-width: 0;
						}

						.label {
							font: normal italic 16px/30px $font;
							padding: 0;
							color: $tertiary-grey;
							position: absolute;
							top: 10px;
							left: 15px;
							width: 30px;
						}

						.field {
							position: relative;
							margin-left: 40px;
							top: 5px;

							input {
								display: block;
								font: normal 300 16px/30px $font;
								border: 0;
								margin: 0;
								width: 100%;
								color: $secondary-grey;
								height: 28px;
							}
						}

						.action {
							position: absolute;
							top: 0px;
							right: 10px;
							left: auto;
							bottom: auto;
							width: 530px;
							height: 38px;
							overflow: hidden;

							.option {
								cursor: pointer;
								background-color: white;
								font-weight: 400;
								font-size: 0.775em;

								padding: 0px 25px 0px 10px;
								position: relative;
								text-align: right;

								.toggle {
									color: $secondary-grey;

									input[type=checkbox]+label {
										min-height: 38px;
										line-height: 38px;
										padding-right: 7px;
										margin-left: -33px;
									}
								}
							}

							.reply-option {
								float: right;
								color: $primary-blue;

								.empty {
									display: none;
								}

								&.picker {
									.arrow {
										padding-right: 0px;

										&::after {
											position: relative;
											display: inline-block;
											right: -3px;
											top: 6px;
										}
									}
								}

								.reply-scope{
									&.disabled {
										opacity: 0.5;
										cursor: default;
									}
								}
							}

							.cc-instructors {
								float: right;
								padding-right: 15px; 
							}
						}

						&.receiver {
							.field {
								top: 10px;
 							    color: $primary-blue;
    							text-transform: capitalize;
    							width: 350px;
    							position: relative;
 								@include ellipsis;

    							&.group {
    								&.arrow {
										&::after {
											display: inline-block;
											position: relative;
											height: auto;
											padding-left: 0.4em;
											vertical-align: middle;
											right: auto;
											top: 8px;
										}
									}
    							}
							}
						}
					}
				}

				.title {
					input {
					    font: normal 300 18px/30px $font;
					    padding-left: 0;
					}
				}
			}

			.footer {
				overflow: hidden;
				.save {
					width: 140px;
				}

				.left {
					float: left;

					.toggle {
						color: $secondary-grey;
					    padding-right: 10px;
					    font-weight: 400;
					    font-size: 0.875em;
					    line-height: 40px;

					    input[type=checkbox] + label {
							padding: 1px 15px 1px 20px;

							&::after {
								left: 0;
							}

							&:hover {
								&::after {
									left: 0;
								}
							}
					    }
					}
				}
			}
		}
	}
}
