.course-reports {
	background-color: white;

	.report-card {
		overflow: auto;
		padding-bottom: 20px;

		.description {
			.title {
				color: $primary-grey;
				font: normal 300 1.5em/2 $font;
				padding: 15px 30px;
			}

			.about {
				color: $primary-grey;
				font: normal 300 1em/1.5 $font;
				padding: 0 30px;
				margin-bottom: 50px;

				a.target {
					cursor: pointer;
					color: $primary-blue;
				}
			}
		}

		.link {
			cursor: pointer;
			width: 500px;
			height: 125px;
			margin: 0 auto;
			color: $primary-grey;

			.thumbnail {
				background-size: initial;
				@include sprite-image($reports-image);
				@include sprite-position($reports-image);
			}

			.sub-heading {
				font: normal 600 0.6em/2 $font;
			}

			.heading {
				overflow: hidden;
				@include ellipse;
				font: normal 300 1.1em/1.5 $font;
			}
		}

		.gif {
			max-width: 750px;
			display: block;
			margin: 0 auto;
		}
	}
}
