

.dictionary-window {
    @extend .nti-window;

    .nti-window-header {
 		border-bottom: 1px solid #E7E7E7;
    }

	padding-bottom: 3px;
	overflow: visible;
	&.north::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: -15px;
		left: 45%;
		background: $elements no-repeat;
		@include sprite($elements,'window-nib-north',$dimensions: true);
	}

	&.south::before{
		content: "";
		position: absolute;
		z-index: 1;
		bottom: -14px;
		left: 45%;
		background: $elements no-repeat;
		@include sprite($elements,'window-nib-south',$dimensions: true);
	}
}
