
.x-panel-lightbox {	
	overflow: visible;
	background: #fff;
	box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.6);
	position: fixed !important;

	.close {
		top: 10px;
		right: 10px;
		position: absolute;

		background: transparent $icons no-repeat;
		@include sprite($icons,'note-window-x',$dimensions: true);
		cursor: pointer;

		&:hover {
			@include sprite($icons,'note-window-x_hover',$dimensions: true);
		}

	}

	.content {
		&.loading{
			&::after {
				@include loadingSpinner($top:50%,$left:50%);
				margin-top: -12px;
				margin-left: -12px;
			}
		}

		padding: 25px 30px;
		height: 100%;

		.page-contents {
			display: -ms-flexbox;
			-ms-box-orient: vertical;

			@include experimental-value(display, flex);
			@include experimental(flex-wrap, nowrap);
			@include experimental(flex-direction, column);
			height: 100%;
		}

		h3 {
			@include experimental(flex, none);
			font-family: monospace;
			font-weight: 100;
		}

		pre {
			@include experimental(flex, 1 1 auto);
			font: normal normal 1em/1 monospace;
			background: #f9f9f9;
			border: 1px solid #ddd;
			padding: 18px 20px;
			margin: 0;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
}
