@mixin content-card-def {
	position: relative;
	overflow: hidden;
	background: #fafdff;
	border: 1px solid #e3f2fc;

	$thumbWidth: 80px;

	a, a:link, a:visited, a:active {
		text-decoration: none;
	}

	.controls {
		position: absolute;
		top: 0;
		right: 0;
		@include like-and-favorite;

		.edit {
			padding: 5px 10px;
    		color: #3fb3f6;
    		margin: 5px;

    		&:hover {
    			background-color: #3fb3f6;
    			color: #fff;
    			border-radius: 5px;
    		}
		}
	}

	.thumbnail {
		background:{
			size: cover;
			repeat: no-repeat;
			position: center;
		}
		//border-right: 1px solid #f8f8f8;
		box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.35);
		float: left;
		width: $thumbWidth;
		height: 100px;
	}

	.meta {
		padding: 10px 45px 10px 0;
		margin-left: $thumbWidth+15px;

		.title {
			font: normal 600 15px/20px $font;
			max-height: 40px;
			overflow: hidden;
			margin-bottom: 5px;
			color: $primary-grey;
		}
		.byline {
			font: normal 600 10px/10px $font;
			text-transform: uppercase;
			color: $primary-blue;
		}
		.description {
			margin-top: 5px;
			font: normal normal 12px/1rem $font;
			color: $primary-grey;
		}
	}
}

a[href] {
    &.internal-link {
		@include content-link-def;
		&:active, &:hover, &:visited { @include content-link-def; }
	}

	#NTIContent &, #profile .profile-head &{
		@include content-link-def;
		line-height: inherit;
		color: $primary-blue;
	}
}


.content-card{
	&, .note-window .note.main-view &{
		@include content-card-def;
	}
}

.content-launcher {
	&, .note-window .note.main-view &{
		@include content-card-def;

		$thumbWidth: 150px;

		.thumbnail {
			width: $thumbWidth;
			height: $thumbWidth;
		}

		.meta {
			margin-left: $thumbWidth+15px;
			.launcher-button {
				margin: 5px 0px;
				padding: 0px 10px 0px 40px;
				background-color: $primary-blue;
				border: 1px solid $border-blue;
				font: italic 500 14px/30px $font;
				border-radius: 3px;
				color: white;
				position: relative;
				display: inline-block;

				&::after {
					content: '';
					position: absolute;
					top: 6px;
					left: 10px;
					@include sprite($presentation-view);
				}

				&.video-transcript-button{
					margin-left: 40px;
					padding-left: 10px;

					&::after{
						content: none;
					}
				}
			}
		}

	}
}

.component-overlay, .content-editor {

	.content-card-target-container {
		margin: 0 5px 0 0;
		border: 1px solid $border-grey;
		border-radius: 1px;
		box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
		overflow: visible;

		.no-support {
			display: block;
			position: absolute;
			top: 50%; left:0; right:0;
			transform: translateY(-50%);

			&, a, div a { &, &:link, &:hover, &:visited{ text-decoration: none; } }

			padding: 0 5em;
			text-align: center;
			color: $secondary-grey;

			.link {
				color: $primary-blue;
			}

			.message {
				color: $tertiary-grey;
				font: normal 300 2em/4em "Open Sans Condensed", $font;
			}
		}

		//.x-ie &, .x-ie10 &{
		//	z-index: -2;
		//}

		.back-button{
			cursor: pointer;
			position: absolute;
			top: 20px;
			left: -25px;
			width: 25px;
			height: 25px;
			&::after{
				position: absolute;
				top: 0; left: 0;
				content: '';

				@include sprite($profile_back_arrow);
			}
		}
	}

	&.content-editor {
		.content-card-target-container {
			background-color: #fff;

			.no-support {
				position: relative;
				top: 50%;
  				transform: translateY(-50%);
				background-color: #fff;
				font-size: 12px;

				.message {
					font: normal 300 1.8em/2.7em "Open Sans Condensed", $font;
				}
			}
		}
	}

	.content-launcher-container {
		margin: 0;
	}

	.content-launcher,
	.content-card {
		cursor: pointer;
	}
}


.link {
	&.arrow {
		position: relative;

		&::after {
			content: '\2039';
			line-height: 0.4;
			display: block;
			font-size: 2em;
			font-weight: normal;
			position: absolute;
			width: 0.5em;
			height: 0.5em;
			top: 0em;
			right: -0.9em;
			transform: rotate(-90deg);
		}
	}
}
