.x-panel-default,
.x-border-layout-ct { background: inherit; }

//Firefox: make sure we do not outline focusable elements
.x-gecko [tabindex] { outline: 0; }

//.viewport {
// position: fixed;
//}

.x-form-item,
.x-form-field,
.x-body,
html,
body {
	//reset base font settings
	line-height: normal;
	font:{
		variant: normal;
		weight: normal;
		style: normal;
		size: 1em;
		family: $font;
	}
	//@include experimental(font-smoothing, antialiased);
}

input::-ms-clear { display: none; }

.placeholder { @include placeholder-style(); }
::input-placeholder { @include placeholder-style(); }
::-webkit-input-placeholder { @include placeholder-style(); }
::-moz-placeholder { @include placeholder-style(); }
input:-moz-placeholder { @include placeholder-style(); }
:-ms-input-placeholder{ @include placeholder-style(); }
input:-ms-input-placeholder{ @include placeholder-style(); }


.ellipsis {
	margin: 0 10px;
	text-decoration: none;
	display: inline-block;

	div {
		display: inline-block;
		border-radius: 90px;
		width: 4px; height: 4px;
		margin: 2px;
		background: $primary-blue;
	}
}

.x-repaint {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0,0,1px);
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.scroll-lock{
	overflow: hidden !important;
}



.empty-state{
	text-align: center;
	font: normal 300 2em $font;
	color: $tertiary-grey;
	margin-top: 2em;

	.link {
		cursor: pointer;
		color: $primary-blue;
	}

	.sub{
		font-size: 0.5em;
	}

	&.no-assignments{
	  margin-bottom: 2em;
	}
}

.error-message-component {
	text-align: center;
	font-size: 0.9em;
	line-height: 5;
	font-style: italic;
	font-weight: 600;
	color: $primary-red;
}
