:root {
	--navigation-top: calc(var(--nt-app-top-offset, 0) + 20px);
	--navigation-bottom-gap: 10px;

	.control-bar-open {
		--navigation-bottom-gap: 65px;
	}
}

.navigation-panel {
	overflow: hidden;
	height: auto;
	display: flex;
	flex-direction: row;
	padding-top: 20px;

	.navigation-view {
		flex: 0 0 auto;
		width: 255px;
		max-width: 255px;

		&.floating {
			--navigation-height: calc(100vh - var(--navigation-top, 0) - var(--navigation-bottom-gap, 0));

			position: fixed;
			top: var(--navigation-top);
			height: var(--navigation-height) !important;
			max-height: var(--navigation-height) !important;
		}
	}

	&.course-overview {
		.navigation-view.floating {
			display: flex;
			flex-direction: column;
		}
	}

	.body-view {
		flex: 0 0 auto;
		width: 764px;
		margin-left: 260px;
	}
}
