.reader-container.navigation-panel {
	flex-direction: row-reverse;

	.navigation-view {
		margin: 0;
		width: 258px;
		max-width: 258px;
		// height: auto;
	}

	.center {
		width: 766px;
		background-color: white;
		font-size: 0.75em;
		height: 100%;
		padding-top: 0;
		margin-right: 258px;

		.x-reader-pane {
			max-height: 100%;
			overflow-y: auto;
			clear: both;
			margin-top: 61px;
		}
	}

	&.content-only {
		padding-top: 0;

		.center {
			margin-right: 0;
		}
	}

	.tabpanel {
		float: right;
		position: relative;
		height: 100%;
	}
}

.content-viewer {
	padding: 20px 0;
	overflow: hidden;
}

.native-content-editor {
	padding: 20px 0;
}

html.is-edge, html.is-ie {
	.reader-container.navigation-panel .center .x-reader-pane {
		overflow-y: initial;
	}
}
