.reader-container.navigation-panel {
	.navigation-placeholder {
		float: right;
		margin: 0;
		width:  258px;
	}

	.navigation-view.floating {
		bottom: 0;
	}


	.center{
		float: left;
		width: 766px;
		background-color: white;
		font-size: 0.75em;
		height: 100%;
		padding-top: 0;

		.x-reader-pane {
			max-height: 100%;
			overflow-y: auto;
			clear:both;
			margin-top: 61px;
		}
	}

	.tabpanel {
		float: right;
		position: relative;
		height: 100%;
	}
}

.content-viewer {
	padding: 20px 0;
	overflow: hidden;
}

.native-content-editor {
	padding: 20px 0;
}

html.is-edge, html.is-ie {
	.reader-container.navigation-panel .center .x-reader-pane {
		overflow-y: initial;
	}
}
