.search-advanced-menu {
	margin: 40px 0;

	.search-option {
		font-weight: 300;
		line-height: 1.75em;
		font-size: 1em;
		margin-right: 1.5em;
		color: $tertiary-grey;
		cursor: pointer;

		&.active {
			color: $primary-blue;
		}
	}
}

.search-results {

	.search-result, .control-item {
		background-color: #fafafa;
		margin-bottom: 10px;
	}

	.control-item {
		height: 75px;
		line-height: 75px;
		text-align: center;
		color: $primary-blue;

		&.error {
			color: $primary-red;
		}

		&.load-more {
			background: $primary-blue;
			color: #fff;
			cursor: pointer;
			font-size: 0.875em;
			font-weight: 600;
			line-height: 1em;
			text-transform: uppercase;
			padding: 25px;
			height: auto;
		}

		&.loading-container {
			position: relative;

			.loading {
				position: absolute;
				color: $primary-grey;
				line-height: 24px;//height of the spinner
				padding-left: 30px;//width of the spinner + 6px
				top: 50%; left: 50%;
				margin-top: -12px;
				margin-left: -51px;

				&::before {
					@include loadingSpinner($top: 0, $left: 0);
				}
			}
		}
	}

	.search-result {
		padding: 15px 85px 25px 79px;
		cursor: pointer;

		&.video {
			@include icon($search-video, $top: 18px, $left: 50px);
		}

		&.reading {
			@include icon($search-reading, $top: 18px, $left: 50px);
		}

		&.topic, &.note, &.topic-comment, &.thought, &.thought-comment, &.chat {
			@include icon($comment-small-dark_hover, $top: 18px, $left: 50px);
		}

		&.highlight {
			@include icon($search-highlight, $top: 18px, $left: 50px);
		}

		&.topic-comment {
			.title {
				margin-bottom: 20px;
			}
			.creator {
				display: none;
			}
		}

		&.chat {
			.meta {
				display: none;
			}

			.fragments {
				margin-bottom: 0;
				border: none;
				overflow: hidden;

				.avatar-container {
					float: left;
					width: 40px;
					height: 40px;

					&.hidden {
						display: none;
					}

					.avatar-pic {
						border-radius: 20px;
					}
				}

				.fragment {
					box-shadow: 1px 1px 10px -1px #999;
					background-color: $primary-blue;
					float: left;
					position: relative;
					border-radius: 5px;
					margin-left: 10px;

					&:last-of-type {
						box-shadow: 1px 1px 10px -1px #999;
					}

					&::after {
						display: none;
					}

					&::before {
						top: 0;
						left: -9px;
						position: absolute;
						content: url(../images/elements/other-bubble-tip.png);
					}
				}
			}

			&.me {
				.fragment {
					float: left;
					box-shadow: none !important;
					background: #fefefe;
					border: 2px solid #e3e3e3;
					margin-left: 15px;

					&::before {
						left: auto;
						top: auto;
						bottom: 4px;
						right: -9px;
						content: url(../images/elements/my-bubble-tip.png);
					}
				}
			}
		}

		.title {
			color: $secondary-grey;
			font-size: 1.125em;
			line-height: 1.34em;
			overflow: hidden;
			@include ellipse;
		}

		.creator {
			font-size: 0.625em;
			font-weight: 600;
			text-transform: uppercase;
			color: $primary-blue;
			display: inline-block;
			margin-bottom: 10px;
		}

		.fragments {
			border: 1px solid rgba(151,151,151,0.19);
			border-radius: 5px;
			margin-bottom: 10px;

			.fragment {
				font-size: 0.875em;
				line-height: 1.34em;
				padding: 10px 25px 10px 15px;
				box-shadow: 0 1px 0 0 rgba(151,151,151,0.19);

				@include icon($mv-dropdown-arrow_hover, $side: after, $top: 14px, $left: auto, $right: 20px);

				&::after {
					transform: rotate(-90deg);
					-webkit-transform: rotate(-90deg);
				}

				&:hover {
					@include icon($mv-dropdown-arrow, $side: after, $top: 14px, $left: auto, $right: 20px);
				}

				&:last-of-type {
					box-shadow: none;
				}

				hit, .term {
					font-style: normal;
					background: #fcff13;
					display: inline;
					box-shadow: 0 0 0 2px #fcff13,1px 1px 2px 2px rgba(0,0,0,0.2);
				}
			}
		}
		//comment-small-dark_hover, search-highlight, search-reading, search-video

		.meta {
			position: relative;

			.root-icon {
				position: absolute;
				top: 5px;
				left: 0;
				width: 20px;
				height: 20px;
				vertical-align: middle;
				margin-right: 6px;
				background-size: cover;
				border-radius: 3px;

				&.hidden {
					display: none;

					& + .path {
						margin-left: 0;
					}
				}
			}

			.list-item {
				display: inline-block;
				font-size: 0.625em;
				font-weight: 700;
				line-height: 1.4em;
				color: #168FE7;
				margin-right: 1em;
			}

			.path {
				position: relative;
				margin-left: 30px;
			}
		}
	}
}



.search-field-wrap {
	padding: 0;
	text-align: center;

	.search-field {
		display: inline-block;
		max-width: 600px;
		width: 96%;
		border: 1px solid #e7e7e7;
		border-radius: 3px;
		background: #f5f5f5;
		margin: 18px 0;
		white-space: nowrap;
		overflow: hidden;
		position: relative;

		.main-navigation.dark-nav & {
			background: #474747;
			border: 1px solid #232323;

			input {
				color: white;
			}

			.search-icon {
				border-left: none;
				background-color: #595959;

				@include icon($search-white-16x16, $side: after, $position: absolute, $top: 10px, $left: 10px);
			}
		}


		* {
			vertical-align: middle;
		}

		input {
			background: none;
			border: none;
			padding: 7px;
			padding-right: 0;
			font: 11pt $font;
			width: 100%;

			&::-webkit-input-placeholder ,
			&::-moz-placeholder { /* Firefox 18- */
				   color: red;
			}
		}

		a.trigger {
			display: none;
			right:0; top:0;
			position: absolute;
			background: url(../images/elements/search-nib.png) left center no-repeat;
			width: 20px;
			height: 36px
		}

		.search-icon {
			top: 0; right: 0;
			height: 36px;
			width: 35px;
			cursor: pointer;
			background-color: white;
			border-left: 1px solid #e7e7e7;

			@include icon($search, $side: after, $position: absolute, $top: 10px, $left: 10px);

			&::after {
				opacity: 0.7;
			}

			&:hover::after {
				opacity: 1;
			}
		}
	}
}


// .search-result-category {
// 	overflow: hidden;
// 	position: relative;
// 	margin: 0 0 3px 0;
// 	background: transparent;
// 	border: 1px solid #d2d2d2 !important;
// 	border-top-width: 0 !important;
// 	border-right-width: 0 !important;

// 	box-shadow: inset 1px 0 0 0 #ffffff,
// 				0 3px 0 0 #eaeaea;

// 	padding: 15px 12px 0 6px;

// 	.body {
// 		margin: 0 0 0 70px;

// 		.search-result {
// 			white-space: normal;
// 			margin: 0 0 20px 0;
// 			cursor: pointer;
// 			.title, .section {
// 				//Do we want search hits to not show the whole title?
// 				@include ellipse;
// 				overflow: hidden;
// 				color: $tertiary-grey;
// 				font-size: 10px;
// 				text-transform: uppercase;
// 				font-weight: 700;
// 			}

// 			.chapter {
// 				display: inline;
// 			}

// 			.section {
// 				text-transform: none;
// 				font-style: italic;
// 				font-size: 14px;
// 				font-weight: 600;
// 				padding-left: 2px;
// 			}

// 			.wrap {
// 				margin-top: 1em;
// 			}

// 			.name {
// 				@include menu-label-text-treatment;
// 			}

// 			.fragments, .noresults {
// 				white-space: normal;
// 				margin-top: 2px;
// 				color: $primary-grey;
// 				font-style: italic;
// 				font-size: 15px;
// 				.fragment{
// 					margin-top: 1em;
// 				}
// 				span, .term {
// 					background: #fcff13;
// 					display: inline-block;
// 					box-shadow:
// 						0 0 0 2px #FCFF13,
// 						1px 1px 2px 2px rgba(0,0,0,0.2);
// 				}
// 			}

// 		}

// 		.search-result-post{
// 			.tags{
// 				margin-top: 1em;
// 				overflow: hidden;
// 				@include ellipse;
// 			}
// 		}

// 		.see-all, .see-all a {
// 			color: $primary-blue;
// 			text-decoration: none;
// 			font-size: 11pt;
// 		}
// 	}
// 	.label {
// 		text-align: right;
// 		float: left;
// 		width: 60px;
// 		color: $secondary-grey;
// 		font-size: 10px;
// 		text-transform: uppercase;
// 		font-weight: 700;
// 		overflow: hidden;
// 		@include ellipse;
// 	}
// }

// #search-results {
// 	@include scrollbar(#ffffff, $tertiary-grey);
// 	@include fixIEScrollbarGulf();

// 	min-height: 40px;
// 	box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
// 	overflow:{
// 		x: hidden;
// 		y: auto; //scroll;
// 	}

// 	.search-result-category{
// 		@include animate(fadeInDown, 0.3s);
// 	}
// 	.x-mask-msg {
// 		top: 25px !important;
// 	}
// }
