.curtain {
	position: absolute;
	left: 0; top: 0; bottom: 0;
	cursor: pointer;
	//set the base size for all the subsequent ems
	font-size: 16px;
	background: {
		position: center center;
		repeat: no-repeat;
	}

	&.error {
		cursor: auto;
	}

	&.content-video-curtain{
		right: auto; bottom: auto;
		width: 640px !important;
		height: 360px !important;
	}

	&.context-video-curtain {
		right: auto; bottom: auto;
		width: 330px;
		height: 188px;
	}

	.ctr {
		position: absolute;
		overflow: visible;
		left: 50%;
		top: 50%;
		.play {
			position: relative;
			top: -1.375em;//half the line-height
			left: -50%;
		}
		.controls{
		    position: absolute;
		    overflow: visible;
		    left: 50%;
		    top: -40%;

		 	.edit {
			    padding: 5px 10px;
			    color: #3fb3f6;
			    margin: 5px;

				&:hover {
				    background-color: #3fb3f6;
				    color: #fff;
				    border-radius: 5px;
				}
			}
		}
	}

	.play {
		position: relative;
		border-radius: 5em;
		font: normal 400 1.1em/2.75em 'Open Sans Condensed', $font;
		min-height: 48px;
		min-width: 45px;
		color: #fff;

		.blur-clip,.blur {
			border-radius: 5em;
			position: absolute;
			top: 0; left: 0;
			bottom: 0; right: 0;
			overflow: hidden;
		}

		.blur {
			background: {
				position: center center;
				size: 512px auto;
				repeat: no-repeat;
			}
			@include blur-effect();
		}

		.launch-player {
			display: none;
		}

		.error {
			background-color: rgba(0, 0, 0, 0.68);
			-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 3px 0 black;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15), 0 0 3px 0 black;
			border-radius: 5em;
			overflow: hidden;
			padding: 0 15px;
			max-width: 400px;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: relative;
		}

		.label {
			background-color: rgba(0,0,0,0.68);
			box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15),//stroke
						0 0 3px 0 black;//shadow
			border-radius: 5em;
			overflow: hidden;
			padding: 0 15px 0 50px;
			max-width: 400px;
			@include ellipse();
			position: relative;
		}

		.launch-player{
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50px;
			border-radius: 50px;
			@include icon($play, $position:absolute, $top:2px, $left:5px);
		}

		&.transcripts {
			.label{
				padding-right: 60px;
				@include icon($play-transcript,$top:3px,$right:3px, $left:auto);
			}
		}
	}
}


.content-video-container {
	.content-video-curtain {
		z-index: 1;
	}

	&.playing, .no-poster {
		.content-video-curtain {
			display: none;
		}
	}
}

.body-divider {
	.video-placeholder {
		cursor: pointer;
		position: relative;

		.play {
			top: 50%; left: 50%;
			margin-top: -23px;
			margin-left: -23px;
			width: 46px;
			height: 46px;
			background: rgba(0, 0, 0, 0.68);
			box-shadow: 0 0 3px 0 #000;
			border-radius: 48px;
			@include icon($play, $position: absolute, $side: after, $top: 50%, $left: 50%);

			&::after {
				margin: -21px 0 0 -21px;
			}
		}

		img {
			width: 100%;
		}
	}
}

.video-window {
	.video-window-container {
		padding: 30px;
		position: relative;
		.controls {
			display: none;
		}

		.close {
			cursor: pointer;
			top: 0; right: 0;
			width: 26px;
			height: 26px;
			display: inline-block;
			@include icon($close_popup, $position: absolute);

		}
	}
}
