.x-component-branding {
	//in the library view, turn this on to show the logo/message box
	display: block;
	margin: 20px 0 20px 0;

	.logo{
		display: inline-block;
		&::after{
			content: url(osu_logo.png);
			height: 118px;
			width: 148px;
			display: block;
		}
	}

	.box{
		display: none;
	}
}
