#css and sass
.sass-cache
src/main/resources/css
src/main/resources/images/elements-*png
src/main/resources/images/icons-*png
src/main/resources/images/sprite.png
src/main/resources/scss/_icons.scss

#ignore minification byproducts
stage
dist
reports
node_modules
npm-debug.log
