{
	"extends": "@nti/codestyle-jsx/stylelint",
	"rules": {
		'at-rule-no-unknown': [true, {
			'ignoreAtRules': [
				'at-root',
				'each',
				'for',
				'function',
				'if',
				'include',
				'mixin'
			]
		}]
	}
}
