#account_options{white-space:nowrap;height:30px;padding-right:5px}


#gbi4t{zoom:1}

.ntbc{display:block;list-style:none;margin:0;padding:0}

.ntb{position:relative;display:-moz-inline-box;display:inline-block;line-height:27px;padding:0;vertical-align:top}
.ntb{*display:inline}

.account_options_item{cursor:pointer;display:block;text-decoration:none !important}

.ntbs{border-left:1px solid transparent;border-right:1px solid transparent;display:block;*display:inline-block;padding:0 5px;position:relative;z-index:1000}
.ntbs{*display:inline}

#account_options .account_options_item{color:#ccc!important}

.ntbb2{display:block;border-top:2px solid transparent}
.ntbb .ntbs{background:url(//ssl.gstatic.com/gb/images/h_bedf916a.png);_background:url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);background-position:-27px -22px;border:0;font-size:0;padding:29px 0 0;*padding:27px 0 0;width:1px}

.account_options_item:focus{background-color:#4c4c4c;background-image:none;_background-image:none;background-position:0 -102px;background-repeat:repeat-x;outline:none;text-decoration:none !important}

#account_options6.account_options_item:focus{background-color:transparent;background-image:none}

.account_options4a{font-size:0;line-height:0}
.account_options4a .ntbs{padding:27px 5px 0;*padding:25px 5px 0}

#gbi4i,
#gbi4id{left:5px;border:0;height:24px;position:absolute;top:1px;width:24px}

.gbi4p{display:block;width:24px}
#gbi4id{background:url(//ssl.gstatic.com/gb/images/h_bedf916a.png);_background:url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);background-position:-29px -54px}

#account_options5{font-size:0}
#account_optionss5{padding:5px !important}

#gbi5{background:url(//ssl.gstatic.com/gb/images/h_bedf916a.png);_background:url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);background-position:0 0;display:block;font-size:0;height:17px;width:16px}


#account_optionss1{text-align:center}
#gbi1{color:#fff;display:block;font-size:11px;font-weight:bold;position:relative;width:21px}
#gbi1a{background:url(//ssl.gstatic.com/gb/images/h_bedf916a.png);_background:url(//ssl.gstatic.com/gb/images/h8_3dd87cd8.png);background-position:0 -274px;position:absolute;right:5px;top:3px;height:20px;width:21px}
#gbi1a.gbid{background-position:-26px -274px}
#gbi1.gbids{color:#999}