:global(.main-navigation.dark-nav) :global(.chat-notifications-icon).icon::after,
:global(.main-navigation) :global(.chat-notifications-icon).icon::after {
	background-image: url('./assets/icon-white.svg');
	background-position: center;
	opacity: 1;
}

:global(.main-navigation.dark-nav) .dark :global(.chat-notifications-icon).icon::after,
:global(.main-navigation) .dark :global(.chat-notifications-icon).icon::after {
	background-image: url('./assets/icon-dark.svg');
}
