.name-column {
	/* placeholder */
}

.cell {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.cell svg,
.cell img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-right: 20px;
}

.user-info {
	composes: veridically-center from './column.css';
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 150px);
}

.username {
	font-size: 14px;
	line-height: 19px;
	color: var(--primary-grey);
	white-space: nowrap;
}

.email {
	font-size: 14px;
	line-height: 19px;
	color: var(--secondary-grey);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
