.users-table-container {
	.select-col {
		width: 70px;
	}

	tbody {
		.select-col {
			.checkbox-component {
				padding-left: 30px;
				position: relative;
				top: 20px;
			}

			&.row-selected {
				&, & ~ td {
					background-color: rgba(63, 179, 246, 0.05);
				}
			}
		}
	}
}
