@import "~@nti/style-common";

.admin-toolbar {
	margin-bottom: 30px;
	display: flex;

	.title {
		font: normal 300 1.25em/2em "Open Sans", sans-serif;
		color: white;
		margin-right: 0.8em;
		flex: 0 0 auto;
	}

	.space {
		flex: 1 1 auto;
	}

	.controls {
		flex: 0 0 auto;
		display: flex;

		.gear-button, .admin-nav {
			width: 40px;
			background-color: #555;
			height: 40px;
			border-radius: 30px;
			margin-right: 10px;
			font-size: 26px;
			padding: 4px 4px 4px 7px;
			color: white;
			cursor: pointer;
		}
	}
}
