@import '~@nti/style-common';

.content-table-pager {
	display: flex;
	padding-top: 2.5rem;
	width: fit-content;
	margin: 0 auto;

	.page {
		cursor: pointer;
		height: 40px;
		width: 40px;
		line-height: 40px;
		text-align: center;
		border: 1px solid #e2e2e2;
		color: $secondary-grey;
		margin: 0 5px;

		&.selected {
			background-color: $primary-blue;
			color: white;
			border: 1px solid $primary-blue;
		}
	}
}
