.community-override-paging-window {
	justify-content: flex-start;
	padding: 20px 0 0;
	top: 70px;/* height of the header */

	--prompt-paging-window-header-sticky-top: -20px;
}

:global(html.msg-bar-open) .community-override-paging-window {
	top: 110px; /* height of the header with a message */
}

:global(html.prompt-open) .community-override-paging-window {
	z-index: 100;
}

.community-view-override {
	--community-sidebar-top-offset: 90px;
}

:global(html.msg-bar-open) .community-view-override {
	--community-sidebar-top-offset: 130px;
}
