@import '~@nti/style-common';

.site-admin-invite-people-dialog {
	background-color: white;
	width: 760px;

	.contents {
		max-height: calc(100vh - 200px);
		min-height: 411px;
		overflow-y: auto;

		.label {
			margin-top: 0.75rem;
			margin-left: 1.25rem;
			font-size: 14px;
			color: $tertiary-grey;
			width: 2rem;
		}

		.invite-people-to-field {
			display: flex;
			border-bottom: solid 1px #ddd;
			border-top: solid 1px #ddd;

			.token-editor {
				flex-grow: 1;
				border: none;
				min-height: 1.5rem;

				input.token {
					width: 12rem;
				}
			}

			.label {
				width: auto;
			}

			.nti-file-input {
				span.button.file-picker {
					line-height: rem-calc(30px);
					margin-top: rem-calc(5px);
				}
			}

			.file-pill-wrap {
				font-size: 0.875rem;
				padding: 0.375rem;
				background: white;
				min-height: 1.5rem;
				line-height: 1.28571;

				.file-pill {
					display: inline-block;
					background: #fbfbfb;
					border: 1px solid #e2e2e2;
					padding: 0.1875rem 0.5rem 0.3125rem 0.75rem;
					color: #757474;
					font-size: 0.875rem;
					line-height: 1.28571;
					margin: 0.1875rem;

					i.icon-bold-x {
						color: #b8b8b8;
						cursor: pointer;
						margin-left:  0.375rem;
					}
				}
			}

		}

		.invite-people-role-field {
			display: flex;
			border-bottom: solid 1px #ddd;

			.select-box {
				.option-label {
					font-size: 14px;
				}

				.menu-label {
					line-height: 2.75rem;
					font-size: 14px;
					font-weight: 400;

					&::after {
						font-size: 0.65rem;
					}
				}

				ul {
					padding-left: 0;
					padding-right: 10px;
					font-weight: 400;

					li {
						line-height: 1.5rem;
					}
				}

				&.open {
					.menu-label.selected {
						background: white;
						color: $primary-grey;
					}
				}
			}
		}

		.invite-people-message-field {
			.textarea-container {
				border: none;
				box-shadow: none;
				padding: 0.75rem;
				background-color: white;
				height: 20rem;

				textarea {
					height: 100%;
				}
			}
		}
	}

	.dialog-buttons {
		button.cancel {
			text-decoration: none;
		}
	}
}
