.library-redemption {
	padding: 20px 34px;
	margin: 2em 0 2.5em;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;

	.redeemLabel {
	    flex: 0 1 100%;
		color: #494949;
	    float: left;
	    font: normal 300 1.125em/1 "Open Sans", sans-serif;
	    margin-bottom: 10px;
	}

	.common-form {
		display: flex;
	}


	.error-label {
	    color: #F35252;
	    font: 200 14px 'Open Sans';
	}

	.form-container {
	    width: 100%;
		height: 40px;
		
		.invitation_codes {
		   width: 22%;
		}

		input[name="invitation_codes"] {
		    width: 100%;
			font-size: 14px;
			margin-bottom: 1.25em;
			padding: 0.65em;
		    font-family: "Open Sans", sans-serif;
		    font-style: italic;
		    color: #494949;
		    border: none;
		    box-shadow: 0 0 0 1px #d8d8d8;
		    border-radius: 2px;
		}

		.reedem {
		    background-color: #3fb3f6;
		    color: white;
		    font-size: 14px;
		    display: inline-block;
		    font-family: "Open Sans", sans-serif;
		    font-weight: 500;
		    border-radius: 2px;
		    cursor: pointer;
		    margin-left: 8px;
		    height: 39px;
		    width: 90px;
		}

		.redeem[disabled="disabled"]{
			background-color: #b8b8b8;
		    cursor: inherit;
		}

		&.error {
			.reedem {
		    	background-color: grey;
		    	opacity: 0.65;
		    	pointer-events: none;
			}
			input[name="invitation_codes"] {
			    box-shadow: 0 0 0 1px #F35252;
			}
		}
	}

	.redeem-controls {
		margin-left: 5px;

	}
}
