.invite-form {
	width: 500px;
	textarea {
		font: italic 100 22px 'Open Sans';
		color: #b8b8b8;
		margin: 1px 0 -5px;
		padding: 15px;
		resize: none;
		width: 100%;
		height: 217px;
		box-shadow: 0 0 0 1px #d8d8d8;
	}

	.msg-container {
		color: white;

		.msg {
			line-height: normal;
    		padding: 8px 0px 8px 15px;
			font: 100 14px 'Open Sans';
			&.error {
				background-color: #F35252;
			}
		}
		&.hidden {
			display: none;
		}
	}

	.control {
		&.upload {
			width: 63px;
			height: 24px;
			position: absolute;
		    top: 13px;
		    right: 15px;
			padding: 6px 0 0 18px;
			cursor: pointer;
			color: #e1e1e1;
			background-color: #757474;
			border-radius: 3px;
			font-size: 10px;
			text-align: center;
			input[type="file"] {
				opacity: 0;
				width: 64px;
				height: 26px;
				cursor: pointer;
				position: absolute;
				left: 0;
				top: 0;
			}
			&:before {
				content: '';
				background-image: url("/app/resources/images/icons/email.png");
				background-repeat: no-repeat;
				height: 14px;
				width: 15px;
				left: 7px;
				position: absolute;
				top: 6px;
			}
		}
	}

	.field.emails {
		overflow: hidden;
	    background-color: #fbfbfb;
	}

	.email-token-field.x-component-tokens {
    	margin: 7px 10px 6px 15px;
		max-height: 50px;

		&.focused {
			max-height: 182px;
			min-height: 30px;
			overflow-y: auto;
			display: flex;
			flex-wrap: wrap;

			.token {
			    background: white;
			    font-family: 'Open Sans';
			    color: #757474;
			    font-size: 14px;
			    border: 1px solid #E2E2E2;
			    border-radius: 4px;
			    padding: 3px 5px 7px 10px;
			    text-transform: none;
			    margin-right: 3px;
			    flex: 0 0 auto;
			    max-width: 100%;

				&:hover {
					position: relative;
					z-index: 2;
				}
				.x {
					display: inline-block;

					&::after {
						content: '';
						display: block;
						position: absolute;
						background-image: url("/app/resources/images/icons/grey-x-8.png");
						width: 10px;
						height: 11px;
						background-repeat: no-repeat;
						top: 5px;
						left: 3px;
						cursor: pointer;
						background-position: center;
					}
				}

				&.invalid {
					color: #F35252;
					border-color: #F35252;

					.x {

						&::after {
							background-image: url("/app/resources/images/icons/red-x-8.png");
						}
					}

				}
			}

			.token-input-wrap {
				margin: 3px 0px 3px 0px;
			}
			.email-count {
				display: none;
			}
		}

		&:not(.focused) {
			height: 30px;
			margin: 9px 10px 11px 15px;

			.token {
				border: none;
				background: none;
				text-transform: none;
				padding: 0;
				font-size: 12px;

				&:not(:last-child):after {
					content: ',';
				}

				&:hover {
					color: #757474;
					border: none;
					background: none;
					padding: 0;
					margin-right: 3px;
					position: relative;
					z-index: 2;
					cursor: text;
				}
				.x {
					display: none;
				}
			}
			.token-input-wrap {
				width: 15%;
				input[type="text"] {
					font-size: 12px !important;
					padding-top: 1px;
				}
			}
			.email-count {
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 14px;
				font-weight: 100;
				color: #3fb3f6;
				display: block;
			}
		}

		.token-input-wrap {
			word-break: break-all;
			flex: 1 1 auto;

			input[type="text"] {
				background-color: #fbfbfb;
				text-transform: none;
				font: normal 300 14px "Open Sans", sans-serif !important;
			}

			&.initial {
			    min-width: 134px;
			}
		}
	}
}
