.nti-web-app-lesson-items-modal {
	justify-content: flex-start;
	padding: 20px 0;
	top: 70px;/*height of the header*/

	--course-content-viewer-header-position: sticky;
	--course-content-viewer-header-top: -20px;

	--note-sidebar-sticky-top: -18px;
}

.nti-web-app-lesson-items-modal :global(.modal-content) {
	width: 100vw;
	max-width: 994px;
	max-height: initial;
}

.nti-web-app-lesson-items-modal :global(.nti-course-content > section) {
	padding-bottom: 40px;
}

:global(.media-viewer-open) .nti-web-app-lesson-items-modal {
	z-index: 1 !important; /* don't want the lesson rendering on top of the media viewer */
}

:global(html.msg-bar-open) .nti-web-app-lesson-items-modal {
	top: 110px; /* height of the header with a message */
}
