//uncomment to test the file by itself
//$exttheme: 'ext';

$ext-text-entry: '#{$exttheme}/form/text-bg.gif';
$class-script-entry-promot-icon: '../images/chat/script-promote-16.png';
$chat-icon: '../images/chat/speachbubble.png';
$chat-menu-icon: '../images/chat/chat-16.png';
$chat-pin: '../images/chat/chat-pin-64.png';
$chat-reply-public: '../images/chat/re-32.png';
$chat-reply-whisper: '../images/chat/re-16.png';
$flag-icon: '../images/chat/flag-16.png';
$flag-icon-disabled: '../images/chat/flag-16-disabled.png';
$presences-offline: '../images/core/offline.png';
$presences-online: '../images/core/online.png';
$shadow-menu-icon: '../images/chat/shadow-user-16.png';

$reply-to-button-icon: '../images/chat/submit-22.png';
$compose-message-icon: '../images/chat/compose-message.png';
$switch-to-classroom-icon: '../images/chat/classroom-22.png';

@mixin action-buttons {
	position: absolute;
	display: none;
	right: 5px;
	top: 5px;
	height: 24px;
	cursor: pointer;
	overflow: hidden;
}

@mixin action-buttons-item {
	width:16px;
	height:16px;
	margin:2px;
	display: inline-block;
	vertical-align:middle;
	opacity:0.4;
}

@mixin chat-icon-props {
	background: url($chat-icon);
}

@mixin flag-icon-props {
	background: url($flag-icon);
}

@mixin flag-icon-disabled-props {
	background: url($flag-icon-disabled);
}

@mixin hover-state-props {
	background-color: #7889A3 !important;
	color: white;
}

@mixin list-entry {
	position: relative;
	overflow: hidden;
	padding: 10px 5px;
	cursor: pointer;

	div {
	    margin-left: 22px;
		.moderated & { margin-left: 37px; }
	}

	img { float: left; }

 	input { float: left; margin:  0; }

 	.timestamp {
 	    color: #7a7a7a;
 	    float: right;
 	    font-size: 9px;
 	    padding:  0 0 5px 10px;
	}
  	.name {
  	    font-weight: bold;
  	    color: #7889A3;
  	}

  	&:hover,
	&.selected {
		@include hover-state-props;
		.timestamp { visibility: hidden; }
		.name {
			color: black;
		}
	}
}

.chat { @include chat-icon-props; }

.chat-entry {
	float: none !important;
	.x-form-item-body {
	    input {
			padding-top: 5px;
			border: none;
		}
    }
}

.chat-window {
	.flag {
		@include flag-icon-props;
		.x-disabled & {
			@include flag-icon-disabled-props;
		}
	}

}

.x-chat-log-entry {
	@include list-entry;
	span.reply {
	    @include action-buttons;
	 	span {
	 	    @include action-buttons-item;
			&:hover { opacity: 1; }

			&.reply-whisper { background: url($chat-reply-whisper); }
			&.reply-public{
				width:22px;
				height:22px;
				background-size:22px 22px;
				background: url($chat-reply-public);
			}
			&.pin{
				@extend .reply-public;
				background: url($chat-pin);
				display: none;
				.moderator & {display: inline-block;}
			}
	 	}
	}

	&:hover,
	&.selected {
	 	span.reply { display: block; }
	}

	.flagged & {
		background-color: #ffdddd;
		color: black;
		&.selected,
		&:hover {
			background-color: #fa8072 !important;
		}
	}

	.shadowed & {
    	background-color: #f2eeee;
    	color: black;
		&.selected,
		&:hover {
			background-color: #cecece !important;
		}
    }
}

.x-chat-friend-entry {
    @include list-entry;
    padding: 5px 5px 5px 25px;
	background: url($presences-offline) no-repeat 5px center;
	&.Online { background: url($presences-online) no-repeat 5px center; }
    &.drag-hover { @include hover-state-props; }

    .name {
		font-weight: normal;
		color: black;
	}
}

.x-on-deck-log-entry {
    @include list-entry;

    .promoted & { background-color: #cecece !important; }

	&:hover span.buttons { display: block; }
	span.buttons {
		@include action-buttons;
		span{
			@include action-buttons-item;
			&:hover { opacity: 1; }
		}
	}

	span.script-to-chat { background: url($class-script-entry-promot-icon); }
}

.x-chat-replies {
	clear: both;
	padding-left: 15px;

	.x-form-cb-checked & {
		.x-form-checkbox {
			background-position: 0 0;
			.x-form-cb-checked & { background-position: 0 -13px; }
		}
	}
}

.reply-to-button {
	button { width: 32px !important; }
	.x-btn-icon{
		width: inherit;
		height: inherit;
		background: url($reply-to-button-icon) center;
	}
}

.compose-msg-button .x-btn-icon{
	width: inherit;
	height: inherit;
	background: url($compose-message-icon) center no-repeat;
}

.classroom-button .x-btn-icon{
	width: inherit;
	height: inherit;
	background: url($switch-to-classroom-icon) center no-repeat;
}

.reply-to-line .chat-entry .x-form-item-body {
	background: url($ext-text-entry) repeat-x;
	height: 30px !important;

	input.x-form-text {
		padding-left: 10px;
		height: 30px !important;
	}
}

.x-chat-log-entry-pinned {
	position: relative;
	padding: 10px;
	overflow: hidden;

	div.icon {
		float: left;
		width: 32px;
		overflow: hidden;
		text-align: center;

		img { display: block; }
		.name { font-size: 0.8em; }
	}

	div.body {
		margin-left: 50px;
		font-size: 1.5em;
		font-family: georgia,serif;
	}
}

.shadow-menu { background-image: url($shadow-menu-icon); }
.chat-menu { background-image: url($chat-menu-icon); }
