.script-log-view {
	div.x-panel-header,
	div.x-toolbar {
		border-top-width: 0 !important;
		border-bottom-width: 0 !important;
	}
}


.nti-classroom-management {
	.x-panel-body{
		border-left-width: 2px !important;
		.x-panel-body{
			border-left-width: inherit !important;
		}
	}
}

.notify {
	$color:#dc322f;
	background-color: $color;
	border-color: $color;

	.x-panel-body {
		background-color: $color + #909090;
		color: $color;
		font-size: 1.1em;
		padding: 4px;
	}

	.message .x-panel-body {
		padding: 0.5em;
		height:auto !important;
	}
}

.x-class-resourceview-panel {
	@include data-view;

	&.drop-over {
		background: #ccffcc;
	}

	.empty {
    	height: 100%;
    	background: $empty-class-resources-bg center no-repeat;
	}

	.header{
	    border-bottom: 1px solid black;
	 	margin: 4px;
	 	margin-right: 0;
	 	padding: 5px;

	    * { margin-right: 5px; }

		span {
			font-weight: bold;
			display: inline-block;
			width: 200px;
		}

		img {
		    height: 24px;
			width: 24px;
			vertical-align: middle;

			background: transparent !important;
		}
	}
	
	.item-wrap {
//		position: relative;

		&.details {
			float: none;
			margin: 4px;
			white-space: nowrap;
			overflow: hidden;

			span {
				display: inline-block;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 200px;
			}

			.item {
				background: transparent;

				* { margin-right: 5px; }

				img {
					height: 24px;
					width: 24px;
					vertical-align: middle;


					//default icons
					&[src^="data:image"] {
					    background-size: 24px 24px;
					    background: $file-type-unknown;

						&.ai { background: $file-type-ai; }
						&.doc { background: $file-type-doc; }
						&.pdf { background: $file-type-pdf; }
						&.pps { background: $file-type-pps; }
						&.ppt { background: $file-type-ppt; }
						&.swf { background: $file-type-swf; }
						&.xls { background: $file-type-xls; }
						&.zip { background: $file-type-zip; }
					}

					//thumbnail icon.
					&[src*="://"]{}
				}

				.x-quirks & {
					padding-bottom: 3px;
					text-align: left;
				}
			}
		}
	}
}

.classroom-chooser {
	a {
		@include system-link-def;
		&:link,
        &:visited,
        &:active {
            @include system-link-def;
        }
	}

	h2 { font-size: 150%; }

	hr {
	    border: 1px solid #000;
		border-bottom: none;
	}
}

.classroom-browser {
	//@include data-view;

	.item-wrap {
		margin: 4px;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		overflow: hidden;
		padding: 5px;
		cursor: pointer;

		.item {
		    background: transparent;

			img {float: left; width: 24px; height: 24px;}
			div {margin-left: 30px;}
			span{ font-size: 150%; }

			.selector{
				display: none;
				float: right;
				padding-top: 3px;
			}
		}

		&.x-item-over{
			border:1px solid #dddddd;
			background: #efefef $data-view-over-bg repeat-x left top;
			padding: 4px;

			.item .selector{
				display: block;
			}
		}

		&.x-item-selected{
			background: #eff5fb $data-view-selected-bg repeat-x right bottom;
			border:1px solid #99bbe8;
			padding: 4px;
		}
	}
}
