
.filter-controls {

	.the-who {
		padding-left: 22px;
		padding-top: 1px;
		height: 17px;
		background: url($filter-who-icon-sprite) no-repeat 1px 1px;
	}

	.x-form-item-body {
		.no-filter & {
			@extend .the-who;
		}
		.user-filter & {
			@extend .the-who;
			background-position: 1px -17px;
		}
		.user-group & {
			@extend .the-who;
			background-position: 1px -35px;
		}
		.system-group & {
			@extend .the-who;
			background-position: 1px -53px;
		}

		.type-filter & {
			@extend .the-who;
			background: url($filter-type-unknown-icon) no-repeat left center;
		}
		.type-filter.note &{
			background: url($filter-type-note-icon) no-repeat left center;
		}
		.type-filter.highlight &{
			background: url($filter-type-highlight-icon) no-repeat left center;
		}
	}
}
