a{
    &.internal-link {
		color: $external-link-color;
		text-decoration: none;
		cursor: pointer;
		line-height: 1.5em;

		&:active { @extend .internal-link; }
		&:hover { @extend .internal-link; }
		&:visited { @extend .internal-link; }
	}
	#NTIContent &{ @extend a.internal-link; }
}


/* Fix strange CSS behavior ...menu item links' style were not correctly applying...this seems to fix it.*/
.x-menu-item-link,
.x-menu-item-text {
	color: $ui-link-color;
}
