
.whiteboard-toolbar {
	.x-btn-icon{
		&.tool{
			background: $whiteboard-tools-sprite;
			width: 20px !important;

			&.rect {	background-position: -78px -2px;/*-5px -2px*/ }
			&.circle {	background-position: -55px -2px; }
			&.line {	background-position: -154px -2px; }
			&.path {	background-position: -179px -2px; }
			&.text {	background-position: -129px -2px; }
			&.delete {	}
			&.hand {		}
		}
	}
}

.whiteboard .x-surface {
	cursor: crosshair;
}
