@import "~@nti/style-common";

.course-resources-reading-list-item {
	display: flex;
	margin: 10px 0;
	box-shadow: inset 0 -1px 0 0 #f5f5f5;
	padding-bottom: 10px;

	.meta {
		flex: 1 1 auto;
		display: flex;
		flex-direction: row;
		align-items: start;
	}

	.icon {
		flex: 0 0 38px;
		min-height: 50px;
		min-width: 38px;
		height: 50px;
		width: 38px;
		margin-right: 15px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.wrap {
		flex: 1 1 auto;
	}

	.edit {
		flex: 0 0 100px;
		color: $primary-blue;
		text-align: right;
		font-size: .875rem;
		margin-right: 40px;
		vertical-align: middle;
		line-height: 50px;

		& span {
			cursor: pointer;
		}
	}

	.published, .modified {
		flex: 0 0 150px;
		color: $tertiary-grey;
		font-size: .875rem;
		line-height: 50px;
		vertical-align: middle;
	}
}
