.x-breadcrumbs-bar .x-btn-arrow {
    background-image: url('../../ext-4.0.7/resources/themes/images/gray/menu/menu-parent.gif');
    padding-right: 20px;
}
.x-breadcrumbs-bar .x-breadcrumb-end .x-btn-arrow {
    background-image: none;
    padding-right: 5px;
}

.x-breadcrumbs-bar .x-item-disabled .breadcrumb-next{
    background: url(../images/page-next-disabled.gif);
}
.x-breadcrumbs-bar .breadcrumb-next{
    background: url(../images/page-next.gif);
}
.x-breadcrumbs-bar .x-item-disabled .breadcrumb-prev{
    background: url(../images/page-prev-disabled.gif);
}
.x-breadcrumbs-bar .breadcrumb-prev{
    background: url(../images/page-prev.gif);
}
