
.chat {
    background: url('../images/speachbubble.png');
}

.chat-entry .x-form-item-body input {
    padding-top: 5px;
    border: none;
}

.chat-entry {
    float: none !important;
}

.chat-window .flag {
    background: url('../images/flag-16.png');
}

.chat-window .x-disabled .flag {
    background: url('../images/flag-16-disabled.png');
}

.x-chat-log-entry:hover,
.x-chat-log-entry.selected,
.x-chat-friend-entry:hover,
.x-chat-friend-entry.drag-hover {
    background-color: #7889A3 !important;
    color: white;
}

.x-chat-log-entry:hover .name,
.x-chat-log-entry.selected .name {
    color: black;
}

.flagged .x-chat-log-entry.selected,
.flagged .x-chat-log-entry:hover {
    background-color: #fa8072 !important;
}

.flagged .x-chat-log-entry {
    background-color: #ffdddd;
    color: black;
}

.x-chat-log-entry span.reply {
    position: absolute;
    display: none;
    right: 5px; top: 5px;
    height: 24px;
    cursor: pointer;
    overflow: hidden;
}

.x-chat-log-entry span.reply-public {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 2px;
    background: url("../images/replyTo-arrow-18.png");
}
.x-chat-log-entry span.reply-whisper {
    width: 16px;
    height: 16px;
    margin: 2px;
    display: inline-block;
    background: url("../images/replyTo-arrow-16.png");
}


.x-chat-log-entry:hover span.reply {
    display: block;
}

.x-chat-log-entry .timestamp {
    float: right;
    padding:  0 0 5px 10px;
}

.x-chat-log-entry:hover .timestamp {
    visibility: hidden;
}

.x-form-cb-checked .x-chat-replies .x-form-cb-checked .x-form-checkbox {
    background-position: 0 -13px;
}
.x-form-cb-checked .x-chat-replies .x-form-checkbox {
    background-position: 0 0;
}

.x-chat-replies {
    clear: both;
    padding-left: 15px;
}

.x-chat-friend-entry,
.x-chat-log-entry {
    position: relative;
    overflow: hidden;
    padding: 10px 5px;
    cursor: pointer;
}

.x-chat-friend-entry {
    padding: 5px 5px 5px 25px;
    background: url(../images/offline.png) no-repeat 5px center;
}

.x-chat-friend-entry.Online {
    background: url(../images/online.png) no-repeat 5px center;
}

.x-chat-log-entry div,
.x-chat-friend-entry div {
    margin-left: 22px;
}

.x-chat-log-entry.moderated div {
    margin-left: 37px;
}

.x-chat-log-entry img,
.x-chat-log-entry input,
.x-chat-friend-entry img {
    float: left;
}

.x-chat-log-entry input {
    margin:  0;
}

.x-chat-log-entry .name {
    font-weight: bold;
    color: #7889A3;
}
.reply-to-button button{
    width: 32px !important;
}
.reply-to-button .x-btn-icon{
    width: inherit;
    height: inherit;
    background-image: url("../images/br_up.png");
    background-position: center;
}

.reply-to-line .chat-entry .x-form-item-body {
    background-image: url('../../extjs/resources/themes/images/gray/form/text-bg.gif');
    background-repeat: repeat-x;
    height: 30px !important;
}

.reply-to-line .chat-entry .x-form-item-body input.x-form-text {
    background: url("../images/br_next.png") no-repeat 2px center;
    padding-left: 20px;
    height: 30px !important;
}