.notification-popover .x-stream-entry > .x-panel-body {
    padding: 10px;
}

.x-real-name-field input.x-form-text{
    padding: 0.2em .5em; /*1em;*/
    font-size: 2em;
    height: 55px;
}

.object-explorer {
    background: url('../images/objects16.png');
}


.x-chat-log-entry:hover,
.x-chat-log-entry.selected,
.x-chat-friend-entry:hover,
.x-chat-friend-entry.drag-hover,
.x-mini-stream-entry:hover {
    background-color: #7889A3 !important;
    color: white;
}

.x-chat-log-entry:hover .name,
.x-chat-log-entry.selected .name {
    color: black;
}

.flagged .x-chat-log-entry.selected,
.flagged .x-chat-log-entry:hover {
    background-color: #fa8072 !important;
}

.flagged .x-chat-log-entry {
    background-color: #ffdddd;
    color: black;
}

.tracker-tip .tracker-tip-title {
    display: block;
    font-weight: bold;
}

.tracker-tip .tracker-tip-label {
    display: block;
}

.tracker-tip-container,
.tracker-tip {
    background: #ffffff;
}

.tracker-top-container .x-tip-body .tracker-tip{
    padding: 0;
}

.x-chat-log-entry .timestamp {
    float: right;
    padding:  0 0 5px 10px;
}

.tracker-tip,
.x-chat-friend-entry,
.x-chat-log-entry,
.x-mini-stream-entry {
    position: relative;
    overflow: hidden;
    padding: 10px 5px;
    cursor: pointer;
}

.tracker-tip div {
    margin-left: 40px;
}

.x-chat-friend-entry {
    padding: 5px 5px 5px 25px;
    background: url(../images/offline.png) no-repeat 5px center;
}

.x-chat-friend-entry.Online {
    background: url(../images/online.png) no-repeat 5px center;
}

.x-chat-log-entry div,
.x-chat-friend-entry div,
.x-mini-stream-entry div {
    margin-left: 22px;
}

.x-chat-log-entry.moderated div {
    margin-left: 37px;
}

.tracker-tip img,
.x-chat-log-entry img,
.x-chat-log-entry input,
.x-chat-friend-entry img,
.x-mini-stream-entry img {
    float: left;
}

.x-chat-log-entry input {
    margin:  2px 5px 0 0;
}

.x-mini-stream-entry.read {
    background-color: #D8D8D8;
    margin: 0;
}
.x-mini-stream-entry.unread {
    background-color: white;
    font-weight: bold;
}
.x-stream-entry {
    margin-bottom: 5px;
}

.x-stream-entry img {
    margin-right: 5px;
}

.x-stream-entry .stream-text{
    font-size: 1.2em;
    line-height: 1.5em;
}

.x-chat-log-entry .name,
.x-stream-entry .stream-username,
.x-stream-entry .stream-username .x-panel-body-default {
    font-weight: bold;
    color: #7889A3;
}