.x-dataview-panel .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}

.x-dataview-panel .item{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks .x-dataview-panel .item {
    padding-bottom: 3px;
}

.x-dataview-panel .item img{
    height: 80px;
    width: 80px;
}
.x-dataview-panel .item-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.x-dataview-panel .item-wrap span {

    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; // for ie to ensure that the text is centered
}

.x-dataview-panel .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/over.gif) repeat-x left top;
    padding: 4px;
}

.x-dataview-panel .x-item-selected{
    background: #eff5fb url(../images/selected.gif) no-repeat right bottom;
    border:1px solid #99bbe8;
    padding: 4px;
}
.x-dataview-panel .x-item-selected .item{
    background:transparent;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}