.mode-switcher {
    padding-top: 4px;
}

.mode-switcher .mode-button,
.mode-switcher .mode-button button
{
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    width: 32px !important;
    height: 32px;
}
.mode-switcher .mode-button.x-pressed{
    /*background: white;*/
}

.x-gecko .mode-switcher .mode-button .x-btn-icon{
    top: -6px;
}

.mode-switcher .mode-button .x-btn-icon{
    background-image: url('../images/nti-pc-icons-masthead.png');
    width: 30px;
    height: 30px
}

.mode-switcher .home-mode-icon{
    background-position: -5px -3px;
}
.mode-switcher .x-pressed .home-mode-icon{
    background-position: -5px -39px;
}

.mode-switcher .reader-mode-icon{
    background-position: -41px -4px;
}
.mode-switcher .x-pressed .reader-mode-icon{
    background-position: -40px -40px;
}

.mode-switcher .stream-mode-icon{
    background-position: -74px -5px;
}
.mode-switcher .x-pressed .stream-mode-icon{
    background-position: -74px -40px;
}

.mode-switcher .groups-mode-icon{
    background-position: -109px -5px;
}
.mode-switcher .x-pressed .groups-mode-icon{
    background-position: -109px -41px;
}

.mode-switcher .classroom-mode-icon{
    background-position: -144px -6px;
}
.mode-switcher .x-pressed .classroom-mode-icon{
    background-position: -144px -41px;
}

.search-result-selection,
.search-result-selection .x-panel-body,
.search-result-selection .x-panel-body-default {
    background: #7889A3;
}
.x-brand-and-search-bar,
.x-brand-and-search-bar .x-panel-body,
.x-brand-and-search-bar .x-panel-body-default {
    background: #7889A3;
}

.session-myacount{
    background-image: url('../images/user_silhouette.gif');
}
.session-logout{
    background-image: url('../images/sign-in.gif');
}
.settings-gear{
    background-image: url('../images/gear-18.png');
}

.x-application-mode-pane .x-focus-pane {
    border-left: 1px solid #D0D0D0 !important;
    border-right: 1px solid #D0D0D0 !important;
}

.x-session-controls .x-panel {
    margin: auto 2px!important;
}

.x-session-controls .x-username *{
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.x-session-controls .x-username span{
    padding: 6px 8px 5px 5px;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
}

.x-session-controls * {
    vertical-align: middle;
    cursor: pointer;
}

span.notification-box-widget {
    width: 30px;
    height: 23px;
    padding-top: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 10px;
    background: url(../images/notify.png) no-repeat -22px 0px;
}

span.notification-box-widget.unread {
    color: white;
    background-position:4px 0px;
}