.x-login-message-box {
    padding: 15px 15px 15px 48px;
    background: #dfe8f6 url(../images/info.png) no-repeat 10px center;
    /*margin-bottom: 15px;*/
}

.x-login-message-box,
.x-login-message-box .x-panel-body{
    border: 1px solid #004d82;
    background-color: #dfe8f6;
    font-size: 12pt;

}

.x-login-message-box.error{
    background: #800000 url(../images/minus-white.png) no-repeat 10px center;
}

.x-login-message-box.error,
.x-login-message-box.error .x-panel-body{
    border-color: #800000;
    color: #ffb6c1;
    background-color: #cd5c5c !important;
}

.x-login-form-username label,
.x-login-form-username input{
    font-size: 14pt;
}

.x-login-form-username input.x-form-text{
    padding: 10px;
    height: 46px;
}

.x-login-form-password label,
.x-login-form-password input{
    font-size: 12pt;
}

.x-login-form-password input.x-form-text{
    padding: 5px;
    height: 32px;
}