/* leave here until worksheet gets updated*/
#nticontent .worksheet-problems li{clear: both;}

#nticontent .worksheet-problems .problem {
    overflow: visible;
    display: block;
    border: none;
    text-align: left;
    padding: 0;
    position: static;
    margin: 0;
    background: none;
    white-space: normal;
}

#nticontent .worksheet-problems .result {
    clear: both;
}
#nticontent .worksheet-problems .problem::after {
    display: none;
}




#nticontent .page-contents .title{
    border: none !important;
}



#nticontent div.mathjax.answer,
#nticontent div.mathjax.response {
    clear: both;
    display: block !important;
    margin: 1.2em;
}
#nticontent .result {
    padding:  1.2em;
}
#nticontent .result.correct {
    background-color: #77BB4E;
}
#nticontent .result.incorrect {
    background-color: #DD8888;
}