
.whiteboard-toolbar .x-btn-icon.tool{
	background: pink;
}
.whiteboard-toolbar .x-btn-icon.tool.rect{
	background: red;
}
.whiteboard-toolbar .x-btn-icon.tool.circle{
	background: green;
}
.whiteboard-toolbar .x-btn-icon.tool.line{
	background: blue;
}
.whiteboard-toolbar .x-btn-icon.tool.text{
	background: yellow;
}
.whiteboard-toolbar .x-btn-icon.tool.delete{
	background: purple;
}

.whiteboard .x-surface {
	cursor: crosshair;
}
