@import '~nti-style-common';

.site-admin-user-identity {
	padding: 1rem;

	.avatar {
		width: 120px;
		border-radius: 70px;
		display: block;
		margin: 0 auto;
	}

	.username {
		display: block;
		text-align: center;
		font-size: 1.125rem;
		margin-top: 0.5rem;
		color: $primary-grey;
	}
}
