$font: 'Open Sans', sans-serif;
$condensed-font: 'Open Sans Condensed', $font;
$icon-font: 'icomoon';

$loading-indicator:			url(../images/elements/spinning_logo.png) !default;
$data-view-over-bg:			url(../images/elements/over.gif) !default;
$data-view-selected-bg:		url(../images/elements/selected.gif) !default;


//colors
$primary-grey: #494949 !default;
$secondary-grey: #757474 !default;
$secondary-grey-alt: #787878 !default;
$tertiary-grey: #b8b8b8 !default;
$tertiary-grey-alt: #d1d1d1 !default;
$quad-grey: #f8f8f8 !default;

$primary-red: #F35252 !default; //rgb(243,82,82)
$secondary-red: #750000 !default;
$primary-orange: #FA8700 !default; //rgb(250,135,0)
$primary-blue: #3fb3f6 !default;
$primary-green: #8eb737 !default; //rgb(142, 183, 55)
$secondary-green: #3fb34f !default; //rgb(63, 179, 79)

$border-blue: #39a1dd !default;
$border-grey: #dbdbdb !default;
$border-red: #f35252 !default;
$text-red: #f2713e !default;

$panel-background: #fbfbfb !default;
$panel-background-blue: #f7fbfe !default;

$toast-border-top: #78caf9 !default;

$annotations-menu-bg-color:rgba(#333,.95) !default;
$annotations-menu-bg:$annotations-menu-bg-color !default;

$header-height: 70px !default;
$header-height-withbar: 110px !default;
$msg-bar-height: 40px !default;

$highlight-colors: (
	// (name, menu color, hover) actual highlight will be computed from hover color.
	('yellow',#EDE619,#F9F6AF),
	('green',#4CE67F,#B7F5CC),
	('blue',#3FB3F6,#CFECFD)
) !default;

$hide-chat-break-point: "only screen and (max-width: 1200px)";
$show-chat-break-point: "only screen and (min-width: 1200px)";

// Repeating variables from nti-style-common/fonts/iconmoon
$icon-education: "\e60a";
$icon-location: "\e60b";
$icon-briefcase: "\e60c";

@import "common-mixins";
