//colors
$primary-grey: #000000;
$secondary-grey: #4c4c4c;
$secondary-grey-alt: #8e8e8e;
$tertiary-grey: #747474;
$tertiary-grey-alt: #d1d1d1;
$quad-grey: #f8f8f8;

$primary-red: #e41717;
$secondary-red: #500000;
$primary-orange: #FA8700;
$primary-blue: #2a76a3;
$primary-green: #577f02;
$secondary-green: #148524;

$border-blue: #39a1dd;
$border-grey: #dbdbdb;
$border-red: #f35252;
$text-red: #c64817;

$panel-background: #fbfbfb;

$toast-border-top: #78caf9;

$annotations-menu-bg-color:rgba(#333,.95);
$annotations-menu-bg:$annotations-menu-bg-color;
