//colors
var(--primary-grey): #000000;
var(--secondary-grey): #4c4c4c;
var(--secondary-grey-alt): #8e8e8e;
var(--tertiary-grey): #747474;
var(--tertiary-grey-alt): var(--tertiary-grey-alt);
var(--quad-grey): var(--quad-grey);

var(--primary-red): #e41717;
var(--secondary-red): #500000;
$primary-orange: #FA8700;
var(--primary-blue): #2a76a3;
var(--primary-green): #577f02;
var(--secondary-green): #148524;

var(--border-blue): var(--border-blue);
var(--border-grey): var(--border-grey);
var(--border-red): var(--primary-red);
$text-red: #c64817;

$panel-background: #fbfbfb;

$toast-border-top: #78caf9;

$annotations-menu-bg-color:rgba(#333,.95);
$annotations-menu-bg:$annotations-menu-bg-color;
