@import "~nti-style-common/all.scss";

.course-admin {
	.course-item-list {
		background-color: rgba(0, 0, 0, 0);

		.course-item {
			.course-title {
				margin-top: 0;
				font-size: 18px;
			}

			.course-id {
				height: 30px;
			}
		}
	}

	.create-course-button {
		background-color: #3fb3f6;
		color: white;
		width: 150px;
		text-align: center;
		padding: 10px;
		border-radius: 3px;
		font-size: 14px;
		line-height: 22px;
		cursor: pointer;
		margin: 20px;
	}

	.course-create-message {
		text-align: center;
		font-size: 20px;
		color: #5c7;
	}
}
