@import "~nti-style-common";

.course-overview-control-bar {
	display: flex;
	align-items: center;

	.message,
	.resources {
		flex: 0 0 auto;
		line-height: 3.75rem;
	}

	.message {
		i,
		span {
			display: inline-block;
			vertical-align: middle;
			color: #757474;
		}

		i {
			margin-right: 0.3125rem;
		}

		span {
			font-size: 0.875rem;
		}
	}

	.resources {
		color: $primary-blue;

		i {
			margin-right: 0.3125rem;
		}
	}

	.spacer {
		flex: 1 1 auto;
	}

	.buttons {
		flex: 0 0 auto;

		.audit-logs,
		.show-preview,
		.start-editing {
			cursor: pointer;
		}

		.audit-logs {
			background: $primary-grey;
			margin-right: 0.3rem;
		}
	}
}
