@import '~@nti/style-common';

.course-overview-control-bar-container {
	html.nti-course-content-open & {
		display: none;
	}
}

.course-overview-control-bar {
	display: flex;
	align-items: center;

	.message,
	.resources {
		flex: 0 0 auto;
		line-height: 3.25rem; //60px;
	}

	.message {
		display: flex;
		align-items: center;

		i,
		span {
			display: inline-block;
			flex: 0 0 auto;
			color: var(--secondary-grey);
			font-size: 0.875rem;
		}

		i {
			margin-right: 0.3125rem;
		}
	}

	.resources {
		color: var(--primary-blue);
		cursor: pointer;
		display: flex;
		align-items: center;

		i,
		span {
			display: inline-block;
			flex: 0 0 auto;
		}

		i {
			margin-right: 0.3125rem;
		}

		span {
			font-size: 0.875rem;
		}
	}

	.spacer {
		flex: 1 1 auto;
	}

	.buttons {
		flex: 0 0 auto;

		.nti-button {
			font-weight: normal;
			padding: 0.5rem rem-calc(15px);
		}

		.audit-logs,
		.show-preview,
		.start-editing {
			cursor: pointer;
		}

		.audit-logs {
			background: var(--primary-grey);
			margin-right: 0.3rem;
		}
	}
}
