.asset-preview {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--panel-background);
	box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.15);
	padding: 1.5rem 0;
}

.no-border {
	background: none;
	box-shadow: none;
	padding: 0;
	display: block;
}

.dimensions {
	position: absolute;
	top: 100%;
	right: 0;
}