@import "~@nti/style-common/all.scss";

.sync-options {
	div {
		cursor: pointer;
		width: 150px;
		padding: 5px;
	}

	.disabled {
		color: #aaa;
	}
}

.site-admin-sync {
	.error {
		color: red;
		text-align: center;
	}

	.title {
		font-size: 24px;
		border-bottom: solid 1px #eaeaea;
	}

	.footer {
		height: 25px;
	}

	.label {
		margin-right: 20px;
		height: 18px;
		font-size: 12px;
		color: #888;
	}

	.refresh-meta {
		margin-left: 10px;
		cursor: pointer;
	}

	.sync-unlocked {
		color: #35ba35;
	}

	.sync-locked {
		color: #fa3535;
	}

	.remove-lock {
		font-size: 14px;
		margin-left: 15px;
		border-radius: 3px;
		background-color: #3fb3f6;
		padding: 5px;
		color: white;
		cursor: pointer;
	}

	.last-sync {
		font-size: 12px;
		font-style: italic;
		color: #888;
	}

	.sync-controls {
		display: flex;
	}

	.sync-control {
		border: solid 1px #eaeaea;
		border-radius: 2px;
		box-shadow: inset 0 -1px 0 0 #e2e2e2;
		cursor: pointer;
		padding: 10px;
		width: 400px;
		margin-top: 20px;
	}

}
