@import "~nti-style-common/all.scss";

.admin-dashboard {
	.admin-dashboard-widgets {
		margin-top: 15px;

		.widget-row {
			margin-top: 15px;
			margin-bottom: 15px;
			display: flex;
		}
	}

	.admin-active-days {
		width: 100%;
		margin: 0 5px 100px;
		height: auto;

		.no-data {
			margin-left: 17px;
		}

		.daily-activity-body .activity-day-row {
			.activity-day-wrapper.first-of-week::before {
				font-size: 12px;
			}

			.weekday {
				width: 32px;
				font-size: 10px;
			}

			.activity-day-wrapper .activity-day {
				height: 15px;
				width: 15px;
			}
		}

		.activity-day-row .activity-day-wrapper.first-of-week::before {
			font-size: 12px;
		}
	}
}
