@import "~nti-style-common";

.course-instructors-permission-list-item {
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid $border-grey-light;

	&.updating {
		opacity: 0.3;
		pointer-events: none;
	}

	.user {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		overflow: hidden;

		.avatar {
			flex: 0 0 auto;
			width: 50px;
			height: 50px;
		}

		.display {
			flex: 0 0 auto;
			margin-left: 1rem;
			margin-right: 0;
		}

		.meta {
			color: $primary-grey;
			flex: 0 0 auto;
			font-size: .75rem;
			text-overflow: ellipsis;
			max-width: 150px;
			overflow: hidden;
		}
	}

	.instructor-container, .editor-container {
		flex: 0 0 60px;
		text-align: center;

		label {
			display: inline-block;
		}
	}
}
