@import '~@nti/style-common';

.course-instructor-permission-list {
	.header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid var(--border-grey-light);
		margin-bottom: 5px;
		padding-bottom: 5px;

		.spacer {
			flex: 1 1 auto;
		}

		.instructor-label,
		.editor-label {
			flex: 0 0 60px;
			font-size: 0.625rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			color: var(--secondary-grey);
		}
	}
}
