// placeholder & defaults

.x-component-branding {
	//in the library view, turn this on to show the logo/message box
	display: block;
	margin: 30px 0 140px 0;

	.logo{
		top: 10%;
		&::after{
			//This file isn't publically referenced by its path on the system.
			// The browsers will see it as "domain/resources/css/site.css" not
			// "domain/resources/css/domain/site.css" And since CSS paths are
			// relative to their url, "../.." would make "images" have to be
			// unnecessarily symlinked at the root.
			content: url(../images/platform.ou.edu/ou_janux_logo.png);
		}
	}

	.box{
		display: none;
	}
}


.main-navigation {


	.branding{
		display: block;
		background: url(../images/platform.ou.edu/ou_cover.png) center center no-repeat;
	}

	.content {
		.image::after {
			content: '';
			position: absolute;
			top: 0; bottom: 0; left: 0;
			width: 10px;
			background: url(../images/platform.ou.edu/ou_cover.png) 0 0 no-repeat;
		}
		.wrap {
			.provider {
				text-indent: -1000px;
				&::before {content:':';}//force there to be some text (the text indent hides it)
				&::after {
					content: 'The University of Oklahoma';
					position: absolute;
					left: 0;
					top: 0;
					text-indent: 0;
				}
			}
		}
	}
}


.x-panel-content-switcher {
	.x-component-content-switcher {
		div.item:first-of-type {
			.image::after {
					content: '';
					position: absolute;
					top: 0; bottom: 0; left: 0;
					width: 10px;
					background: url(../images/platform.ou.edu/ou_cover.png) 0 0 no-repeat;
				}
		}
	}
}

.x-component-purchasecomplete-panel{
	a.enrollLink{
		display: inline;
	}
}
