.outline-node-listitem {
	.daytime-toggle-trigger {
		.calendar {
			margin-left: 15px;
			&::after {
				content: '';
			    overflow: hidden;
			    position: absolute;
			    top: 40%;
			    right: 1rem;
			    height: 10px;
			    width: 10px;
				background: url(../images/icons/dropdown-am-pm-icon.png) no-repeat center;
			}
		}
	}
}
