
.x-component-branding {
	//in the library view, turn this on to show the logo/message box
	display: block;
	margin: 80px 0 20px 0;

	.logo{
		display: inline-block;
		&::after{
			//This file isn't publically referenced by its path on the system.
			// The browsers will see it as "domain/resources/css/site.css" not
			// "domain/resources/css/domain/site.css" And since CSS paths are
			// relative to their url, "../.." would make "images" have to be
			// unnecessarily symlinked at the root.
			content: url(../images/wiley.nextthought.com/wiley_logo.png);
			height: 75px;
			width: 280px;
			display: block;
		}
	}

	.box{
		display: none;
	}
}



.main-navigation {


	.branding{
		display: block;
		background: url(../images/wiley.nextthought.com/cover.png) center center no-repeat;
	}
}

.course-info-panel {
	.description-fields {
		.fields {
			display: none;
		}
	}
}