@import '~@nti/style-common';

.add-confirmation {
	background-color: white;
	padding: 10px 20px 50px;
	border-radius: 2px;

	.confirmation-message {
		padding: 20px 0;
		font-size: 20px;
	}

	.admin {
		padding: 10px 0;
		display: flex;

		.admin-avatar {
			height: 60px;
			width: 60px;
		}

		.admin-name {
			font-size: 14px;
			padding-top: 20px;
			margin-left: 10px;
		}
	}

	.confirmation-controls {
		display: flex;
		position: absolute;
		right: 10px;

		.cancel {
			color: $primary-blue;
			padding: 12px 20px 12px 12px;
			cursor: pointer;
			font-size: 12px;
		}

		.confirm {
			padding: 10px;
			color: white;
			background-color: $primary-blue;
			border-radius: 2px;
			cursor: pointer;
		}
	}
}
