@import '~nti-style-common';

.site-admin-list-toolbar {
	margin: 2rem 8rem 1rem;
	padding-bottom: 10px;
	border-bottom: solid 1px $tertiary-grey;
	display: flex;
	position: relative;

	.toolbar-create {
		position: absolute;
		right: 10px;
		border-radius: 2px;
		color: white;
		padding: 10px;
		background-color: $primary-blue;
		cursor: pointer;
	}
}
