@import '~nti-style-common';

.admin-list-type-select {
	box-shadow: 1px 1px 2px #ddd;
}

.admin-list-selected-type {
	cursor: pointer;
	border: solid 1px #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-left: 14px;
	width: 150px;
	display: flex;
	color: $primary-grey;
	position: relative;
	box-shadow: 1px 1px 2px #ddd;
	font-weight: 100;

	i {
		position: absolute;
		right: 6px;
		top: 12px;
	}
}

.admin-list-type-option {
	padding: 10px;
	cursor: pointer;
	width: 150px;
	font-weight: 100;
}
