@import '~@nti/style-common';

.site-admin-user-transcripts {
	min-height: 200px;
	position: relative;

	ul {
		li:not(:last-of-type) {
			box-shadow: 0 1px 0 0 var(--border-grey-light);
		}

		li a {
			text-decoration: none;
		}
	}
}
