{
	"extends": "nti-codestyle-js",
	"parser": "babel-eslint",

	"parserOptions": {
		"sourceType": "script",
		"ecmaFeatures": {
			"impliedStrict": false,
		}
	},

	"globals": {
		"$AppConfig": true,
		"NextThought": true,
		"Service": true,

		"getString": true
	},

	"rules": {
		"no-console": 0,
		"no-undef": 2,
		"no-underscore-dangle": 0, /*damn, because this is has become so pervasive in the Ext/Legacy code, we're turning this rule off. JavaScript does not have "private" anything. underscores are ugly. Internal methods & variables should be wrapped in closures.*/
		"no-var": 0,
		"strict": [2, "never"],
	}
}
