{
	"extends": "../../../../.eslintrc",

	"parserOptions": {
		"sourceType": "script",
		"ecmaFeatures": {
			"impliedStrict": false
		}
	},

	"globals": {
		"$AppConfig": true,
		"NextThought": true,
		"Service": true,
		"NTIStrings": true,
		"getString": true
	},

	"rules": {
		"no-console": "off",
		"no-underscore-dangle": "off",
		"no-var": "off",
		"strict": ["error", "never"],
		"import/no-extraneous-dependencies": "off"
	}
}
