.navbar:global(.main-navigation.hide-branding
		.back-container
		.branding-container) {
	display: none;
}

.navbar:global(.main-navigation .back-container .branding-container) {
	max-width: 300px;
	height: 100%;
	overflow: hidden;
	margin-right: 15px;
	cursor: pointer;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.navbar:global(.main-navigation
		.back-container
		.branding-container
		.x-selectable) {
	cursor: inherit;
}

.navbar:global(.main-navigation .back-container .branding-container) > * {
	display: inline-block;
}

.navigation-branding-asset {
	max-height: 70px;
	width: auto;
	display: block;
}
