.navbar:global(.main-navigation.hide-branding .back-container .branding-container) {
	display: none;
}

.navbar:global(.main-navigation .back-container .branding-container) {
	max-width: 300px;
	overflow: hidden;
}

.navigation-branding-asset {
	height: 70px;
	width: auto;
}