

.account-window {
	@extend .nti-window;
	border: 1px solid #c2c2c2;

	.x-window-body {
		overflow: hidden;
		border-radius: 5px;
	}

	.close {
		opacity: 0.5;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 10px;
		height: 10px;
		background: url(../images/spr_window_controls.png) -59px -9px no-repeat;
		
		&:hover{
			opacity: 1;
		}
	}

	.x-btn-account-small {
		&, button {
			height: 35px;
		}

		border-bottom: 1px solid #ebebeb !important;

		& + .x-btn-account-small {
			border-left: 1px solid #ebebeb !important;
		}

		&.x-pressed {
			.x-btn-inner {
				color: $primary-green;
			}
		}

		.x-btn-inner {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 600;
			color: $secondary-grey;
			padding: 0 10px;
		}
	}

	.picture-editor {
		border-radius: 0 0 5px 5px;
		background: #ffffff;
		.footer {
			border-top: 1px solid #e7e7e7;
		}

		canvas {
			background: #ffffff url(../images/ico_choose_file.png) center center no-repeat;
			&.withImage {
				background: #d5d5d5;
			}

		}

		.file-input {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
			opacity: 0;
			font-size: 200px;
			cursor: pointer;
			width: 600px;
			height: 400px;
		}
	}

	.identity {
		border-radius: 5px 5px 0 0;
		background: #ffffff;
		border-bottom: 1px solid #ebebeb !important;
		position: relative;
		overflow: hidden;
		padding: 15px 15px 18px 15px;

		img.avatar {
			float: left;
			width: 81px;
			height: 81px;
			border-radius: 3px;
			border: 1px solid #e5e5e5;
		}

		.wrap {
			margin: 15px 0 0 100px;
			font-size: 14px;
			font-weight: 400;
			color: $secondary-grey;

			.name {
				font-size: 18px;
				font-weight: 600;
				color: $primary-grey;
			}

			.identities{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.username, .email {
				max-width: 150px;
				display: inline-block;
				position: relative;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				padding-left: 20px;

				&:empty{ display: none; }
				&::after{
					content: ' ';
					position: absolute;
					top: 3px; left: 0;
					width: 13px;
					height: 12px;
					background: url(../images/spr_account_page.png) 0 0 no-repeat;
				}
			}

			.email {
				max-width: 198px;
				width: 198px;
				margin-left: 40px;
				padding-left: 25px;

				&::after {
					top: 4px;
					width: 15px; height: 11px;
					background-position: -16px 0;
				}
			}
		}
	}

	.footer {
		.x-btn-flat-medium {
			cursor: pointer;
			button {
				background: none;
				border: none;
				padding: 12px 20px;

				.x-btn-inner{
					font: {
						size: 14px;
						style: normal;
						weight: normal;
					}
					color: $primary-grey;
					padding-right: 2px;
				}

				.rotate {
					background: url(../images/ico_rotate.png) no-repeat;
					width: 14px;
					height: 15px;
					left: 0;
					top: 13px;
				}
			}
		}

		.x-btn-flat-blue-medium {
			&, button{
				border-radius: 0 0 3px 0;
			}
			cursor: pointer;
			button {
				background: $primary-blue;
				border: 1px solid #39a1dd;
				padding: 12px 20px;

				.x-btn-inner{
					font: {
						size: 14px;
						style: italic;
						weight: 700;
					}
					color: #ffffff;
					padding-right: 2px;
				}
			}


			&.x-btn-disabled {
				button {
					span { opacity: 1; }

					cursor: default;
					border-color: #d0d0d0;
					background: rgba(184,184,184,0.5);
					.x-btn-inner {
						color: rgba(255,255,255,0.7);
					}
				}
			}
		}
	}

	.reset-password {
		margin: 25px;

		.password-box {
			position: relative;
		}

		.password-box, .x-container {

			margin: 5px 0;
			&, input { font-size: 14px;}

			input {
				&:focus {
					outline: none;
					box-shadow: -4px 0 0 0 $primary-blue;
				}

				&.error {
					&, &:focus {
						box-shadow: -4px 0 0 0 $primary-red;
					}
				}
				//TODO - is not working
				&.valid {
					&, &:focus {
						box-shadow: -4px 0 0 0 $primary-green;
					}
				}

				&.empty,
				&.x-form-empty-field {
					font-style: italic !important;
				}

				//vertical-align: bottom;
				color: $secondary-grey;
				font-size: 14px;
				font-weight: 500;
				line-height: 25px;

				border: 1px solid $border-grey;//#dcdcdc;
				border-left-width: 0px;
				background: #ffffff;
				padding: 6px 10px;
				margin: 0;
				min-height: 39px;
				@include experimental-value(width, calc(100% - 4px));
				.x-opera &,
				.x-safari5 & {
					width: 90%;
				}

				position: relative;
				left: 4px;
				box-shadow: -4px 0 0 0 $border-grey;
			}
			.clear {
				top: 10px;
				right: 5px;

				cursor: pointer;
				position: absolute;
				display: none;
				width: 16px;
				height: 16px;
				background: url(../images/ico_clear_line.png) 0 0 no-repeat;
			}

			.placeholder {
				@include placeholder-style();
				position: absolute;
				top: 0;
				left: 0;
				line-height: 25px;
				padding: 7px 14px;
			}
		}

		.message-box {
			margin: 0 10px 0 35px;
			display: table;
			.text {
				display: table-cell;
				text-align: center;
				color: $primary-green;
				vertical-align: middle;
				&.error {
					color: $primary-red;
				}
			}

		}

		.footer {
			margin-top: 40px;
			border-top: 1px solid $border-grey !important;
		}
	}
}
