

.activity-tab-view{
	@include side-panel-view-title;
	.activity-view {
		.activity {
			cursor: pointer;
			position: relative;
			border-top: 1px solid #eaeaea;
			box-shadow: inset 0 1px 0 0 #ffffff;


			margin: 0 18px 0 20px;
			padding: 12px 0 12px 25px;
			font-size: 12px;
			color: $secondary-grey;
			overflow: hidden;

			&::after {
				content: ' ';
				position: absolute;
				width: 20px;
				height: 20px;
				top: 10px;
				left: 0;
				background: url(../images/old_sprites/spr_activity_icons.png) 0 0 no-repeat;
			}

			&.nothing{
				&::after{display: none;}
				text-align: center;
				font-style: italic;
				color: $secondary-grey;
				padding: 0px;
				margin: 0px;
				border-top: none;
				box-shadow: none;
			}

			&.loading::after {
				background: $loading-indicator 0 0 no-repeat;
				width: 16px; height: 16px;
				top: 12px;
			}

			&.user::after{ background-position: -20px -20px; }
			&.comment::after { background-position: -38px 0; }
			&.highlight::after { background-position: 0 0; }
			&.note{
				&::after{ background-position: -20px 0; }

				font-style: italic;
			}

			.name, .with {
				font-style: normal;
				font-size: 10px;
				font-weight: bold;
				color: $primary-blue;
				text-transform: uppercase;
			}
		}

		//add some space between the divider and the next activity
		@include divider;
		.divider + .activity {
			border-top: none;
			box-shadow: none;
		}
	}
}




.activity-popout{
	@extend .contact-popout;

	.activity-preview{
		@include reply-options;//in _note.scss

		.header {
			background: #ffffff;
			padding: 16px 10px;

			.path,.location-label {
				color: $tertiary-grey;
				font-family: $font;
			}

			.path {
				font-size: 10px;
				font-weight: 600;
				text-transform: uppercase;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.location-label {
				font-size: 14px;
				font-weight: 500;
				font-style: italic;
				margin: 2px 0 8px;
			}

			.context {
				max-height: 300px;
				overflow-x: hidden;
				overflow-y: auto;
				color: #136ea5;
				font-family: $font;
				font-size: 14px;
				margin: 0 10px 0 25px;
				position: relative;
				canvas { position: absolute; top:0; left:0; width: 100%; height: 100%; }
				.text {
					display: inline;
					background: #e1f2fc;
					line-height: 25px;
				}
			}
		}

		.footer {
			background: #f8f8f8;
			border-top: 1px solid #e6e6e6;
			box-shadow: inset 0 1px 0 0 #fdfdfd;
			min-height: 65px;

			.body,.filler {
				padding: 15px 15px 15px 32px;
			}
			.body {
				font-family: 'Droid Serif' serif !important;
				font-size: 14px;
				font-weight: normal;
				color: $primary-grey;
				word-wrap: break-word;
				position: relative;

				&::before {
					content: ' ';
					overflow: hidden;
					position: absolute;
					top: 15px; left: 15px;
					background: transparent $icons no-repeat;
					@include sprite($icons,'ldquo',$dimensions: true);
				}

				&::after{
					content: ' ';
					display: inline-block;
					margin-left: 5px;
					background: transparent $icons no-repeat;
					@include sprite($icons,'rdquo',$dimensions: true);
				}
			}

			.reply-options {
				opacity: 1;
				padding-left: 10px;

				div {
					margin-right: 20px;
					&.share { margin-right: 55px; }
				}

			}
		}
	}
}
