@mixin dot-separated-list{
	span{
		&::after{
			color: $tertiary-grey;
			font: normal 500 10px/20px $font;

			position: static;
			content: '\00B7';
			vertical-align: middle;
			display: inline;
			padding: 0 0.5em;
			background: none;
		}
		&:last-of-type::after {
			content: '';
			display: none;
		}
	}
}

@mixin editor-with-borders {
	& > div {
		border: 1px solid #dcdcdc;
		color: #dcdcdc;
		background: white;
		font: italic 400 14px/37px $font;
		padding: 0 10px;
		.editor {
			margin-bottom: 10px;
		}
	}
}

.activity-view{
	@include side-panel-view-title;
	.activity-panel {
		.activity {
			cursor: pointer;
			position: relative;
			border-top: 1px solid #eaeaea;


			margin: 0 18px 0 20px;
			padding: 12px 0 12px 0;
			font: italic normal 12px/20px $font;
			color: $primary-grey;
			overflow: hidden;

			//&::after {
			//	content: ' ';
			//	position: absolute;
			//	top: 15px;
			//	left: 0;
			//	background: $icons no-repeat;
			//}
			
			&.deleted{
				cursor: default;
			}

			&.nothing{
				&::after{display: none;}
				text-align: center;
				font-style: italic;
				color: $secondary-grey;
				padding: 0px;
				margin: 0px;
				border-top: none;
				box-shadow: none;
			}

			&.loading::after {
				background: $loading-indicator 0 0 no-repeat;
				width: 16px; height: 16px;
				top: 12px;
			}

			//&.user::after{ @include sprite($icons, 'add-contact-14x14', $dimensions: true); }
			//&.comment, &.personalblogcomment, &.generalforumcomment{
			//	&::after{ @include sprite($icons, 'activity-comment', $dimensions: true); }
			//}
			//&.highlight::after { @include sprite($icons, 'activity-highlight', $dimensions: true); }
			&.note,&.personalblogentry, &.communityheadlinetopic{
				//&::after{ @include sprite($icons, 'activity-note', $dimensions: true); }
				font-style: italic;
			}

			.name, .with, .verb {
				font: normal bold 10px $font;
				text-transform: uppercase;
			}

			.name, .with { color: $primary-blue; }
			.verb {color: $tertiary-grey; }
		}

		.center-button{
			text-align: center;
		}

		.more-button{
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 5px;

			span {
				text-transform: capitalize;
			}
		}

		//add some space between the divider and the next activity
		@include divider;
		.divider + .activity {
			border-top: none;
			box-shadow: none;
		}
	}
}




.activity-popout{
	&.x-layer {
      overflow: hidden;
    }

	background-color: #fff;
	@include box-shadow(0 2px 4px 1px rgba(0,0,0,.14),
						inset 0 2px rgba(255,255,255,.5));
	border: solid 1px #cecece;
	outline: 0;

	.activity-preview {

		.thought-label {
			position: absolute;
			color: #8fbc30;
			font: normal bold 10px $font;
			text-transform: uppercase;
			left: 20px;
			top: 20px;

			& + .item {
				padding-top: 30px;
				.controls { margin:{top:-31px;}}
				.avatar { display: none; }
				.meta { margin:{ left: 0; top: 35px; } }
			}
		}

		.foot, .replies, .respond {
			background: #f9f9f9;
			padding:{ left: 15px; right: 15px; }
		}

		.replies + .respond {
			border-top: 1px solid #e7e7e7;
			box-shadow: inset 0 1px 0 0 white;
			padding: 10px;
			@include editor-with-borders;
			.editor .main .content{
				min-height: 0;
				max-height: auto;
				height: 100px;
			}
		}

		.editor-box.reply {
			@include editor-with-borders;
		}

		&.editor-active ~ .respond {
			.reply-options { display: none; }
			.editor .action.share {display: none !important;}
		}


		.path,
		.content-callout {
			padding: 16px 36px 0px 16px;
			border-bottom-width: 0;
			cursor: pointer;
			border-color: #eaeaea;

			.location {
				text-transform: uppercase;
				font: normal 600 10px/20px $font;
				color: $tertiary-grey !important;
				height: 20px;
				overflow: hidden;
				@include ellipse;
			}

			.context{
				overflow: hidden;
				position: relative;
				cursor: pointer;
				height: 55px;

				& > .text {
					position: relative;
					overflow: hidden;
					font: normal 400 14px/20px $font;
					color: $primary-grey;
					display: block;
					height: 40px;
					img { max-width: 50% !important; }

					p { margin: 0; }
				}

				&::after {
					content: ' ';
					position: absolute;
					left: 0; right: 0;
					bottom: 0; height: 10px;
					@include background-image(linear-gradient(top,  rgba(251,251,251,0) 0%,rgba(251,251,251,1) 100%));
				}
			}
		}


		.path {
			color: $tertiary-grey;
			text-transform: uppercase;
			padding: 0 20px;
			font: normal 700 10px/40px $font;
			height: 40px;
			overflow: hidden;
			@include ellipse;

			&:empty { display: none; }

			span.path-part {
				&::after{
					content: ' / ';
				}
				&:last-of-type::after{
					content: '';
				}
			}
		}


		.item {
			position: relative;
			z-index: 2;
			border: 0;
			border-top: 1px solid #f0f0f0;
			border-bottom: 1px solid #ececec;
			box-shadow: 0 1px 4px 0px rgba(30, 30, 30, 0.05);
			padding: 0 20px 0;

			@include like-and-favorite;

			& > * { margin-top: 20px; }
			.controls {margin: 0 -20px 0 0;}

			.avatar {
				float: left;
				width: 60px;
				height: 60px;
				border-radius: 5px;
				cursor: pointer;
				background:{
					color: transparent;
					position: center;
					repeat: no-repeat;
					size: cover;
				}
			}

			.meta {
				margin: 20px 70px 0 80px;
				min-height: 60px;
				font: normal 400 12px $font;
				color: $tertiary-grey;
			}

			.stamp {
				margin-top: 5px;
				.name {
					font: normal 600 10px/20px $font;
					color: $primary-blue;
					text-transform: uppercase;
					cursor: pointer;
					&::after{
						content:' ';
						padding-right: 0.3em;
					}
				}

			}

			.subject, .name.no-subject {
				display: block;
				color: $primary-grey;
				overflow: hidden;
				padding-bottom: 3px;
				@include ellipse;
				font: normal 300 28px/30px "Open Sans Condensed", $font;
				cursor: pointer;
				&::after{
					content: '';
					display: none;
				}
			}

			.subject:empty,
			.subject.no-subject{
				display: none;
			}

		}


		a.more {
			position: absolute;
			left: 20px; bottom: 4px;
			text-decoration: none;
			display: block;
			background: white;

			div {
				display: inline-block;
				border-radius: 90px;
				width: 4px; height: 4px;
				margin: 2px;
				background: $primary-blue;
			}

		}

		.body{
			position: relative;
			margin: 10px 0 25px 0;
			font: normal 400 14px/19px $font;
			color: $primary-grey;
			max-height: 57px;
			overflow: hidden;

			.whiteboard-container{ cursor: default; }
			@include text-pre-wrap;
		}


		.foot {
			clear: both;
			opacity: 1;
			padding: 15px;
			color: $primary-blue;

			div {
				font: normal 600 12px/15px $font;
				//cursor: pointer;
				display: inline-block;
				//opacity: 0.75;
				padding: 0 0 0 0.5em;
				margin: 0;
				//&:hover { opacity: 1; &::after{opacity: 0.75;} }
				&::after{
					font: normal 600 14px/20px $font;
					position: static;
					content: '\00B7';
					vertical-align: middle;
					text-decoration: none !important;
					display: inline;
					padding: 0 0 0 0.5em;
					background: none;
				}
				&:last-of-type::after {
					content: '';
					display: none;
				}
				&.last::after{
					content: '';
					display: none;
				}
			}
		}

		.replies {
			overflow: {x: hidden; y: scroll;}

			.x-component-reply {
				position: relative;
				padding-bottom: 10px;

				.controls {
					position: absolute;
					top: -5px;
					right: 0;
					@include like-and-favorite;
					.like:not(.on){
						display: none;
					}
				}

				.avatar {
					float: left;
					width: 35px; height: 35px;
					border-radius: 3px;
					cursor: pointer;
					background:{
						color: transparent;
						position: center;
						repeat: no-repeat;
						size: cover;
					}
				}

				.meta,.body,.foot {
					margin-left: 45px;
				}

				.foot {
					display:block;
					height: 20px;
					padding: 0;
					@include dot-separated-list;

                	.link{
						display: none;
						cursor: pointer;

						&.flag.on{
							color: $primary-red;
							display: block;
						}
                  	}
				}

				&:hover{
					.foot{
						.link{
							display: inline-block;
						}
					}

					.controls .like{
						display: block;
					}
				}

				.meta {
					font: normal 600 10px $font;

					.name {
						color: $primary-blue;
						cursor: pointer;
						text-transform: uppercase;
						&::after{
							content:' ';
							padding-right: 0.3em;
						}
					}

					.time{
						color: $tertiary-grey;
						text-transform: uppercase;
					}
				}

				.body {
					color: $primary-grey;
					margin:{ top: 5px; bottom: 5px; }
					font: normal 500 14px/20px $font;
					max-height: 300px;

					.whiteboard-container{ cursor: pointer; }
				}

				a.more{
					position: relative;
					left: 52px;
					cursor: pointer;
					background: transparent;
					width: 100px;
				}

				&.deleted-reply{
					.controls{
						display: none;
					}
				}
			}
		}
	}
}
