//Animate Mixin Plugin

@mixin animate($name: fadeIn, $duration: 1s, $delay: 0.2s, $function: ease, $mode: both, $iteration:null) {
	@if $iteration==null {

	} @else {
		@include experimental(animation-iteration-count, $iteration);
		@include experimental(animation-direction, normal);
	}

	@include experimental(animation-name, $name);
	@include experimental(animation-duration, $duration);
	@include experimental(animation-delay, $delay);
	@include experimental(animation-timing-function, $function);
	@include experimental(animation-fill-mode, $mode);

	//animation-name: none
	//animation-duration: 0s
	//animation-timing-function: ease
	//animation-delay: 0s
	//animation-iteration-count: 1
	//animation-direction: normal
	//animation-fill-mode: none

	.disable-animations &,
	.x-safari5 & {
		-webkit-animation: none;
		animation: none;
	}
}

// http://daneden.me/animate/build/
@mixin keyframes($animation-name) {
	@-webkit-keyframes $animation-name {
		@content;
	}
	@-moz-keyframes $animation-name {
		@content;
	}
	@-ms-keyframes $animation-name {
		@content;
	}
	@keyframes $animation-name {
		@content;
	}
}

@include keyframes(rotate) {
	from { @include experimental(transform, rotate(0deg)); }
	to { @include experimental(transform, rotate(360deg)); }
}

@include keyframes(pulsate) {
	0% { opacity: 0.50;}
	50% {opacity: 1.0;}
	100% {opacity: 0.50;}
}

@include keyframes(pulse) {
	0% { @include experimental(transform, scale(1)); }
	50% { @include experimental(transform, scale(1.1)); }
	100% { @include experimental(transform, scale(1)); }
}

@include keyframes(pulseIn) {
	0% { @include experimental(transform, scale(2.5)); opacity: 0; }
	20% { @include experimental(transform, scale(2)); opacity: 0; }
	100% { @include experimental(transform, scale(1.0)); opacity: 1; }
}


@include keyframes(pulseOut) {
	0% { @include experimental(transform, scale(0.3)); opacity: 1; }
	80% { @include experimental(transform, scale(1)); opacity: 0; }
	100% { @include experimental(transform, scale(1.5)); opacity: 0; }
}

@include keyframes(fadeZoomIn) {
	0% {opacity: 0; @include experimental(transform, scale(1.1)); }
	100% {opacity: 1; @include experimental(transform, scale(1));}
}


@include keyframes(fadeIn) { 0% {opacity: 0;} 100% {opacity: 1;} }
@include keyframes(fadeOut) { 0% {opacity: 1;} 100% {opacity: 0;} }

@include keyframes(bounce) {
	0% {opacity:0;@include experimental(transform, translateY(0));}
	50%{opacity:1;@include experimental(transform, translateY(0));}
	80%, 100% {@include experimental(transform, translateY(0));}
	40% {@include experimental(transform, translateY(6px));}
	60% {@include experimental(transform, translateY(3px));}
}


@include keyframes(bounceInRight) {
	0% { opacity: 0; @include experimental(transform, translateX(2000px)); }
	60% { opacity: 1; @include experimental(transform, translateX(-30px)); }
	80% { @include experimental(transform, translateX(10px)); }
	100% { @include experimental(transform, translateX(0)); }
}

@include keyframes(fadeInDown) {
	0% { opacity: 0; @include experimental(transform, translateY(-20px)); }
	100% { opacity: 1; @include experimental(transform, translateY(0)); }
}

@include keyframes(fadeInUp) {
	0% {opacity: 0;@include experimental(transform, translateY(20px));}
	100% {opacity: 1;@include experimental(transform, translateY(0));}
}

@include keyframes(fadeInLeftBig) {
	0% { opacity: 0; @include experimental(transform, translateX(-2000px)); }
	100% { opacity: 1; @include experimental(transform, translateX(0)); }
}

@include keyframes(fadeInLeft) {
	0% { opacity: 0; @include experimental(transform, translateX(-20px)); }
	100% { opacity: 1; @include experimental(transform, translateX(0)); }
}

@include keyframes(fadeInRight) {
	0% { opacity: 0; @include experimental(transform, translateX(20px)); }
	100% { opacity: 1; @include experimental(transform, translateX(0)); }
}

@include keyframes(fadeOutRight) {
	0% { opacity: 1; @include experimental(transform, translateX(0)); }
	100% { opacity: 0; @include experimental(transform, translateX(20px)); }
}

@include keyframes(shake) {
	0%, 100% {@include experimental(transform, translateX(0));}
	10%, 30%, 50%, 70%, 90% {@include experimental(transform, translateX(-10px));}
	20%, 40%, 60%, 80% {@include experimental(transform, translateX(10px));}
}

@include keyframes(rollIn) {
	0% { opacity: 0; @include experimental(transform, translateX(-100%) rotate(-120deg)); }
	100% { opacity: 1; @include experimental(transform, translateX(0px) rotate(0deg)); }
}


@include keyframes(FullScreenSlideInRight) {
	0% { @include experimental(transform, translateX(100%)); }
	100% { @include experimental(transform, translateX(0)); }
}
@include keyframes(FullScreenSlideOutRight) {
	0% { @include experimental(transform, translateX(0)); }
	100% { @include experimental(transform, translateX(100%)); }
}


@include keyframes(FullScreenSlideInLeft) {
	0% { @include experimental(transform, translateX(-100%)); }
	100% { @include experimental(transform, translateX(0)); }
}
@include keyframes(FullScreenSlideOutLeft) {
	0% { @include experimental(transform, translateX(0)); }
	100% { @include experimental(transform, translateX(-100%)); }
}
