.dictionary-window {
    @extend .nti-window;

    .nti-window-header {
 		border-bottom: 1px solid #E7E7E7;
    }

	padding-bottom: 3px;
	overflow: visible;
	&.north::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: -15px;
		left: 0;
		width: 100%;
		height: 18px;
		background: url(../images/window-nib-north.png) center top no-repeat;
	}

	&.south::before{
		content: "";
		position: absolute;
		z-index: 1;
		bottom: -15px;
		left: 0;
		width: 100%;
		height: 18px;
		background: url(../images/window-nib-south.png) center top no-repeat;
	}
}


.share-with-data {

	.title {
		font-size: 32px;
		font-weight: normal;
		line-height: 48px;
		img {
			width: auto;
			height: 48px;
			border-radius: 4px;
			vertical-align: middle;
			margin: 10px;
			margin-right: 15px;
		}
	}

	.description {
		margin: 10px;
		font-size: 14px;
	}

	.snippet {
		margin: 10px;
		font-size: 8pt;
		color: #b8b8b8;
		padding: 0 0 0 25px;
		.comment & {	background: url(../images/activity-comment.png) 0 2px no-repeat;}
		.highlight & {	background: url(../images/activity-highlight.png) 0 3px no-repeat;}
		.note & {		background: url(../images/activity-note.png) 4px 0 no-repeat;}
	}
}

.nti-window {
	div.field {
		margin: 12px 8px 10px 8px;
		background: #f7f7f7;
		box-shadow: inset 0 0 1px 1px white;
	}

	.buttons {
		margin: 10px;
	}
}

.share-with-field {
	padding: 5px 25px 5px 5px;
	color: #757474;
	font-family: 'Open Sans', sans-serif;
	//font-size: 15pt;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #a0a0a0;
	box-shadow: inset 3px 3px 10px -5px #a0a0a0; //TODO: fix to be a sane value (use RGBA to lighten the shadow, not the blur & spread)
	// REFRESHER: box-shadow syntax is:
	// box-shadow:  none | <shadow> [,<shadow>]*
	//	where <shadow> is defined as:
	//		inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ]

	position: relative;

	.user-search-field {
		display: inline-block;
		margin: 5px 0 0 0;
		input {
			border: none !important;
			border-width: 0 !important;
			background: none;
			padding: 0;
		}
		.x-form-item-body {
			position: static;
		}
		.x-trigger-cell {
			&.hidden {
				display: none;
			}
			.x-form-trigger {
				position: absolute;
				top: 0;
				right: 0;
				border-width: 0px;
				background: url(../images/search-nib.png) left center no-repeat;
				width: 17px;
				height: 100%;
			}
		}
	}
}



.editor-whiteboard {
	background: $whiteboard-tools-sprite;
	background-position: 0 -232px;
}

.editor-seperator {
	background: $whiteboard-tools-sprite;
	background-position:  0 -192px;
}

.x-nti-note {
	border-top: 1px solid $border-color;
	position: relative;
	overflow: hidden;
	padding: 10px 5px;
	background: rgba(255,255,255,0.1);

	div {
		margin-left: 22px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	div.avatar {
	    margin: 0 !important;
		float: left;
		width: 16px;
		height: 16px;
	}
	.name {
		font-weight: bold;
		color: $name-label-color;
		padding: 0 10px 0 0;
	}
	.timestamp {
		color: $timestamp-color;
		float: right;
		font-size: 9px;
		padding: 0 0 5px 10px;
	}
	&:hover {
		.name {}
		.timestamp {
			visibility: hidden;
		}
		.controls {
			display: block;
		}
	}
}

.x-nti-note.chat-transcript {
	cursor: pointer;
	div.avatar {
		float: right;
		margin-right: 4px !important;
	}
	.transcript-placeholder {
		margin: 0px;
		font-size: 10px;
		a {
			text-decoration: none !important;
			font-weight: bold;
			font-size: 10px;
			color: $transcript-placeholder-text-color;
		}
	}
}


.x-window.chat-transcript,
.x-nti-note-replies.chat-transcript {
	.x-chat-log-entry {
		cursor: auto;
		span.reply{
			isplay: none;
		}
		.reply-whisper { display: none; }
 		.reply-public { display: none; }
	}
}

.x-nti-note.placeholder {
	padding: 2px;
	div {
		margin: 0px;
	}
}

.x-note-panel{
	width: 100%;
}

.document-notes {
	position: absolute;
}

.x-nti-note {
	span.controls {
		position: absolute;
		display: none;
		right: 5px; top: 5px;
		height: 24px;
		cursor: pointer;
		overflow: hidden;

		span {
			width: 16px;
			height: 16px;
			margin: 2px;
			display: inline-block;
			background: $border-color;
			opacity: 0.4;
			&:hover{ opacity: 1; }
		}
	}

	.controls {
		span.edit { display: none; }
		span.delete { display: none; }

		.chat { background: $note-action-chat-icon; }
		.delete { background: $note-action-delete-icon; }
		.edit {
			background: $note-action-edit-icon;
			background-size: 16px 16px;
		}
		.reply { background: $note-action-reply-icon; }
		.share { background: $note-action-share-icon; }
		.mute { background: $note-action-mute-icon center center no-repeat; }
	}

	&.owner {
		.controls {
			span.edit {
				display: inline-block;
			}
			span.delete {
				display: inline-block;
			}
		}
	}
}

.x-nti-note-replies {
	&.chat-transcript {
		@include clearfix_left();
		.x-panel-body{
			@include clearfix_left();
		}
	}
	@include clearfix_left(15px);
}

//charms
img.action {
    width: 16px;
    height: 16px;
    position: absolute;
	z-index: 1000;

	&.note {
		width: 17px;
		height: 21px;
		background-image: url(../images/charms/note_glyph_gray.png);
		&:hover,
		.x-dd-drop-ok & {
			background-image: url(../images/charms/note_glyph.png);
		}
	}
	&.highlight {
		width: 23px;
		height: 19px;
		background-image: url(../images/charms/highlight_glyph_gray.png);
		&:hover,
		.x-dd-drop-ok & {
			background-image: url(../images/charms/highlight_glyph.png);
		}
    }
	&.quizresults {
    	background-image: $charm-quizresult-icon;
    }
	&.transcript {
	    background-image: $charm-chattranscript-icon;
    }
    &.redactionhighlight {
 	    background-image: $charm-collapsed-icon;
     }
    &.expanded {
 	    background-image: $charm-expanded-icon;
     }
}

.x-dd-drag-proxy {

	.x-dd-drop-icon{
		display: none;
		opacity: 0.3;
	}

	&.x-dd-drop-ok {
		//ok state
		//.x-dd-drag-ghost {opacity: 1;}
	}

	.x-dd-drag-ghost {
		padding: 0;
		border: none;

		img {
			max-width: 48px;

			&.action {
				position: static;
			}
		}
	}
}
