.note-gutter {
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #eee;

	.note-here-control-box {
		@include animate(fadeIn,0.1s);
		position: absolute;
		left: 0; top: 0;
		min-height: 24px;
		border: none;
		margin: 0; padding: 0;

		$t: top 0s, opacity 0.1s;
		@include experimental(transition, $t);

		&.note-overlay-hidden{
			display: none;
			opacity: 0;
		}

		.bottom-border {
			width: 100%;
			overflow: hidden;
			height: 4px;
			border: 1px solid #ccc;
			border-top-width: 0;
			margin: 0;
			padding: 0;
			//z-index: 1;
			background: none;
		}

		textarea {
			border: none;
			background: none;
			margin: 0;
			padding: 0 3px;
			resize: none;
			width: 100%;
		}
	}
}



.share-with-data {

	.title {
		font-size: 32px;
		font-weight: normal;
		line-height: 48px;
		img {
			width: auto;
			height: 48px;
			border-radius: 4px;
			vertical-align: middle;
			margin: 10px;
			margin-right: 15px;
		}
	}

	.description {
		margin: 10px;
		font-size: 14px;
	}

	.snippet {
		margin: 10px;
		font-size: 8pt;
		color: #b8b8b8;
		padding: 0 0 0 25px;
		.comment & {	background: url(../images/activity-comment.png) 0 2px no-repeat;}
		.highlight & {	background: url(../images/activity-highlight.png) 0 3px no-repeat;}
		.note & {		background: url(../images/activity-note.png) 4px 0 no-repeat;}
	}
}



.x-dd-drag-proxy {

	.x-dd-drop-icon{
		display: none;
		opacity: 0.3;
	}

	&.x-dd-drop-ok {
		//ok state
		//.x-dd-drag-ghost {opacity: 1;}
	}

	.x-dd-drag-ghost {
		padding: 0;
		border: none;

		img {
			max-width: 48px;

			&.action {
				position: static;
			}
		}
	}
}

#NTIContent {
    /*
    Commented portions are for redaction line across width of text
    */
    .redactionAction {
        background-color: red;
        margin: 0 2px 0 2px;
        width: 16px;
        overflow: hidden;
        display: none;

        /*
        height: 2px;
        width: 100%;
        margin: 1em 0;
        */

        &.redacted {
           /*
           display: block;
           */
           display: inline-block;
        }
    }

	.application-highlight {

		&, * {
			position: relative;
			z-index: 1;
		}

		color: #076da7;
		background-color: #e1f4fe;
		overflow: hidden;

		&.highlight-mouse-over{
			color: #ffffff;
			background-color: #3fb3f6;
		}

        &.redaction {
            &.redacted {
                display: none;
            }
            background: #bbbbbb;
            color: inherit;
        }

		&.counter {
			color: #757474;
			font-family: 'Open Sans' !important;
			font-weight: bold;

			position: relative;
			top: 0;

			vertical-align: baseline;
			display: inline-block;
			width: 5px;
			overflow: hidden;
			line-height: 23px;
			text-align: center;
			padding-left: 4px;

			background:{
				image: url(../images/highlights/tip.png);
				position-x: 100%;
				position-y: 0px;
				repeat: no-repeat;
			}

			&.with-count {
				overflow: hidden;
				width: 30px;
				background-image: url(../images/highlights/counter_tip_default.png);


				&.highlight-mouse-over{
					color: #ffffff;
					background-image: url(../images/highlights/counter_tip_hover.png);
				}

				span {
					display: block;
					text-align: center;
					margin-left: 5px;
					overflow: hidden;
					text-overflow: ellipse;
				}
			}
		}
	}

}

#annotation-container {
	position: absolute;

	.highlight-canvas {
		position: absolute;
		z-index: 1;
		pointer-events: none;
	}
}
