@mixin highlight-tip {
	position: relative;
	top: 0;

	vertical-align: baseline;
	//vertical-align: initial;
	display: inline-block;
	//width: 5px;
	width: 0px;
	overflow: hidden;
	line-height: 23px;
	height: 24px;
	text-align: center;
	padding: 0 0 0 0px;
	//padding: 0 0 0 4px;

	background:{
		//image: url(../images/highlights/tip.png);
		position-x: 100%;
		position-y: 0px;
		repeat: no-repeat;
	}
}


.annotation-gutter {
	position: absolute;
	top: 0; left: 0;//fill the space
	overflow: visible;

	.column {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		overflow: visible;

		&.widgets {
			left: 20px;
		}

		.controlContainer,
		.widgetContainer {
			//overflow: hidden;
			position: absolute;
			min-height: 32px;
			width: 100%;
			background: #ffffff;

			.thumb {
				float: right;
				clear: left;
			}
		}
		.controlContainer{
			bottom: transparent;
		}
	}
}


.share-with-data {

	.title {
		font-size: 32px;
		font-weight: normal;
		line-height: 48px;
		img {
			width: auto;
			height: 48px;
			border-radius: 4px;
			vertical-align: middle;
			margin: 10px;
			margin-right: 15px;
		}
	}

	.description {
		margin: 10px;
		font-size: 14px;
	}

	.snippet {
		margin: 10px;
		font-size: 8pt;
		color: #b8b8b8;
		padding: 0 0 0 25px;
		.comment & {	background: url(../images/activity-comment.png) 0 2px no-repeat;}
		.highlight & {	background: url(../images/activity-highlight.png) 0 3px no-repeat;}
		.note & {		background: url(../images/activity-note.png) 4px 0 no-repeat;}
	}
}

.x-dd-drag-proxy {

	.x-dd-drop-icon{
		display: none;
		opacity: 0.3;
	}

	&.x-dd-drop-ok {
		//ok state
		//.x-dd-drag-ghost {opacity: 1;}
	}

	.x-dd-drag-ghost {
		padding: 0;
		border: none;

		img {
			max-width: 48px;

			&.action {
				position: static;
			}
		}
	}
}

div.redaction-control {
    width: 20px;
    height: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    position: absolute;
    margin: 9px 0 0 20px;
    display: block; //default

    img {
        background: url(../images/redactions/redact_plus.png) 4px 4px no-repeat;
        border: 0px solid #c4c4c4;
        border-radius: 4px;
        width: 20px;
        height: 20px;
    }

    &.redacted img {
        background-image: url(../images/redactions/redact_minus.png);
    }
}

.body-divider {
	@include no-select;
	position: relative;
	overflow: hidden;
	text-align: left;
	margin: 10px;
	padding: 5px;
}

/* Styles below are intended to target things inside the content iframe */

#NTIContent {

    .blockRedactionAction {
        clear: both;
        display: none;
        width: 100%;
        background: url(../images/redactions/dash.png) 0 -8 repeat-x;

         &.redacted {
             display: block;
         }
    }

    .redactionAction {
        margin: 0 2px 0 2px;
        overflow: hidden;
        display: none;

        span.redactionReplacementText {
            color: #a1a1a1;
        }

        span.redactionDelimiter {
            display: inline-block;
            height: 33px;
            width: 9px;
            background: url(../images/redactions/inline-delimiter.png) 0 0 no-repeat;
        }

        &.redacted {
           display: inline-block;
        }
    }

    .application-highlight {
		&.suppressed {
			//do nothing special when range is suppressed.
		}

		&.plain {

			&, * {
				position: relative;
				z-index: 1;
			}

			color: #076da7;
			background-color: #e1f4fe;
			overflow: hidden;

			& .counter-container {
				display: inline-block;
				white-space: nowrap;
			}

			&.highlight-mouse-over{
				color: #ffffff;
				background-color: #3fb3f6;
			}

			&.redaction {
				&.redacted {
					display: none;
				}
				background: #bbbbbb;
				color: inherit;
			}

			&.counter {
				color: #757474;
				font-family: 'Open Sans' !important;
				font-weight: bold;

				@include highlight-tip;

				&.with-count {
					overflow: hidden;
					width: 30px;
					background-image: url(../images/highlights/counter_tip_default.png);


					&.highlight-mouse-over{
						color: #ffffff;
						background-image: url(../images/highlights/counter_tip_hover.png);
					}

					span {
						display: block;
						text-align: center;
						margin-left: 5px;
						overflow: hidden;
						text-overflow: ellipse;
					}
				}
			}
		}
	}
}

#annotation-container { &, .highlight-canvas { position: absolute; } }
