@mixin draggable-zone{
	.draggable-area{
		display: table-cell;
		min-width: 54px;
		border: 0px solid $tertiary-grey-alt;
		border-bottom-width: 1px;
		padding-left: 15px;
		position: relative;
		cursor: move;

		.text{
			position: relative;
			margin-right: 61px;
			line-height: 26px;
			min-width: 30px;
		}

		&:hover{
			&::after{
				@include sprite($icons,'drag-controls-hover',$dimensions: true);
			}
			outline: 1px solid $tertiary-grey;
		}

		.controls{
			position: relative;

			.drag-control{
				position: absolute;
				top: 20px;
				right: 20px;
				background: $icons no-repeat;
				@include sprite($icons,'drag-controls',$dimensions: true);
			}
		}
	}
}

@mixin draggable-span{
	.dd-label-token{
		display: inline-block;
		position: relative;
		padding: 0 10px;
		margin: 0 10px 10px 0;
		border: 1px solid $primary-blue;
		border-radius: 3px;
		@include box-shadow(1px 1px 2px rgba(0,0,0,.09));
		cursor: move;
		font-weight: 600;
		color: $primary-blue;

		p{margin: 0;}

		&:hover{
			background-color: $primary-blue;
			color: #fff;
		}

		.value{
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}

		.x{
			position: relative;
			width: 15px;
			height: 18px;
			display: none;
			vertical-align: middle;

			&::after{
				content: '';
				display: block;
				position: absolute;
				background: $icons no-repeat;
				@include sprite($icons,'light-x-hover',$dimensions: true);
				top: 6px; left: 9px;
				cursor: pointer;
			}
		}
	}
}

body.dragging * {
	cursor: -webkit-grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: -ms-grabbing !important;
	cursor: -o-grabbing !important;
	cursor: grabbing !important;
}

.component-overlay {
	.sheild {
		position: fixed;
		height: auto;
		bottom: 0;
		top: 0; left: 0; right: 0;
		background: transparent;
		z-index: 1;
	}

	.tabable:active,
	.tabable:focus {

	}
}

.assessment-content {
	font: {
		size: 14px;
		style: normal;
		weight: normal;
	}
	line-height: 2em;

	.math {
		line-height: normal;
	}

	img {
		margin: 1em 0 0 0;
	}

	sup {
		vertical-align: super;
	}

	sub {
		vertical-align: sub;
	}

	.nobreak {
		white-space: nowrap;
	}

	.vfrac {
		white-space: nowrap;

		.divider {
			font-size: 140%;
			vertical-align: -4%;
		}
	}

	.underline {
		text-decoration: underline;
	}

	.overline {
		text-decoration: overline;
	}

	em,
	.mathname {
		font-style: italic;
	}

	.tabular {
		td {
			padding-left: 1em;
			padding-right: 1em;
		}
	}
}


.dd-matching-proxy-ghost {
	overflow: visible;
	//pointer-events: auto;

	.x-dd-drag-ghost{
		filter: none;
		opacity: 1;
		position: relative;
	}

	.target.drag {
		font: normal normal 1.3em/2em $font;
		border: 1px solid $primary-blue;
		border-radius: 3px;
		box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.5);
		display: inline-block;
		padding: 0 15px;

		color: #fff;
		background: $primary-blue;

		@include experimental-value(cursor,grabbing);
	}

}

.feedback-panel{
	&, & > .x-panel-body {
		overflow: visible;
	}

	.x-component-feedback-title{
		margin: 0 -60px 0 -30px;
		padding: 0 60px 0 30px;
		position: relative;
		border-bottom: 1px solid #f0f0f0;

		h1{
			font: normal 200 1.6em/1 $font;
			color: $secondary-grey;
			margin: 0;
		}

		.message{
			font: normal 500 1.1em/2.5 $font;
			color: $secondary-grey;
			margin-bottom: 10px;
		}

		&::after {			
			content: '';
			position: absolute;
			bottom: -1px;
			height: 300px;
			left: 0;
			right: 0;
			background-color: #f0f0f0;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
			clip: rect(300px, auto, 310px, auto);
			border-radius: 350em / 5em;
		}
	}

	.x-component-feedback-box {
		background-color: #fbfbfb;
		border: 1px solid #f0f0f0;
		border-top: none;
		border-bottom: none;

		.feedback-item {
			$s: 35px;
			$m: $s + 10px;
			border: 0 solid #f0f0f0;
			border-bottom-width: 1px;
			position: relative;
			padding: 30px 20px 40px;

			.avatar {
				float: left;
				width: $s;
				height: $s;
				border-radius: 2px;
				cursor: pointer;

				background: {
					size: cover;
					position: center center;
					repeat: no-repeat;
				}
			}

			.wrap {
				font: normal normal 1.1em/1.6 $font;
				color: $secondary-grey;
				margin: 0 0 0 $m;

				& > * { margin-right: 0.5em; }

				.name {
					color: $primary-blue;
					cursor: pointer;
				}

				time {
					color: $tertiary-grey;
				}
			}
		}
	}

	.x-component-comment-box{
		background-color: #fbfbfb;
		border: 1px solid #f0f0f0;
		border-top: none;
		box-shadow: inset 0 1px 0 0 #fff;
		overflow: hidden;

		.editor-box{
			border: 1px solid #dcdcdc;
			background-color: white;
			line-height: 39px;
			margin: 10px;

			&:not(.editor-active)::before{
				content: 'Add a comment';
				margin-left: 10px;
				color: $tertiary-grey;
				font: italic normal 1em/39px $font;
			}
		}
	}
}

.x-panel-assessment {

	&.question { //main frame of the question
		background: $panel-background;
		border: 1px solid #e2e2e2;
		border-radius: 3px;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);

		& > .x-panel-body-assessment {
			@extend .assessment-content;
			padding: 17px 40px 15px 40px;
			background: #ffffff;
			color: $primary-grey;

			.labels{
				padding: 10px 15px 0 0;
				@include draggable-span;
			}
		}

		& > .header {
			color: #737373;
			border-radius: 3px 3px 0 0;
			font: {
				family: $font;
				weight: bold;
				size: 14px;
				style: normal;
			}
			border: 0px solid #e2e2e2;
			border-bottom-width: 1px !important;
			padding: 11px 10px 6px 10px;

			&.correct{ font-style: italic; color: #8eb737; }
			&.incorrect{ font-style: italic; color: #f35252; }

			.title, .status {
				display: inline;
			}

			.controls {
				@include like-and-favorite;
				position: absolute;
				right: 0;
				top: 0;


				.video {
					opacity: 0.8;
					position: relative;
					margin: 9px 10px 0 0;
					padding: 0 0 0 26px;
					cursor: pointer;
					color: $primary-grey;
					float: right;
					font-size: 14px;
					font-weight: normal;
					white-space: nowrap;

					&:hover { opacity: 1; }

					&::after {
						position: absolute;
						left: 3px;
						top: 2px;

						content: ' ';
						background: $icons no-repeat;
						@include sprite($icons,'video',$dimensions: true);
					}
				}
			}

			.status {
				text-transform: uppercase;
				padding-left: 5px;
			}
		}
	}


	.dropzone:not(.graded) {
		color: #e0e0e0;
		font-weight: 500;

		.target.drag {
			@include experimental(transition, padding-right 0.5s ease);
			.reset {
				@include experimental(transition, all 0.5s ease);
				display: inline-block;
				float: right;
				width: 0;
				opacity: 0;
				height: 2em;
				//margin-right: -1em;
				top: 0;
				left: 0;
				cursor: pointer;
				@include icon('light-x',10px,6px);
				&:hover::after{
					@include sprite($icons,'light-x-hover');
				}
			}
			&:hover {
				padding-right: 0;
				.reset {
					width: 1.5em;
					opacity: 1;
				}
			}
		}
	}

	.drop-hover {
		.dropzone {
			color: $tertiary-grey;
		}
	}

	.terms {
		min-height: 30px;
		margin: 15px 0;

		.drag.target {
			margin-left: 1em;
		}
	}

	.target.drag {
		color: $primary-blue;
		border: 1px solid $primary-blue;
		border-radius: 3px;
		background: #fff;
		box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
		display: inline-block;
		padding: 0 15px;
		@include experimental-value(cursor,grab);

		&:active,
		&:hover {
			color: #fff;
			background: $primary-blue;
		}

		&:active {
			@include experimental-value(cursor,grabbing);
		}

		&.dropped,
		&.dragging {
			visibility: hidden;
		}


		.reset {
			display: none;
		}
	}

	.target.choice {
		cursor: default;

		&.correct {
			cursor: pointer;
			@include icon('circle-check-green-18',26px,11px);
			.target.drag {
				background: #8eb737;
				border-color: #8eb737;
				color: #fff;
				box-shadow: none;
				cursor: default;
			}
		}

		&.incorrect {
			cursor: pointer;
			@include icon('circle-x-red-18',26px,11px);
			.target.drag {
				background: #f35252;
				border-color: #f35252;
				color: #fff;
				box-shadow: none;
				cursor: default;
			}
		}
	}


	&.submission-panel {
		border: 0 solid #ebebeb;
		border-top-width: 1px;

		.reset,.submit,.status {
			display: inline-block;
			padding: 15px 20px;
			text-decoration: none;
			color: $secondary-grey;
		}

		.status {
			color: #f35252;
			padding-left: 0;
			font: {
				size: 14px;
				style: italic;
				weight: normal;
			}
			&.ready { color: #8eb737; }
		}

		.buttons {
			float: right;
			white-space: nowrap;
			font: {
				size: 14px;
				style: normal;
				weight: normal;
			}

			.reset,.submit {
				border: 1px solid rgba(0,0,0,0);
				cursor: pointer;

				&.tabable:active,
				&.tabable:focus {
					border: 1px dashed rgba(0,0,0,0.5);
				}
			}

			.submit{
				background: $primary-blue;
				border: 1px solid $border-blue;
				color: #ffffff;
				font:{
					weight: bold;
					style: italic;
				}

				&.disabled {
					cursor: default;
					border-color: #d0d0d0;
					background: rgba(184,184,184,0.5);
					color: rgba(255,255,255,0.7);
				}
			}
		}
	}

	&.scoreboard {
		& > .x-panel-body-assessment{ padding: 0 15px 0 10px; }
		.x-btn-secondary-large .x-btn-inner { font-weight: bold; }
		& > .score-header {
			border: 0px solid #efefef;
			border-bottom-width: 1px !important;
			border-radius: 3px 3px 0 0;
			box-shadow: 0 1px 0 0 #ffffff;
			padding: 6px 10px;
			font: {
				family: $font;
				weight: bold;
				size: 10px;
				style: normal;
			}

			.title {
				display: inline;
				color: #ababab;
				text-transform: uppercase;
			}

			.time {
				cursor: pointer;
				position: relative;
				float: right;
				color: $secondary-grey;
				font:{
					family: $font;
					size: 11px;
					style: normal;
					weight: 700;
				}

				padding: 0 15px 0 0;
				margin: 0 5px 0 0;

				.arrow {
					@include arrow(top,7px,4px,#a2a2a2);
					vertical-align: middle;
					position: absolute;
					right: 2px; top: 6px;
				}
			}
		}

		.tally-box {
			padding: 0 10px;
			font: {
				family: $font;
				weight: normal;
				style: italic;
			}
		}

		.message {
			color: $primary-grey;
			font: {
				weight: normal;
				size: 18px;
			}
		}

		.tally {
			.stat {
				display: inline-block;
				position: relative;
				padding: 0 0 0 15px;
				margin-right: 20px;
				font: {
					weight: 600;
					size: 12px;
				}

				&.correct { color: #94b61a; }
				&.incorrect { color: #e95a57; }
				&.questions{ padding: 0; color: $tertiary-grey; font-weight: 400; }

				&.correct {
					@include icon('check_progress_grn',$top: 3px);
				}
				&.incorrect {
					@include icon('red-x-10',$top: 3px);
				}
			}
		}

		background: #fcfcfc;
		border: 1px solid #e2e2e2;
		border-radius: 5px;
		box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);
	}

	& > .parts {
		margin: 0;
		border-radius: 0 0 3px 3px;
		border: 0px solid #e2e2e2;
		border-top-width: 1px !important;

		&.multipart > .x-panel-body-assessment,
		&.part-of-set > .x-panel-body-assessment {
			padding-bottom: 0;
			.footer .action.check { display: none; }
			.multipart-submission .footer .action.check {
				display: block;
				border-radius: 0 0 3px 0;
			}
		}
		&.correct.multipart > .x-panel-body-assessment,
		&.correct.part-of-set > .x-panel-body-assessment {
			padding-bottom: 20px;
		}

		&.multipart > .x-panel-body-assessment{
			padding: 0px;

			.part-container {
				padding: 30px 60px;
				border-bottom: 1px solid #e4e4e4;

				.part-content {
					position: relative;
					margin: 0 0 30px 0;
					font-size: 14px;

					.ordinal {
						position: absolute;
						display: block;
						left: -20px;
						font-weight: 600;
						color: $primary-grey;
					}
					.content {
						font-weight: normal;
						color: $secondary-grey;
					}
				}
			}

		}

		& > .x-panel-body-assessment {
			padding: 20px;
			.response-container {
				position: relative;
				min-height: 38px;
				background: #ffffff;
				border: 1px solid $tertiary-grey;

				.inputbox {
					color: $primary-grey;
					min-height: 38px;

					@include icon('circle-x-red-18',$top: 10px, $left: 10px);
					&::after{
						display: none;
					}

					.mathquill-editable,
					.mathquill-rendered-math {
						font: {
							family: $font;
							weight: normal;
							size: 14px;
							style: normal;
						}

						border: none;
						min-height: 38px;
						min-width: 100%;
						padding: 12px 8px 5px 8px !important;

						&[data-label]::after{
							@include placeholder-style();
							content: attr(data-label);
							margin: 0.3em;
						}
					}

					& > .label {
						position: absolute;
						display: inline-block;
						white-space: nowrap;
						@include placeholder-style();
						padding: 0 0.3em;
						line-height: 38px;
						top: 0;
					}

					&.correct, &.incorrect{
						&, input.answer-field {
							color: #f35252;
							font-weight: 600;
						}
						padding-left: 28px;
						input.answer-field {
							left: 28px;
						}
						&::after {
							display: block;
						}
					}
					&.correct{
						&, input.answer-field {
							color: #8eb737;
							font-weight: normal;
						}

						&::after {
							@include sprite($icons,'circle-check-green-18');
						}
					}

					input.answer-field {
						@extend .assessment-content;
						color: $primary-grey;
						margin: 5px 10px 4px;
						border: none;
						padding: 0;
						position: absolute;
						left: 0; right: 0;
						min-height: 28px; // mainly a fix for IE
						min-width: 85%;	// mainly a fix for IE
					}
				}

				.historyMenu{
					display: block;
					position: absolute;
					top: 9px;
					right: 5px;
					width: 32px;
					height: 20px;

					&::after{
						content: ' ';
						background: $icons no-repeat;
						@include sprite($icons,'answer-history',$dimensions: true);
						position: absolute;
						top: 0;
						left: 0;
					}

					&:hover{
						&::after{
							@include sprite($icons,'answer-history_active',$dimensions: true);
						}
					}
				}

				.choice {
					@extend .assessment-content;
					cursor: pointer;
					position: relative;
					color: $primary-grey;
					vertical-align: middle;
					min-height: 38px;
					background: #ffffff;
					border: 0px solid $tertiary-grey;
					border-bottom-width: 1px;
					&:last-of-type { border-bottom-width: 0px; }
					padding-left: 54px;

					span {
						line-height: 38px;
					}

					.label {
						height: 38px;
						font-weight: bold;
						margin-right: 10px;
					}
					.control {
						position: absolute;
						top: 0; left: 0;
						display: inline-block;
						width: 54px;
						height: 38px;
						border: none;
						border-left: 6px solid white;
						&.checked {
							border-color: $primary-blue;
						}
					}

					&.drop-hover {
						box-shadow: 0 0 3px 1px $primary-blue;
						border-color: $primary-blue;
						z-index: 3;
					}
				}

				.choice.target {
					padding: 20px 40px;
				}

				.multi, .single {
					.choice, .choice:hover {

						&.correct .control {
							&,&.checked{
								border-color: #9ac73c;
								@include icon('circle-check-green-18',$top:10px,$left:9px, $position:absolute);
							}
						}

						&.incorrect .control{
							&,&.checked{
								border-color: #f35252;
								@include icon('circle-x-red-18',$top:10px,$left:9px, $position:absolute);
							}
						}
					}
				}

				.multi .choice {
					.control {
						@include icon('checkbox-14', $top:12px,$left:20px, $position:absolute);
						&.checked::after { @include sprite($icons,'checkbox-14_active'); }
					}

					&:hover .control{
						&::after { @include sprite($icons,'checkbox-14_hover'); }
						&.checked::after{
							@include sprite($icons,'checkbox-14_active');
						}
					}
				}

				.single .choice {
					.control {
						@include icon('radio-button-16', $top:10px,$left:10px, $position:absolute);
						&.checked::after { @include sprite($icons,'radio-button-16_active'); }
					}
					&:hover .control{
						&::after { @include sprite($icons,'radio-button-16_hover'); }
						&.checked::after{
							@include sprite($icons,'radio-button-16_active');
						}
					}
				}

				.ordering-dd-zone{
					display: table;
					table-layout: fixed;

					.ordinal{
						@extend .assessment-content;
						position: relative;
						display: table-row;
						color: $primary-grey;
						vertical-align: middle;
						background: #ffffff;
						border: 0 solid $tertiary-grey;
						border-bottom-width: 1px;
						&:last-of-type {
							border-bottom-width: 0px;
							.draggable-area{ border-bottom-width: 0px;}
							.label{ border-bottom-width: 0px;}
						}

						&.selected{
							opacity: 0.3;
						}

						.text{
							line-height: 26px;
							min-width: 54px;
						}

						.label {
							display: table-cell;
							min-width: 54px;
							padding-left: 20px;
							padding-right: 20px;
							font-weight: bold;
							background-color: rgba(209,209,209, 0.6);
							border: 0 solid $tertiary-grey-alt;
							border-bottom-width: 1px;
							border-right-width: 1px;
						}

						&.target-hover{
							.label{
								background-color: $panel-background;
							}
						}

						@include draggable-zone;

						.draggable-area{

							.controls{
								.control {
									position: absolute;
									top: 7px; left: 0;
									width: 20px;
									height: 38px;
									border: none;
									display: none;

									&::after{
										position: absolute;
										left: 0px; top: 12px;
										content: ' ';
										background: $icons no-repeat;
										@include sprite($icons,'circle-check-green-18',$dimensions: true);
									}
								}
							}

							&.correct, &.incorrect{
								.controls .control{
									display: inline-block;
								}

								.text{
									margin-left: 38px;
								}
							}

							&.incorrect .controls .control{
								&::after{
									@include sprite($icons,'circle-x-red-18',$dimensions: true);
								}
							}
						}
					}
				}


				.solution {
					@extend .assessment-content;
					padding: 10px 20px 15px 20px;
					.close {
						opacity: 0.8;
						cursor: pointer;
						position: absolute;
						right: 17px; top: 16px;
						background: $icons no-repeat;
						@include sprite($icons,'window-control-close',$dimensions: true);
						&:hover{
							opacity: 1;
						}
					}

					.answer {
						font-weight: 600;
						color: #8eb737;

						.solution-choice-text {
							font-weight: normal;
							margin-left: 10px;
						}

						.ordering-solution{
							span{
								display: inline-block;
								padding-right: 20px;
								vertical-align: middle;
								color: $primary-grey;

								&.solution-ordering-text{
									color: $primary-green;
								}
							}
						}
					}
					.explanation {
						color: $secondary-grey;
					}
				}
			}
			.footer {
				position: relative;
				overflow: hidden;

				.left {
					float: left;
					.action { float: left; }
				}
				.right {
					float: right;
					.action { float: right; }
				}


				.mathsymbol {
					opacity: 0.6;
					&:hover{ opacity: 1; }
					margin-top: 4px;
					cursor: pointer;
					width: 36px;
					height: 36px;
					background: url(../images/old_sprites/spr_math_symbols.png) 0 0 no-repeat;
					float: left;

					&.sqrt { background-position: -2px -2px; }
					&.square { background-position: -42px -2px; }
					&.parens { background-position: -82px -2px; }
					&.approx { background-position: -122px -2px; }
					&.pi { background-position: -162px -2px; }
				}

				.action {
					color: $secondary-grey;
					cursor: pointer;
					padding: 12px 20px;
					font: {
						size: 14px;
						style: normal;
						weight: normal;
					}

					&.check {
						background: $primary-blue;
						border: 1px solid $border-blue;
						color: #ffffff;
						font: {
							style: italic;
							weight: 700;
						}

						&.wrong {
							background: #F35252;
							border-color: #d84343;
						}

						&.disabled {
							cursor: default;
							border-color: #d0d0d0;
							background: rgba(184,184,184,0.5);
							color: rgba(255,255,255,0.7);
						}
					}

				}
			}

		}
	}

	&.file-submission {
		width: auto;
		left: 0 !important;
		right: 0 !important;
		margin: 0 -60px 0 -30px;
		padding: 30px;

		border: {
			color: #f1f1f1;
			style: solid;
			width: 1px 0;
		}

		.indexed-content {
			color: $primary-grey;
			font-size: 1.2em;
		}

		& > .header {
			display: none;
		}

		& > .parts { border-top-width: 0 !important; }
	}

	.file-submission-part {
		position: relative;
		background: #fbfbfb;
		border-bottom: 1px solid #f2f2f2;
		padding: 20px 10em 20px 90px;
		min-height: 85px;

		@include icon('assignment_due', $top: 20px, $left: 30px);

		&.late {
			.button { display: none; }
			.due {color: $primary-red;}
			&::after {
				@include sprite($icons,'assignment_late');
			}
		}
		&.good {
			.button { display: none; }
			.due {color: $primary-green;}
			&::after {
				@include sprite($icons,'assignment_ontime');
			}
			a.active.button {
				display: block;
				text-decoration: none;
			}
		}

		&.hide-buttons {
			.button {
				display: none !important;
			}
		}

		& > .response-container,
		& > .response-container .inputbox {
			border: none !important;
			position: static !important;
			background: none !important;
			min-height: auto !important;
		}

		& > .footer {
			display: none;
		}

		.label {
			font: normal 500 1.5em/1 $font;
			color: $primary-grey;
		}
		.due {
			font: normal 700 0.8em/3 $font;
			text-transform: uppercase;
			color: $tertiary-grey;
		}

		.button {
			cursor: pointer;
			background: $primary-blue;
			border-radius: 3px;
			font: italic 600 1.2em/1 $font;
			color: #fff;
			padding: 1em 2em;
			right: 15px;
			top: 25px;

			input {
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				opacity: 0.0;
			}
			position: absolute;
		}

		a.download.button:not(.active) {
			display: none;
		}

	}
}

.x-dd-drag-ghost{
	@include draggable-zone;
	top: -30px;
	color: $primary-grey;
	vertical-align: middle;
	background: transparent;

	.draggable-area{
		height: 100%;
		display: block;
		background: #ffffff;
		border: solid 1px #3fb3f6;
		background-color: #fff;
		@include box-shadow(0 0 5px rgba(63,179,246,.23), 0 3px 8px rgba(0,0,0,.22));

		.text{
			font: {
				size: 14px;
				style: normal;
				weight: normal;
			}
			white-space: normal;
		}
	}

	@include draggable-span;
	.dd-label-token{
		color: #fff !important;
		cursor: move;
		white-space: normal;
		border: 1px solid $primary-blue;
		background-color: $primary-blue;
		line-height: 26px;
		@include border-radius(3px);
		@include box-shadow(0 3px 8px rgba(0,0,0,.22));

		font: {
			size: 14px;
			style: normal;
			weight: normal;
		}
	}
}


//in the iframe
.x-ie9 #NTIContent .naquestion {
	&, * {
		word-wrap: normal !important;
		white-space: nowrap !important;
	}
}

.answer_history_menu{
	.x-menu-item{
		&.answer-title{
			font-weight: bold !important;
			font-size: 11px !important;
			font-family: $font !important;
			color: #8A8989 !important;
			padding: 10px 0 10px 15px !important;
		}
		&.no-answer-history{
			font-size: 11px !important;
			font-family: $font !important;
			padding: 10px 0 10px 15px !important;
		}
	}
}
