.x-breadcrumbs-bar {
	.x-btn-arrow {
		background-image: $arrow-right;
		padding-right: 20px;
	}

	.x-breadcrumb-end {
		.x-btn-arrow {
			background-image: none;
			padding-right: 5px;
		}
	}

	.x-item-disabled {
		.breadcrumb-next { background: $next-arrow-disabled; }
		.breadcrumb-prev { background: $prev-arrow-disabled; }
	}

	.breadcrumb-next{ background: $next-arrow; }
	.breadcrumb-prev{ background: $prev-arrow; }
	.breadcrumb-close {
	    background: {
	    	image: $note-action-delete-icon;
	  		position: center center;
	    	repeat: no-repeat;
	  		size: 8px;
	    };

	}
}
