

$skins: nt,primary,secondary,caution;
$sizes: small,medium,large;

$button-borders:
	#24418c,
	#a8a8a8,
	#a8a8a8,
	#a8a8a8;

$button-shadows: #a4c8f5,#cce49c,#ffffff,#ffb3b3;
$button-start-colors: #6D91EB,#a4ce50,#e4e4e4,#ff7979;
$button-end-colors: #384EA9,#87b133,#c8c8c8,#eb4a4a;

$button-text-colors: #ffffff,#ffffff,#707070,#ffffff;
$button-text-shadows: #12236a,#688b23,#ffffff,#B93533;
$button-text-weights: 500,500,600,500;

@each $skin in $skins {
	$experimental-support-for-svg: true;
	$x: index($skins,$skin);

	$border: nth($button-borders,$x);
	$shadow: nth($button-shadows,$x);
	$startColor: nth($button-start-colors,$x);
	$endColor: nth($button-end-colors,$x);
	$color: nth($button-text-colors,$x);
	$text-shadow: nth($button-text-shadows,$x);
	$font-weight: nth($button-text-weights,$x);

	$direction: -1px;

	@if lightness($text-shadow) > lightness($color) {
		$direction: 1px;
	}

	@each $size in $sizes {
		$i: index($sizes,$size)  - 1;

		@each $type in icon, noicon {
			.x-btn-#{$skin}-#{$size}-#{$type} {
				button {
					background: none;
					border: none;
					padding: 0;
					margin: 0;
				}

				button,
				.x-btn-inner {
					height: auto;
					line-height: normal;
				}
			}
		}

		.x-btn-#{$skin}-#{$size} {
			margin-left:10px;
			border: 1px $border solid;
			border-radius: 4px;
			box-shadow: inset 0px 1px 1px $shadow;
			padding: (4px*$i) 10px+(5px*$i);

			@include background-image( linear-gradient(top,
					$startColor 0%,
					$endColor 100%
					));

			&.x-over {}
			&.x-disabled{
				box-shadow: none;
				background: #e4e4e4;
				border-color: #e4e4e4;
				//color: #adadad;

				.x-btn-inner{
					box-shadow: none;
					text-shadow: none;
					font-weight: lighter;
					color: $secondary-grey;
				}
			}
			&.x-pressed {
				box-shadow: inset 0px -1px 1px $shadow;
				@include background-image( linear-gradient(top,
									$endColor 0%,
									$startColor 100%
									));
			}

			.x-btn-inner {
				font-size: 10px + (2px*$i) !important;
				font-weight: $font-weight;
				color: $color;
				text-shadow: 0 $direction -1px $text-shadow;
			}
		}
	}
}

.x-btn-flat-large,
.x-btn-flat-medium {
	cursor: pointer;
	button {
		background: none;
		border: none;
		padding: 12px 20px;

		.x-btn-inner{
			font: {
				size: 14px;
				style: normal;
				weight: normal;
			}
			color: $primary-grey;
			padding-right: 2px;
		}
	}
}

