
.x-component-chart {
	position: relative;

	canvas {
		width: 100%;
		height: auto;
	}

	.label {
		position: absolute;
		top: 14px !important;
		left: 30px;
		font: normal 700 0.6em/1 $font;
		color: $tertiary-grey;
		text-transform: uppercase;
		z-index: 1;
	}

	ul.legend {
		position: absolute;
		bottom: 0; left: 0; right: 0;
		list-style-type:none;
		margin: 0; padding: 0 30px;

		.label:nth-child(2n):not(.total) {
			text-align: right;
		}

		.label {
			text-align: left;
			list-style-type:none;
			position: static;
			float: left;
			width: 50%;
			display: inline-block;
			line-height: 2;
			white-space: nowrap;
			margin: 0;

			&[data-sub]::after {
				color: $primary-grey;
				content: attr(data-value) "% - " attr(data-sub);
				display: block;
				line-height: 1em;
				overflow: hidden;
				@include ellipse;
				//text-align: center;
			}
		}

		.total {
			margin: 0;
			color: $secondary-grey;
			display: block;
			width: 100%;
			text-align: center;
		}
	}
}