@import "_variables.scss";

.chat-window {
	@extend .nti-window;

	.nti-window-header {
		.header-body {
			.tools {
				img.tool.add-people {
					opacity: 0.6;
					margin-right: 5px;
					width: 17px;
					background: url(../images/add-people.png) no-repeat 0 0;
				}
			}
		}
	}

	.gutter {
		overflow: hidden;
		background: #f4f3f3;

		&.x-docked-left {
			padding-top: 2px;
			border-radius: 5px 0 0 5px;
			border: 1px solid $border-grey;
			border-width: 0;
			border-right-width: 1px !important;
		}

		& > div.gutter-entry:first-child {
			border-radius: 5px 0 0 0;
		}
		.gutter-entry {
			overflow: hidden;
			position: relative;

			@include bottom-etch;

			img {
				border-radius: 1px;
				border: 1px solid #c7c6c6;
				width: 36px;
				height: auto;
				float: left;
				margin: 3px 10px 3px 6px;
			}
			.wrapper {
				margin: 6px 0 10px 53px;

				.name {
					@include menu-label-text-treatment;
				}
				.status {
					@include menu-label-text-treatment;
					text-transform: none;
					font-weight: 500;
					font-style: italic;
					font-size: 8pt;
				}
			}
		}
	}

	.chat-view {
		border-radius: 0 5px 5px 0;
		box-shadow: -2px 0px 9px -5px #333333;//TODO: fix to be a sane value (use RGBA to lighten the shadow, not the blur & spread)
		// REFRESHER: box-shadow syntax is:
		// box-shadow:  none | <shadow> [,<shadow>]*
		//	where <shadow> is defined as:
		//		inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ]

		.x-box-inner{

		}
	}


	&.no-gutter {
		.chat-log-view {
			.log-entry-wrapper {
				img {
					display: inline-block;
				}

				div.message-bounding-box{
					margin-left: 40px;
					overflow: hidden;
					position: relative;
				}

				.log-entry {
					.name {
						display: none;
					}
				}
			}
		}
	}


	.chat-log-view {
		border-radius: 0 5px 0 0;
		border-bottom: 1px solid #cfcfcf !important;
		box-shadow: inset  0px -7px 7px -7px #f7f7f7;//TODO: fix to be a sane value (use RGBA to lighten the shadow, not the blur & spread)
		// REFRESHER: box-shadow syntax is:
		// box-shadow:  none | <shadow> [,<shadow>]*
		//	where <shadow> is defined as:
		//		inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ]

        .log-notification-wrapper {
            clear: both;
            text-align: center;
            color: #cacaca;
            font-size: 12px;
            font-style: italic;
            font-weight: 600;
        }

		.log-entry-wrapper {
			overflow: hidden;
			position: relative;


			&.me {
				.name,
                .avatar,
				  { display: none; }

			}

			img {
				cursor: pointer;
				float: left;
				width: 36px;
				height: auto;
				margin: 5px 5px 10px 10px;
				display: none;
			}

			.log-entry{
				background: $primary-blue;
				border-radius: 5px;
				box-shadow: 1px 1px 10px -1px #999;//TODO: fix to be a sane value (use RGBA to lighten the shadow, not the blur & spread)
				// REFRESHER: box-shadow syntax is:
				// box-shadow:  none | <shadow> [,<shadow>]*
				//	where <shadow> is defined as:
				//		inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ]
				float: left;
				overflow: visible;
				margin: 12px;
				padding: 8px;
				clear: right;
				position: relative;

			  	//whiteboards inside chat:
			  	img {
					display: inline-block;
					width: 100px;
				  	margin: 0;
					padding: 0;
				}

				&::before {
					top: 0;
					left: -9px;
					position: absolute;
					content: url(../images/other-bubble-tip.png);
				}

				&.me {
					float: right;
					clear: left;
					box-shadow: none;
					background: #fefefe;
					border: 2px solid #e3e3e3;
					margin: 14px;
					.name {display: none;}
					.body-text {
						color: $secondary-grey;
					}
					&::before{
						left: inherit;
						top: inherit;
						bottom: 4px;
						right: -9px;
						content: url(../images/my-bubble-tip.png);
					}
				}

				.name {
					color: #d8f0fe;
					font-weight: 800;
					font-size: 10px;
					margin-bottom: 3px;
					text-transform: uppercase;
				}
				.body-text {
					font-size: 10pt;
					font-weight: 700;
					color: #ffffff;
				  	word-break: break-word;
				}
			}
		}
	}

	.chat-entry {
		border-radius: 0 0 5px 5px;
		background: #f7f7f7;
		box-shadow: inset 0 0 1px 1px white;

		div {
			margin: 12px 8px 10px 8px;
			img {
				width: 28px;
				height: 21px;
				float: left;
				margin: 4px;
				background: url(../images/whiteboard/icon.png);
			}

			div {
				margin: 0 0 0 37px;
				input {
					padding: 5px;
					color: $secondary-grey;
					height: 30px;
					font-family: $font;
					//font-size: 15pt;
					width: 100%;
					border-radius: 3px;
					border: 1px solid #a0a0a0;
					box-shadow: inset 3px 3px 10px -5px #a0a0a0;//TODO: fix to be a sane value (use RGBA to lighten the shadow, not the blur & spread)
					// REFRESHER: box-shadow syntax is:
					// box-shadow:  none | <shadow> [,<shadow>]*
					//	where <shadow> is defined as:
					//		inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ]
				}
			}
		}
	}
}
