.script-log-view {
	div.x-panel-header,
	div.x-toolbar {
		border-top-width: 0 !important;
		border-bottom-width: 0 !important;
	}
}


.nti-classroom-management {
	.x-panel-body{
		border-left-width: 2px !important;
		.x-panel-body{
			border-left-width: inherit !important;
		}
	}
}

.notify {
	$color:#dc322f;
	background-color: $color;
	border-color: $color;

	.x-panel-body {
		background-color: $color + #909090;
		color: $color;
		font-size: 1.1em;
		padding: 4px;
	}

	.message .x-panel-body {
		padding: 0.5em;
		height:auto !important;
	}
}

.class-resource-editor {
	.x-panel-header {
		&.x-panel-collapsed-placeholder {
    		display: none;
    	}
	}

	.x-window-header{
	    .x-btn,
	 	.x-field,
		.x-tool{
			margin-left: 10px;
		}

		.x-btn {
			.x-btn-icon{
				&.Details{
					background: url(../images/list.gif) no-repeat center center;
				}
				&.Grid{
					background: url(../images/icon.gif) no-repeat center center;
				}
			}
		}

		.x-tool {
		    height: 22px;

     		img {
     		    background: url(../images/tools/sprite.png);
     			width: 22px;
     			height: 22px;

				&.x-tool-close {
				    background-position:  0px 0px;
					&:hover { background-position:  0px -27px; }
				}

				&.x-tool-restore,
				&.x-tool-maximize {
				    background-position:  0px -54px;
					&:hover { background-position:  0px -81px; }
				}


     		}
     	}
	}
}


.x-splitter {
	background-color: #E0E0E0;
}


.x-class-resourceview-panel {
	@include data-view;

	&.drop-over {
		background: #ccffcc;
	}

	.empty {
    	height: 100%;
    	background: $empty-class-resources-bg center no-repeat;
	}

	.header{
	    border-bottom: 1px solid black;
	 	margin: 4px;
	 	padding: 5px;

	    * { margin-right: 5px; }

		span {
			font-weight: bold;
			display: inline-block;
			width: 200px;
		}

		img {
		    height: 24px;
			width: 24px;
			vertical-align: middle;
			background: transparent !important;
		}
	}
	
	.item-wrap {
		position: relative;
		&:hover .item div.actions { display: block; }
		.item div.actions {
			display: none;
			background: rgba(255,255,255,0.8);
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			height: 24px;
			white-space: nowrap;
			margin-top: 4px;
			border-radious: 10px;
			overflow: hidden;

			span {
			    margin: 4px;
				display: inline-block;
				width: 16px;
				height: 16px;
				cursor: pointer;
				opacity: 0.4;
				&:hover{ opacity: 1; }

				&.edit{ background: $note-action-edit-icon no-repeat; }
				&.delete{ background: $note-action-delete-icon no-repeat; }
			}
		}


		&.details {
			float: none;
			margin: 4px;
			white-space: nowrap;
			overflow: hidden;

			span {
				display: inline-block;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 200px;
			}

			.item {
				background: transparent;
				position: relative;

				div.actions {
				    float: right;
					margin-top: 0;
					position: static;
					width: 50px;
					background: none;
				}


				* { margin-right: 5px; }

				img {
					height: 24px;
					width: 24px;
					vertical-align: middle;

					//default icons
					&[src^="data:image"] { background-size: 24px 24px; }

					//thumbnail icon.
					&[src*="://"]{}
				}

				.x-quirks & {
					padding-bottom: 3px;
					text-align: left;
				}
			}
		}

		.item img {
			//default icons
			&[src^="data:image"] {
				background-size: 80px 80px;
				background: $file-type-unknown;

				&.ai { background: $file-type-ai; }
				&.doc { background: $file-type-doc; }
				&.pdf { background: $file-type-pdf; }
				&.pps { background: $file-type-pps; }
				&.ppt { background: $file-type-ppt; }
				&.swf { background: $file-type-swf; }
				&.xls { background: $file-type-xls; }
				&.zip { background: $file-type-zip; }
			}

			//thumbnail icon.
			&[src*="://"]{}
		}
	}
}

.classroom-chooser {
	a {
		@include system-link-def;
		&:link,
        &:visited,
        &:active {
            @include system-link-def;
        }
	}

	h2 { font-size: 150%; }

	hr {
	    border: 1px solid #000;
		border-bottom: none;
	}
}

.classroom-browser {
	//@include data-view;

	.item-wrap {
		margin: 4px;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		overflow: hidden;
		padding: 5px;
		cursor: pointer;

		.item {
		    background: transparent;
			overflow: hidden;

			canvas {float: left; width: 48px; height: 48px;}
			div {margin: 10px 0 0 55px;}
			span{ font-size: 150%; }

			.selector{
			    margin: 0;
				display: none;
				float: right;
				padding-top: 3px;
			}
		}

		&.x-item-over{
			border:1px solid #dddddd;
			background: #efefef $data-view-over-bg repeat-x left top;
			padding: 4px;

			.item .selector{
				display: block;
			}
		}

		&.x-item-selected{
			background: #eff5fb $data-view-selected-bg repeat-x right bottom;
			border:1px solid #99bbe8;
			padding: 4px;
		}
	}
}
