//Animate Mixin Plugin

@mixin animate($name: fadeIn, $duration: 1s, $delay: 0.2s, $function: ease, $mode: both, $iteration:null) {
	$value: $name $duration $delay $function $iteration $mode;
	@if $iteration==null {
		$value: $name $duration $delay $function $mode;
  	}
	@include experimental(animation, $value);
	.x-safari5 & {
		@include experimental(animation, none);
	}
}

@mixin no-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


@mixin allow-select {
	-moz-user-select: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}


@mixin hardware-accelerate() {
	@include experimental(transform, translate3d(0, 0, 0));
	@include experimental(backface-visibility, hidden);
	@include experimental(perspective, 1000);
}


@mixin scrollbar($track:white,$nib:rgba(0,0,0,0.5),$margin:5px 0){
	.detected-scrollbars &::-webkit-scrollbar,
	.detected-scrollbars &::-webkit-scrollbar-track {
		width: 8px; height: 8px;
		background: $track;
		z-index: 0;
		margin: $margin;
	}
	.detected-scrollbars &::-webkit-scrollbar-thumb {
		background: $nib;
		border: 1px solid opacify($track,1);
		border-radius: 10px;

	}

	scrollbar-face-color: opacify($nib,1);
	scrollbar-highlight-color: opacify($nib,1);
	scrollbar-3dlight-color: opacify($nib,1);
	scrollbar-darkshadow-color: opacify($nib,1);
	scrollbar-shadow-color: opacify($nib,1);

	scrollbar-arrow-color: opacify($track,1);
	scrollbar-track-color: opacify($track,1);

	/*

	::-webkit-scrollbar
	::-webkit-scrollbar-button
	::-webkit-scrollbar-track
	::-webkit-scrollbar-track-piece
	::-webkit-scrollbar-thumb
	::-webkit-scrollbar-corner
	::-webkit-resizer


	:horizontal
	:vertical
	:decrement
	:increment
	:start
	:end
	:double-button
	:single-button
	:no-button
	:corner-present
	:window-inactive

//IE
	scrollbar-face-color
	scrollbar-highlight-color
	scrollbar-3dlight-color
	scrollbar-darkshadow-color
	scrollbar-shadow-color
	scrollbar-arrow-color
	scrollbar-track-color
	*/
}


@mixin fade-mask(){
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(left,
		rgba(255,255,255,0) 0%,
		rgba(255,255,255,0) 78%,
		rgba(255,255,255,1) 100%));
}


@mixin placeholder-style(){
	font-style: italic;
	color: $tertiary-grey;
}


@mixin clearfix_left($dist:0px) {
	clear: both;
	padding-left: $dist !important;
}


@mixin bottom-etch( $dark: #ebebeb, $light: #f8f8f8 ){
	box-shadow: inset 0px -1px 0px 0px $dark;
	border: 1px solid $light;
	border-width: 0;
	border-bottom-width: 1px;
}


@mixin top-etch( $dark: #ebebeb, $light: #f8f8f8 ){
	box-shadow: inset 0px 1px 0px 0px $light;
	border-top: 1px solid $dark !important;
}


@mixin side-panel-view-title{
	.view-title {
		color: $tertiary-grey;
		font:{size: 30px; style: italic; weight: 300;}
		padding: 20px 18px 15px;
	}
}


@mixin text-box-style {
	background: #ffffff;
	padding: 5px;
	color: $secondary-grey;
	height: 30px;
	font-family: $font;
	//font-size: 15pt;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #a0a0a0;
	box-shadow: inset 2px 2px 6px -2px rgba(0, 0, 0, 0.3);

	$value: background-color 0.5s, color 0.5s;

	@include experimental(transition, $value);

	&.error {
		@include experimental(transition, $value);
		border-color: red;
		background-color: #ffc0c0;
	}

	&.empty,
	&.x-form-empty-field {
		font-style: italic !important;
	}
}


@mixin divider {
	.divider {
		position: relative;
		color: $secondary-grey;
		background-color: #F1F1F1;
		font: {
			size: 10px;
			weight: bold;
		}
		text-transform: uppercase;
		line-height: 29px;
		padding-left: 22px;
	}
}


@mixin like-and-favorite {
	.favorite, .like {
		cursor: pointer;
		float: right;
		background: url(../images/old_sprites/spr_like_controls.png) 0 0 no-repeat;
	}

	.like{
		color: $primary-blue;
		margin: 8px;
		padding: 0 0 0 20px;
		white-space: nowrap;
		text-overflow: clip;
		height: 16px;
		min-width: 30px;
		line-height: 16px;
		font-size: 10px;
		font-style: italic;
		font-weight: 600;
		background-position: -36px -15px;
        &:hover, &.on{
		    background-position: -36px 0;
        }
	}
	.favorite{
		margin: -1px 10px 0 0;
		width: 18px;
		height: 24px;
		background-position: 0 -3px;
        &:hover, &.on {
		    background-position: -18px -3px;
        }
	}

	.favorite-spacer{
		float: right;
		margin: -1px 10px 0 0;
		width: 18px;
		height: 24px;
	}
}


@mixin menu-label-text-treatment {
	color: $secondary-grey;
	font-size: 10px;
	font-weight: 600;
	overflow: hidden;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
}


@mixin system-link-def {
	color: $secondary-grey;
	text-decoration: underline;
	cursor: pointer;
}


@mixin content-link-def{
	color: $secondary-grey;
	text-decoration: none;
	cursor: pointer;
	line-height: 1.5em;
}


@mixin data-view {
	background: #ffffff;
	font: 11px Arial, Helvetica, sans-serif;
	.item-wrap {
		float: left;
		margin: 4px;
		margin-right: 0;
		padding: 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		span {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: center;
			width: 86px; // for ie to ensure that the text is centered
		}

		.item {
			/*background: #dddddd;*/
			padding: 3px;
			padding-bottom: 0;

			img{
				height: 80px;
				width: 80px;
			}

			.x-quirks & {
				padding-bottom: 3px;
				text-align: center;
			}
		}
	}

	.x-item-over{
		border:1px solid #dddddd;
		background: #efefef $data-view-over-bg repeat-x left top;
		padding: 4px;
	}

	.x-item-selected{
		background: #eff5fb $data-view-selected-bg repeat-x right bottom;
		border:1px solid #99bbe8;
		padding: 4px;

		.item { background: transparent; }
	}
}


@mixin arrow($pointFrom:bottom,$width:7px,$height:4px,$color:$primary-grey){
	/*
	* In Internet Explorer, The"border-style: dashed" will never be
	* rendered unless "(width * 5) >= border-width" is true.
	* Since "width" is set to "0", the "dashed-border" remains
	* invisible to the user, which renders the border just like how
	* "border-color: transparent" renders.
	*/
	border-style: dashed;
	border-color: transparent;
	border-width: 0.6em;
	display: -moz-inline-box;
	display: inline-block;
	/* Use font-size to control the size of the arrow. */
	font-size: $width;
	vertical-align: middle;
	height: 0;
	line-height: 0;
	width: 0;
	border-#{$pointFrom}-width: $height;
	border-#{$pointFrom}-style: solid;
	border-#{$pointFrom}-color: $color;
}
