@mixin contact-card {
	posititon: relative;
	overflow: hidden;
	padding: 5px 8px 3px 20px;

	img {
		width: 32px;
		height: 32px;
		float: left;
	}

	.text-wrap {
		margin: 0 33px 0 46px;

		.name {
			@include menu-label-text-treatment;
			color: #3fb3f6;
		}
		.affiliation {
			color: #757474;
			font: { size: 12px; weight: 400; }
			margin-left: 2px;
		}
	}
}


.populate-contacts {
	background: url(../images/populate_contacts_bubble.png) 3px -1px no-repeat;
	width: 259px;
	height: 151px;
	overflow: hidden;
	position: relative;
	padding: 30px 20px 20px 20px;
	font-size: 14px;
	font-weight: regular;
	color: #757474;

	.title {
		font-size: 18px;
		font-style: italic;
		color: #7dbe35;
		margin: 0 0 5px 0;
	}
}


.contact-search {
	box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2);

	&.x-box-layout-ct {
		&, & > .x-box-inner {
			overflow: visible;
		}
	}

	background: #fafafa;
	background: rgba(250,250,250,0.97);

	.search-field {
		background: #ffffff;
		border-top: 1px solid #ededed;
		//border-left: 1px solid #cacaca;
		border-bottom: 1px solid #d5d5d5;
		box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2);
		padding: 10px;

		&::after{
			content: ' ';
			position: absolute;
			width: 38px;
			height: 10px;
			background: #ffffff;
			top: -5px;
			right: 0;
		}
	}


	.search-results {
		box-shadow: inset 0 0 0 -1px #ffffff;
		//border: 1px solid #cacaca;

		.x-item-selected,
		.over {
			.item {
				border-radius: 1px;
				box-shadow: 0 0 0 4px #f1f1f1;
				background-color: #f1f1f1;

				img.add {
					background-position: -18px 0;
				}
			}
		}

		.item {
			@include contact-card;

			img.add {
				margin-top: 7px;
				float: right;
				cursor: pointer;
				background: url(../images/add_contact.png) 0 0 no-repeat;
				width: 18px;
				height: 17px;
				&:hover {
					background-position: -18px 0;
				}
			}

			.not-in-contacts {

			}

			&.my-contact {
				img.add {display: none;}
				.text-wrap {
					margin-right: 0;
				}
			}
		}

	}
}


.add-contact-popout {
	&.x-layer {
		overflow: visible;
	}

	background: #f8f8f8;
	border: 1px solid #cecece;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14), inset 0 2px 0 0 rgba(255,255,255,0.5);
	&::after{
		content: url(../images/add_contact_pointer2.png);
		position: absolute;
		top: 26px;
		right: -12px;
	}

	.add-person-card {

		.contact-card{
			@include contact-card;
			padding: 10px 0 10px 10px;
			margin: 0 0 0 0;

			border-bottom: 1px solid #e6e6e6;

			.text-wrap {
				margin: 10px 0 0 52px;
				.name, .affiliation {
					font-size: 11px;
					font-weight: 600;
				}

			}

			img {
				width: 42px; height: 42px;
				border-radius: 2px;
			}
		}
	}


	.add-button.x-container{
		border-top: 1px solid #e6e6e6;
		box-shadow: inset 0 1px 0 0 #fdfdfd;
		padding: 12px;

		.x-btn-primary-large{
			margin: 0;
			.x-btn-inner{
				font-style: italic;
				font-weight: 600;
			}
		}
	}
}
