.simple-popover-widget {
	position: absolute;
	background-color: #ffffff;
	color: $secondary-grey;
	font: normal 14px/22px $font;
	padding: 15px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
	z-index: 100;

	.bubble {
		overflow: {
			x: hidden;
			y:auto; //scroll;
		}
	}

	&.top::after{
		content: url(../images/elements/bubble-tip-top.png);
		position: absolute;
		top: -15px;
		left: 160px;
	}

	&.bottom::after{
		content: url(../images/elements/bubble-tip.png);
		position: absolute;
		bottom: -20px;
		left: 160px;
	}

	&.right::after{
		right: 26px;
		left: auto;
	}

	&.left::after{
		left: 26px;
		right: auto;
	}
}

.x-component-content-filter {
	margin-right: 25px;

	.shrink-wrap {
		position: relative;
		overflow: hidden;

		&.active,
		&.over {
			.label { color: $primary-grey; }
			.menu {
				span {
					background-image: url(../images/elements/menu-arrow-down-active.png);
				}
			}
		}
	}

	.label {
		color: $tertiary-grey;
		font-size: 10px;
		font-weight: 800;
		font-style: normal;
		font-family: $font;
		overflow: hidden;
		text-transform: uppercase;
		@include ellipse;
	}
	.menu {
		max-width: 450px;
		color: $primary-grey;
		font-size: 11pt;
		font-weight: 400;
		font-style: normal;
		font-family: $font;
		overflow: hidden;
		@include ellipse;
		margin-bottom: 6px;
		span {
			padding-right: 15px !important;
			background: url(../images/elements/menu-arrow-down-default.png) no-repeat 100% 50%;

			.x-ie10 &,
			.x-ie & {
				display: block;
				@include ellipse;
				overflow: hidden;
			}
		}
	}
}


.x-reader-pane {
	.x-panel-body-reader {
		@include scrollbar(#ffffff, $tertiary-grey);
	}

    iframe[name$="content"] {
		margin: 0;
		width: 100%;

		.detected-scrollbars &{
			margin-right: 10px;
		}

        &.clickthrough {
            pointer-events: none;
        }
    }

    .reader-toast {
    	position: fixed;
    	bottom: 4px;
    	z-index: 10;
    	background-color: white;
    	color: $primary-grey;
    	max-width: 300px;
    	font: normal 600 1em/1.2 $font;
    	padding: 3px;
    	box-shadow: 0 0 2px 0 rgba(0,0,0,0.35);
    	@include experimental(transition, all 0.5s);

    	@include animate('fadeInUp');

    	&.saving {
    		padding-left: 30px;
    		line-height: 24px;

    		&::before {
    			@include loadingSpinner($top: 3px, $left: 3px);
    		}
    	}

    	&.saved, &.error {
    		padding-left: 3px;
    		line-height: 24px;
    		@include animate('fadeOutDown', $delay: 2s);

    		&::before {
    			display: none;
    		}
    	}

    	&.saved {
    		background-color: $primary-green;
    		color: white;
    	}

    	&.error {
    		background-color: $primary-red;
    		color: white;
    	}
    }
}

.component-overlay {
	.videos {
		iframe {
			margin: 0 auto;
		}
	}
}

div.no-content-splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	z-index: 99;
	background-color: white;

    &.initial{
        .x-component-resource-not-found{
            visibility: hidden;
        }
    }

    .x-component-resource-not-found{
        margin: 50px auto;
        width: 75%;
    }
}

.searchHit-overlay {
  	position: absolute;
  	right: 0;
  	top: 0;
  	width: 100%;

  	.searchHit-entry {
		position: absolute;
		background-color: #FCFF13;
		z-index: 999;
		box-shadow: 0 0 0 2px #FCFF13,1px 1px 2px 2px rgba(0, 0, 0, 0.2);
		opacity: 0.5;
  	}
}


.component-overlay {
	position: absolute;
	overflow: visible;
	height: 0;
	left: 30px;
	top: 0;
	right: 60px;

	& > .x-panel {
		z-index: 3;
		position: absolute;
		width: 98%;
		@include experimental-value(width, calc(100% - 5px));
	}
}


.content-page-widgets{
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 10;
	//prevent note controls from being visible behind.
	background: white;
	overflow: hidden;
	padding-bottom: 12px;
	padding-left: 10px;

	.detected-scrollbars & {
		right: 17px;
	}

	.meta {
		position: relative;
		overflow: hidden;
		@include like-and-favorite;
	}
}
