.overview-editing-prompt {
	width: 90vw;
	max-width: 810px;

	.content-editor {
		padding: 20px;

		.overview-editing-parentselection {
			margin-bottom: 20px;
		}
	}
}

.content-editor.content-link {

	&.document {
		.overview-editing-parentselection {
			position: relative;
			top: 0;
			opacity: 1;
			height: auto;
			transition: top 0.5s, opacity 0.3s;
		}

		.group.card {
			position: relative;
			top: 0;
			opacity: 1;
			height: auto;
			transition: top 0.5s, opacity 0.3s;
		}

		&.file-only {
			.overview-editing-parentselection {
				top: -10px;
				opacity: 0;
				height: 0;
			}

			.group.card {
				top: 10px;
				opacity: 0;
				height: 0;
			}

			form {
				box-shadow: none;
			}
		}
	}


	&.url {
		.field.href {
			background: white;
			padding: 15px;
		}
	}



	form {
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);


		.group.card {
			background: white;
			padding: 15px;
			border-top: 1px solid #d8d8d8;
			@include flexContainer();

			.field.icon {
				@include flexItem(0 0 auto);
				padding-left: 1px;

				box-shadow: inset 1px 0 0 0 #d8d8d8,
								0 1px 0 0 #d8d8d8,
								0 -1px 0 0 #d8d8d8;
			}

			.meta {
				@include flexItem(1 1 auto);
				padding: 11px;
				background-color: #f5fbff;
				box-shadow: inset -1px 0 0 0 #d8d8d8,
								inset 1px 0 0 0 #d8d8d8,
								0 1px 0 0 #d8d8d8,
								0 -1px 0 0 #d8d8d8;
			}

			.field.byline input, .field.label input, .field.description textarea {
				&:focus {
					background: white;
					box-shadow: 0 0 3px 0 $primary-blue, 0 0 0 1px #d8d8d8;
				}

				&.error {
					box-shadow: 0 0 0 1px $primary-red;
				}
			}

			.field.byline, .field.label {
				input {
					padding: 0 0.5em;
					display: block;
					line-height: 22px;
					margin: 0 0 5px;
					font-size: 0.75em;
					font-weight: 300;
					border: none;
					box-shadow: 0 0 0 1px #d8d8d8;
					width: 100%;
				}
			}

			.field.description {
				textarea {
					margin: 0;
					padding: 2px 0.5em;
					resize: none;
					width: 100%;
					font-size: 0.75em;
					line-height: 22px;
					font-weight: 300;
					height: 43px;
					border: none;
					box-shadow: 0 0 0 1px #d8d8d8;
				}
			}
		}
	}
}

.outline-node-editing {
	background: white;
	position: relative;

	& > .overview-editing-controls {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 1;
	}
}

.outline-node-preview {
    padding: 1.0em 1.7em;
    position: relative;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);


	.title {
		color: $primary-grey;
		font: normal 300 2.25em/1.15em "Open Sans",sans-serif;
	}

	.controls {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.toolbar {
		position: relative;
		display: block;
    	height: 60px;
    	clear: both;

		.left {
			float: left;
		}

		.right {
			float: right;
		}
	}

	.footer {
		margin: 10px 0;
		height: 30px;

		.edit {
			float: right;
		}
	}
}

.overview-editing-parentselection {
	 & > .label {
		color: $tertiary-grey;
		font: normal 600 0.625em/1 $font;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	& > .selection {
		background: white;
		position: relative;
		display: inline-block;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0.8em;
			width: 0;
			height: 0;
			margin-top: -2px;
			border-style: solid;
			border-width: 0 4px 5px 4px;
			border-color: transparent transparent #bfbfbf transparent;
		}


		&.closed {
			&::after {
				transform: rotate(180deg);
			}

			.menu {
				display: none;
			}
		}

		.active {
			line-height: 40px;
			font-size: 0.875rem;
			padding: 0 1em 0 10px;
			box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
			width: 260px;
			cursor: pointer;
		}
	}
}

.overview-editing-parentselection-menu,
.overview-editing-parentselection {
	.group-item {
		.label {
			display: inline-block;
			vertical-align: middle;
			width: 200px;
			font: normal 400 0.875rem/40px $font;
			overflow: hidden;
			@include ellipse();
		}

		.color {
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			border-radius: 3px;
			padding: 0;
			margin-right: 0.5em;
		}
	}
}


.overview-editing-parentselection-menu {
	position: fixed;
	background: white;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
	z-index: 300;
	overflow: auto;


	.parentselection-menuitem {
		padding: 8px;

		&.new-item {
			cursor: pointer;
			font-size: 0.875em;
			text-align: center;
			color: $primary-blue;

			&:before {
			    content: "+";
			    padding-right: .5em;
			}
		}

		&:last-child, &:first-child {
    		border-top: .75px solid rgba(0, 0, 0, 0.08);
		}
	}

	.over-editit-parentselection-newitem {
		text-align: right;

		.sub-label {
		    font-size: 0.625em;
		    text-transform: uppercase;
			color: #757474;
		}

		.save {
		    background-color: #3fb3f6;
		    color: white;
		}
		.back, .save {
		    display: inline-block;
		    line-height: 35px;
		    font-size: 0.875em;
		    padding: 0 1em;
		    cursor: pointer;
		}
	}
}


.overview-editing-controls {
	.control {
		display: inline-block;
		width: 20px; height: 20px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		opacity: 0.7;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	.edit {
		@include icon('edit-12', $top: 4px, $left: 4px);
	}

	.add {
		@include icon('editor-attach_hover', $top: 4px, $left: 4px);
	}

	.publish {
		&.published {
			@include icon('publishing-visible', $top: 4px, $left: 4px);
		}

		&.unpublished {
			@include icon('publishing-invisible', $top: 4px, $left: 4px);
		}
	}
}

.new-node {
	> .title {
		text-align: center;
		font: normal 600 16px/42px $font;
		color: $primary-blue;
		background-color: #e8e8e8;
		cursor: pointer;
	}
}

.inline-editor {
	.field {
		input {
			margin: 5px 10px;
			padding: 5px 10px;
    		font: normal 400 0.9em/1.5em $font;
    		color: $secondary-grey;

			@include experimental-value(width, calc(100% - 20px));
		}
	}
}

.overviewgroup-editor {

    text-align: left;
    border-bottom: 1px solid #ededed;
    padding: 0.7em;

	.title {
	    width: 100%;
	    font-size: 1em;
	    margin-bottom: 0.5em;
	}

	ul.colors {
		list-style: none;
		margin: 0;
		padding: 0;

		li.color {
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 5px;

			&.selected {
				opacity: 0.7;

				&:after {
				    content: '';
				    display: block;
				    width: 4px;
				    height: 8px;
				    border: solid #000;
				    border-width: 0 2px 2px 0;
				    transform: rotate(45deg);
				    position: relative;
				    bottom: 5px;
				    right: 1px;
				}
			}
		}
	}
}

.nav-outline {
	&.editing {
		background: none;

		.outline-header {
			background: #ffffff;
		}

		.outline-list {
			bottom: 50px;

			.body {
				background: #ffffff;

				> .outline-group {
					> .items {
						padding: 5px;
						background-color: #e2e2e2;

						> .outline-group {
							> .outline-row {
								border-bottom: 1px solid $tertiary-grey-alt;
								.label {
									color: $primary-grey;
								}

								&.lesson:not(.heading) {
									font: normal 600 14px/27px $font;
								}

								&.selected {
									.label {
										color: $quad-grey;
									}
								}
							}
						}
					}

					.new-node {
						&.lesson {
							.title {
								font: normal 600 16px/42px $font;
								background-color: #e2e2e2;
							}
						}
					}
				}
			}
		}

		> .new-node {
			position: absolute;
    		bottom: 0;
    		right: 0;
    		left: 0;
    		background-color: #ffffff;

    		.title {
    			background-color: $primary-blue;
    			color: #ffffff;
    		}
		}

		&.editor-open {
			.outline-list {
				bottom: 95px;
			}
		}
	}
}


.outline-editing-controls, .outline-node-preview {
	.button {
		position: relative;

		&.closed {
			.menu-container {
				display: none;
			}
		}

		&.publish, &.published {
			width: 220px;

			.label {
				width: 200px;
			    padding: 9px 10px 9px 26px;
			    margin: 10px;
			    border-radius: 5px;
			    background: #f8f8f8;
			    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
			    color: $primary-blue;
			    font-size: 14px;
			    position: relative;
			    font-weight: 600;
			    cursor: pointer;

			    @include icon('dropdown-blue', $side: after, $top: 10px, $left: auto, $right: 10px);
			    @include icon('publish-icon-blue', $side: before, $top: 12px, $left: 11px, $right: auto);
			}
		}

		&.published {
			.label {
				color: #ffffff;
				background: $primary-blue;
				@include icon('dropdown-white', $side: after, $top: 10px, $left: auto, $right: 10px);
			    @include icon('publish-icon-white', $side: before, $top: 12px, $left: 11px, $right: auto);
			}
		}

		.save {
			margin: 5px 0;
			display: block;
			line-height: 40px;
		    text-align: center;
		    padding: 0 1.5em;
		    border-radius: 3px;
		    color: white;
		    background-color: $primary-blue;
		    cursor: pointer;

		    &.disabled {
				background-color: $tertiary-grey-alt;
				box-shadow: inset 1px 0 0 0 $border-grey;
			}
		}

		.menu-container {
			position: relative;
			top: 100%;
			background: white;
			z-index: 1;

			&::before {
				content: ' ';
				position: absolute;
				right: 18px;
    			top: -3px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 9px 10px 9px;
				border-color: transparent transparent rgba(0,0,0,0.3) transparent;

			}

			&::after {
				content: ' ';
				position: absolute;
				right: 19px;
    			top: -2px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8.5px 9px 8.5px;
				border-color: transparent transparent #ffffff transparent;
			}

			.editing-publishing-menu, .editing-available-date-menu {
				padding: 10px;
				background-color: #ffffff;
    			width: 355px;
    			box-shadow: 0 0 3px 0px rgba(0,0,0,0.3);
    			position: fixed;
    			overflow-x: hidden;
    			overflow-y: auto;

				.option {
					border-bottom: 1px solid $quad-grey;
					color: $secondary-grey;

					.text {
						padding: 10px 10px 10px 37px;
						font-size: 14px;
						position: relative;

						@include icon('radio-unfilled', $side: after, $top: 12px, $left: 10px);
					}

					&.selected {
						.text {
							position: relative;
							padding-bottom: 0;
							@include icon('radio-filled', $side: after, $top: 12px, $left: 10px);
						}

						.subtext {
							display: block;
						}
					}

					.subtext {
						font-size: 12px;
						color: $tertiary-grey;
						padding: 0 0 10px 37px;
						display: none;
					}


					&:last-of-type {
						border-bottom: none;
					}
				}
			}

			.editing-available-date-menu {
				margin-top: 7px;
			}
		}

		&.calendar {
			position: relative;

			.date-selected {
				position: absolute !important;
			    left: 0;
			    top: -5px;
				cursor: pointer;
				width: 51px;
			    height: 40px;
			    display: block;

				@include icon('dropdown-am-pm-icon', $side: after, $top: 20px, $left: auto, $right: 3px);

				.date {
					cursor: pointer;
					display: block;
					opacity: 0.3;
					min-width: 25px;
					position: absolute;
					left: 0px;
					top: 7px;
					text-transform: uppercase;
					border-radius: 2px;
					box-shadow: 0 0 0 1px $primary-grey, inset 0 0 0 1px $primary-grey;
					text-align: center;

					div:first-child {
						background: $primary-grey;
						color: white;
						border-radius: 0;
						font: normal 700 0.7em/1.1em $font;
						padding: 2px 6px;
					}

					div:last-child {
						color: $primary-grey;
						font: normal 500 0.8em/1.3em $font;
						border-radius: 0;
					}
				}
			}

			.main {
				position: relative;
				display: block;
			    color: $tertiary-grey;
			    margin-left: 60px;
			    margin-top: 10px;

				.text {
					display: inline-block;
			    	border: 2px solid #d1d1d1;
			    	font-style: italic;
			    	padding: 5px 10px;
			    	font-weight: 300;
					cursor: pointer;
				}

				.save {
				    display: none;
				    line-height: 32px;
				    padding: 0 12px;
				    margin: 0 0 0 12px;

					&.active {
						display: inline-block;
					}
				}
			}



			.menu-container {
				margin-top: 10px;

				&::before {
					left: 9px;
					right: auto;
				}

				&::after {
					left: 10px;
					right: auto;
				}


				.calendar-menu {
					margin-top: 7px;
					width: auto;
				}

				&.text-clicked {
					&::before {
						left: 200px;
					}

					&::after {
						left: 201px;
					}

					.calendar-menu {
						margin-left: 60px;
					}
				}
			}
		}
	}
}

.child-creation {
	.new-type-list {
		padding: 20px;

		.new-type {
			cursor: pointer;
			display: inline-block;
			width: 130px;
			margin-right: 30px;

			&:nth-of-type(5n) {
				margin-right: 0;
			}

			.icon {
				height: 180px;
				background: white;
			}
		}
	}
}

.nti-date-picker {
	.x-datepicker {
		width: 268px;
		border: none;
		margin: 10px 0;

		.x-datepicker-header {
			background-color: #ffffff;
			background-image: none;
			color: $secondary-grey;
			margin: 10px 0;

			.x-datepicker-month {

				.x-btn-inner {
					color: $secondary-grey;
					font-size: 14px;
				}
			}

			.x-datepicker-arrow {
				width: 12px;
				height: 21px;

				&.x-datepicker-next {
					background: url(../images/icons/date-chevron-right.png) no-repeat;
				}

				&.x-datepicker-prev {
					background: url(../images/icons/date-chevron-left.png) no-repeat;
				}
			}
		}

		.x-datepicker-inner {
			.x-datepicker-column-header {
				background: none;
				border: none;
				color: $secondary-grey;
				font-weight: 500;
				font-size: 14px;
				text-align: center;
			}

			.x-datepicker-cell {
				.x-datepicker-date {
					color: $secondary-grey;
				    padding: 3px;
				    background: none;
				    font-size: 13px;
				    font-weight: 300;
				    text-align: center;
				    margin: 4px 3px;
				    width: 26px;
				}

				&:first-of-type {
					.x-datepicker-date {
						padding-left: 0;
						margin-left: 0;
					}
				}

				&:last-of-type {
					.x-datepicker-date {
						padding-right: 0;
						margin-right: 0;
					}
				}

				&.x-datepicker-disabled {
					.x-datepicker-date {
						opacity: 0.6;
					}
				}

				&.x-datepicker-selected {
					background: none;
					border: none;

					.x-datepicker-date {
						background-color: $primary-blue;
						color: #ffffff;
						border-radius: 90px;
					}
				}

				&.x-datepicker-today {
					border:none;
					background: none;
				}
			}
		}

		.x-datepicker-footer {
			display: none;
		}
	}

	.time-container {
		margin: 14px auto;
		font-size: 13px;
		text-align: center;

		input {
			font-size: 13px;
			color: $secondary-grey;
		}

		.hour, .minute {
			width: 38px;
    		padding: 5px 0;
    		text-align: center;
		}

		.divider {
			margin: 0 5px;
		}

		.error {
			border: 1px solid $primary-red;
		}

		.meridiem {
		    margin-left: 15px;
		    padding: 5px 15px 5px 5px;
		    border: 1px solid $tertiary-grey-alt;
		    position: relative;
		    color: $secondary-grey;

    		@include icon('dropdown-am-pm-icon', $side: after, $top: 11px, $left: auto, $right: 5px);
		}
	}
}


.course-overview.course-overview-editing {
	padding: 15px 10px;
	background-color: #fafafa;

	.dnd-drop-placeholder, .dnd-save-placeholder {
		margin-bottom: 10px;
	}

	.overview-section {
		margin-bottom: 10px;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	}

	.overview-group-header {
		padding: 0 22px 0 12px;

		@include flexContainer();
		@include experimental(align-items, center);

		.overview-group-title {
			@include flexItem(1 1 auto);
		}

		.button.edit {
			@include flexItem(0 0 auto);
		}
	}

	.overview-group-body, .overview-group-footer {
		background: rgba(255, 255, 255, 0.8);
	}

	.overview-group-body {
		padding: 13px 12px;
		overflow: hidden;
	}

	.overview-group-title {
		font: normal 400 1.5rem/2.8rem $condensed-font;
		color: white;
	}

	.overview-editing-listitem {
		background: white;
		margin-bottom: 10px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

		&:last-of-type {
			margin-bottom: 0;
		}

		&.discussion {
			width: 230px;
			margin: 5px 5px 5px;
			float: left;

			.overview-discussion {
				width: 210px;
				margin: 0;
				box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
			}
		}

		.controls {
			padding: 8px 10px;
			text-align: right;
			border-bottom: 1px solid #e3e3e3;

			.nt-button.edit {
				display: inline-block;
			}
		}

		.body {
			padding: 12px 10px;
			overflow: hidden;

			& > .overview-video {
				width: auto !important;
				overflow: hidden;
			}
		}
	}

	.overview-group-footer {
		text-align: center;
		height: 55px;
		padding: 15px;

		.nt-button.add {
			display: inline-block;
			line-height: 30px;
			font-size: 0.875em;
			font-weight: 600;
			color: $primary-blue;
		}
	}

	.course-overview-footer {
		.nt-button.add {
			background: $primary-blue;
			line-height: 46px;
			font-size: 0.875em;
			font-weight: 600;
			color: white;
			text-align: center;
		}
	}
}
