
.context-card {
	.image-context {
		img {
			max-width: 640px;
		}

		&.slide {
			img {
				margin-left: 38px;
			}
		}
	}

	&.hidden {
		display: none;
	}
}

.dashboard-post {
	.context-card {
		.image-context {
			&.slide {
				.content-launcher {
					padding: 10px;

					img {
						margin-left: 0;
					}
				}
			}
		}
	}

	.context-content {
		& > .snippet {
			overflow: hidden;
    		height: inherit;
    		font: italic 300 1.1em/1.6em $font;
    		color: #7593a4;
    		background-color: #f6fcff;
    		padding: 0.2em 15px;

    		.par {
    			margin-top: 0;
    			margin-bottom: 0;
    		}
		}
	}
}