

.x-component-content-navigation.jumpto {
	width: 620px;
	.detected-scrollbars & {width: 635px;}

	.back {
		@include icon('profile_back_arrow', $top: 23px, $left: 35px);
		position: absolute;
		top: 0;
		bottom: 0;
		width: 60px;
	}

	.breadcrumb {
		margin-left: 60px;

		&, * {
			color: $tertiary-grey;
			font: normal normal 14px/60px $font;
			overflow: hidden;
			@include ellipse;
			text-transform: uppercase;
		}

		span.part {
			display: inline-block;
			max-width: 35%;
			cursor: pointer;

			&:hover,
			&:last-of-type:not(.no-children) {
				color: $primary-grey;
			}

			&.no-children,
			&:last-of-type {
				max-width: none;
			}

			&.no-children:last-of-type{
				position: relative;
				overflow: visible;
				cursor: default;
				margin-left: 0.4em;
				.x-gecko & {
					top: -25px;
				}
				&:hover {
					color: inherit;

					&::after{
						display: block;
						position: absolute;
						top: 0;
						left: -30px;

						color: #ffffff;
						background: #333333;
						border-width: 0;
						padding: 3px 5px;
						border-radius: 0;
						box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);

						font: normal 600 11px/12px $font;
						text-transform: uppercase;

						content: 'No sections in chapter';
					}

					&::before{
						position: absolute;
						top: 18px;
						left: -4px;
						content: '';
						background: $elements;
						@include sprite($elements,'tooltip-pointer-black-bottom',$dimensions: true);
					}
				}
			}
		}
	}
}

.x-component-content-pager {
	height: 60px;
	width: 120px;
	position: relative;

	.next,.prev {
		cursor: pointer;
		width: 60px;
		height: 60px;
		position: absolute !important;
		top: 0;
		opacity: 0.2;

		&:hover {
			opacity: 1;
		}
	}

	.next {
		right: 0;
		@include icon('next', $top: 20px, $left: 12px);
	}

	.prev {
		left: 0;
		@include icon('prev', $top: 20px, $left: 35px);
	}
}


.x-panel-notes-and-discussion {
	&,.x-panel-body-default{
		background: #fbfbfb;
	}
	border-left: 1px solid #ededed;
	border-left-width: 1px !important;
}

.nti-notes-and-discussion-tabbar,
.content-toolbar  {
	border-bottom: 1px solid #ededed;
	border-bottom-width: 1px !important;
}

.nti-notes-and-discussion-tabbar{
	.x-tab-notes-and-discussion-tab {

		//.x-tab-wrap{
		//	margin-left: 15px;
		//}

		text-transform: uppercase;
		color: $tertiary-grey;
		font: normal 600 12px/59px $font;

		.x-tab-icon-el {
			width: 21px;
			height: 20px;

			top: 20px;
			left: 15px;

			&.notepad {
				@include icon('notepad',$position:absolute);
			}

			&.discus {
				top: 22px;
				@include icon('discussions',$position:absolute);
			}
		}

		.x-tab-inner {
			text-align: left;
			margin-left: 43px;
			margin-right: 21px;
		}

		&.x-active {
			color: $secondary-grey;

			&::after{
				content: '';
				position: absolute;
				display: block;
				bottom: 0;
				left: 0; right: 0;
				background: $secondary-grey;
				height: 4px;
			}

			.x-tab-icon-el {
				&.notepad::after { @include sprite($icons,'notepad_active'); }
				&.discus::after { @include sprite($icons,'discussions_active'); }
			}
		}
	}
}
