
.x-toolbar-content {
	padding: 0;
	border: none;
	.x-toolbar-item {
		margin: 0 !important;
	}
}


.x-component-content-filter {
	margin-right: 25px;

	.shrink-wrap {
		position: relative;
		overflow: hidden;

		&.active,
		&.over {
			.label { color: #585858; }
			.menu {
				color: #767676;
				span {
					background-image: url(../images/menu-arrow-down-active.png);
				}
			}
		}
	}

	.label {
		color: #8a8989;
		font-size: 7.5pt;
		text-transform: uppercase;
		font-weight: 800;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.menu {
		max-width: 450px;
		color: #b2b2b2;
		font-size: 11pt;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 6px;
		white-space: nowrap;
		span {
			padding-right: 15px !important;
			background: url(../images/menu-arrow-down-default.png) no-repeat 100% 50%;
		}
	}
}

.x-container-content-page-widgets{
	.meta {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
		.controls {
			@include like-and-favorite();

			.favorite{
				margin: 0 -3px 0 0;
			}
		}
	}
}

.nti-content-tabbar-plain {
	border-top: 1px solid #f1f1f1 !important;

	.nti-body-content-tabbar{

		.x-tab-content-tab {
			background: #ffffff;
			border: 1px solid #f1f1f1;
			border-right-width: 0 !important;
			border-top-width: 0 !important;
			height: 32px;
			margin: 0 !important;

			&:last-of-type {
				border-right-width: 1px !important;
			}
			em {padding: 0 15px;}
			.x-tab-inner {
				color: #757474;
				font: 12px/32px $font !important;
				text-transform: uppercase;
			}

			&.x-tab-active {
				background: #ffffff;
				.x-tab-inner {
					color: #85b746;
					font-weight: 600 !important;
				}
			}

		}
	}
}

.gutter-shadow {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; width: 700px;
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 88%,rgba(255,255,255,0) 100%));
	pointer-events: none;
    z-index: 1;
	.x-ie9 & {
		display: none;
	}
}

.x-menu-nt,
.x-panel-nt {
	@include animate(fadeIn,0.5s);
	box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.3) !important;//TODO: fix to be a sane value (use RGBA to lighten the shadow, not the blur & spread)
	// REFRESHER: box-shadow syntax is:
	// box-shadow:  none | <shadow> [,<shadow>]*
	//	where <shadow> is defined as:
	//		inset? && [ <offset-x> <offset-y> <blur-radius>? <spread-radius>? <color>? ]

	.x-menu-list-ct,
	.x-menu-body {
		border: 1px solid #dcdcdc !important;
		background: #ffffff !important;
	}
	.x-menu-body {
		padding: 0 0 20px 0;
	}

	&.no-footer .x-menu-body {
		padding: 0;
	}
}



.selection-nt,
.x-menu-nt,
.x-panel-nt {

	.selection-list-ct,
	.x-menu-list-ct,
	.x-menu-body {
		background: #ffffff;

		li.x-menu-item {
			border-bottom: 1px solid #dcdcdc;
			&.no-border,
			&:last-of-type {
				border-bottom-width: 0px;
			}
		}

		.selection-list-item,
		.x-menu-item {
			color: #767676 !important;
			font-size: 11pt;
			font-weight: 400;
			background: none;
			padding: 7px 15px;
			margin: 0 !important;
			cursor: pointer;

			&.label{
				@include menu-label-text-treatment;
				padding: 15px 5px 5px 30px;
			}

			&.selection-selected,
			&.x-menu-item-checked {
				background: transparent url(../images/menu-check.png) no-repeat 10px 50%;
			}

			&.multiselect,
			&.x-menu-item-checked,
			&.x-menu-item-unchecked{
				padding: 5px 5px 5px 30px;
			}

			&.current,
			&.selection-item-over,
			&.x-menu-item-over,
			&.x-menu-item-active {
				background-color: #efefef;
				color: #3c3c3c !important;
			}

			&.x-menu-item-separator{
				background: #dcdcdc !important;
				height: 1px;
				padding: 0 !important;
				margin-top: 8px !important;
				margin-bottom: 18px !important;
				overflow: visible;

				.label {
					background: none;
					position: relative;
					span {
						color: #d0d0d0;
						background: #ffffff;
						top: -6px;
						left: 25px;
						padding: 0 5px;
						position: absolute;
						display: block;
						font-size: 7.5pt;
						text-transform: uppercase;
						font-weight: 600;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
		}

		.x-box-scroller-bottom .x-menu-scroll-bottom {
			background-image: url(../images/menu-arrow-down-active.png);
			opacity: 0.5;
			&.x-menu-scroll-bottom-hover {
				opacity: 1;
			}
			&.x-menu-scroll-bottom-disabled {
				opacity: 0 !important;
			}
		}

		.x-box-scroller-top .x-menu-scroll-top {
			background-image: url(../images/menu-arrow-up-active.png);
			opacity: 0.5;
			&.x-menu-scroll-top-hover {
				opacity: 1;
			}
			&.x-menu-scroll-top-disabled {
				opacity: 0 !important;
			}
		}
	}

	&.no-checkboxes {
		.selection-list-ct,
		.x-menu-list-ct,
		.x-menu-body {

			.selection-list-item,
			.x-menu-item {
				padding-left: 15px;
				&.label{
					padding-left: 15px;
				}
			}
		}
	}
}


.x-btn-content-button-large {
	width: 38px;
	height: 34px;
	border: 1px solid #ebebeb;
	margin-top: 5px;
	.x-btn-icon {
		top: 0; left: 0;
		width: 36px;
		height: 32px;
		background-position: 11px 6px;
		opacity: 0.3;

	}

	&.x-over {
		.x-btn-icon{
			opacity: 0.5;
		}
	}

	&.font {
		border-radius: 3px;
		.x-btn-icon {
			background-position: 6px 9px;
			background-image: url(../images/page-font.png);
		}
	}

	&.settings {
		width: 48px;
		border-radius: 3px;
		.x-btn-icon {
			width: 46px;
			background-position: 10px 7px;
			background-image: url(../images/page-settings.png);
		}
	}

	&.prev {
		border-radius: 3px 0 0 3px;
		.x-btn-icon {
			background-image: url(../images/page-prev.png);
		}
	}
	&.next {
		border-radius: 0 3px 3px 0;
		border-left-width: 0 !important;
		.x-btn-icon {
			left: 1px;
			background-image: url(../images/page-next.png);
		}
	}
}


#view-ctr {
	@include hardware-accelerate();
}

.x-reader-pane {

	&, iframe {
		@include hardware-accelerate();
	}

	.x-panel-body-reader {
		@include scrollbar(#ffffff, #b2b2b2, 45px 0);
	}
}

div.no-content-splash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	background: $empty-reader-bg center no-repeat;
	z-index: 99;
	background-color: white;
}

.searchHit-overlay {
  	position: absolute;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	width: 780px;

  	.searchHit-entry {
		position: absolute;
		background-color: #FCFF13;
		z-index: 999;
		box-shadow: 0 0 0 2px #FCFF13,1px 1px 2px 3px rgba(0, 0, 0, 0.2);
		opacity: 0.5;
  	}
}
