
@mixin contact-header {
	color: #8a8989;
	font-size: 7.5pt;
	font-weight: 700;
	padding-bottom: 2px;
	text-transform: uppercase;
}

$over-color: #f4f3f3;


.x-panel.contacts-panel {
	//padding: 0 10px 20px 10px;

	&.x-collapsed .x-panel-header{
		background-position: 10px -15px;
	}

	.x-panel-body{
		padding: 0 10px 20px 10px;
	}

	.x-panel-header {
		background: url(../images/collapse-expand.png) no-repeat 10px 3px;
		cursor: pointer;
		padding-left: 20px;
		padding-right: 10px;
		@include contact-header;

		.x-tool {
			margin-left: 0px;

			.x-tool-chat {
				width: 22px;
				height: 15px;
				opacity: 0.5;
				background: url(../images/start-chat.png);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.contact-card {
	margin: 7px 0 0 10px;
	overflow: hidden;


	.x-menu-list-ct &,
	.selection-nt &{
		margin-left: 0;
		img {
			&.nib {
				background: transparent url(../images/add_remove_gry.png) -2px -2px no-repeat;
				margin-top: 10px;
				border: none !important;
				float: right;
				width: 14px;
				height: 14px;

				.contacts-panel & {
					background-position: -20px -2px;
					margin-right: 5px;
				}
			}
		}
	}

	&.x-menu-item-over,
	&.selection-item-over,
	.selection-item-over &
	{
		img.nib{
			opacity: 0.5;
			display: block;
			&:active {
				opacity: 1;
			}
		}
	}


	img {
		float: left;
		width: 32px;
		height: 32px;
		margin-top: 2px;

		&.nib {
			background: transparent url(../images/contact_options.png) 0px 0px no-repeat;
			display: none;
			margin-top: 7px;
			border: none !important;
			float: right;
			width: 20px;
			height: 20px;
			cursor: pointer;
		}
	}

	&.card-over {

		border-radius: 1px;
		box-shadow: 0 0 0 4px #f1f1f1;
		background-color: #f1f1f1;

		img.nib{
			display: block;
			&:active,&:hover {
				background-position: -20px 0;
			}
		}
	}


	.card-body {
		margin-left: 44px;
	}


	.name {
		@include menu-label-text-treatment;
		color: #3fb3f6;
	}
	.status {
		color: #b8b8b8;
		font: { size: 8pt; weight: 500; }
	}
}



.add-contact-popout .add-person-card .group-selection-list {
	background: #ffffff;

	.selection-list-ct {
		&::before{
			color: #8a8989;
			font-size: 10px;
			font-weight: bold;
			content: 'SELECT GROUPS';
			display: block;
			margin: 20px 0 5px 35px;
		}

		background: none;
		ul {
			padding-bottom: 10px;

			&.disallowSelection{
				li.selection-list-item {
					background: none !important;
					padding: 5px;
				}
			}

			li.selection-list-item {
				padding: 5px 5px 5px 35px;
				color: #767676 !important;
				background: transparent url(../images/forms/check_box.png) no-repeat 12px 7px;

				&.selection-item-over{
					background-color: $over-color;
					color: #767676 !important;
					pointer: default;
				}


				&.selection-selected {
					background: transparent url(../images/forms/check_mark_a.png) no-repeat 15px 10px;
					&:active {
						background-image: url(../images/forms/check_mark_b.png);
					}
				}


				&.add-group-action {
					background: none;
				}

				a {
					&:active, &:visited, &:link{
						border: 0 dotted #767676;
						border-bottom-width: 2px;
						color: #767676;
						display: inline-block;
						font-style: italic;
						padding: 0px 2px;
						text-decoration: none;
					}
				}

				input {
					border: none;
					box-shadow: none;
					background: transparent;
					padding: 0;
					height: auto;

					$value: text-shadow 0.5s, color 0.5s;

					@include experimental(transition, $value);

					&.error {
						@include experimental(transition, $value);
						@include animate(shake);
						color: red;
						text-shadow: 2px 2px 2px #ffc0c0;
					}
				}

				img.delete-group {
					display: none;
					background: transparent url(../images/add_remove_gry.png) -20px -2px no-repeat;
					margin-top: 3px;
					border: none !important;
					float: right;
					width: 14px;
					height: 14px;
					cursor: pointer;
					opacity: 0.5;
					&:active {
						opacity: 1;
					}
				}

				&.selection-item-over {
					img.delete-group { display: block !important; }
				}
			}
		}
	}
}

.contacts-view {
	@include side-panel-view-title;
	.view-title {
		.search {
			background: url(../images/search.png) 11px 8px no-repeat;
			position: absolute;
			width: 39px;
			height: 32px;
			top: 30px;
			right: 0;

			&:active,
			&.active {
				background-position: 10px 7px;
				border: 1px solid #ededed;
				border-right-width: 0;
				border-bottom-width: 0;
				background-color: #ffffff;

				&:hover{
				}
			}

			&:hover {
			}
		}
	}

	.disabled-contacts-view{
	//	padding: 10px;
		padding-top: 0px;
		color: #757474;

		.disabled-message-div{
			background-color: #f1f1f1;
			padding: 15px;

			.disabled-title{
				color: #494949;
				padding-bottom: 3px;
				font-size: 16px;
				font-style: italic;
			&:active,&.active {
				background-position: -56px 0;
				&:hover{
					background-position: -84px 0;
				}
			}

			&:hover {
				background-position: -28px 0;
			}
		}
		}


	}
}
