.editing-window {
	.preview {
		margin: 20px;
	}

	.form-container {
		border-top: 1px solid #e1e1e1;

		form {
			padding: 20px;

			.field {
				display: block;
				border-bottom: 1px solid #e1e1e1;

				input, textarea {
					display: block;
    				font: normal 300 14px/30px $font;
    				border: 0;
    				margin: 5px 0;
    				width: 100%;
    				color: $primary-grey;
				}

				textarea {
					padding: 7px 7px 0;
    				font-family: $font;
    				font-size: 12px;
    				line-height: 2em;
				}

				label {
					font: normal 500 14px/30px $font;
					color: $primary-grey;
					display: inline-block;
					margin-right: 20px;
					vertical-align: top;
    				margin-top: 5px;

					& ~ input, & ~ textarea {
						display: inline-block;
    					width: auto;
    					min-width: 80%;
					}
				}
			}
		}
	}
}