
@import "compass";

.contact-us-window,
.code-window,
.recovery-email-window,
.coppa-window {
	@extend .nti-window;

	@include reset-window-border-radius(3px);

	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3),
	0 0 0 110px transparent;

	background-color: $quad-grey;

	.account-header-view {
		margin: 24px 0;
		.avatar {
			position: relative;
			box-shadow: 0 0 0 1px #e5e5e5;
			border-radius: 5px;
			margin-left: 20px;
			margin-top: 5px;
			float: left;
			display: block;
			border: 4px solid white;
			height: 62px;
			width: 62px;

			img {
				border-radius: 5px;
				height: 100%;
				width: 100%;
			}

			&:after {
				content: ' ';
				position: absolute;
				z-index: 1999;
				bottom: -9px;
				right: -9px;
				width: 18px; height: 18px;
				background: url(../images/icons/ico_green_check.png) 0 0 no-repeat;
			}

		}
		.text{
			&.full-width {
				margin-left: 34px;
				margin-right: 34px;
			}

			color: $secondary-grey;
			margin-right: 25px;
			margin-left: 100px;

			.title {
				font-weight: 400;
				font-size: 20px;
				font-style: italic;
			}
			.detail {
				font-size: 14px;
			}
		}
	}

	.code-main-view,
	.recovery-email-view,
	.contact-main-view,
	.coppa-main-view {
		color: $secondary-grey;

		* {
			font-size: 14px;
		}

		h3 {
			margin-bottom: 5px;
		}

		h3, .what-school {
			margin-top: 40px;
		}

		.input-wrapper {
			margin-left: 100px;
			margin-right: 75px;
			margin-bottom: 40px;
		}

		.input-box {
			position: relative;
		}

		.input-box, .combo-box {
			margin: 5px 0;
			&, input, .x-form-item { font-size: 14px;}

			.x-form-cb-label-after {
				margin-left: 10px;
			}

			&.error {
				input, input:focus {
					box-shadow: -4px 0 0 0 $primary-red;
				}
			}

			textarea,
			input {
				&:focus {
					outline: none;
					box-shadow: -4px 0 0 0 $primary-blue;
				}

				&.empty,
				&.x-form-empty-field {
					font-style: italic !important;
				}

				//vertical-align: bottom;
				color: $secondary-grey;
				font-size: 14px;
				font-weight: 500;
				line-height: 25px;
				border: 1px solid $border-grey;//#dcdcdc;
				border-left-width: 0px;
				background: #ffffff;
				padding: 6px 10px;
				margin: 0;
				min-height: 39px;
				@include experimental-value(width, calc(100% - 8px));
				.x-opera &,
				.x-safari5 & {
					width: 90%;
				}
				position: relative;
				left: 4px;
				box-shadow: -4px 0 0 0 $border-grey;
			}
			.clear {
				top: 10px;
				right: 15px;

				cursor: pointer;
				position: absolute;
				display: none;
				width: 16px;
				height: 16px;
				background: url(../images/icons/ico_clear_line.png) 0 0 no-repeat;
			}

			.placeholder {
				@include placeholder-style;
				position: absolute;
				top: 0;
				left: 0;
				font-weight: 500;
				line-height: 25px;
				padding: 7px 14px;

			}
		}

		.combo-box {
			input {
				box-shadow: none;
				left: 0;
				border-left-width: 1px;

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}

		.error-box {
			position: relative;
			overflow: hidden;
			background-color: $primary-red;
			margin-top: 40px;
			font-weight: 600;
			font-size: 14px;

			.error-field {
				text-transform: capitalize;
				color: $secondary-red;
				text-align: right;
				float: left;
				width: 85px;
				height: 70px;
				padding: 20px 0 0 0;

				&::after{
					content: ':';
				}
			}

			.error-desc {
				margin-left: 100px;
				color: white;
				padding: 20px 10px 0 0;
			}
		}

		.submit {
			@include top-etch($dark: #e2e2e2, $light: #fafafa);
			background-color: #f3f3f3;
			padding: 15px 10px;
		}

	}

	.code-main-view,
	.contact-main-view {
		.input-wrapper {
			margin-left: 34px;
			margin-right: 34px;
		}
		textarea,

		.input-box {
			textarea, input {
				width: 402px !important;
				box-shadow: none;
				border-left: 1px solid $border-grey;
				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}
	}

}
