.enrollment-credit {
	height: 100% !important;

	.header {
		background-color: #efefef;
		font: normal 600 0.6em/35px $font;
		text-transform: uppercase;
		color: $tertiary-grey;
		height: 36px;
		padding: 0;
		z-index: 0;

		div {
			float: left;
			position: relative;
			padding: 0 15px 0 29px;

			&.number::before {
				content: '';
				position: absolute;
				top: 8px;
				left: 7px;
				padding: 7px;
				border: 2px solid $tertiary-grey;
				border-radius: 13px;
				font-weight:700;
				line-height: 1em;
			}

			&.enabled {
				color: $secondary-grey;
			}

			&.enabled.number {
				color: $secondary-grey;
				@include icon('check_progress', $side: after, $top: 13px, $left: 11px);

				&::before {
					border-color: $secondary-grey;
				}
			}

			&.failed {
				color: $primary-red;

				&.number::before {
					border-color: $primary-red;
				}
			}

			&.active {
				background-color: white;
				border: 0px solid #e5e5e5;
				border-left-width: 1px;
				border-right-width: 1px;

				&:not(.failed) {
					color: $secondary-green;

					&::before {
						border-color: $secondary-green;
					}
				}
			}

			&.number:not(.enabled)::after {
				content: attr(data-number);
				position: absolute;
				top: 0;
				left: 13px;
			}
		}
	}

	.enrollment-container {
		padding: 70px 0px 30px 50px;
		overflow: auto;
		background-color: white;
		height: 90%;
		@include experimental-value(height, calc(100% - 36px));
	}

	.body-container {
		background-color: white;

		&.error {
			box-shadow: 0 0 0 1px $primary-red;
		}
	}

	.admission-group {
		.label {
			font: normal 300 1.7em/2em $font;
			color: $tertiary-grey;

			&.error {
				color: $primary-red;
			}
		}
		.error-detail {
			background-color:transparentize($primary-red,.85);
			border-radius:3px;
			p {
				padding:.5em 1em;
			}
		}
	}

	.admission-set {
		height: auto;
		overflow: hidden;
		margin-bottom: 40px;
		margin-left: -5px;
		padding-left: 5px;
		padding-bottom: 2px;

		.label {
			color: $primary-grey;
			font-size: 0.9em;
			line-height: 1em;
			font-weight: 500;
			margin-bottom: 20px;

			&:empty {
				margin-bottom: 0;
			}
		}

		.body-container {
			width: 675px;
			float: left;
			padding-bottom: 2px;
		}

		.help-container {
			float: left;
			margin-left: 10px;
			width: 220px;

			.help-item {
				position: relative;
			}

			.help {
				font: normal 400 0.9em/45px $font;
				display: block;
				text-decoration: none;
				color: $primary-blue;
				cursor: pointer;
			}

			.help-popover {
				position: absolute;
				right: 220px;
				background-color: #f7fcff;
				min-width: 230px;
				padding: 10px;
				border: 2px solid $primary-blue;
				border-radius: 5px;
				box-shadow: 0 0 15px 0 rgba(0,0,0,0.3);
				font: normal 300 1em/1 $font;

				&.hidden {
					visibility: hidden;
				}

				.title {
					font-size: 1.3em;
					line-height: 1.5em;
					margin-top: 10px;
					padding-right: 20px;
				}

				.body {
					line-height: 28px;
					font-size: 0.9em;
					font-weight: 400;
				}

				.close {
					cursor: pointer;
					top: 10px;
					right: 20px;
					@include icon('message_box_close', $position: absolute);
				}
			}
		}

		.enrollment-input-container {
			position: relative;

			&.nested {
				margin: 0;
				display: inline-block;
			
				.enrollment-input {
					padding-left: 50px;
					margin: 0;
				}

				.label {
					background-color: #f9f9f9;
					margin: 0;
					line-height: 40px;
					padding-left: 40px;
				}

				.enrollment-input.radio label {
					width: 615px;
					background-color: #f2f2f2;
					margin-bottom: 4px;
				}
			}

			.help {
				float: left;
				width: 490px;
				padding-left: 40px;
				position: relative;

				a {
					text-decoration: none;
					color: $primary-blue;
				}

				.information {
					padding-top: 10px;
					font-size: 0.9em;
					font-weight: 300;
					color: $tertiary-grey;
				}

				.information.hidden {
					display: none;
				}

				.information:not(.hidden) + .icon {
					@include icon('info_active', $position: absolute);
				}

				.icon {
					//cursor: pointer;
					top: 13px;
					left: 12px;

					@include icon('info', $position: absolute);

					&:hover {
						@include icon('info_active', $position: absolute);
					}
				} 
			}
		}

		.enrollment-checkbox-group {

			.yes {
				position: relative;
			}

			.options {
				padding-left: 20px;
				overflow: hidden;
				font-size: 1.1em;
				width: 98%;
				@include experimental-value(width, calc(100% - 20px));
				position: absolute;
				bottom: 1px;

				.enrollment-input {
					margin: 0;
				}

				.enrollment-input.checkbox {
					input[type=checkbox]:focus + label {
						box-shadow: none;
					}

					input[type=checkbox]:checked + label::before {
						display: none;
					}
				}

				&.disabled {
					cursor: default;
					.enrollment-input {
						cursor: default;
						color: $tertiary-grey;

						&.checkbox {
							input[type=checkbox]:focus + label {
								box-shadow: none;
							}

							input[type=checkbox]:checked + label {
								@include icon('checkbox-14', $top: 13px, $left: 18px);

								&::before{
									display: none;
								}
							}

							&:hover input[type=checkbox]:not(:checked) + label {
								@include icon('checkbox-14', $top: 13px, $left: 18px);
							}
						}
					}
				}

			}
		}

		.enrollment-input-container.error {
			position: relative;
			overflow: hidden;
			height: auto;

			box-shadow: 0 0 0px 1px $primary-red;
		}

		.enrollment-input {
			font: normal 600 0.9em/20px $font;
			display: inline-block;
			color: $primary-grey;
			margin: 2px 0;
			float: left;
			min-height: 40px;


			a {
				color: $primary-blue;
			}

			&.nested {
				margin: 0;
				padding-left: 20px;
			}

			&.card-name {
				width: 386px;
				margin-right: 200px; //wrap to the next line
			}

			&.card-number {
				width: 200px;
			}

			&.card-code {
				width: 85px;
			}

			&.full{
				width: 675px;
			}

			&.dark {
				background-color: #f9f9f9;
			}

			&.error {
				background-color: rgba(243, 82, 82, 0.05);
				border-color: $primary-red;

				label {
					border-color: $primary-red;

					&::before {
						background-color: $primary-red !important;
					}
				}
			}

			&.radio {
				cursor: pointer;

				.input-container {
					display: inline-block;
					position: relative;
					margin: 0 5px;

					&.dropdown {
						width: 300px;
					}

					&.disabled::after {
						content: '';
						position: absolute;
						top: 0; bottom: 0;
						left: 0; right: 0;
						background-color: #efefef;
						opacity: 0.5;
					}
				}

				input[type=text] {
					box-shadow: none;
					font-size: 14px;
					font-weight: 500;
					line-height: 25px;
					border: 1px solid $tertiary-grey;
					background: #ffffff;
					padding: 6px 10px;
				}

				.content {
					padding: 5px 0 15px 0;
					font-weight: 400;
					font-style: italic;

					a {
						text-decoration: none;
						color: $primary-blue;
					}

					&.hidden {
						display: none;
					}
				}

				input[type=radio] {
					opacity: 0;
					position: absolute;
				}
				
				input[type=radio] + label {
					min-height: 40px;
					padding: 10px 15px 10px 45px;
					display: block;
					cursor: pointer;
					@include icon('radio-button-16', $top: 12px, $left: 18px);

					&.input {
						padding: 0 15px 0 45px;
					}
				}

				input[type=radio]:checked + label {
					@include icon('radio-button-16_active', $top: 12px, $left: 18px);

					&::before {
						content: '';
						position: absolute;
						width: 4px;
						background-color: $primary-blue;
						top: 0;
						left: 0px;
						bottom: 0;
					}
				}

				&:hover input[type=radio]:not(:checked) + label {
					@include icon('radio-button-16_hover', $top: 12px, $left: 18px);
				}

				&:not(.error) {
					input[type=radio]:focus + label {
						box-shadow: inset 0 0 0 1px $primary-blue;
					}
				}

				&.error {
					input[type=radio]:focus + label {
						box-shadow: inset 0 0 0 1px $primary-red;
					}

					input[type=radio]:not(:checked) + label {
						background-color: #f9f9f9;
					}
				}
				label {
					.help {
						margin-bottom:1em;
						padding-left:0;
					}
				}
			}

			&.checkbox {
				cursor: pointer;

				input[type=checkbox] {
					opacity: 0;
					position: absolute;
				}

				input[type=checkbox] + label {
					min-height: 40px;
					padding: 10px 15px 10px 46px;
					display: block;
					cursor: pointer;

					&.long {
						line-height: 28px;
						padding: 15px 25px 15px 46px;
						font-weight: 400;

						&::after {
							top: 22px;
						}
					}

					@include icon('checkbox-14', $top: 13px, $left: 18px);
				}

				input[type=checkbox]:checked + label {
					@include icon('checkbox-14_active', $top: 13px, $left: 18px);

					&.long::after {
						top: 22px;
					}

					&::before {
						content: '';
						position: absolute;
						width: 4px;
						background-color: $primary-blue;
						top: 0;
						left: 0px;
						bottom: 0;
					}
				}

				&:hover input[type=checkbox]:not(:checked) + label {
					@include icon('checkbox-14_hover', $top: 13px, $left: 18px);

					&.long::after {
						top: 22px;
					}
				}

				input[type=checkbox]:focus + label {
					box-shadow: inset 0 0 0 1px $primary-blue;
				}
			}

			&.date-input {
				input {
					position: relative;
					height: 40px;//because IE sucks.
				}
				input:focus {
					border-color: $primary-blue;
					box-shadow: -1px 0 0 0 $primary-blue;
					z-index: 1;
				}

				&.required {
					.month input {
						box-shadow: inset 4px 0 0 0 $tertiary-grey;
						border-left-width: 0;

						&:focus {
							box-shadow: inset 4px 0 0 0 $primary-blue;
						}
					}
				}
			}

			&.text, &.select{
				input {
					box-shadow: none;
					border-radius: 0;
					font-size: 14px;
					font-weight: 500;
					line-height: 25px;
					border: 1px solid $tertiary-grey;
					background: #ffffff;
					padding: 6px 10px;
					margin: 0;
					min-height: 39px;
					width: 100%;

					&:focus {
						border-color: $primary-blue;
					}

					&.error {
						border-color: $primary-red;
						box-shadow: inset 4px 0 0 0 $primary-red;

						&:focus {
							border-color: $primary-red;
							box-shadow: inset 4px 0 0 0 $primary-red;
						}
					}
				}

				.clear {
					top: 11px;
					right: 8px;
				}

				&.required {
					input {
						box-shadow: inset 4px 0 0 0 $tertiary-grey;
						border-left-width: 0;

						&:focus {
							box-shadow: inset 4px 0 0 0 $primary-blue;
						}
					}
				}

				&.error {
					input {
						border-color: $primary-red;

						&:focus {
							border-color: $primary-red;
						} 
					}

					&.required input {
						box-shadow: inset 4px 0 0 0 $primary-red;

						&:focus {
							box-shadow: inset 4px 0 0 0 $primary-red;
						}
					}
				}

				&.left {
					float: left;
					margin-right: 8px;
					&.last {
						margin-right: 0;
					}
				}

				&.third {
					width: 219px;
				}

				&.large {
					width: 255px;
				}

				&.small {
					width: 140px;
				}
			}

			&.button .button-text {
				display: inline-block;
				line-height: 20px;
				padding: 10px 20px;
				background-color: $primary-blue;
				float: right;
				border-radius: 5px;
				color: white;
				cursor: pointer;
			}
		}
	}

	.enrollment-description {
		p {
			margin: 10px 0 0 0;
			font: normal 300 1em/1.5em $font;
			color: $secondary-grey;
		}

		a {
			text-decoration: none;
			color: $primary-blue;
		}
	}
}

.enroll-for-credit-confirmation {
	color: $primary-grey;
	padding-right: 230px;
	font: normal 300 1em/1 $font;

	.main {
		color: $secondary-green;
		font-size: 1.5em;
		line-height: 1.7em;
		font-weight: 300;

		&.error {
			color: $primary-red;
		}
	}

	.text {
		margin: 8px 0;
	}

	.confirm {
		margin: 40px 0 20px 0;

		a {
			color: $primary-blue;
			cursor: pointer;
		}
	}

	.info {
		background-color: $panel-background;
		border: 1px solid #efefef;

		&.hidden {
			display: none;
		}

		.line {
			padding: 15px;

			&:not(.course-info) {
				position: relative;
				background-color: white;
			}

			.course-number {
				font-size: 0.75em;
				font-weight: 600;
				text-transform: uppercase;
				color: $tertiary-grey;
				margin-bottom: 5px;
			}

			.title {
				font-size: 1.5em;
				font-weight: 300;
			}

			.instructor {
				font-size: 0.6em;
				text-transform: uppercase;
				font-weight: 600;
				margin-top: 5px;
				color: $primary-blue;
			}

			.enroll-now {
				position: absolute;
				line-height: 40px;
				color: white;
				background-color: $secondary-green;
				font-size: 1.2em;
				right: 20px;
				top: 24px;
				padding: 0 10px;
				border-radius: 5px;
			}

			&.course-info {
				margin: 0 40px 0 10px;
				border-bottom: 1px solid #efefef;
				height: auto;
				overflow: hidden;
				padding-right: 0;
				padding-left: 0;
			}

			.name {
				font-size: 0.6em;
				font-weight: 600;
				text-transform: uppercase;
				color: $tertiary-grey;
			}

			.field {
				float: left;

				&.long {
					width: 350px;
					margin-right: 10px;
				}

				&.medium {
					width: 240px;
				}

				&.fourth {
					margin-right: 66px;

					&:last-of-type {
						margin-right: 0;
					}
				}

				.value {
					margin-top: 10px;
					font-size: 0.9em;
					line-height: 1.5em;

					&.green {
						color: $secondary-green;
						font-weight: 600;
					}
				}
			}
		}
	}

}

.enrollment-credit-purchase {
	padding-right: 235px;
	color: $primary-grey;
	font: normal 300 1em/1 $font;

	.title {
		font-size: 1.5em;
		color: $secondary-green;
		margin-bottom: 10px;

		@include icon('assignment_ontime_small', $left: -35px);
	}

	.things-to-do {
		margin-bottom: 30px;
		.prompt {
			margin-bottom: 30px;
			line-height: 1.5em;

			.bold {
				font-weight: 600;
			}
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $primary-blue;
		margin: 10px 0;
		font-size: 0.9em;
	}

	.support-text {
		font-size: 0.9em;
		font-weight: 400;
		line-height: 40px;
	}

	.phone {
		font-size: 0.9em;
	}
}