@mixin tile-shadow {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}


.course-dashboard-container{
	padding: 5px 0 0 5px;
	margin: -5px 0 0 -5px;

	@include scrollbar(transparent, $tertiary-grey);
	overflow: {
		x: hidden;
		y: auto;
	}


	.course-dashboard{
		width: 1050px;
	}
}


.dashboard-videos {
	@include tile-shadow();
	$videoWidth: 711px;
	$videoHeight: 400px;
	&,.body{
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
	}

	h2{display: none;}

	.body {
		overflow: hidden;

		.video-container {
			position: relative;
			margin: 0 auto;
			width: $videoWidth;
			height: $videoHeight;
		}

		.curtain {
			$playY: 43%;
			$backSize: 760px;
			position: absolute;
			right: 0; left: 0;
			top: 0; bottom: 0;
			cursor: pointer;
			background: {
				color: #ebebeb;
				position: center center;
				size: $backSize auto;
				repeat: no-repeat;
			}

			.ctr {
				position: absolute;
				overflow: visible;
				left: 50%;
				top: $playY;
				.play {
					position: relative;
					top: -24px;//we're fixed to be 48px tall;
					left: -50%;
				}
			}

			.play {
				position: relative;
				border-radius: 5em;
				font: normal 400 18px/48px 'Open Sans Condensed', $font;
				min-height: 48px;
				min-width: 45px;
				color: #fff;

				.blur-clip,.blur {
					border-radius: 5em;
					position: absolute;
					top: 0; left: 0;
					bottom: 0; right: 0;
					overflow: hidden;
				}

				.blur {
					background: {
						position: center $playY;
						size: $backSize auto;
						repeat: no-repeat;
					}
					-webkit-filter: blur(8px);
					filter: url(#blur-effect);
				}

				.label {
					background-color: rgba(0,0,0,0.68);
					box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15),//stroke
								0 0 3px 0 black;//shadow
					border-radius: 5em;
					overflow: hidden;
					padding: 0 15px 0 50px;
					max-width: 400px;
					@include ellipse();
					@include icon('play',$top:3px,$left:3px);
					&::before {content:'';}
				}

				.launch-player {
					display: none;
				}

				&.transcripts {

					.launch-player{
						display: block;
						top: 0;
						right: 0;
						bottom: 0;
						width: 50px;
						border-radius: 50px;
						@include icon('play-transcript', $position:absolute, $top:2px, $left:5px);
					}

					.label{
						padding-right: 60px;
					}
				}
			}

		}

		.screen {
			position: absolute;
			left: 0; top: 0; bottom: 0;
			width: $videoWidth;
			overflow: hidden;
			z-index: 2;

			.video-wrapper {
				background: $tertiary-grey;
			}
		}

		.video-list{
			@include scrollbar(#04232c, rgba(255,255,255,0.5));
			@include experimental(transition, bottom 0.6s);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
			overflow: {
				x: auto;
				y: hidden;
			}
			white-space: nowrap;
			background: rgba(0,0,0,0.6);
			box-shadow: 0 -3px 2px -2px rgba(0,0,0,1),
						inset 0 1px 0 0 rgba(255,255,255,0.2);

			.video-row {
				display: inline-block;
				position: relative;
				cursor: pointer;
				color: #ebebeb;
				font: italic 500 12px $font;
				height: 70px;
				width: 33%;
				@include experimental-value(width, calc(100% / 3) );
				border:{
					color: #000;
					style: solid;
					width: 0 1px 0 0;
				}

				.date {
					line-height: 20px !important;
				}

				.poster {
					width: 70px;
					position: absolute;
					top: 0; left: 0; bottom: 0;
					box-shadow: inset -1px 1px 0 0 rgba(255, 255, 255, 0.2),
								inset -3px 0px 3px -2px rgba(0, 0, 0, 0.4);
					background:{
						size: cover;
						position: center center;
					}
				}

				.meta {
					margin: 1px 0 0 70px;
					padding: 10px;
					overflow: hidden;
					height: 100%;
					@include experimental-value(height, calc(100% - 1px));
				}

				.comments,.label{
					@include ellipse();
					overflow:hidden;
					max-width: 100%;//force ellipsis
				}

				.date,.comments {
					font: normal 700 10px/12px $font;
					color: $secondary-grey;
					text-transform: uppercase;
				}

				&.over{
					$c: rgba(17,59,70,0.6);
					background-color: $c;
					border-color: $c;
					color: #ffffff;

					.comments{
						color: #aaeafc;
					}
				}

				&.x-item-selected{
					$c: #323232;
					background-color: $c;
					border-color: $c;
					color: #ffffff;

					box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2),
								inset 0 0 0 5px #8b8d8d;

					.poster {
						box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.2),
									inset 0 5px 0 0 #8b8d8d,
									inset 5px 0 0 0 #8b8d8d,
									inset 0 -5px 0 0 #8b8d8d;
					}

					.meta {
						box-shadow: inset 0 4px 0 0 #8b8d8d,
									inset 0 -5px 0 0 #8b8d8d,
									inset 1px 0 0 0 rgba(0, 0, 0, 0.7);
					}

					.comments{
						color: #aaeafc;
					}
				}
			}
		}
	}

	&.hide-list {
		.curtain{
			&::after{
				content: '';
				display: block;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
				background: rgba(0,0,0,0.5);
			}
		}
		.video-list {
			bottom: -100px;
		}
	}
}


.x-container-course-dashboard-tile {
	position: relative;
	.scrollbody{
		@include scrollbar(transparent, $tertiary-grey);
		background: #fff;
		top: 0px;
		bottom: 0;

		left: 0;
		right: 0;

		position: absolute;
		overflow:{x: hidden; y: auto;}
	}

	.tile-header ~ .scrollbody {
		top: 38px;
	}

	.user-container-body {
		background: #fff;
		position: absolute;
		//margin-top: 75%;
		top: 184px; bottom: 0;
		left: 0; right: 0;
	}
}


.x-component-tile{
	&.note-list .row,
	&.topics-list .row {
		.controls{
			@include like-and-favorite;
			.like{
				position: absolute;
				float: none;
				right: 0;
				width: 40px;
			}
		}
		padding: 15px;
	}

	&.content-link .meta {
		padding: 10px 15px 16px;
	}

	&.note-list .row,
	&.topics-list .row,
	&.content-link {
		cursor: pointer;
		position: relative;
		box-shadow: inset 0 -1px 0 0 #f2f2f2;

		.title {
			color: $secondary-grey;
			font: normal 300 14px $font;
			overflow: hidden;
			@include ellipse;
		}

		.byline {
			color: $primary-blue;
			text-transform: uppercase;
			font: normal 700 10px $font;
			overflow: hidden;
			@include ellipse;
		}

		.description{
			overflow: hidden;
			@include ellipse;
		}
	}

	&.note-list .row {
		.byline {
			display: block;
			overflow: hidden;
			@include ellipse();
		}
	}

	&.content-link {
		height: 200px;

		a, a:link, a:visited, a:active {
			outline: 0;
			color: inherit;
			text-decoration: none;
		}


		.thumbnail {
			position: absolute;
			width: 60px;
			height: 80px;
			top: 0; left: 0;
			box-shadow: 0 0 4px 0 rgba(0,0,0,0.4);
			background:{
				size: cover;
				position: center center;
				repeat: no-repeat;
			}
		}

		a .thumbnail { @include icon('extern-link',$top:0,$left:auto,$right:0,$position:absolute); }
		&:hover a .thumbnail::after {
			@include sprite($icons,'extern-link_hover');
		}

		.meta {
			margin: 0 0 0 60px;
			min-height: 85px;

			.title{
				font-style: italic;
				font: normal 300 28px/30px "Open Sans Condensed", $font;
				height: 35px;
				overflow: hidden;
				@include ellipse();
			}

			.description{
				position: absolute;
				top: 85px;
				left: 5px;
				right: 5px;
				white-space: normal;
				font-size: 13px;
			}

			.comment{
				bottom: 0;
				left: 5px;
			}
		}
	}


	&.active-users {
		position: relative;
		//overflow: hidden;
		z-index: 1;

		&::before{
			background: $secondary-grey;
			display: block;
			content: '';
			top: 0; left: 0; right: 0;
			position: absolute;
			padding-top: 75%;
			z-index: -1;
		}

		svg.fancy-border {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: block;
			z-index: 1;
			padding-top: 75%;
			pointer-events: none; //Pointer-Events is no longer in the CSS3 spec. Its ONLY officially supported on SVG elements. TODO: find and wrap all pointer-events none elements w/ SVG.
			box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
		
			.x-gecko &{
				height: 100%;
				width: 100%;
			}
		}

		.user {
			position: relative;
			overflow: hidden;
			background: {
				color: #fff;
				size: cover;
				position: center center;
			}
			cursor: pointer;
			float: left;
			width: 25%;
			padding-bottom: 25%;//"height"
			&::after {
				content: '';
				position: absolute;
				top: 0; left: 0; right: 0; bottom: 0;
				background: rgba(0,0,0,0.3);
				$value: background-color 0.5s;
				@include experimental(transition, $value);
			}

			//ensure we don't have a wapping problem
			&:nth-of-type(0n+6){
				clear: left;
			}

			&.x-item-over,
			&.x-item-selected{
				&::after{
					background: rgba(0,0,0,0);
				}
			}

			&.x-item-selected {
				box-shadow: inset 0 0 0 3px $primary-blue;
			}

			&:first-of-type {
				width: 50%;
				padding-bottom: 50%;
				@include experimental-value(padding-bottom, calc(50% - 0.1px) );
			}
		}

	}

	&.user-items{
		position: absolute;
		bottom: 37px;
		left: 0; right: 0;
		height: 120px;
		overflow: hidden;

		.item {
			cursor: pointer;
			@include like-and-favorite;
			.like {
				margin-top: 13px;
				width: 40px;
			}
			box-shadow: inset 0 -1px 0 0 #f2f2f2;
			.title {
				margin: 0 45px 0 15px;
				font: normal 500 14px/40px $font;
				overflow: hidden;
				@include ellipse();
			}
		}
	}

	&.more-posts {
		position: absolute;
		bottom: 0;
		height: 37px;
		left: 0; right: 0;
		text-align: center;
		cursor: pointer;

		div {

			display: inline-block;
			background: $primary-blue;
			border-radius: 5px;
			width: 5px;
			height: 5px;
			margin: 15px 3px;
		}
	}
}

.tile-header{
	background: #f2f2f2;
	border: none;
	box-shadow: inset 0 -1px 0 0 #eaeaea;
	color: $primary-grey;
	padding: 10px;
	position: absolute;
	top: 0; left: 0; right: 0;

	.heading {
		color: $secondary-grey;
		font: normal 700 10px/18px $font;
		text-transform: uppercase;

		&.with-label{
			line-height: normal;
			color: $tertiary-grey;
		}
	}

	.label {
		font: normal 500 18px $font;
		color: $primary-grey;
		overflow: hidden;
		@include ellipse();
	}
}

.top-discussion-view{
	padding: 10px !important;

	.controls{
		position: absolute;
		top: 0px;
		right: 0;
		z-index: 1;
	}

	.avatar{
		background-size: cover;
		width: 110%;
		height: 110%;
		opacity: 0.05;
		position: absolute;
		top: -10px;
		background-repeat: no-repeat;
		background-position: center center;
		left: -10px;
		z-index: 0;
	}

	.meta{
		position: relative;
		z-index: 1;
		float: left;
		width: 100%;

		.by{
			max-width: 150px;
			overflow: hidden;
			display: inline-block;
			margin-right: 0.5em;
			@include ellipse;
		}

		.title {
			margin-right: 55px;
		}
	}

	.snippet{
		clear: both;
		position: relative;
		z-index: 1;
	}
}

.instructor-forum-view, .top-discussion-view {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: #ffffff !important;
	padding: 0 25px 25px 25px;
	overflow: hidden;
	cursor: pointer;

	.controls{
		@include like-and-favorite;
	}

	.tile-title{
		margin-top: 15px;
		font: normal 700 10px/15px $font;
		color: $tertiary-grey;
		text-transform: uppercase;
	}

	.title{
		font: normal 400 25px/30px 'Open Sans Condensed', $font;
		overflow: hidden;
		@include ellipse;
		color: $primary-grey;
	}

	.meta{
		font: normal 700 10px/15px $font;
		color: $tertiary-grey;
		text-transform: uppercase;

		.by{
			color: $primary-blue;			
			&::after{
				content: ' ';
			}
		}
	}

	.snippet{
		margin-top: 5px;
		font-size: 15px;
		color: $secondary-grey;
		overflow: hidden;
		word-wrap: break-word;
		max-height: 100px;

		.ellipse{
			display: none;
			margin-left: 5px;

			div{
				display: inline-block;
				width: 3px;
				height: 3px;
				border-radius: 3px;
				background-color: $primary-blue;
				margin: 0 3px 3px 0;
			}
		}

		&.overflowing{
			.ellipse{
				display: inline-block;
			}
		}	
	}

	.count{
		position: absolute;
		font: normal 600 11px/14px $font;
		bottom: 5px;
		color: $primary-blue;
	}
}
