

canvas.x-component-course-assessment {
	& + .label {
		position: absolute;
		top: 14px;
		left: 30px;
		font: normal 700 0.6em/1 $font;
		color: $tertiary-grey;
		text-transform: uppercase;
	}

	&.grade {
		width: 224px;
		height: 200px;
	}

	&.performance {
		//width: 100%;
		height: 200px;

		& + .label {
			left: 250px;

			.you {
				color: #40b450;
			}

			span + span::before {
				content: '\00B7';
				margin: 0.5em;
			}
		}
	}
}

.x-component-course-assessment {
	&.nav-outline{
		position: relative;
		background: #f5f4f4;

		&::after {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			right: 0; width: 10px;
			background: none;
			overflow: hidden;
			box-shadow: inset -2px 0 3px -2px rgba(0, 0, 0, 0.3);
			z-index: 2;
		}

		.header {
			background: none;
			box-shadow: inset 0 -1px 0 0 #e0e0e0;
			color: $secondary-grey;
		}

		.outline-list {
			margin-top: 10px;
		}

		.outline-row {
			background: none;
			.count {
				font-size: 0.7em;
				line-height: 1;
				top: 1.1em;
				right: 10px;
				position: absolute;
				border-radius: 10em;
				padding: 0.4em 0.8em 0.3em;
				color: #fff;
				background: $primary-blue;
			}


			&.over {
				background: #f0f0f0;
			}

			&.x-item-selected {
				background: $primary-blue;

				.count {
					color: $primary-blue;
					background: #fff;
				}
			}
		}
	}

	&.course-assessment-activity {
		overflow: {x: hidden; y: auto;}
		color: $primary-grey;
		padding: 10px 30px;
		.header {
			font: normal 300 1.5em/2 $font;
		}

		.list {
			position: relative;

			.item {
				cursor: pointer;
				position: relative;
				font: normal 400 0.9em/3 $font;

				&.unread {
					font-weight: 600;
					&::before {
						content: '';
						background: $primary-blue;
						position: absolute;
						overflow: hidden;
						border-radius: 10em;
						width: 0.3em; height: 0.3em;
						top: 1.3em; left: -1em;
					}
				}

				time {
					float: right;
					width: 5em;//allow this to line up as if it were a 'left aligned column'.
					color: $tertiary-grey;
					font: normal 300 1em/3 $font;
				}

				.target {
					color: $primary-blue;
				}
			}
		}
	}


	&.assignment-filterbar {
		box-shadow: inset 0 -1px 0 0 #f1f1f1;
		background: #fbfbfb;
		color: $secondary-grey;
		z-index: 2;
		position: relative;
		font: normal 500 0.9em/3.5em $font;

		input {
			font: normal 500 1em/2 $font;
			color: $secondary-grey;
			background: none;
			border: 0;
			width: 100%;
		}

		.third {
			position: relative;
			display: inline-block;
			width: 33.3333333333%;
			padding: 0 2em;
			box-shadow: inset -1px 0 0 0 #f1f1f1;
			&:last-of-type {
				box-shadow: none;
			}
		}

		.dropmenu {
			cursor: pointer;
			@include icon('arrow-course-dropdown-light', $top:1.5em, $left:auto, $right:1em);

			&:hover {
				color: $primary-grey;
				&::after {
					@include sprite($icons, 'arrow-course-dropdown');
				}
			}
		}

		.search {
			padding-left: 3em;
			@include icon('rhp-search', $top:1.1em, $left:1.5em);
			&:hover {
				color: $primary-grey;
			}

			input:invalid ~ .clear { display: none; }

			.clear {
				cursor: pointer;
				top: 1.2em; right: 1em;
				position: absolute;
				background: $icons no-repeat;
				@include sprite($icons,'clear_line',$dimensions: true);
			}
		}

	}

	&.assignment-list {
		.item {
			position: relative;
			overflow: hidden;
			padding: 10px 0 10px 60px;
			box-shadow: 0 1px 0 0 #f7f7f7;

			&:first-of-type {
				box-shadow: 0 -1px 0 0 #f2f2f2, 0 1px 0 0 #f7f7f7;
			}

			@include icon('check_gray', $top: 22px, $left: 25px);

			&.over, &.selected {
				background: #fafafa;
			}

			&.completed {
				.status time.completed { display: block; }
				.status time.due { display: none; }

				&::after {
					@include sprite($icons,'check_green');
				}

			}

			.name {
				font: normal 500 0.9em/2 $font;
				color: $primary-grey;
				margin-right: 8em;
			}

			.status {
				text-transform: uppercase;
				font: normal 600 0.6em/1 $font;
				color: $tertiary-grey;
				&.due {
					color: $primary-red;
				}

				.completed { display: none; }
				.due { display: block; }
			}

			.score {
				white-space: nowrap;
				font: normal 400 0.8em/3 $font;
				color: $tertiary-grey;
				width: 8em;
				float: right;

				.correct {
					color: $primary-green;
				}
			}
		}
	}
}

.course-assessment-assignments {
	.scrollzone {
		overflow: {x: hidden; y: auto;}
		position: absolute;//avoid ext's anchor layout
		top: 0; left: 0; right: 0; bottom: 0;
		margin-top: 50px;//toolbar
	}
}

.x-container-course-assessment {


	&.assignment-group {
		padding: 30px 30px 60px;
		box-shadow: 0 1px 0 0 #f1f1f1;

		& > .body {
			margin-top: 1em;
		}

		& > .subtitle {
			font: normal 600 0.6em/1 $font;
			color: $tertiary-grey;
			text-transform: uppercase;
		}

		& > .title {
			color: $primary-grey;
			font: normal 300 1.5em/1.5 $font;
		}
	}

	&.course-performance {
		padding-top: 200px;
	}
}

.course-performance-header {
	position: absolute;
	top: 0; left: 0; width: 769px;
	background: #fbfbfb;
	box-shadow: 0 1px 0 0 #e0e0e0, 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	line-height: 0;
	z-index: 2;
	clip: rect(0,auto,215px,0);

	.grade {float: left; box-shadow: 1px 0 0 0 #eaeaea, 2px 0 0 0 #fff; }
	.performance {
		width: 545px;
	}
}


// Grid Styles

.x-container-course-assessment.grade > .body { margin-top: 0; }

.x-grid-header-ct-course-assessment {
	background: none !important;
	border: 0 none !important;
}

.x-column-header-course-assessment {
	padding: 0;
	border: 0 none;
	border-bottom: {
		color: #f2f2f2;
		style: solid;
		width: 3px !important;
	}
	text-shadow: none;
	color: $tertiary-grey;
	font: normal 700 0.6em/3 $font;
	text-transform: uppercase;
	background: none !important;
	cursor: pointer;

	&.x-column-header-sort-ASC,
	&.x-column-header-sort-DESC {
		overflow: visible;
		border-bottom: {
			color: $primary-grey;
		}

		&::after,
		&::before {
			display: block;
			content: '';
			width: 3px; height: 3px;
			bottom: -3px;
			position: absolute;
			background: #fff;
			z-index: 1;
		}

		&::before { left: -3px; }
		&::after { right: 0; }

		.x-column-header-text {
			color: $primary-grey;
			background: none;
			padding-right: 0;
		}
	}

	.x-column-header-inner {
		padding: 0;

		&.x-column-header-over {
			color: $primary-grey;
			background: none;
		}
	}
}

.x-panel-body-course-assessment {
	border: 0 none;

	.x-grid-row-selected,
	.x-grid-row-focused {
		.x-grid-td {
			background-color: none !important;
		}
	}

	.x-grid-row-over {
		.x-grid-td {
			background: #fafafa !important;
		}
	}

	.x-grid-td {
		border-width: 0;
	}

	.x-grid-cell-inner {
		padding: 0;
		line-height: 3;
	}

	.x-grid-row .x-grid-cell {
		font: normal 300 0.85em/3 $font;
		color: $secondary-grey;

		&.sortedOn,
		&.x-grid-cell-first {
			color: $primary-grey;
			font-weight: 600;
		}
		&.x-grid-cell-first {
			color: $primary-blue;
			cursor: pointer;
		}

		.check {
			text-indent: -100px;
			overflow: hidden;
			@include icon('check_gray', $top: 1em, $left: 1.6em);
		}
	}
}
