
#course-nav {
	overflow: visible;
	& > div {
		box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);

	}
}

.x-component-course{

	&.course-outline{
		background: #ffffff;

		.lesson-list {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 50px;

			overflow: {
				x: visible;
				y: auto;
			}
		}

		.header {
			background: #ffffff;
			padding: 0 42px;
			font: normal 500 14px/50px $font;
			color: #a1a1a1;
			box-shadow: inset 0 -1px 0 0 #eaeaea;
			z-index: 2;

			@include icon('topic', $top:15px, $left: 18px);
		}

		.course-row {
			position: relative;
			background: #ffffff;
			color: $secondary-grey;
			font: normal 400 14px/40px $font;
			padding: 0 0 0 20px;
			cursor: pointer;

			.date {
				pointer-events: none;
				cursor: default;
				display: none;
				opacity: 0.3;
				min-width: 25px;
				position: absolute;
				left: -40px;
				top: 7px;
				text-transform: uppercase;
				border-radius: 2px;
				box-shadow: 0 0 0 1px white, inset 0 0 0 1px white;
				text-align: center;

				div:first-child {
					background: white;
					color: black;
					border-radius: 0;
					padding-bottom: 1px;
					font: normal 700 10px/11px $font;
				}

				div:last-child {
					color: white;
					font: normal 500 12px/14px $font;
					border-radius: 0;
				}
			}

			&.x-item-selected,&.over {
				.date{
					@include hardware-accelerate();
					display: block;
					position: fixed;
				}

				.x-gecko &{

					.date {
						top: auto !important;
						left: auto;
						margin: -32px 0px 0px -60px;
					}

					&.unit {
						.date {
							margin-top: -22px;
						}
					}
				}



				background: #f0f0f0;
				box-shadow: inset 3px 0 0 0 #cfcfcf;
			}

			&.x-item-selected {
				color: #ffffff;
				font-weight: 600;
				background: $primary-blue;
				box-shadow: inset 3px 0 0 0 #107eed;
			}

			&.unit {
				.date {
					top: -3px;
				}

				text-transform: uppercase;
				background: #fafafa;
				color: $tertiary-grey;
				font: normal 400 10px/20px $font;
				box-shadow: 0 -1px 0 0 #f2f2f2, 0 1px 0 0 #f2f2f2;
				z-index: 1;

				&.x-item-selected {
					color: #ffffff;
					font-weight: 600;
					background: $primary-blue;
					box-shadow: inset 2px 0 0 1px #107eed;
				}

				&.over {
					background: #f0f0f0;
					box-shadow: inset 2px 0 0 1px #cfcfcf;
				}
			}
		}
	}

	&.overview-header{
		margin: 0 0 15px 0;
		
		.date {
			color: $tertiary-grey;
			font: normal 700 10px/11px $font;
			text-transform: uppercase;
		}
		.title {
			color: $primary-grey;
			font: normal 300 36px/40px $font;
		}

	}

	&.overview-topic{
		position: relative;
		cursor: pointer;
		color: $primary-blue;
		font: normal 400 16px/50px $font;
		border:{
			style: solid;
			color: #ededed;
			width: 1px 0 0 0;
		};

		&:hover {
			z-index: 2;
			color: $primary-grey;
			background: #f0f0f0;
			border-top-color: #cfcfcf;
			border-bottom-color: transparent;
			box-shadow:	-26px 1px 0 0px #f0f0f0,
						 29px 1px 0 0px #f0f0f0,
						-29px 1px 0 1px #cfcfcf,
						 29px 1px 0 1px #cfcfcf;
		}

		&:last-of-type {
			border-bottom-width: 1px;
		}
	}
}

.x-container-course {
	&.course-overview{
		background: #ffffff;

		padding: 25px 30px;
	}
}
