
.course-info-panel {
	overflow: {
		x: hidden;
		y: auto; //scroll;
	}
}

.x-component-course-info {
	&.nav-outline {
		overflow: hidden;
	}
	.outline-menu {
		margin: 0 0 0.5em 0;
	}

	&.title-box {
		background: #000;
		position: relative;
		min-height: 1.75em;
		font: normal 700 2em/normal "Open Sans Condensed" $font;

		.title {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 0 0.625em;
			text-transform: uppercase;
			color: #fff;
			line-height: 1.75em;
			background: #000;
		}
	}

	&.description-fields {
		background: #fff;
		padding: 1.5em;
		color: $secondary-grey;
		font: normal 400 0.85em/1.95em $font;

		.body {
			margin: 0 0 4em;
		}

		.row {
			overflow: hidden;
			position: relative;
			border: 0 solid #f1f1f1;
			border-top-width: 1px;
			padding: 0.75em 0 1.5em;

			&:first-child {
				border-top-width: 0;
			}

			.cell {
				display: inline-block;
				width: 50%;
				margin: 0;
				vertical-align: top;

				&.cell1third {
					width: 33%;
				}

				&.cell2thirds {
					white-space: nowrap;
					width: 67%;
				}
			}



			.label {
				color: $tertiary-grey;
				text-transform: uppercase;
				font: { size: 0.7em; weight: 600; }
			}
			.value {
				font:{size:1.2em; weight: 300;}

				.enroll-for-credit {
					font: {weight: 600;}
					a {
						color: $primary-blue;
						text-decoration: none;
					}
				}

				.open {
					font: {
						style: italic;
					}
					.red {
						color: $text-red;
					}
				}
			}
		}
	}
}

.open-course-info {
	box-shadow: inset 0 1px 0 0 #f1f1f1;
	background: #fff;
	padding: 10px 18px 20px;
	color: $secondary-grey;
	font: normal 300 0.85em/1.95em $font;

	.heading {
		color: $tertiary-grey;
		text-transform: uppercase;
		font: { size: 0.7em; weight: 600; }
	}

	.foot {
		margin: 0 -18px -20px;
		padding: 0 18px;
		position: relative;
		box-shadow: inset 0 1px 0 0 #f1f1f1;
		background: #fafafa;
		line-height: 3.5em;

		.registered {
			color: $primary-green;
			font-weight: 500;
			padding-left: 30px;
			@include icon('green_check',$top: 1em);
		}

		.edit {
			cursor: pointer;
			color: $primary-blue;
			position: absolute;
			right: 1em;
			top: 0;
		}
	}

	ul {
		list-style: none;
		margin: 0.5em 0 1.5em;
		padding: 0;

		li {
			font-weight: 600;
			&:before {
				display: inline-block;
				margin: 0 0.25em 0 0;
				content: '\00B7';
				font-size: 1.4em;
				line-height: 0.5em;
				vertical-align: middle;
			}

			&.red {
				color: $text-red;
			}
		}
	}
}
