

.x-component-course-assessment {
	&.nav-outline{
		position: relative;
		background: #f5f4f4;

		&::after {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			right: 0; width: 10px;
			background: none;
			overflow: hidden;
			box-shadow: inset -2px 0 3px -2px rgba(0, 0, 0, 0.3);
			z-index: 2;
		}

		.header {
			background: none;
		}

		.outline-list {
			margin-top: 10px;
		}

		.outline-row {
			background: none;
			.count {
				font-size: 0.5em;
				line-height: 1;
				top: 1.3em; right: 10px;
				position: absolute;
				border-radius: 10em;
				padding: 0.5em 1em;
				background: #f0f0f0;
			}


			&.over {
				background: #f0f0f0;
			}

			&.x-item-selected {
				background: $primary-blue;

				.count {
					color: $primary-blue;
					background: #fff;
				}
			}
		}
	}


}

