#course-nav {
	overflow: visible;
	& > div {
		box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);

	}
}

#course-info {
	@extend #NTIContent;
	overflow: {
		x: hidden;
		y: auto; //scroll;
	}
	-webkit-overflow-scrolling: touch;
}

.x-component-course{

	&.nav-outline{
		.outline-list {
			margin-left: -50px;
			padding-left: 50px;
		}

		.outline-row {
			.date {
				pointer-events: none;
				cursor: default;
				display: none;
				opacity: 0.3;
				min-width: 25px;
				position: absolute;
				left: -40px;
				top: 7px;
				text-transform: uppercase;
				border-radius: 2px;
				box-shadow: 0 0 0 1px white, inset 0 0 0 1px white;
				text-align: center;

				div:first-child {
					background: white;
					color: black;
					border-radius: 0;
					padding-bottom: 1px;
					font: normal 700 0.7em/1.1em $font;
				}

				div:last-child {
					color: white;
					font: normal 500 0.8em/1.3em $font;
					border-radius: 0;
				}
			}

			&.out-of-view{
				.date{
					display: none !important;
				}
			}

			&.x-item-selected,&.over {
				.date{
					display: block;
				}
			}
		}
	}

	&.overview-header{
		margin: 0 0 15px 0;
		
		.date {
			color: $tertiary-grey;
			font: normal 700 0.6em/1.2em $font;
			text-transform: uppercase;
		}
		.title {
			color: $primary-grey;
			font: normal 300 2.25em/1.15em $font;
		}

	}

	&.overview-topic{
		position: relative;
		cursor: pointer;
		color: $primary-blue;
		font: normal 400 1em/3.15em $font;
		border:{
			style: solid;
			color: #ededed;
			width: 0 0 1px 0;
		};

		&:hover {
			z-index: 2;
			color: $primary-grey;
			background: #f0f0f0;
			border-top-color: none;
			border-bottom-color: none;
			//box-shadow:	-26px 1px 0 0px #f0f0f0,
			//			 29px 1px 0 0px #f0f0f0,
			//			-29px 1px 0 1px #cfcfcf,
			//			 29px 1px 0 1px #cfcfcf;

			box-shadow: -26px 0px 0 0px #f0f0f0,
						-26px 1px 0 0px #f0f0f0,
						 30px 1px 0 0px #f0f0f0,
						 30px 0px 0 0px #f0f0f0,
						-30px 0px 0 1px #cfcfcf,
						-30px 1px 0 1px #cfcfcf,
						 30px 0px 0 1px #cfcfcf,
						 30px 1px 0 1px #cfcfcf;
		}

		.overview-header + &,
		&:first-of-type {
			border-top-width: 1px;
		}
	}

	&.overview-discussion {
		cursor: pointer;
		background: #f5f5f5;
		width: 230px;
		height: 230px;
		float: left;
		margin: 5px 5px 0 0;
		position: relative;
		
		.image {
			height: 50%;
			background:{
				position: center;
				size: cover;
				repeat: no-repeat;
			}
		}

		.meta {
			position: absolute;
			padding: 8px 10px;
			left: 0; right: 0; bottom: 0;
			height: 50%;

			.label {
				font: normal 600 0.6em/1.6em $font;
				color: $secondary-grey;
				text-transform: uppercase;
				overflow: hidden;
				@include ellipse();
			}

			.title {
				color: $primary-grey;
				font: normal 300 1.6em/1.2em 'Open Sans Condensed', $font;
				overflow: hidden;
				//@include ellipse();
				height: 64px;
				margin-bottom: 6px;
				word-break: break-word;

				.ellipsis{
					margin-left: 5px;
				}
			}

			.comments{
				font: normal 600 0.6em/1.6em $font;
				color: $tertiary-grey;
			}
		}
	}

	&.overview-videos {
		@extend .overview-section;

		.body {
			position: relative;
			overflow: hidden;
			height: 288px;
			margin: 0 -30px;

			.curtain {
				position: absolute;
				left: 0; top: 0; bottom: 0;
				width: 512px;
				cursor: pointer;
				background: {
					color: #ebebeb;
					position: center center;
					size: 512px auto;
					repeat: no-repeat;
				}

				.ctr {
					position: absolute;
					overflow: visible;
					left: 50%;
					top: 50%;
					.play {
						position: relative;
						top: -1.375em;//half the line-height
						left: -50%;
					}
				}

				.play {
					position: relative;
					border-radius: 5em;
					font: normal 400 1.1em/2.75em 'Open Sans Condensed', $font;
					min-height: 48px;
					min-width: 45px;
					color: #fff;

					.blur-clip,.blur {
						border-radius: 5em;
						position: absolute;
						top: 0; left: 0;
						bottom: 0; right: 0;
						overflow: hidden;
					}

					.blur {
						background: {
							position: center center;
							size: 512px auto;
							repeat: no-repeat;
						}
						@include blur-effect();
					}

					.launch-player {
						display: none;
					}

					.label {
						background-color: rgba(0,0,0,0.68);
						box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15),//stroke
									0 0 3px 0 black;//shadow
						border-radius: 5em;
						overflow: hidden;
						padding: 0 15px 0 50px;
						max-width: 400px;
						@include ellipse();
						@include icon('play',$top:3px,$left:3px);
						&::before {content:'';}
					}

					&.transcripts {

						.launch-player{
							display: block;
							top: 0;
							right: 0;
							bottom: 0;
							width: 50px;
							border-radius: 50px;
							@include icon('play-transcript', $position:absolute, $top:2px, $left:5px);
						}

						.label{
							padding-right: 60px;
						}
					}
				}
				&.x-masked {
					.ctr, .play {display: none;}
				}
			}

			.screen {
				position: absolute;
				left: 0; top: 0; bottom: 0;
				width: 512px;
				overflow: hidden;
			}

			.video-list{
				@include scrollbar(#04232c, #0f2d35);
				position: absolute;
				left: 512px;
				top: 0;
				right: 0;
				bottom: 0;
				overflow: {
					x: hidden;
					y: auto; //scroll;
				}
				-webkit-overflow-scrolling: touch;
				background: #04232c;

				.video-row {
					cursor: pointer;
					color: #ebebeb;
					padding: 8px 10px;
					font: normal 400 1.1em 'Open Sans Condensed', $font;
					min-height: 53px;
					border:{
						color: #0f2d35;
						style: solid;
						width: 0 0 1px 0;
					}
					background-image: none !important;//prevent the inline-style from applying

					.comments,.label{
						@include ellipse();
						overflow:hidden;
					}

					.comments {
						font: normal 700 0.6em/1.3em $font;
						color: $secondary-grey;
						text-transform: uppercase;
					}

					&.over{
						$c: #113b46;
						background: $c;
						border-color: $c;
						color: #ffffff;

						.comments{
							color: #aaeafc;
						}
					}

					&.x-item-selected{
						$c: #4699b0;
						background: $c;
						border-color: $c;
						color: #ffffff;

						.comments{
							color: #aaeafc;
						}
					}
				}
			}
		}
	}
}


.x-container-course {
	&.course-overview{
		background: #ffffff;
		padding: 1.5em 1.87em;//25px 30px;
		@include scrollbar(#ffffff, $tertiary-grey);
		-webkit-overflow-scrolling: touch;
	}

	.overview-naquestionset{
		margin-top: 5px;
	}

}


.overview-section{
	h2 {
		margin: 5em 0 0 -3.15em;
		font: normal 600 0.6em/2em $font;
		color: #fff;
		text-transform: uppercase;

		span {
			position: relative;
			display: inline-block;
			background: #ce78e0;//additional/default
			padding: 0 1em 0 4.15em;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 3.15em;
				background: #fff;
				opacity: 0.4;
			}
		}

		&.assessments span{
			background: #a5c959;
		}
		&.video span{
			background: #81c8dc; //video
		}
		&.discussions span{
			background: #f5d420; //discussion
		}
		&.required span{
			background: #f9824e;//required
		}
	}

	.content-card {
		cursor: pointer;
		margin: 10px 0;
		.thumbnail{
			width: 100px;
			height: 125px;
		}
		.meta {
			padding-top: 16px;
			margin-left: 120px;
			height: 125px;

			.description{
				margin-bottom: 20px;
				max-height: 3em;
				overflow: hidden;
			}
		}
	}
}

.content-link,
.content-card {
	a .thumbnail { @include icon('extern-link',$top:0,$left:auto,$right:0,$position:absolute); }
	&:hover a .thumbnail::after {
		@include sprite($icons,'extern-link_hover');
	}

	.meta {
		.comment {
			position: absolute;
			bottom: 5px;
			left: 120px;

			div {
				display: inline-block;
				font: normal 700 0.6em/1.6em $font;
				text-transform: uppercase;
				color: $primary-blue;
				cursor: pointer;

				&::after {
					color: $tertiary-grey;
					font: normal 500 1.2em $font;
					text-decoration: none !important;
					position: static;
					content: '\00B7';
					vertical-align: middle;
					display: inline;
					padding: 0 0.5em;
					background: none;
				}

				&:last-of-type {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}
