@mixin tile-shadow {
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.course-dashboard {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 40px 0;
}

.community-activity {
	.tile-container.column {
		min-height: 0;
	}

	.column.left {
		float: left;
	}

	.column.right {
		float: right;
	}
}

.course-dashboard, .community-activity {
	.empty-state {
		height: 300px;
		background: #ffffff;
		padding: 50px;
		margin-top: 0;

		.title {
			font: normal 300  22px/30px $font;
			color: $tertiary-grey;
			text-align: center;
			margin-top: 2em;
		}

		.sub {
			text-align: center;
			color: $tertiary-grey;
		}
	}

	.tile-container {
		min-height: 300px;
		overflow: hidden;
		margin-bottom: 10px;

		&.empty {
			display: none;
		}

		.dashboard-column {
			float: left;
			margin-right: 8px;

			&:last-of-type {
				margin-right: 0;
			}
		}

		.tile {
			background-color: white;
			border-radius: 3px;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
			margin-bottom: 10px;
			overflow: hidden;
		}

		.dashboard-header {
			color: $tertiary-grey;
			display: inline-block;
			margin-bottom: 10px;
			text-transform: uppercase;

			&.loading {
				height: 2em;
			}
		}

		.lesson-tile {
			background-color: $secondary-green;
			color: white;
		}

		.dashboard-item {
			min-height: 200px;
			background-color: transparent;
			box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px -43px 0px 0px rgba(24, 82, 116, 0.5);
			padding: 10px 15px;
			position: relative;
			cursor: pointer;

			&.assignment-tile {
				background-image: -moz-linear-gradient( 125deg, rgba(60,206,220,0.6) 0%, rgb(73,208,172) 100%);
				background-image: -webkit-linear-gradient( 125deg, rgba(60,206,220,0.6) 0%, rgb(73,208,172) 100%);
				background-image: -ms-linear-gradient( 125deg, rgba(60,206,220,0.6) 0%, rgb(73,208,172) 100%);
				box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25), inset 0px -43px 0px 0px rgba(30, 60, 64, 0.5);

				.path, .bullets { color: #9bf2de; }
				.footer { color: #70bcb1; }

				&.late {
					background-image: -moz-linear-gradient( 125deg, rgba(221,62,81,0.6) 0%, rgb(250,103,92) 100%);
 					background-image: -webkit-linear-gradient( 125deg, rgba(221,62,81,0.6) 0%, rgb(250,103,92) 100%);
					background-image: -ms-linear-gradient( 125deg, rgba(221,62,81,0.6) 0%, rgb(250,103,92) 100%);
					box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px -43px 0px 0px rgba(103, 27, 34, 0.5);

					.path, .bullets { color: #ffbea7; }
					.footer { color: #cb8b7e; }
				}
			}

			&.lesson-tile {
				background-image: -moz-linear-gradient( 125deg, rgba(76,143,219,0.6) 0%, rgb(83,186,246) 100%);
				background-image: -webkit-linear-gradient( 125deg, rgba(76,143,219,0.6) 0%, rgb(83,186,246) 100%);
				background-image: -ms-linear-gradient( 125deg, rgba(76,143,219,0.6) 0%, rgb(83,186,246) 100%);
				box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), inset 0px -43px 0px 0px rgba(24, 82, 116, 0.5);

				.path, .bullets { color: #bbe5fd; }
				.footer { color: #7accf7; }
			}

			.path {
				font: normal 600 0.65em/1.3em $font;
				text-transform: uppercase;
				color: $tertiary-grey-alt;
			}

			.title {
				font: italic 300 1.5em/1.4em $font;
				height: 4.2em;
				color: #f8f8f8;
				margin-bottom: 0.2em;
			}

			.bullets {
				font: normal 600 0.75em/1.3em $font;
				color: $tertiary-grey-alt;
			}

			.footer {
				position: absolute;
				bottom: 0;
				left: 0; right: 0;
				text-align: center;
				line-height: 43px;
				color: white;
			}
		}

		.dashboard-post {
			min-height: 200px;
			background-color: rgba(255,255,255,0.8);
			cursor: pointer;

			&.topic {
				min-height: 185px;
				.location {
					min-height: 1.3em;
				}
			}

			.location {
				background-color: white;
				border-bottom: 1px solid #efefef;
				font: normal 400 0.6em/1.3em $font;
				color: $tertiary-grey;
				text-transform: uppercase;
				padding: 4px 15px;
				min-height: 33px;

				.path {
					overflow: hidden;
					@include ellipsis;
					
					&.has-current::after {
						content: '\a0/';
					}
				}

				.current {
					overflow: hidden;
					color: $primary-blue;
					@include ellipsis;
				}
			}

			.context-image {
				position: relative;
				height: 186px;

				img {
					width: 100%;

					&.no-thumbnail {
						height: 100%;
						background-color: white;
					}
				}

				& > .title {
					top: 50%;
					left: 50%;
					@include experimental(transform, translateX(-50%));
					margin-top: -24px;
					line-height: 38px;
					max-width: 80%;
					font-size: 0.8em;
					color: white;
					background-color: rgba(0,0,0,0.68);
					box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15),0 0 3px 0 #000;
					border-radius: 5em;
					overflow: hidden;
					@include ellipsis;
					padding: 0 10px 0 50px;

					@include icon('play-small', $position: absolute, $top: 3px, $left: 3px);
				}

				&.word-context {
					height: 5.9em;

					.text {
						color: #7593a4;
						background-color: #f6fcff;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						overflow: hidden;
						padding: 0.2em 15px;
						font: italic 300 1.1em/1.6em $font;

						* {
							display: inline;
							font-size: 1em;
						}
					}
				}

				&.related-context {
					color: #7593a4;
					background-color: #f6fcff;
					overflow: hidden;
					height: 150px;
  					padding: 10px 10px 15px 10px;

					.thumbnail {
						width: 100px;
  						height: 125px;
					  	background-size: cover;
					  	background-repeat: no-repeat;
					  	background-position: center;
					  	box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.35);
					  	float: left;
					}

					.meta {
						margin-left: 110px;
						font: italic 300 1.1em/1.6em $font;
					}
				}
			}

			.list-item {
				display: inline-block;
				font-size: 0.75em;
				color: $tertiary-grey;

				&::before {
					content: '\a0\b7\a0';
					font-size: 1.3em;
					vertical-align: middle;
				}

				&:first-of-type::before {
					content: ' ';
				}
			}

			.post-body {
				background-color: white;
				position: relative;
				border-bottom: 1px solid #daddde;

				.controls {
					position: absolute;
					top: 1px;
					right: 0;
					@include like-and-favorite;

					.favorite-spacer { display: none;}
					.like { margin: 4px; }
				}

				.post-meta {
					padding: 10px 60px 0 10px;
					overflow: hidden;

					.avatar {
						background-size: contain;
						float: left;
						width: 40px;
						height: 40px;
						border-radius: 20px;
					}

					.meta {
						padding-top: 5px;
						float: left;
						margin-left: 5px;
						max-width: 215px;

						.name {
							color: $primary-grey;
							font-size: 1.1em;
							font-weight: 300;
							margin-bottom: -7px;

							overflow: hidden;
							@include ellipsis;
						}

						.shared-with, .created {
							display: inline-block;
							max-width: 90px;
							overflow: hidden;
							vertical-align: middle;
							@include ellipsis;
						}

						.created {
							max-width: 200px;
						}
					}
				}

				.post {
					color: $primary-grey;
					padding: 5px 15px;
					font: normal 400 0.9em/1.2em $font;

					.title {
						font-weight: 600;
						overflow: hidden;
						@include ellipsis;
					}

					.body {
						max-height: 3.6em;
						overflow: hidden;
					}
				}
			}

			.body-container:not(:empty) {
				padding: 10px 15px 0;
			}

			.post-comment {
				position: relative;
				padding-left: 40px;

				.avatar {
					position: absolute;
					left: 0;
					top: 0;
					width: 30px;
					height: 30px;
					background-size: contain;
				}

				.meta {
					color: $primary-grey;
					font-size: 0.9em;
					overflow: hidden;
					padding-top: 5px;

					.name {
						float: left;
						font-weight: 600;
						margin-right: 5px;
						max-width: 120px;
						overflow: hidden;
						@include ellipsis;
					}

					.created {
						font-weight: 300;
						float: left;
					}
				}

				.body {
					font-size: 0.9em;
					line-height: 1.2em;
					max-height: 3.6em;
					overflow: hidden;
				}

				.actions {
					.comments {
						color: $primary-blue;
					}
				}
			}

			.add-comment {
				margin: 6px;
				background-color: white;
				line-height: 30px;
				border-radius: 3px;
				box-shadow: inset 0 0 0 1px #daddde;
				padding: 0 15px;
				font-size: 0.8em;
				font-style: italic;
				color: $tertiary-grey;
			}
		}
	}
}



