

canvas.x-component-course-assessment {
	& + .label {
		position: absolute;
		top: 14px;
		left: 30px;
		font: normal 700 0.6em/1 $font;
		color: $tertiary-grey;
		text-transform: uppercase;
	}

	&.grade {
		width: 224px;
		height: 200px;
	}

	&.performance {
		//width: 100%;
		height: 200px;

		& + .label {
			left: 250px;

			.you {
				color: #40b450;
			}

			span + span::before {
				content: '\00B7';
				margin: 0.5em;
			}
		}
	}
}

.x-component-course-assessment {
	&.nav-outline{
		position: relative;
		background: #f5f4f4;

		&::after {
			content: '';
			position: absolute;
			top: 0; bottom: 0;
			right: 0; width: 10px;
			background: none;
			overflow: hidden;
			box-shadow: inset -2px 0 3px -2px rgba(0, 0, 0, 0.3);
			z-index: 2;
		}

		.header {
			background: none;
			box-shadow: inset 0 -1px 0 0 #e0e0e0;
			color: $secondary-grey;
		}

		.outline-list {
			margin-top: 10px;
		}

		.outline-row {
			background: none;
			.count {
				font-size: 0.7em;
				line-height: 1;
				top: 1.1em;
				right: 10px;
				position: absolute;
				border-radius: 10em;
				padding: 0.4em 0.8em 0.3em;
				color: #fff;
				background: $primary-blue;
			}


			&.over {
				background: #f0f0f0;
			}

			&.x-item-selected {
				background: $primary-blue;

				.count {
					color: $primary-blue;
					background: #fff;
				}
			}
		}
	}


	&.course-assessment-activity {
		overflow: {x: hidden; y: auto;}
		color: $primary-grey;
		padding: 10px 30px;
		.header {
			font: normal 300 1.5em/2 $font;
		}

		.list {
			position: relative;

			.item {
				cursor: pointer;
				position: relative;
				font: normal 400 0.9em/3 $font;

				&.unread {
					font-weight: 600;
					&::before {
						content: '';
						background: $primary-blue;
						position: absolute;
						overflow: hidden;
						border-radius: 10em;
						width: 0.3em; height: 0.3em;
						top: 1.3em; left: -1em;
					}
				}

				time {
					float: right;
					width: 5em;//allow this to line up as if it were a 'left aligned column'.
					color: $tertiary-grey;
					font: normal 300 1em/3 $font;
				}

				.target {
					color: $primary-blue;
				}
			}
		}
	}


	&.assignment-list {
		&.admin {
			position: relative;

			.header {
				position: absolute;
				text-transform: uppercase;
				right: 0;
				top: -2.5em;
				font-size: 0.6em;
				font-weight: 600;
				color: $tertiary-grey;
				width: 10.77em;
			}

			.item {
				@include icon('assignment_due_small', $top: 17px, $left: 16px);

				&.late {
					&::after {
						@include sprite($icons,'assignment_late_small');
					}
				}

				.score .completed:not(.c0) {
					color: $primary-green;
				}
			}
		}

		.item {
			position: relative;
			overflow: hidden;
			padding: 10px 0 10px 60px;
			box-shadow: 0 1px 0 0 #f7f7f7;

			&:first-of-type {
				box-shadow: 0 -1px 0 0 #f2f2f2, 0 1px 0 0 #f7f7f7;
			}

			@include icon('check_gray', $top: 22px, $left: 25px);

			&.over, &.selected {
				background: #fafafa;
			}

			&.completed {
				.status time.completed { display: block; }
				.status time.due { display: none; }

				&::after {
					@include sprite($icons,'check_green');
				}

			}

			.name {
				font: normal 500 0.9em/2 $font;
				color: $primary-grey;
				margin-right: 8em;
			}

			.status {
				text-transform: uppercase;
				font: normal 600 0.6em/1 $font;
				color: $tertiary-grey;
				&.due {
					color: $primary-red;
				}

				.completed { display: none; }
				.due { display: block; }
			}

			.score {
				white-space: nowrap;
				font: normal 400 0.8em/3 $font;
				color: $tertiary-grey;
				width: 8em;
				float: right;

				.correct {
					color: $primary-green;
				}
			}
		}
	}


	&.course-assessment-admin.performance {

		.scrollzone {
			position: absolute;
			top: 51px; left: 0; right: 0; bottom: 0;
			padding: 0 2em 2em;
			font-size: 0.9em;
			overflow: {
				x: hidden;
				y: auto; //scroll
			}
		}

		.column-names{
			position: relative;
			font: normal 700 0.7em/1 $font;
			color: $tertiary-grey;
			text-transform: uppercase;
			margin: 5em 0 2em;

			.right {
				float: right;
				width: 15em;
			}
		}

		.list > .item {
			box-shadow: inset 0 1px 0 0 #f7f7f7;
			position: relative;
			overflow: hidden;
		}

		.avatar {
			width: 60px;
			height: 60px;
			display: inline-block;
			float: left;
			background: {
				size: cover;
				position: center center;
				repeat: no-repeat;
			}
		}

		.action-items {
			font: normal 600 0.7em/2 $font;
			text-transform: uppercase;
			&:empty {
				color: $tertiary-grey;
				&::after { content: 'No Action Items'; }
			}

			& > div {
				color: $primary-blue;
				display: inline-block;
				&.overdue { color: $primary-red; }

				&::before {
					content: '\00B7';
					margin: 0.5em;
				}
				&:first-of-type::before { content: none; }
			}
		}

		.studentbox {
			cursor: pointer;
			position: relative;
			overflow: hidden;

			.wrap {
				margin: 15px 0 0 75px;
			}
		}

		.gradebox {
			margin: 11px 0 9px;
			width: 10.5em;
			float: right;
			font: normal 500 1em/1 $font;
			border: 1px solid #dcdcdc;
			& > * {
				font: normal 500 1em/1 $font;
				padding: 0.7em 1em;
				margin: 0;
				background: #fff;
				color: $secondary-grey;
				position: relative;
			}

			input {
				width: 56%;
				border-width: 0 1px 0 0;
				border-right: { style: solid; color: #dcdcdc; }
			}
			.dropdown {
				width: 44%;
				display: inline-block;
				&::after {
					content: '';
					overflow: hidden;
					position: absolute;
					top: 1.8em;
					right: 1.5em;
					@include arrow($pointFrom:top, $width: 8px, $height: 5px, $color: $secondary-grey);
				}
			}
		}
	}
}

.assignment-filterbar {
	box-shadow: inset 0 -1px 0 0 #f1f1f1;
	background: #fbfbfb;
	color: $secondary-grey;
	z-index: 2;
	position: relative;
	font: normal 500 0.9em/3.5em $font;

	input {
		font: normal 500 1em/2 $font;
		color: $secondary-grey;
		background: none;
		border: 0;
		width: 100%;
	}

	.third {
		position: relative;
		display: inline-block;
		width: 33.3333333333%;
		padding: 0 2em;
		box-shadow: inset -1px 0 0 0 #f1f1f1;
		&:last-of-type {
			box-shadow: none;
		}
	}

	.dropmenu {
		cursor: pointer;
		@include icon('arrow-course-dropdown-light', $top:1.5em, $left:auto, $right:1em);

		&:hover {
			color: $primary-grey;
			&::after {
				@include sprite($icons, 'arrow-course-dropdown');
			}
		}

		&.disabled{
			cursor: default;
			opacity: 0.5;

			&:hover {
				color: inherit;
				&::after{
					@include sprite($icons, 'arrow-course-dropdown-light');
				}
			}
		}
	}

	.search {
		padding-left: 3em;
		@include icon('rhp-search', $top:1.1em, $left:1.5em);
		&:hover {
			color: $primary-grey;
		}

		input:invalid ~ .clear { display: none; }

		.clear {
			cursor: pointer;
			top: 1.2em; right: 1em;
			position: absolute;
			background: $icons no-repeat;
			@include sprite($icons,'clear_line',$dimensions: true);
		}
	}

}

.x-panel-nt.group-by-menu {
	padding: 0;
	height: 150px;

	.x-menu-body{
		padding: 0;
		.x-menu-item.group-by-option{
			font: normal 500 0.9em/3.5em $font;
			line-height: 40px;
			color: $secondary-grey;
			padding: 4px 5px 5px 2em;
			background: #fbfbfb;

			&::hover{
				color: $primary-grey;
			}

			&.x-menu-item-checked{
				color: $primary-grey;
				@include icon('arrow-course-dropdown', $top:1.5em, $left:auto, $right:1em);

				&:hover {
					&::after {
						@include sprite($icons, 'arrow-course-dropdown');
					}
				}
			}
		}
	}
}

.x-panel-nt.letter-grade-menu {
	padding: 0;
	box-shadow: none !important;

	.x-menu-body{
		padding: 0;

		.x-menu-item.letter-grade-option{
			font: normal 500 0.8em/1 $font;
			line-height: 25px;
			padding: 4px 5px 5px 13px;
			background: rgba(255,255,255,1);

			&:hover{
				color: $primary-grey;
			}

			&.x-menu-item-checked{
				color: $primary-grey;

				&::after{
					content: '';
					overflow: hidden;
					position: absolute;
					top: 1.8em;
					right: 1.7em;
					@include arrow($pointFrom:top, $width: 8px, $height: 5px, $color: $secondary-grey);
				}
			}
		}
	}
}

.course-assessment-assignments {
	.show-older-container{
		height: 1em;
		line-height: 1em;
		margin-top: 40px;

		.show-older{
			display: inline-block;
			margin-left: 30px;
			cursor: pointer;
			color: $primary-blue;
			font: normal 500 0.9em/1em $font;
		}
	}

	.scrollzone {
		overflow: {x: hidden; y: auto;}
		position: absolute;//avoid ext's anchor layout
		top: 0; left: 0; right: 0; bottom: 0;
		margin-top: 50px;//toolbar
	}
}

.x-container-course-assessment {

	&.assignment-group {
		padding: 30px 30px 60px;
		box-shadow: 0 1px 0 0 #f1f1f1;
		position: relative;
		overflow: hidden;

		& > .body {
			margin-top: 0.5em;
		}

		& > .subtitle {
			font: normal 600 0.6em/1 $font;
			color: $tertiary-grey;
			text-transform: uppercase;
		}

		& > .title {
			color: $primary-grey;
			font: normal 300 1.5em/1.5 $font;
		}
	}

}


.course-assessment-header {
	font-size: 16px;//force a base em size
	&.assignment-item {

		.toolbar {
			box-shadow: inset 0 -1px 0 0 #f1f1f1;
			padding: 0 17px 0 30px;
			font: normal normal 0.75em/49px $font;
			color: $primary-grey;
			overflow: hidden;
			height: 50px;

			.path.part {
				font-weight: 600;
				cursor: pointer;
				color: $primary-blue;

				&.current {
					color: $primary-grey;
				}

				&::after {
					content: ' /  ';
					color: $tertiary-grey;
					font-weight: 400;
					margin: 0.3em;
				}

				&:last-of-type {
					cursor: default;

					&::after {
						content: none;
					}
				}
			}

			.right.controls {
				display: inline-block;
				line-height: 0;
				float: right;
			}

			.page {
				vertical-align: top;
				line-height: 49px;
				display: inline-block;
				font-style: italic;
				color: $primary-grey;
				margin-right: 25px;
				span {
					font-weight: 600;
				}
			}

			.up, .down {
				cursor: pointer;
				display: inline-block;
				width: 40px;
				height: 50px;
				line-height: 0;
			}

			.up {
				@include icon('arrow-up', $top: 19px, $left: 10px);
			}

			.down {
				@include icon('arrow-down', $top: 19px, $left: 10px);
			}
		}

		&.student-reader-header{
			text-transform: uppercase;

			&.submitted{ 
				.header{
					display: block; 
				}
			}


			&.ontime{
				.header::before{
					@include sprite($icons,'assignment_ontime');
				}
			}
			
			.header{
				padding-left: 80px;
				display: none;
				height: 70px;

				@include icon('assignment_late', $side:'before', $top:16px, $left:30px);

				.quiz-container{
					width: 525px;
					float: left;

					.title{
						text-transform: none;
						font-size: 1em;
						font-weight: 600;
						line-height: 1.3;
						color: $primary-grey;
					}

					.turned-in{
						color: $secondary-grey;
						font: normal 700 .6em/1 $font;
						line-height: 2.5;

						& > *:not(:first-child)::before {
							content: '\00B7';
							margin: 0.5em;
							color: $secondary-grey;
						
						}

						.late{
							color: $primary-red;
						}
					}
				}

				.grade-container{
					width: 130px;
					float: left;

					.title{
						color: $secondary-grey;
						font-size: 0.6em;
						font-weight: 700;
						line-height: 1.7;
					}

					.grade{
						color: $secondary-grey;
						width: 100%;
						line-height: 2.4;
					}
				}
			}
		}

		&.reader-header {
			.toolbar {
				height: 60px;
				line-height: 59px;

				.page {
					line-height: 59px;
				}

				.up, .down {
					height: 60px;
					&::after {
						top: 24px;
					}
				}
			}
		}

		.header {
			background: #f8f8f8;
			position: relative;
			padding: 15px 30px;
			border-bottom: 1px solid #dddddd;
			&::after {
				content: '';
				box-shadow: 0 -5px 15px 5px rgba(0, 0, 0, 0.2);
				position: absolute;
				right: 0;
				bottom: 0;
				left: 0;
				height: 100px;
				clip: rect(100px, auto, 150px, auto);
				background: #dddddd;
				border-radius: 40em / 10px;
			}

			.user {
				overflow: hidden;
				position: relative;
				margin: -15px 15em -15px -30px;
			}

			.avatar {
				width: 120px;
				height: 120px;
				float: left;
				background: {
					size: cover;
					position: center center;
					repeat: no-repeat;
				};

				& + .wrap {
					margin: 2em 0 0 135px;

				}
			}


			.grade {
				width: 15em;
				float: right;
				font-size: 0.8em;
				position: relative;

				.late {
					position: absolute;
					left: -11em;
					text-align: right;
					width: 10em;
					line-height: 3;
					color: $primary-red;
				}

				.label {
					color: $tertiary-grey;
					font: normal 700 0.8em/3 $font;
					text-transform: uppercase;
				}

				.gradebox {
					overflow: hidden;
					width: 10.5em;
					font: normal 500 1em/1 $font;
					border: 1px solid #dcdcdc;
					background: #fff;
					& > * {
						font: normal 500 1em/1 $font;
						padding: 0.7em 1em;
						margin: 0;
						background: #fff;
						color: $secondary-grey;
						position: relative;
					}

					input {
						width: 56%;
						border-width: 0 1px 0 0;
						border-right: { style: solid; color: #dcdcdc; }
					}
					.dropdown {
						width: 44%;
						display: inline-block;
						padding-top: 0.8em;
						&::after {
							content: '';
							overflow: hidden;
							position: absolute;
							top: 1.8em;
							right: 1.5em;
							@include arrow($pointFrom:top, $width: 8px, $height: 5px, $color: $secondary-grey);
						}
					}
				}
			}

			.title {
				font: normal 300 1.3em/1 $font;
				color: $primary-grey;

				&.name {
					text-transform: uppercase;
					font: normal bold 1.2em/1 'Open Sans Condensed', $font;
					display: inline-block;
					position: relative;
					max-width: 100%;
					@include presence-style-sudo($x:-1em, $y:0.3em, $xSide:'right');

					div {
						max-width: 100%;
						overflow: hidden;
						@include ellipse();
					}
				}
			}

			.subtitle {
				font: normal 600 0.6em/1 $font;
				text-transform: uppercase;
				color: $tertiary-grey;
				margin-top: 1em;

				&.actions {
					margin-top: 0.5em;
					font-size: 0.8em;
					font-weight: normal;
					text-transform: none;
				}

				span {
					&.link { color: $primary-blue; cursor: pointer; }

		
					&::before {
						content: '\00B7';
						margin: 0.5em;
						color: $tertiary-grey;
					}
					&:first-of-type::before {
						content: none;
					}
				}
			}
		}
	}
}

.course-performance-header {
	//position: absolute;
	//top: 0; left: 0;
	width: 769px; height: 200px;
	background: #fbfbfb;
	box-shadow: 0 1px 0 0 #e0e0e0, 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	line-height: 0;
	z-index: 2;
	clip: rect(0,auto,215px,0);

	.grade {float: left; box-shadow: 1px 0 0 0 #eaeaea, 2px 0 0 0 #fff; }
	.performance {
		width: 545px;
	}
}


// Grid Styles

.x-container-course-assessment.grade > .body { margin-top: 0; }

.x-grid-header-ct-course-assessment {
	background: none !important;
	border: 0 none !important;
}

.x-column-header-course-assessment {
	padding: 0;
	border: 0 none;
	border-bottom: {
		color: #f1f1f1;
		style: solid;
		width: 1px !important;
	}
	text-shadow: none;
	color: $tertiary-grey;
	font: normal 700 0.6em/3 $font;
	text-transform: uppercase;
	background: none !important;
	cursor: pointer;

	&.x-column-header-sort-ASC,
	&.x-column-header-sort-DESC {
		overflow: visible;

		.x-column-header-text {
			color: $primary-grey;
			background: none;
			padding-right: 0;

			&::after {
				content: '';
				margin-left: 1em;
			}
		}
	}

	&.x-column-header-sort-ASC {
		.x-column-header-text::after {
			vertical-align: text-top;
			@include arrow($width: 8px, $height: 5px);
		}
	}
	&.x-column-header-sort-DESC {
		.x-column-header-text::after {
			vertical-align: text-bottom;
			@include arrow($pointFrom: top, $width: 8px, $height: 5px);
		}
	}

	.x-column-header-inner {
		padding: 0;

		&.x-column-header-over {
			color: $primary-grey;
			background: none;
		}
	}
}

.x-panel-body-course-assessment {
	border: 0 none;

	.x-grid-view {
		overflow: {
			y: auto;//scroll
			x: hidden;
		}
	}

	.x-grid-td {
		border-width: 0;
		background: none;
	}

	.x-grid-row-selected,
	.x-grid-row-focused {
		.x-grid-td {
			background-color: none !important;
		}
	}

	.x-grid-row-over {
		.x-grid-td {
			background: #fafafa !important;
		}
	}

	.x-grid-cell-inner {
		padding: 0;
		line-height: 3;
	}

	.x-grid-row .x-grid-cell {
		font: normal 300 0.85em/3 $font;
		color: $secondary-grey;

		&.sortedOn,
		&.x-grid-cell-first {
			color: $primary-grey;
			font-weight: 600;
		}
		&.x-grid-cell-first {
			color: $primary-blue;
			cursor: pointer;
		}

		.check {
			text-indent: -100px;
			overflow: hidden;
			@include icon('check_gray', $top: 1em, $left: 1.6em);
		}


		.late, .ontime, .incomplete {
			font-weight: 600;
		}
		.late { color: $primary-red; }
		.ontime { color: $primary-green; }
		.incomplete { color: $tertiary-grey; }

		div.padded-cell,
		&.padded-cell .x-grid-cell-inner{
			margin-left: 30px;
		}

		.student-cell {
			overflow: hidden;
			position: relative;

			.avatar {
				float: left;
				display: inline-block;
				line-height: 0;
				width: 60px; height: 60px;
				background: {
					size: cover;
					position: center center;
					repeat: no-repeat;
				}
			}
			.name {
				margin-left: 75px;
				line-height: 60px;
				max-width: 100%;
				overflow: hidden;
				@include ellipse;
				color: $primary-grey;
			}
		}
	}
}


//Grid Views:
.x-grid {
	&.student-performance-overview,
	&.student-assignment-overview {
		position: absolute;
		bottom: 0; left: 0; right: 0;
	}

	&.student-performance-overview { top: 171px; }
	&.student-assignment-overview { top: 122px; margin-top: 122px; }
}
