.dnd-drop-placeholder {
	min-height: 40px;
	pointer-events: none;

	&:not(.column) {
		clear: both;
	}
}

.drag-over {
	min-height: 60px;
}

.dnd-save-placeholder {
	line-height: 2em;
	text-align: center;
	background: white;
	padding: 5px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);

	&:not(.column) {
		clear: both;
	}

	span {
		display: inline-block;
		vertical-align: middle;

		&::before {
			@include loadingSpinner();
			position: static;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

[draggable='true']{
	max-height: 90000px;
}
