span.tab{
	white-space: nowrap;
	display: inline-block;
	width: 4em;
	height: 1em;
}

@mixin editor($useParent:false) {
	$selector: '.editor';

	@if $useParent == true {
		$selector: '&.editor';
	}

	#{$selector} {
		@include hardware-accelerate();	 
		position: relative;//default

		&.active {
			display:  block;
		}

		&.x-repaint{
			background: #ffffff;
			visibility: hidden;
		}

		@include animate(fadeIn,0.3s);
		display: none;
		overflow: hidden;
		min-width: 325px;
		min-height: 100px;

		.action {
			width: 24px;
			height: 24px;
			cursor: pointer;
			display: inline-block;
			color: $secondary-grey;

			&:focus {
				&::after{
					outline: 1px dotted $primary-blue;
					outline-offset: 1px;
				}
			}
		}

		.main {
			background: #fff;
			padding: 0 0 46px;

			.title {
				@include experimental(transition, all 0.5s);
				position: relative;
				border: 0 solid #f2f2f2;
				border-width: 0 0 1px 0;
				.placeholder {
					position: absolute;
					top: 3px;
					left: 15px;
				}
				input {
					display: block;
					font: normal 300 25px/40px $font;
					border: 0;
					margin: 5px 0;
					width: 100%;
					color: $primary-grey;

					&[type=text]:not([value]),
					&[type=text][value=""]{
						font-style: italic;

						&:focus {
							font-style: normal;
						}
					}


				}
			}

			.aux {
				background: #fff;
				@include experimental(transition, all 0.5s);
				position: relative;
				border: 0 solid #f2f2f2;
				border-bottom-width: 1px;

				input{
					font: normal italic 14px/30px $font;
					font-style: italic;
					text-transform: none;
				}

				.tags{
					margin: 0 105px 0 0;
				}
				.action{
					float: right;
					&.publish{
						width: 82px;
						height: 30px;
						position: relative;

						&::after{
							content: '';
							position: absolute;
							left: 0; top: 5px;
							outline: 0;
							background: $elements no-repeat;
							@include sprite($elements,'btn_toggle_private',$dimensions: true);
						}

						&.on::after{
							@include sprite($elements,'btn_toggle_public',$dimensions: true);
						}
					}
				}
			}

			.toolbar {
				@include experimental(transition, all 0.5s);
				background: #fff;
				clear:both;
				position: relative;
				overflow: hidden;
				height: 32px;
				border-bottom: 1px solid #dcdcdc;
				.left .action {float: left;}
				.right .action {float: right;}

				.action {
					width: 20px;
					height: 32px;
					line-height: 32px;
					position: relative;

					&.bold, &.italic, &.underline {
						margin-right: 5px;
						margin-top: 4px;
						height: 28px;

						&::after{
							content: '';
							position: absolute;
							top: 5px; left: 2px;
							background: $icons no-repeat;
						}
					}

					&.bold {
						&::after{ @include sprite($icons,'bold',$dimensions: true); }
						&.selected::after{ @include sprite($icons,'bold_active',$dimensions: true); }
					}
					&.italic {
						&::after{ @include sprite($icons,'italic',$dimensions: true); }
						&.selected::after{ @include sprite($icons,'italic_active',$dimensions: true); }
					}
					&.underline {
						&::after{ @include sprite($icons,'underline',$dimensions: true); }
						&.selected::after{ @include sprite($icons,'underline_active',$dimensions: true); }
					}
					&.share {
						position: relative;
						width: auto;
						white-space: nowrap;

						text-align: center;
						padding: 0 12px 0 25px;
						margin: 0 5px 0 0;

						&::after {
							content: ' ';
							overflow: hidden;
							position: absolute;
							top: 15px; right: 0;
							background: $elements no-repeat;
							@include sprite($elements,'share-drop-arrow',$dimensions: true);
						}

						&::before {
							content: ' ';
							overflow: hidden;
							position: absolute;
							top: 7px; left: 0px;
							background: $icons no-repeat;
							@include sprite($icons,'share',$dimensions: true);
						}
					}
				}

			}


			.content {
				@include text-content;

				@include experimental(transition, all 0.5s);
				cursor: text;
				padding: 2px 0 0 0;
				color: $secondary-grey;
				font: 14px $font;
				overflow-x: hidden;
				overflow-y: auto;
				min-height: 50px;
				max-height: 200px;
				outline: 0;

				//These dork with the intended scroll behaviour in the editors.
				//display: table;
				//table-layout: fixed;
				//width: 100%;
			}
		}

		.footer {
			@include experimental(transition, all 0.5s);
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			height: 45px;
			white-space: nowrap;
			background-color: #efefef;
			border-top: 1px solid #dcdcdc;

			&::after{
				content: '';
				position: absolute;
				top: -8px;
				left: 0;
				right: 0;
				height: 8px;
				box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.25);
				border-radius: 90px;
			}

			.left .action {float: left;}
			.right .action {float: right;}

			.action {
				position: relative;
				height: 45px;
				width: 45px;
				line-height: 45px;
				font-size: 14px;
				text-align: center;
				color: $secondary-grey;
				margin: -1px;
				@include experimental(transition, all 0.5s);

				&.whiteboard {
					&::after{
						content: '';
						position: absolute;
						outline: none;
						top: 12px; left: 9px;
						background: $icons no-repeat;
						@include sprite($icons,'whiteboard',$dimensions: true);
					}
				}

				&.text-controls{
					width: 34px;
					height: 34px;
					margin: 6px 0 0 5px;
					border-radius: 3px;
					border: 0px solid #dcdcdc;

					&::after{
						content: '';
						position: absolute;
						top: 9px; left: 5px;
						outline: none;
						background: $icons no-repeat;
						@include sprite($icons,'font_styles_default',$dimensions: true);
					}

					&.selected{
						margin: 5px 0 0 4px;
						border-width: 1px;
						background-color: #ffffff;

						&::after{ @include sprite($icons,'font_styles_active',$dimensions: true); }
						.popover{
							display: block;
						}
					}


					.popover{
						position: absolute;
						top: -38px;
						left: -22px;
						height: 34px;
						background-color: #fff;
						box-shadow: 1px 2px 3px -1px rgba(0,0,0,.3);
						border: 1px solid #f8f8f8;
						z-index: 16;
						padding: 0 5px;
						display: none;
						white-space: nowrap;

						&::after{
							content: '';
							position: absolute;
							top:32px; left: 30px;
							background: $icons no-repeat;
							@include sprite($icons,'font_style_pointer',$dimensions: true);
						}

						.control{
							width: 20px;
							height: 32px;
							line-height: 32px;
							position: relative;
							display: inline-block;

							&.bold, &.italic, &.underline {
								margin-right: 5px;
								margin-top: 4px;
								height: 28px;

								&:last-of-type{ margin-right: 0; }

								&::after{
									content: '';
									position: absolute;
									top: 5px; left: 2px;
									background: $icons no-repeat;
								}
							}

							&.bold {
								&::after{ @include sprite($icons,'bold',$dimensions: true); }
								&.selected::after{ @include sprite($icons,'bold_active',$dimensions: true); }
							}
							&.italic {
								&::after{ @include sprite($icons,'italic',$dimensions: true); }
								&.selected::after{ @include sprite($icons,'italic_active',$dimensions: true); }
							}
							&.underline {
								&::after{ @include sprite($icons,'underline',$dimensions: true); }
								&.selected::after{ @include sprite($icons,'underline_active',$dimensions: true); }
							}
						}
					}
				}

				&.cancel {
					width: 85px;
				}

				&.save {
					width: 95px;
					line-height: 44px;
					font-weight: bold;
					font-style: italic;
					color: #ffffff;
					border: 1px solid $border-blue;
					padding: 0 0 0 24px;
					background: $primary-blue;
					position: relative;


					&::after {
						content: ' ';
						overflow: hidden;
						position: absolute;
						top: 8px; left: 15px;
						background: $icons no-repeat;
						@include sprite($icons,'comment_white',$dimensions: true);
					}
				}
			}

			&.x-repaint{
				background: #ffffff;
				visibility: hidden;
			}
		}


		&.disabled {
			.main {
				opacity: 0.6;

				.toolbar{
					visibility: hidden;
					opacity: 0;
					pointer-events: none;
				}

				.content { }
			}
			.action{
				&.whiteboard{
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
				}
				&.save {
					pointer-events: none;
					cursor: default;
					border-color: #d0d0d0;
					background: #b8b8b8;
					color: #ffffff;
					opacity: 0.5;
				}
			}
		}
	}
}

@include editor();

.x-component-editor {
	@include editor(true);
}
