span.tab{
	white-space: nowrap;
	display: inline-block;
	width: 4em;
	height: 1em;
}

@mixin editor($useParent:false) {
	$selector: '.editor';

	@if $useParent == true {
		$selector: '&.editor';
	}

	#{$selector} {
		@include hardware-accelerate();	 
		position: relative;//default

		&.active {
			display:  block;
		}

		&.x-repaint{
			background: #ffffff;
			visibility: hidden;
		}

		@include animate(fadeIn,0.3s);
		display: none;
		overflow: hidden;
		min-width: 325px;
		min-height: 100px;

		.action {
			width: 24px;
			height: 24px;
			cursor: pointer;
			display: inline-block;
			color: $secondary-grey;

			&:focus {
				&::after{
					outline: 1px dotted $primary-blue;
					outline-offset: 1px;
				}
			}
		}

		.main {
			background: #fff;
			padding: 0 0 46px;

			.title {
				@include experimental(transition, all 0.5s);
				position: relative;
				border: 0 solid #f2f2f2;
				border-bottom-width: 1px;
				.placeholder {
					position: absolute;
					top: 3px;
					left: 15px;
				}
				input {
					display: block;
					font: normal 300 25px/40px $font;
					border: 0;
					margin: 5px 0;
					width: 100%;
					color: $primary-grey;

					&[type=text]:not([value]),
					&[type=text][value=""]{
						font-style: italic;

						&:focus {
							font-style: normal;
						}
					}

					/*.x-ie10 &, .x-ie &{
						height: 33px !important;
					}*/
				}
			}

			.aux {
				background: #fff;
				@include experimental(transition, all 0.5s);
				position: relative;
				border: 0 solid #f2f2f2;
				border-bottom-width: 1px;
				padding: 0px 5px;

				input{
					font: normal italic 14px/30px $font;
					font-style: italic;
					text-transform: none;
				}

				.tags{
					margin: 0 105px 0 0;
				}
				.action{
					float: right;
					&.publish{
						width: 82px;
						height: 30px;
						position: relative;

						&::after{
							content: '';
							position: absolute;
							left: 0; top: 5px;
							outline: 0;
							background: $elements no-repeat;
							@include sprite($elements,'btn_toggle_private',$dimensions: true);
						}

						&.on::after{
							@include sprite($elements,'btn_toggle_public',$dimensions: true);
						}
					}
				}


			}

			.aux+.title, .title.small{
				input{
					font: italic 14px/20px $font;
					padding-left: 5px;
				}
			}


			.content {
				@include scrollbar(#ffffff, $tertiary-grey);
				@include text-content;

				@include experimental(transition, all 0.5s);
				cursor: text;
				padding: 2px 5px 0;
				color: $secondary-grey;
				font: 14px $font;
				overflow-x: hidden;
				overflow-y: auto;
				min-height: 50px;
				max-height: 200px;
				outline: 0;
				position: relative;

				&.show-placeholder[data-placeholder]::after{
					display: block;
					position: absolute;
					content: attr(data-placeholder);
					@include placeholder-style();
					top: 2px;
					left: 5px;
				}

				.video-thumbnail, .unknown{
					height: 75px;
					width: 55px;
					@include icon('filetype-video', $top:20px, $left:10px);
				}

				.unknown{
					@include icon('filetype-unknown', $top:20px, $left:10px);
				}
			}
		}

		.footer {
			@include experimental(transition, all 0.5s);
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			height: 45px;
			white-space: nowrap;
			background-color: #efefef;
			border-top: 1px solid #dcdcdc;

			&::after{
				content: '';
				position: absolute;
				top: -8px;
				left: 0;
				right: 0;
				height: 8px;
				box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.25);
				border-radius: 90px;
			}

			.left .action {float: left;}
			.right .action {float: right;}

			.action {
				position: relative;
				height: 45px;
				width: 45px;
				line-height: 45px;
				font-size: 14px;
				text-align: center;
				color: $secondary-grey;
				margin: -1px;
				@include experimental(transition, all 0.5s);


				&.text-controls, &.object-controls{
					width: 34px;
					height: 34px;
					margin: 6px 0 0 5px;
					border-radius: 3px;
					border: 0px solid #dcdcdc;

					&::after{
						content: '';
						position: absolute;
						top: 9px; left: 5px;
						outline: none;
						background: $icons no-repeat;
						@include sprite($icons,'font_styles_default',$dimensions: true);
					}

					&.selected{
						margin: 5px 0 0 4px;
						border-width: 1px;
						background-color: #ffffff;

						&::after{ @include sprite($icons,'font_styles_active',$dimensions: true); }
						.popover{
							display: block;
						}
					}


					.popover{
						position: absolute;
						top: -38px;
						left: 0px;
						height: 34px;
						background-color: #fff;
						box-shadow: 1px 2px 3px -1px rgba(0,0,0,.3);
						border: 1px solid #f8f8f8;
						z-index: 16;
						padding: 0 5px;
						display: none;
						white-space: nowrap;

						&::after{
							content: '';
							position: absolute;
							top:32px; left: 9px;
							background: $icons no-repeat;
							@include sprite($icons,'font_style_pointer',$dimensions: true);
						}

						.control{
							width: 20px;
							height: 32px;
							line-height: 32px;
							position: relative;
							display: inline-block;

							&.bold, &.italic, &.underline, &.whiteboard, &.video {
								margin-right: 5px;
								margin-top: 4px;
								height: 28px;

								&:last-of-type{ margin-right: 0; }

								&::after{
									content: '';
									position: absolute;
									top: 5px; left: 2px;
									background: $icons no-repeat;
								}
							}

							&.bold {
								&::after{ @include sprite($icons,'bold',$dimensions: true); }
								&.selected::after{ @include sprite($icons,'bold_active',$dimensions: true); }
							}
							&.italic {
								&::after{ @include sprite($icons,'italic',$dimensions: true); }
								&.selected::after{ @include sprite($icons,'italic_active',$dimensions: true); }
							}
							&.underline {
								&::after{ @include sprite($icons,'underline',$dimensions: true); }
								&.selected::after{ @include sprite($icons,'underline_active',$dimensions: true); }
							}

							&.whiteboard {
								@include icon('editor-insert-image', $top:10px);
								&:hover::after{
									@include sprite($icons,'editor-insert-image_hover',$dimensions: true);
								}
							}

							&.video {
								@include icon('editor-insert-video', $top:9px);
								&:hover::after{
									@include sprite($icons,'editor-insert-video_hover',$dimensions: true);
								}
							}


							&.whiteboard, &.video{
								margin-right: 10px;
								&::after{
									top: 6px;
								}
							}

							&.video{
								&::after{
									top: 5px;
								}
							}
						}
					}
				}

				&.text-controls::before{
					content: ' ';
					top: 4px;
					right: -36px;
					position: relative;
					height: 26px;
					display: block;
					background-color: #e0e0e0;
					width: 1px;
				}

				&.object-controls{
					@include icon('editor-attach', $top:10px, $left:10px);
					&.selected{
						&::after{
							@include sprite($icons,'editor-attach_active',$dimensions: true);
						}
					}

					.popover{
						left: -9px;
						&::after{
							left: 18px;
						}
					}

					&.only-one{
						.popover{
							left: 0px;
							&::after{
								left: 9px;
							}
						}
					}
				}

				&.cancel {
					width: 85px;
				}

				&.save {
					width: 95px;
					line-height: 44px;
					font-weight: bold;
					font-style: italic;
					color: #ffffff;
					border: 1px solid $border-blue;
					padding: 0 0 0 24px;
					background: $primary-blue;
					position: relative;


					&::after {
						content: ' ';
						overflow: hidden;
						position: absolute;
						top: 8px; left: 15px;
						background: $icons no-repeat;
						@include sprite($icons,'comment_white',$dimensions: true);
						outline: 0;
					}

					&.disabled{
						cursor: default;
						border: 1px solid #d0d0d0;
						background: rgba(184,184,184,0.5);
						color: rgba(255,255,255,0.7);
						margin: -1px;
					}

				}
			}

			&.x-repaint{
				background: #ffffff;
				visibility: hidden;
			}
		}


		&.disabled {
			.main {
				opacity: 0.6;

				.toolbar{
					visibility: hidden;
					opacity: 0;
					pointer-events: none;
				}

				.content { }
			}
			.action{
				&.whiteboard{
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
				}
				&.save {
					pointer-events: none;
					cursor: default;
					border-color: #d0d0d0;
					background: #b8b8b8;
					color: #ffffff;
					opacity: 0.5;
				}
			}
		}
	}
}

@include editor();

.x-component-editor {
	@include editor(true);

	&.in-gutter{
		background: #ffffff;
		border: 1px solid #cfcfcf;//#ededed

		.main {
			margin: 0 10px;

			.aux {
				padding: 0;
				.x-component-tokens.user-token-field {
					overflow: visible;
					.control.publish{
						left: 10px;
						margin-left: -10px;
					}
					.tokens{
						padding-left: 0;
						margin-right: 70px !important;
					}
				}
			}

			.aux+.title,
			.title.small{
				input { padding-left: 0; }
			}

			.content {
				.detected-scrollbars & {
					margin-right: -10px;
				}

				padding: 2px 0 0;
				&.show-placeholder[data-placeholder]::after{
					left: 0;
				}
			}
		}
	}
}
