@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../lib/fonts/opensanscond/opensans-condlight-webfont.eot');
    src: //local('Open Sans Cond Light'), local('OpenSans-CondensedLight'),
		 url('../lib/fonts/opensanscond/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensanscond/opensans-condlight-webfont.woff') format('woff'),
         url('../lib/fonts/opensanscond/opensans-condlight-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../lib/fonts/opensanscond/opensans-condlighttalic-webfont.eot');
    src: //local('Open Sans Cond Light Italic'), local('OpenSans-CondensedLightItalic'),
		 url('../lib/fonts/opensanscond/opensans-condlighttalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensanscond/opensans-condlighttalic-webfont.woff') format('woff'),
         url('../lib/fonts/opensanscond/opensans-condlighttalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../lib/fonts/opensanscond/opensans-condbold-webfont.eot');
    src: //local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'),
		 url('../lib/fonts/opensanscond/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensanscond/opensans-condbold-webfont.woff') format('woff'),
         url('../lib/fonts/opensanscond/opensans-condbold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}


@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-light-webfont.eot');
    src: //local('Open Sans Light'), local('OpenSans-Light'),
		 url('../lib/fonts/opensans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-light-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-lightitalic-webfont.eot');
    src: //local('Open Sans Light Italic'), local('OpenSansLight-Italic'),
		 url('../lib/fonts/opensans/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-lightitalic-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-regular-webfont.eot');
    src: //local('Open Sans'), local('OpenSans'),
		 url('../lib/fonts/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-regular-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-italic-webfont.eot');
    src: //local('Open Sans Italic'), local('OpenSans-Italic'),
		 url('../lib/fonts/opensans/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-italic-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}





@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-semibold-webfont.eot');
    src: //local('Open Sans Semibold'), local('OpenSans-Semibold'),
		 url('../lib/fonts/opensans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-semibold-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-semibolditalic-webfont.eot');
    src: url('../lib/fonts/opensans/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-semibolditalic-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;

}


@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-bold-webfont.eot');
    src: //local('Open Sans Bold'), local('OpenSans-Bold'),
		 url('../lib/fonts/opensans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-bold-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-bolditalic-webfont.eot');
    src: //local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		 url('../lib/fonts/opensans/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-bolditalic-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-extrabold-webfont.eot');
    src: //local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
		 url('../lib/fonts/opensans/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-extrabold-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Open Sans';
    src: url('../lib/fonts/opensans/opensans-extrabolditalic-webfont.eot');
    src: //local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'),
		 url('../lib/fonts/opensans/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/opensans/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../lib/fonts/opensans/opensans-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}


@font-face {
    font-family: 'Droid Serif';
    src: url('../lib/fonts/droidserif/droidserif-webfont.eot');
    src: url('../lib/fonts/droidserif/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/droidserif/droidserif-webfont.woff') format('woff'),
         url('../lib/fonts/droidserif/droidserif-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Droid Serif';
    src: url('../lib/fonts/droidserif/droidserif-italic-webfont.eot');
    src: url('../lib/fonts/droidserif/droidserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/droidserif/droidserif-italic-webfont.woff') format('woff'),
         url('../lib/fonts/droidserif/droidserif-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Droid Serif';
    src: url('../lib/fonts/droidserif/droidserif-bold-webfont.eot');
    src: url('../lib/fonts/droidserif/droidserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/droidserif/droidserif-bold-webfont.woff') format('woff'),
         url('../lib/fonts/droidserif/droidserif-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Droid Serif';
    src: url('../lib/fonts/droidserif/droidserif-bolditalic-webfont.eot');
    src: url('../lib/fonts/droidserif/droidserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/droidserif/droidserif-bolditalic-webfont.woff') format('woff'),
         url('../lib/fonts/droidserif/droidserif-bolditalic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;

}






@font-face {
  font-family: Stix;
  src: url(../lib/mathquill/font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"),
    url(../lib/mathquill/font/Symbola.ttf) format("truetype"),
    url(../lib/mathquill/font/Symbola.otf) format("opentype");
}



//Stix fonts for mathjax renderings
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('../lib/fonts/stix/STIXIntegralsD-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('../lib/fonts/stix/STIXIntegralsD-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('../lib/fonts/stix/STIXIntegralsSm-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('../lib/fonts/stix/STIXIntegralsSm-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('../lib/fonts/stix/STIXIntegralsUp-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('../lib/fonts/stix/STIXIntegralsUp-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('../lib/fonts/stix/STIXIntegralsUpD-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('../lib/fonts/stix/STIXIntegralsUpD-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('../lib/fonts/stix/STIXIntegralsUpSm-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('../lib/fonts/stix/STIXIntegralsUpSm-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFiveSym';
    src: url('../lib/fonts/stix/STIXSizeFiveSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('../lib/fonts/stix/STIXSizeFourSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('../lib/fonts/stix/STIXSizeFourSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('../lib/fonts/stix/STIXSizeOneSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('../lib/fonts/stix/STIXSizeOneSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('../lib/fonts/stix/STIXSizeThreeSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('../lib/fonts/stix/STIXSizeThreeSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('../lib/fonts/stix/STIXSizeTwoSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('../lib/fonts/stix/STIXSizeTwoSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('../lib/fonts/stix/STIXVariants-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('../lib/fonts/stix/STIXVariants-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

//Latin Modern fonts for mathjax renderings
@font-face {
    font-family: 'LatinModernMathJax_Alphabets';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Alphabets-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Alphabets-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Alphabets-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Alphabets-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Arrows';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Arrows-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Arrows-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Arrows-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Arrows-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_DoubleStruck';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_DoubleStruck-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_DoubleStruck-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_DoubleStruck-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_DoubleStruck-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Fraktur';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Fraktur-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Fraktur-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Fraktur-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Fraktur-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Latin';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Latin-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Latin-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Latin-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Latin-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Main';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Main-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Main-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Main-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Main-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Marks';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Marks-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Marks-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Marks-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Marks-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Misc';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Misc-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Misc-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Misc-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Misc-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Monospace';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Monospace-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Monospace-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Monospace-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Monospace-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_NonUnicode';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_NonUnicode-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_NonUnicode-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_NonUnicode-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_NonUnicode-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Normal';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Normal-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Normal-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Normal-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Normal-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Operators';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Operators-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Operators-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Operators-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Operators-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_SansSerif';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_SansSerif-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_SansSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_SansSerif-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_SansSerif-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Script';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Script-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Script-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Script-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Script-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Shapes';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Shapes-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Shapes-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Shapes-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Shapes-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size1';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size1-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size1-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size1-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size1-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size2';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size2-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size2-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size2-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size2-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size3';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size3-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size3-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size3-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size3-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size4';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size4-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size4-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size4-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size4-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size5';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size5-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size5-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size5-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size5-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size6';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size6-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size6-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size6-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size6-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Size7';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size7-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Size7-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size7-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Size7-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Symbols';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Symbols-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Symbols-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Symbols-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Symbols-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LatinModernMathJax_Variants';
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Variants-Regular.eot');
    src: url('../lib/fonts/lmmathjax/LatinModernMathJax_Variants-Regular.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Variants-Regular.woff') format('woff'),
         url('../lib/fonts/lmmathjax/LatinModernMathJax_Variants-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

// Latin Modern fonts for normal text
@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../lib/fonts/lmroman/lmroman10-bold-webfont.eot');
    src: url('../lib/fonts/lmroman/lmroman10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmroman/lmroman10-bold-webfont.woff') format('woff'),
         url('../lib/fonts/lmroman/lmroman10-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../lib/fonts/lmroman/lmroman10-bolditalic-webfont.eot');
    src: url('../lib/fonts/lmroman/lmroman10-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmroman/lmroman10-bolditalic-webfont.woff') format('woff'),
         url('../lib/fonts/lmroman/lmroman10-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../lib/fonts/lmroman/lmroman10-italic-webfont.eot');
    src: url('../lib/fonts/lmroman/lmroman10-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmroman/lmroman10-italic-webfont.woff') format('woff'),
         url('../lib/fonts/lmroman/lmroman10-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../lib/fonts/lmroman/lmroman10-regular-webfont.eot');
    src: url('../lib/fonts/lmroman/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/lmroman/lmroman10-regular-webfont.woff') format('woff'),
         url('../lib/fonts/lmroman/lmroman10-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

//ICON font set
@font-face {
    font-family: 'icomoon';
    src: url('../lib/fonts/icon/icomoon.eot');
    src: url('../lib/fonts/icon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/icon/icomoon.woff') format('woff'),
         url('../lib/fonts/icon/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
