
#profile {

	.blog {
		.header {
			font: italic 300 28px/28px $font;
			color: $tertiary-grey;
			padding: 30px 20px;
			border: 0 solid #f1f1f1;
			border-width: 0 0 1px 0;
			cursor: pointer;
		}

		.body {
			.entry {
				padding: 30px 20px;
				border: 0 solid #f1f1f1;
				border-width: 0 0 1px 0;
				cursor: pointer;

				.title {
					font: normal 300 28px/28px $font;
					color: $primary-grey;
					margin-bottom: 20px;
				}
				.meta {
					text-transform: uppercase;
					font: normal 400 12px/12px $font;
					color: $tertiary-grey;
					.comment-count { color: $primary-blue; }
					span{
						&::after{
							color: $tertiary-grey;
							font-weight: 600;
							position: static;
							content: '\00B7';
							vertical-align: middle;
							display: inline;
							padding: 0 0.25em;
							background: none;
						}
						&:last-of-type::after {
							content: '';
							display: none;
						}
					}
				}
			}
		}
	}
}
