
@mixin post-navigation {
	background: white;
	border: 0 solid $border-grey;
	border-width: 1px 0 1px;

	.path {
		&::after {
			content: '';
			position: absolute;
			top: 18px; left: 10px;
			background: $icons no-repeat;
			@include sprite($icons,'profile_back_arrow',$dimensions: true);
		}

		position: relative;
		cursor: pointer;
		padding: 0 4px 0 34px;
		margin: 0 80px 0 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: $tertiary-grey;
		font: italic 500 18px/50px $font;
		text-transform: uppercase;
		.title-part {
			color: $primary-green;
		}
	}

	.pager {
		position: absolute;
		top: 3px; right: 0;

		div{
			width: 38px;
			height: 34px;
			display: inline-block;
			position: relative;
			border: 1px solid #ebebeb;
			margin-top: 5px;
			cursor: pointer;

			&.disabled {
				cursor: default;
				&::after{ opacity: 0.1 !important; }
			}

			&.prev, &.next {
				&:hover {
					&::after{opacity: 0.5;}
				}

				&::after {
					opacity: 0.3;
					content: '';
					position: absolute;
					top: 6px; left: 11px;
					background: $icons no-repeat;
				}
			}

			&.prev {
				border-radius: 3px 0 0 3px;
				&::after {
					@include sprite($icons,'prev',$dimensions: true);
				}
			}

			&.next {
				border-radius: 0 3px 3px 0;
				border-left-width: 0 !important;
				&::after {
					left: 12px;
					@include sprite($icons,'next',$dimensions: true);
				}
			}
		}
	}
}


.animateProfileTabsLeft {
	overflow: hidden;
	& > .nti-body { @include animate($name: profileTabsLeft, $duration: 0.7s, $delay: 0s); }}

.animateProfileTabsBack {
	overflow: hidden;
	& > .nti-body { @include animate($name: unProfileTabsLeft, $duration: 0.9s, $delay: 0s); }}


#view-ctr > .blog-post.navigation-bar {
	@include post-navigation;
	border-top-color: white;
	position: absolute;
	top: 0; left: 0; right: 0;
	width: 700px;
	margin: 0 auto;
	z-index: 100;
}

#profile {

	.blog {

		.post-view .blog-editor{
			margin: 8px 0;
			border: 1px solid #dcdcdc;

			@include editor;
			.editor {
				.main {
					.title { padding: 0 15px; }

					.aux {
						position: relative;
						.tags{
							margin-left: 15px;
						}
					}

					.toolbar {
						border-top: 1px solid #dcdcdc;
						background: #f9f9f9;
						padding: 0 15px;
					}

					.content {
						max-height: none;
						min-height: auto;
						padding: 20px 15px 0;
						font-family: $font;
						font-size: 12px;
						line-height: 2em;
					}
				}
			}
		}

		&.owner {
			.header {display: block;}
		}

		.header {
			position: absolute;
			top: -42px;
			right: 0;

			display: none;
			overflow: hidden;
			height: 32px;
			font: italic 600 14px/30px "Open Sans", sans-serif;
			letter-spacing: 0.1em;
			padding: 0 15px;

			color: #ffffff;
			background: $primary-blue;
			border: 1px solid $border-blue;
			border-radius: 3px;

			cursor: pointer;
			z-index: 10;
		}


		.post-view .entry {
			border-width: 0;
			.title {
				cursor: default;
			}
		}

		.post-view .searchHit-overlay{
			left: 0px;
			z-index: -1;
		}

		.entry {
			padding: 30px 0 30px 20px;
			border: 0 solid #f1f1f1;
			border-width: 1px 0 0 0;
			position: relative;

			.navigation-bar {
				@include post-navigation;
				z-index: 10;
				position: absolute;
				top: -52px;
				left: 0; right: 0;

				&.animateIn{
					background: none;
					.path {
						@include animate($name: postHeaderIn, $duration: 0.9s, $delay: 0s);
					}
				}

				&.animateOut {
					background: none;
					.path {
						@include animate($name: postHeaderOut, $duration: 0.7s, $delay: 0s);
					}
				}
			}

			.controls {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 10;
				@include like-and-favorite;
			}
			.title {
				color: $primary-grey;
				font: normal 300 28px/40px $font;
				padding-bottom: 5px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				cursor: pointer;
			}
			.meta,
			.foot {
				font: normal 400 14px/14px $font;
				color: $tertiary-grey;

				.state,
				.comment-count {
					cursor: pointer;
					color: $primary-blue;
					&.only.me {
						color: $primary-red;
					}
				}

				.link {
					color: $primary-blue;
					cursor: pointer;
					&.on{ color: $primary-red; }

					&:hover, &.over, &.hover {
						text-decoration: underline;
					}
				}

				.comment-count {cursor: pointer;}

				.comment-box .response > span,
				& > span{
					&::before{
						color: $tertiary-grey;
						font-weight: 600;
						position: static;
						content: '\00B7';
						vertical-align: middle;
						display: inline-block;
						padding: 0 0.6em;
						background: none;
						text-decoration: none;
					}

					.tag:last-of-type::after,
					&:empty::before,
					&:first-of-type::before {
						content: '';
						display: none;
					}

					.tag{
						background: #ececec;
						display: inline-block;
						white-space: nowrap;
						border-radius: 90px;
						padding: 0 15px;
						margin: 0 5px 0 0;
						height: 20px;
						text-transform: uppercase;
						vertical-align: middle;
						color: $secondary-grey;
						font: normal 700 10px/20px $font;
					}
				}
			}

			.body {
				@include text-content;
				margin: 20px 0;
				color: $primary-grey;
				font: normal 400 14px/28px $font;

				img.whiteboard-thumbnail {
					width: 80%;
					height: auto;
					display: block;
					margin: 1em auto;
				}

				a {&:link,&:active,&:visited{
					color: $primary-blue;
					text-decoration: none;
				}}
			}

			.comment-box {
				margin: 25px 0;
			}

			.comment-box,.x-component-blog-comment {
				.editor {
					border: 1px solid #dcdcdc;
					.main {
						.toolbar{
							.left {
								margin-left: 13px;
							}
						}
						.content{
							min-height: auto;
							max-height: none;
							height: 200px;
							padding: 5px 13px;
						}
					}
				}
			}

			.comment-container{
				position: relative;

				&::after{
					content: '';
					position: absolute;
					top: -8px;
					left: 0;
					right: 0;
					height: 8px;
					box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.25);
					border-radius: 90px;
				}

				&:empty::after{
					display: none;
				}

			}

			.x-component-blog-comment{
				padding: 25px 0 20px 20px;

				background: $panel-background;
				border: 0 solid #f1f1f1;
				border-top-width: 1px;
				position: relative;

				.avatar {
					position: absolute;
					top: 15px; left: 15px;
					width: 35px; height: 35px;
					border-radius: 3px;
					background:{
						color: transparent;
						position: center;
						repeat: no-repeat;
						size: cover;
					}
				}

				.wrap {
					margin: 0 0 0 45px;
				}

				.editor {
					top: -10px;
				}
			}
		}

		.entry.list-item {
			box-shadow: 0 1px 3px 0 rgba(0,0,0,0.06);
			border: 1px solid #eaeaea;
			padding: 0;
			margin: 50px 0;

			& > div:not(.controls):not(.foot) {
				margin-left: 20px;
				margin-right: 20px;
			}

			.title { margin-top: 30px; }

			.foot {
				padding: 14px 20px;
				background: #f9f9f9;
			}
		}
	}
}
