

.nt-combobox {
	.x-form-trigger-wrap {
		border-collapse: separate;
		padding: 0 15px 0 0;
		border-radius: 5px;
		border: 1px solid #a0a0a0;
		box-shadow: inset 1px 1px 0 0 #cccccc;
		background: #ffffff;
		position: relative;

	}

	.x-trigger-cell {width: 0 !important; display: inline;}
	.x-form-trigger {
		position: absolute;
		right: 6px;
		top: 12px;
		width: 8px;
		height: 5px;
		border-width: 0 !important;
		background: url(../images/elements/search-nib.png) 0 0 no-repeat;
	}

	.x-form-field.x-form-text{
		padding: 13px 0 13px 10px;
		border: none;
		border-radius: 5px;
		background: none;
		color: #909090;
		font-size: 13px;
		font-weight: 600;
	}

}


.input-wrap,
.textbox-base {
	position: relative;
	
	input {
		@include text-box-style();
		padding-right: 20px;
	}

	.placeholder {
		@include placeholder-style();
		position: absolute;
		top: 0;
		left: 0;
		padding: 7px 0 0 6px;
	}

	.clear {
		cursor: pointer;
		position: absolute;
		display: none;
		right: 4px;
		top: 7px;
		background: transparent $icons no-repeat;
		@include sprite($icons,'clear_line',$dimensions: true);
	}
}

.input-wrap {
	.clear {
		display: block;
		top: 5px;
		right: 54px;
		.x-opera &,
		.x-safari5 & {
			right: 60px;
		}
	}

	input {
		@include experimental-value(width, calc(100% - 50px));
		.x-opera &,
		.x-safari5 & {
			width: 77%;
		}
		line-height: 20px;
		padding: 2px 25px 2px 5px;
		height: 26px !important;;
		border: 1px solid $tertiary-grey;
		border-right-width: 0;
		border-radius: 1px 0 0 1px;
		vertical-align: top;
	}

	.save-button {
		cursor: pointer;
		font-size: 12px;
		font-weight: 600;
		padding: 0 10px;
		vertical-align: top;
		height: 26px !important;
		line-height: 24px;
		display: inline-block;
		background: $primary-blue;
		border: 1px solid $border-blue;
		color: #fff;

		&.save-button-disabled {
			background-color: #E4E4E4;
			color: $tertiary-grey;
			cursor: default;
			border: 1px solid #E4E4E4;
		}
	}
}


.error-tip {
	position: relative;
	overflow: visible !important;

	&[data-error-tip]{
		&::before {
			display: block;

			position: absolute;
			top: -16px; left: 5px;
			z-index: 999;

			content: attr(data-error-tip);
			color: $quad-grey;
			background: $primary-red;
			border: 1px solid $secondary-red;
			box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);

			padding: 1px 5px 1px 3px;
			font-size: 11px;
			font-style: italic;
			font-weight: 500;

			text-align: left;
			text-shadow: 0 1px 0 $primary-red;
			text-transform: uppercase;
		}

		&::after {
			//TODO: put a triangle tip here
			content: '';
			//content: url(../images/tooltip_pointer.png);
			display: block;
			position: absolute;

			top: 7px;
			left: 10px;
			z-index: 9999;
		}


		&.error-on-bottom {
			&::before {
				top: auto;
				bottom: -16px;
			}
			&::after {
				//TODO: put a triangle tip here thats flipped
			}
		}

	}
}


span.nti-checkbox {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin: 0.5em;
	cursor: pointer;

	&.disabled {
		cursor: default;
		opacity: 0.5;
	}

	&::after { margin-top: -7px; }
	@include icon('checkbox-14', $top:50%, $left:0);

	&:not(.checked):hover::after {
		@include sprite($icons, 'checkbox-14_hover');
	}

	&.checked::after {
		@include sprite($icons, 'checkbox-14_active');
	}
}


span.nti-radiobutton {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin: 0.5em;
	cursor: pointer;

	&.disabled {
		cursor: default;
		opacity: 0.5;
	}

	&::after { margin-top: -7px; }
	@include icon('radio-button-16', $top:50%, $left:0);

	&:not(.checked):hover::after {
		@include sprite($icons, 'radio-button-16_hover');
	}

	&.checked::after {
		@include sprite($icons, 'radio-button-16_active');
	}
}


.searchcombobox {
	position: relative;


	input {
		font-size: 14px;
		font-weight: 500;
		border-radius: 0;
		line-height: 25px;
		padding: 6px 10px;
		width: 100%;
		height: 100%;
		box-shadow: none;
		border: 1px solid $tertiary-grey;
		background: #ffffff;

		&.error {
			border-color: $primary-red;
		}
	}

	.options {
		
		position: fixed;
		top: 100%;
		background-color: white;
		border: 1px solid $tertiary-grey;
		border-top-width: 0;
		z-index: 1;
		overflow: auto;
		color: $primary-grey;
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 0 10px;
				cursor: pointer;

				&.active, &:hover {
					background-color: #efefef
				}
			}
		}

		&.hidden {
			display: none;
		}
	}

	.arrow {
		right: 0;
		top: 0;
		bottom: 0;
		width: 21px;
		cursor: pointer;
		position: absolute;

		//@include icon('arrow-course-dropdown-light', $side: 'after', $position: absolute, $left: 4px, $top: 50%);

		&::after {
			content: '';
			@include arrow($pointFrom: top, $color: $tertiary-grey);
			position: absolute;
			top: 50%;
			margin-top: -2px;
			right: 6px;
		}

		&:hover::after {
			border-top-color: $secondary-grey;
		}
	}
}

.datefield {
	height: auto;
	overflow: hidden;

	.month {
		width: 110px;
		float: left;
	}

	.date-field-input {
		float: left;
		font-size: 14px;
		font-weight: 500;
		border-radius: 0;
		line-height: 25px;
		padding: 6px 10px;
		height: 100%;
		box-shadow: none;
		border: 1px solid $tertiary-grey;
		background: #ffffff;
	}
	input.date-field-input {
		border-left-width: 0;
	}

	.day {
		width: 60px;
	}

	.year {
		width: 75px;
	}
}





