
@mixin go-to-icon {
   display: inline-block;
   width: 16px;
   height: 16px;
}

.x-grid-cell {

	.delete-action {
		background: $delete-action;
		width: 16px;
		height: 16px;
	}

	.go-to-icon-default {
	    @include go-to-icon;
		background: $app-goto;
		&.go-to-icon-highlight {
   			background: $charm-highlight-icon;
   		}
   		&.go-to-icon-note {
        	background: $charm-note-icon;
        }
        &.go-to-icon-messageinfo {
         	background: $charm-chattranscript-icon;
        }
	}


}
