@import "variables";

@mixin view-button-def {
	background: none;
	width: 69px !important;
	height: 78px;
}

.browser-warning {
    .x-panel-body{
        height: auto;
		padding: 0.5em 0.5em 0.5em 3em;
		background: {
			image: url(../images/warning.png);
			position: 10px 0;
			repeat: no-repeat;
			/*color: #E64700;*/
			color: #F9DD0A;
		}
		font-size: 2em;
	}
}

.main-navigation {
	background: #efefef;

	.x-panel-body-default{
		background: none;
		border-width: 0;
	}

	.view-switcher {
		margin-top: 33px;
		.view-button {

			em.x-btn-arrow{
				&, &.x-btn-arrow-left, .x-btn-arrow-right{
				padding: 0;
				display: inline;
				background: none;
				}
			}

			button { @include view-button-def; overflow: visible; }
			@include view-button-def;
			
			.x-btn-icon{
				top: 5px;
				left: 0;
				background: url(../images/spr_main_nav.png) no-repeat;
				width: 69px;
				height: 73px;

				&.classroom { background-position:  0 0; }
				&.home { background-position:  -68px 0; }
				&.library { background-position:  -136px 0; }
				&.search { background-position:  -136px -70px; }
			}

			&.x-pressed{
				background: #f7f7f7;
				.classroom { background-position:  0 -70px; }
				.home { background-position:  -68px -70px; }
				.library { background-position:  -204px 0; }
				.search { background-position:  -204px -70px; }
			}
		}
	}
}
