@mixin view-button-def {
	background: none;
	width: 69px !important;
	height: 78px;
}

.browser-warning {
    .x-panel-body{
        height: auto;
		padding: 0.5em 0.5em 0.5em 3em;
		background: {
			color: #F9DD0A;
		}
		font-size: 2em;
	}
}

.main-navigation {
	background: #ebebec;
	padding-left: 100px;
	height: 57px;

	& > div:not(.branding) {
		height: 57px;
		cursor: pointer;
		float: left;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;

		bottom: -1px;
		left: 0;
		right: 0;
		height: 10px;
		overflow: hidden;

		box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
	}

	.branding {
		@include icon('top-nav-logo',$sprite:$elements);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100px;
	}

	.library {
		max-width: 400px;
		position: relative;
		margin-right: 15px;
		padding-right: 40px;

		@include icon('arrow-course-dropdown', $top: 25px, $left: auto, $right: 15px);

		//etch
		&::before {
			content: '';
			position: absolute;
			right: 0;
			top: 7px;
			width: 1px;
			height: 43px;
			background: #f6f6f6;
			box-shadow: -1px 0 0 0 #e2e2e2;
		}

		.image {
			position: absolute;
			top: 0; bottom: 0; left: 0;
			width: 60px;
			background-size: cover;
			background-position: center;

			&.is-book{
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		.wrap {
			margin-left: 70px;
			padding-top: 10px;

			.provider {
				text-transform: uppercase;
				font: normal bold 10px/12px $font;
				color: $secondary-grey;
				overflow: hidden;
				@include ellipse();
			}

			.title {
				margin-top: -4px;
				font: normal 300 26px/35px 'Open Sans Condensed', $font;
				color: $primary-grey;
				overflow: hidden;
				@include ellipse();
			}
		}
	}


	.forums {
		@include icon('main-nav-forums',$top: 13px, $left: 7px);
		width: 60px;

		&::after{height: 40px;}

		&:hover::after{
			@include sprite($icons,'main-nav-forums_active');
		}
	}


	.contacts {
		@include icon('course-nav-contacts',$top: 16px, $left: 12px);
		width: 60px;

		&:hover::after{
			@include sprite($icons,'course-nav-contacts_hover');
		}
	}

	.search {
		@include icon('course-nav-search',$top: 15px, $left: 17px);
		width: 60px;

		&:hover::after{
			@include sprite($icons,'course-nav-search_hover');
		}
	}
}
