
@mixin view-button-def {
	background: none;
	width: 69px !important;
	height: 78px;
}


.main-navigation {
	background: #efefef;

	.x-panel-body-default{
		background: none;
		border-width: 0;
	}

	.view-switcher {
		margin-top: 33px;
		.view-button {

			button { @include view-button-def; overflow: visible; }
			@include view-button-def;
			
			.x-btn-icon{
				top: 5px;
				left: 0;
				background: url(../images/nav-view-switcher-sprite.png) no-repeat;
				width: 69px;
				height: 73px;

				&.classroom { background-position:  0 0; }
				&.home { background-position:  -68px 0; }
				&.library { background-position:  -136px 0; }
				&.search { background-position:  -136px -70px; }
			}

			&.x-pressed{
				background: #f7f7f7;
				.classroom { background-position:  0 -70px; }
				.home { background-position:  -68px -70px; }
				.library { background-position:  -204px 0; }
				.search { background-position:  -204px -70px; }
			}
		}
	}
}
