

.x-component.identity {
	.undocked & {
		background: #ffffff;
	}

	border-top: 1px solid #eaeaea !important;
	overflow: hidden;
	padding: 13px 17px;

	img.avatar{
		float: left;
		width: 48px;
		height: 48px;
		border-radius: 3px;
		cursor: pointer;
	}

  	div.menu {
		background: $icons;
		@include sprite($icons, 'settings-28x17', $dimensions: true);
		position: absolute;
		top: 26px;
		right: 5px;
	}

  	div.menu:hover {
		@include sprite($icons, 'settings-28x17_hover', $dimensions: true);
  	}

	div.wrap {
		margin-left: 55px;


		.name {
			color: $primary-grey;
			font: { size: 14px; weight: 500; }
			padding-right: 35px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			cursor: pointer;
		}
		.status {
			text-overflow: ellipsis;
			max-width: 190px;
			white-space: nowrap;
			overflow: hidden;
			color: $secondary-grey;
			font: { size: 12px; weight: 500; }
		}
	}
}
