.user-settings-menu {

	&::after{
		content: '';
		position: absolute;
		right: 1px;
		top: -3px;
		height: 4px;
		width: 79px;
		background-color: white;
	}

	.account-menu-item{
		padding: 5px;
		border-bottom: 1px solid #EDEDED;
		
		.avatar{
			float: left;
			width: 60px;
			height: 60px;
			background-size: cover;
		}

		.content{
			margin-left: 75px;
			font: normal 400 0.9em/2 $font;
			padding: 8px 0 0 0;

			.username{
				max-width: 100%;
				overflow: hidden;
				@include ellipsis;
			}

			.links{
				font-size: 0.8em;
				font-weight: 500;
				line-height: 1;
				color: $primary-blue;

				.profile{
					cursor: pointer;
					display: inline;

					&::after{
						content: ' \00B7  ';
						font-size: 1.1em;
					}
				}

				.account{
					cursor: pointer;
					display: inline;
				}
			}
		}
	}
}

.x-component.identity {
	position: fixed;
	top: 10px !important;
	right: -1px !important;
	left: auto !important;
	width: 70px;

	&.menu-showing{
		overflow: visible;

		&::after{
			@include animate(fadeIn,0.3s);
			z-index: -1;
			content: '';
			background-color: white;
			border-left: 1px solid #DCDCDC;
			position: absolute;
			top: -15px;
			bottom: -3px;
			left: -10px;
			right: 0;
		}
	}

	.undocked &{
		top: 38px;
		right: 0;
	}

	img.avatar{
		width: 38px;
		height: 38px;
		border-radius: 3px;
		cursor: pointer;
	}

	.presence {
		position: absolute;
		top: 15px; right: 15px;
		@include presence-style;
	}
}

.presence-menu{
	.header{
		color: #B8B8B8;
		font: normal 600 10px/20px $font;
		margin: 10px 0 0 15px;
	}

	.list{

		.status{
			height: 30px;
			position: relative;
			cursor: pointer;

			.label{
				float: left;
				display: block;
				padding-left: 30px;
				overflow: hidden;
				@include ellipse;
				font: normal 400 14px/30px $font;
				width: 200px;
				color: #b8b8b8;
			}

			.presence{
				@include presence-style;
				position: absolute;
				right: 13px;
				top: 11px;

			}

			.edit{
				@include icon('rhp-status-edit',$top:9px,$left:8px);
				position: absolute;
				top: 0;
				bottom: 0;
				right: 30px;
				width: 30px;
				display: none;

				&:hover{
					@include icon('rhp-status-edit_hover', $top:9px, $left:8px);
					position: absolute;
					top: 0;
					bottom: 0;
					right: 30px;
					width: 30px;
					background-color: #dddddd;
				}
			}

			&.selected{
				@include icon('rhp-status-checkmark', $top:8px, $left:15px, $side:'before');

				.label{
					font: normal 600 14px/30px $font;
					color: #494949;
				}
			}

			&.active{
				.edit{
					display: none;
				}
				.presence{
					display: none;
				}
			}

			&:hover,&.active{
				background-color: #efefef;

				.label{
					font: normal 600 14px/30px $font;
					color: #494949;					
				}

				.edit{
					border-left: 1px solid #ffffff;
					border-right: 1px solid #ffffff;
					display: block;					
				}
			}
		}
	}
}

.presence-editor{
	height: 30px;
	width: 232px;
	border: none;

	input{
		background: none;
		width: 165px;
		float: right;
		border: none;
	}

	.controls{
		right: 0;
		height: 30px;
		top: -3px;
		overflow: visible;
		.cancel{
			@include icon('clear_line',$top:7px,$left:-7px);
			overflow: visible;
			z-index: 2;
			border: none;
		}
	}
}
