.image-cropping-prompt {

	.image-cropping-editor {
		padding: 25px;
		background-color: #ededed;
	}

	.image-cropping-canvas {
		width: 650px;

		&.move {
			cursor: move;
		}

		&.resize-nw {
			cursor: nw-resize;
		}

		&.resize-ne {
			cursor: ne-resize;
		}

		&.resize-se {
			cursor: se-resize;
		}

		&.resize-sw {
			cursor: sw-resize;
		}
	}

	.image-cropping-controls {
		margin-top: 2em;
		text-align: center;

		.rotate {
			cursor: pointer;
			display: inline-block;
			background-color: rgba(0,0,0,0.4);
			color: white;
			line-height: 40px;
			padding: 0 19px 0 40px;
			border-radius: 20px;
			position: relative;
			font-size: 0.875em;

			@include icon('rotate-white', $side: after, $top: 50%, $left: 20px);

			&::after {
				margin-top: -7px
			}
		}
	}
}