
#library {
	overflow: {
		x: hidden;
		y: auto;
	}
	margin-top: -100px;
	margin-left: -5px;
	padding-left: 5px;


	@include grid-def($gridSpacing: 6px);
	.grid .grid-item.row-1{ height: 160px; }


	.x-component-library-collection{
		margin: 30px 0 35px;
		.collection-name {
			font: normal 300 28px/60px $font;
			color: #fff;
			.count {
				color: $secondary-grey;
				margin-left: 0.5em;
				display: inline-block;
			}
		}

		.grid .grid-item {background: none;}

		.item {
			cursor: pointer;

			.cover {
				position: absolute;
				top: 0; left: 0;
				right: 0; bottom: 0;
				background: {
					size: cover;
					position: center center;
					repeat: no-repeat;
				}
			}
			.meta {
				position: absolute;
				bottom: 0; left: 0; right: 0;
				background: rgba(0,0,0,0.9);
				color: #fff;
				padding: 10px;

				.author,.section {
					font: normal 700 10px/15px $font;
					text-transform: uppercase;
					color: $primary-blue;
					overflow: hidden;
					@include ellipse();
				}
				.section { color: $secondary-grey; }
				.author:not(:empty)::before{content: 'By ';}
				.title {
					text-transform: uppercase;
					font: normal 700 18px/20px "Open Sans Condensed", $font;
				}
			}
		}

		&.books {
			.grid {
				.item {
					&.grid-item.row-1{ height: 80px; }
					.cover {
						width: 60px;
						right: auto;
					}
					.meta {
						top: 0;
						left: 60px;

						.title{
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}
