
#library {

	margin-top: -50px;

	.page {
		@include scrollbar($track:transparent,$nib:rgba(0,0,0,0.3));
		overflow: {
			x: hidden;
			y: auto; //scroll;
		}
		margin-left: -5px;
		padding-left: 5px;
	}


	@include grid-def($gridSpacing: 6px);
	.grid .grid-item.row-1{ height: 160px; }


	.x-component-library-collection{
		margin: 2em 0 2.5em;
		.collection-name {
			font: normal 300 1.75em/2.2em $font;
			color: #fff;
			.count {
				color: $secondary-grey;
				margin-left: 0.5em;
				display: inline-block;
			}
		}

		.grid .grid-item {background: none;}

		.item {
			cursor: pointer;

			.cover {
				position: absolute;
				top: 0; left: 0;
				right: 0; bottom: 0;
				background: {
					size: cover;
					position: center center;
					repeat: no-repeat;
				}
			}

			.sample {
				@include element('sample-banner', $position: absolute);
			}

			.meta {
				position: absolute;
				overflow: hidden;
				bottom: 0; left: 0; right: 0;
				background: rgba(0,0,0,0.9);
				color: #fff;
				padding: 10px;

				.author,.courseName {
					font: normal 700 0.6em/1.6em $font;
					text-transform: uppercase;
					color: $primary-blue;
					overflow: hidden;
					@include ellipse();
				}
				.courseName { color: $secondary-grey; }
				.author:not(:empty)::before{content: 'By ';}
				.title {
					text-transform: uppercase;
					font: normal 700 1.1em/1.15em "Open Sans Condensed";
				}

				.description,.author {
					overflow: hidden;
					display: none;
				}
			}

			&.featured {
				.meta{
					.description {
						display: block;

					}
				}
			}

			&:not(.row-1){
				.meta {
					min-height: 95px;
					background: #fff;
					color: $secondary-grey;
					.courseName {
						color: $tertiary-grey;
					}
					.author{display:block;}
				}

				&.featured {
					.cover {
						right: auto;
						width: 200px;
					}
					.meta{
						top: 0;
						left: 200px;
					}
				}
			}
		}

		&.books {
			.grid {
				.item {
					&.grid-item.row-1{ height: 80px; }
					.cover {
						width: 60px;
						right: auto;
					}
					.meta {
						top: 0;
						left: 60px;
						.author { display: block; }
						.title{
							font-size: 0.9em;
							line-height: normal;
						}
					}
				}
			}
		}


		&.purchasables {

			.activated {
				opacity: 0.3;
			}

			.history{
				border-top: 1px solid #e6e6e6;
				clear: both;
				text-align: center;
				padding: 7px;
				background: white;
				color: #ababab;
				font-size: 0.75em;
				line-height: 1.3em;
				font-weight: bold;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}
