@mixin content-card-def {
	position: relative;
	overflow: hidden;
	background: #fafdff;
	border: 1px solid #e3f2fc;
	cursor: pointer;

	$thumbWidth: 80px;

	a, a:link, a:visited, a:active {
		text-decoration: none;
	}

	.controls {
		position: absolute;
		top: 0;
		right: 0;
		@include like-and-favorite;
		//.like:not(.on){
		//	display: none;
		//}
	}

	.thumbnail {
		background:{
			size: cover;
			repeat: no-repeat;
			position: center;
		}
		border-right: 1px solid #f8f8f8;
		box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.35);
		float: left;
		width: $thumbWidth;
		height: 100px;
	}

	.meta {
		padding: 10px 45px 10px 0;
		margin-left: $thumbWidth+15px;

		.title {
			font: normal 600 15px/20px $font;
			color: $primary-grey;
		}
		.byline {
			font: normal 600 10px/10px $font;
			text-transform: uppercase;
			color: $primary-blue;
		}
		.description {
			margin-top: 5px;
			font: normal normal 12px/normal $font;
			color: $primary-grey;
		}
	}
}

a{
    &.internal-link {
		@include content-link-def;
		&:active, &:hover, &:visited { @include content-link-def; }
	}

	#NTIContent &, #profile .profile-head &{
		@include content-link-def;
		line-height: inherit;
		color: $primary-blue;
	}
}


.content-slidevideo,
.content-slidedeck,
.content-card,
.note-window .note.main-view .content-card{
	@include content-card-def;
}

.component-overlay {

	.content-card-target-container {
		margin: 0 5px 0 0;
		border: 1px solid $border-grey;
		border-radius: 1px;
		box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
	}

	.content-slidevideo-container,
	.content-slidedeck-container {
		margin: 0;
	}

	.content-slidevideo,
	.content-slidedeck {
		$thumbWidth: 150px;

		.thumbnail {
			width: $thumbWidth;
			height: $thumbWidth;
		}

		.meta {
			margin-left: $thumbWidth+15px;
			.presentation-button {
				margin: 5px 0px;
				padding: 0px 10px 0px 40px;
				background-color: $primary-blue;
				border: 1px solid $border-blue;
				font: italic 500 14px/30px $font;
				border-radius: 3px;
				color: white;
				position: relative;
				display: inline-block;

				&::after {
					content: '';
					position: absolute;
					top: 6px;
					left: 10px;
					background: $icons no-repeat;
					@include sprite($icons,'presentation-view',$dimensions: true);
				}
			}
		}
	}
}
