

a{
    &.internal-link {
		@include content-link-def;
		&:active, &:hover, &:visited { @include content-link-def; }
	}

	#NTIContent &, #profile .profile-head &{
		@include content-link-def;
		line-height: inherit;
		color: $primary-blue;
	}
}


.component-overlay {
	.content-card {
		position: relative;
		overflow: hidden;
		background: #fafdff;
		border: 1px solid #e3f2fc;
		cursor: pointer;

		$thumbWidth: 80px;

		.controls {
			position: absolute;
			top: 0;
			right: 0;
			@include like-and-favorite;
			//.like:not(.on){
			//	display: none;
			//}
		}

		.thumbnail {
			background:{
				size: cover;
			}
			border-right: 1px solid #f8f8f8;
			box-shadow: 0px 0px 3px 0 rgba(0,0,0,0.35);
			float: left;
			width: $thumbWidth;
			height: 100px;
		}

		.meta {
			padding: 10px 45px 10px 0;
			margin-left: $thumbWidth+15px;

			.title {
				font: normal 600 15px/20px $font;
				color: $primary-grey;
			}
			.byline {
				font: normal 600 10px/10px $font;
				text-transform: uppercase;
				color: $primary-blue;
			}
			.description {
				margin-top: 5px;
				font: normal normal 12px/normal $font;
				color: $primary-grey;
			}
		}
	}
}
