html.x-viewport { height: auto !important; overflow-y: auto; margin-top: $header-height; }


body.x-body {
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
	background: white;
	background: #343434;
	background-size: cover;
	background-attachment: fixed;

	.make-white {
		background: white;
	}
}

#view {
	@include hardware-accelerate();
    min-height: 100%;
    width: 1024px;
    margin: 0 auto;
}

.main-navigation {
	position: fixed;
	top: 0; left: 0;
	right: 0;
	height: $header-height;
	z-index: 150;
	background-color: white;
	backface-visibility: hidden;

	&::after{
		content: '';
		display: block;
		position: absolute;

		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
		clip: rect(auto, auto, 57px, auto);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;

		bottom: 0;
		left: 0;
		right: 0;

		z-index: 1;
		height: 10px;
		overflow: hidden;

		//border-radius: 10% / 10px;
		background: #ccc;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		clip: rect(10px, auto, 20px, auto);
	}
}