

#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: white;
}
#loading {
	position: absolute;
	left: 0;
	top: 0;
	padding: 2px;
	z-index: 999993;
	height: auto;
	margin: 0;
	div{
		border: none;
	    padding: 1em 1em 1em 1.3em;
        margin: 1em;
		font-size: 18px;
		background: {
			repeat: no-repeat;
			image: $loading-indicator !important;
			color: transparent;
			position: left center;
		};
	}
}

.nt-mask-msg,
.x-mask-msg{
    border: none !important;
	background: transparent;
	color: #555;
	z-index: 999992;

	&.body-mask,
	&.drag-mask {
		div{
			border: none !important;
			background: transparent !important;
			width: 100%;
			height: 100%;
			padding: 0 !important;
		}
	}

	div {
		border: none;
		background: {
			repeat: no-repeat;
			image: $loading-indicator !important;
			color: transparent;
			position: left center;
		};
	}

	&.loading {
		top: 15% !important;
		left: 50% !important;
		div {
			position: relative;
			left: -50%;
		}
	}

	&.navigation{
		div {
			border: none;
			padding: 1em 0 1.5em 1em;
			font-size: 18px;
			background-position: center bottom;
		}
	}

	&.zoom {
		div{
			background: none !important;
			padding: 1em;
			font-size: 3em;
			color: #fff;
			cursor: none;
		}
	}
}

.body-mask {
	width: 100%;
	height: 100%;
	padding: 0 !important;
}

.x-css-shadow {
	display: none !important;
}

.nt-mask,
.x-mask {
	opacity: 1;
	background: rgba(255,255,255,0.9);
	z-index: 999991;

	&.nti-clear {
		opacity: 0;
	}
}

.x-tip{
	background-color: #404040 !important;
	border-width: 0 !important;
	padding: 3px 5px !important;
	border-radius: 0 !important;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.25);

	.x-tip-body{
		text-transform: uppercase;
		color: #ffffff !important;
		font-size: 11px;
		font-weight: 600;
	}

	.x-tip-anchor {
		border-width: 0;
		border-color: transparent;
		background: transparent $elements no-repeat;
	}

	.x-tip-anchor-top{
		@include sprite($elements,'tooltip-pointer-black-top',$dimensions: true);
	}
	.x-tip-anchor-right{
		@include sprite($elements,'tooltip-pointer-black-right',$dimensions: true);
	}
	.x-tip-anchor-bottom{
		@include sprite($elements,'tooltip-pointer-black-bottom',$dimensions: true);
	}
	.x-tip-anchor-left{
		@include sprite($elements,'tooltip-pointer-black-left',$dimensions: true);
	}
}

.dark .x-mask {
	background: rgba(0,0,0,0.9) !important;
}

.message-bar{
	color: $secondary-grey;
	background-color: #fffbe3;
	border: 3px solid #f5e28a;
	border-width: 0 0 0 3px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999999;
	text-align: center;
	line-height: 32px;
	padding: 2px 210px 0 210px;
	box-shadow: 0 1px 5px 0px rgba(0,0,0,.5);

	a{
		margin-left: 0.5em;
		font-weight: 500;
		display: inline-block;
		height: 15px;
		overflow: hidden;
		position: relative;
		top: 3px;
		line-height: normal;
		color: $primary-grey;
		text-decoration: none;
		border-bottom: 1px dotted $primary-grey;
	}

	.remember{
		display: inline-block;
		position: absolute;
		//position: relative;
		//float: right;
		right: 0px;
		top: 0px;
		text-align: left;
		padding-left: 25px;
		width: 200px;
		&::after{
			content: ' ';
			position: absolute;
			top: 6px; left: 0;
			background: $icons no-repeat;
			@include sprite($icons, 'checkbox-light-unchecked', $dimensions: true);
		}

		&:hover::after{
			@include sprite($icons, 'checkbox-light-unchecked_hover', $dimensions: true);
		}

		&.checked{
			&::after{
				@include sprite($icons, 'checkbox-light-checked', $dimensions: true);
			}
			&:hover::after{
				@include sprite($icons, 'checkbox-light-checked_hover', $dimensions: true);
			}
		}
	}

}
