#loading-mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20000;
	background-color: white;
}
#loading {
	position: absolute;
	left: 0;
	top: 0;
	padding: 2px;
	z-index: 20001;
	height: auto;
	margin: 0;
	div{
	    padding: 1em 1em 1em 1.3em;
        background-position: left center;
        margin: 1em;
	}
}

.x-mask-msg{
    border: none !important;
	background: transparent;
	color: #555;

	&.body-mask,
	&.drag-mask {
		div{
			border: none !important;
			background: transparent !important;
			width: 100%;
			height: 100%;
			padding: 0 !important;
		}
	}

	div {
		border: none;
		padding: 1em 0 1.5em 1em;
		font-size: 1.5em;
		background: {
			image: $loading-indicator !important;
			color: transparent;
			position: center bottom;
		};
	}

}

.body-mask {
	width: 100%;
	height: 100%;
	padding: 0 !important;
}

.x-mask { background: rgba(255,255,255,0.85); }

.x-tip { background-color: white; }
