

.file-browser-menu {
	overflow: hidden;

	.x-menu-item-icon.upload{
		background: transparent $icons no-repeat;
		@include sprite($icons,'upload',$dimensions: true);
	}

	.file-input {
		display: block;
		position: absolute;
		//top: -4px;
		top: -15px;
		right: -2px;
		//height: 30px;
		height: 50px;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;

		font-size: 200px;
		cursor: pointer;
	}

}

.custom-share-menu{
	.x-menu-item{
		&.share-with  {
			padding-left: 30px;
			&.current,
			&.selection-item-over,
			&.x-menu-item-over,
			&.x-menu-item-active {
				border:{
					radius: 0;
					border-width: 0;
					style: none;
				}
				background-color: $primary-blue;
				color: white !important;
			}
		}


		&.share-with::after {
			background: $icons no-repeat;
			content: ' ';
			top: 0;
			left: 0;
			position: absolute;
		}

		&.onlyme-menu-item::after {
			top: 12px;
			left: 12px;
			@include sprite($icons, 'share-options-lock', $dimensions: true);
		}
		&.onlyme-menu-item:hover::after {
			@include sprite($icons, 'share-options-lock', $dimensions: true);
		}
		&.community-menu-item::after {
			top: 11px;
			left: 11px;
			@include sprite($icons, 'share-options-globe', $dimensions: true);
		}
		&.community-menu-item:hover::after {
			@include sprite($icons, 'share-options-globe_hover', $dimensions: true);
		}
		&.group-menu-item::after {
			top: 13px;
			left: 10px;
			@include sprite($icons, 'share-options-groups', $dimensions: true);
		}
		&.group-menu-item:hover::after {
			@include sprite($icons, 'share-options-groups_hover', $dimensions: true);
		}
		&.list-menu-item::after {
			top: 13px;
			left: 10px;
			@include sprite($icons, 'create-list', $dimensions: true);
		}
		&.list-menu-item:hover::after {
			@include sprite($icons, 'lists-white_hover', $dimensions: true);
		}
		&.custom-menu-item::after {
			top: 11px;
			left: 11px;
			@include sprite($icons, 'share-options-gear', $dimensions: true);
		}
		&.custom-menu-item:hover::after {
			@include sprite($icons, 'share-options-gear_hover', $dimensions: true);
		}
	}
}





.x-menu-nt,
.x-panel-nt {
	@include animate(fadeIn,0.3s);
	//This looks suspicious, but this is the only real way to get the
	//crisp edges on the top/left while still giving a soft shadow to the right & bottom.
	box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.3);

	.x-menu-list-ct,
	.x-menu-body {
		border: 1px solid #dcdcdc !important;//TODO: everywhere we declare a menu with border:false needs to drop that property so we can drop the !important.
		background: #ffffff
	}
	.x-menu-body {
		padding: 0 0 10px 0;
	}

	&.no-footer .x-menu-body {
		padding: 0;
	}
}



.selection-list-ct,
.x-menu-list-ct,
.x-menu-body {
	background: #ffffff;
}

li.x-menu-item {
	border-bottom: 1px solid #dcdcdc;
	&.no-border,
	&:last-of-type {
		border-bottom-width: 0px;
	}
}

label.x-menu-item-cmp {
	text-transform: uppercase;
	color: $tertiary-grey;
	font: normal 700 0.6em/1 $font;
	padding: 12px 10px 8px 15px;
}

.selection-list-item,
.x-menu-item {
	color: $secondary-grey !important;
	font-size: 1em;
	font-weight: 400;
	background: none;
	padding: 7px 15px;
	margin: 0 !important;
	cursor: pointer;
	overflow: hidden;
	@include ellipse;

	&.label{
		@include menu-label-text-treatment;
		padding: 15px 10px 5px 30px;
	}

	&.selection-selected,
	&.x-menu-item-checked {
		background: transparent url(../images/icons/menu_check.png) no-repeat 10px 50%;
	}

	&.multiselect,
	&.x-menu-item-checked,
	&.x-menu-item-unchecked{
		padding: 5px 10px 5px 30px;
	}

	&.current,
	&.selection-item-over,
	&.x-menu-item-over,
	&.x-menu-item-active {
		border:{
			radius: 0;
			width: 0;
			style: none;
		}
		background-color: #efefef;
		color: #3c3c3c !important;
	}

	&.x-menu-item-separator{
		background: #dcdcdc !important;
		height: 1px;
		padding: 0 !important;
		margin-top: 8px !important;
		margin-bottom: 18px !important;
		overflow: visible;

		.label {
			background: none;
			position: relative;
			span {
				color: #d0d0d0;
				background: #ffffff;
				top: -6px;
				left: 25px;
				padding: 0 5px;
				position: absolute;
				display: block;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: 600;
				white-space: nowrap;
				overflow: hidden;
			}
		}

		&.doublespaced{
			margin-bottom: 37px !important;

			.label span {
				top: 10px;
				color: #8a8989;
				font-size: 10px;
				font-weight: bold;
			}
		}

		&.noline{
			height: 0px;
		}
	}
}

.x-box-scroller-bottom {
	position: absolute;
	left: 0; right: 0;
	top: auto; height: 8px;
	bottom: 0;

	.x-menu-scroll-bottom {
		background: #fff;
		opacity: 0.5;
		@include element('menu-arrow-down-active', $top: 0, $left: 50%);
		&::after {margin-left: -4px;}
		&.x-menu-scroll-bottom-hover {
			opacity: 1;
		}
		&.x-menu-scroll-bottom-disabled {
			opacity: 0 !important;
		}
	}
}

.x-box-scroller-top .x-menu-scroll-top {
	background: #fff;
	opacity: 0.5;

	@include element('menu-arrow-up-active', $top: 3px, $left: 50%);
	&::after {margin-left: -4px;}

	&.x-menu-scroll-top-hover {
		opacity: 1;
	}
	&.x-menu-scroll-top-disabled {
		opacity: 0 !important;
	}
}


.no-checkboxes {

	label.x-menu-item-cmp {
		padding-left: 15px;
	}

	.selection-list-item,
	.x-menu-item {
		&.selection-selected,
		&.x-menu-item-checked {
			background-image: none;
		}

		padding-left: 15px;
		&.label{
			padding-left: 15px;
		}
	}
}
	}
}

