

.file-browser-menu {
	overflow: hidden;

	.x-menu-item-icon.upload{
		background: transparent $icons no-repeat;
		@include sprite($icons,'upload',$dimensions: true);
	}

	.file-input {
		display: block;
		position: absolute;
		//top: -4px;
		top: -15px;
		right: -2px;
		//height: 30px;
		height: 50px;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;

		font-size: 200px;
		cursor: pointer;
	}

}

.custom-share-menu{
	.x-menu-item{
		&.share-with  {
			padding-left: 30px;
			&.current,
			&.selection-item-over,
			&.x-menu-item-over,
			&.x-menu-item-active {
				border:{
					radius: 0;
					border-width: 0;
					style: none;
				}
				background-color: $primary-blue;
				color: white !important;
			}
		}


		&.share-with::after {
			background: $icons no-repeat;
			content: ' ';
			top: 0;
			left: 0;
			position: absolute;
		}

		&.onlyme-menu-item::after {
			top: 12px;
			left: 12px;
			@include sprite($icons, 'share-options-lock', $dimensions: true);
		}
		&.onlyme-menu-item:hover::after {
			@include sprite($icons, 'share-options-lock', $dimensions: true);
		}
		&.community-menu-item::after {
			top: 11px;
			left: 11px;
			@include sprite($icons, 'share-options-globe', $dimensions: true);
		}
		&.community-menu-item:hover::after {
			@include sprite($icons, 'share-options-globe_hover', $dimensions: true);
		}
		&.group-menu-item::after {
			top: 13px;
			left: 10px;
			@include sprite($icons, 'share-options-groups', $dimensions: true);
		}
		&.group-menu-item:hover::after {
			@include sprite($icons, 'share-options-groups_hover', $dimensions: true);
		}
		&.list-menu-item::after {
			top: 13px;
			left: 10px;
			@include sprite($icons, 'create-list', $dimensions: true);
		}
		&.list-menu-item:hover::after {
			@include sprite($icons, 'lists-white_hover', $dimensions: true);
		}
		&.custom-menu-item::after {
			top: 11px;
			left: 11px;
			@include sprite($icons, 'share-options-gear', $dimensions: true);
		}
		&.custom-menu-item:hover::after {
			@include sprite($icons, 'share-options-gear_hover', $dimensions: true);
		}
	}
}
