.my-account-menu{ overflow: visible !important;}
.my-account-wrapper {
	background: #ffffff;
	position: relative;
	width: 250px;
	margin: 10px;
	margin-bottom: 0;
	height: 71px;
	overflow: hidden;

	border: 1px solid white;
	padding: 10px 5px 20px 20px;
	cursor: pointer;
	box-shadow: 3px 3px 3px -3px rgba(0,0,0,0)  !important;
	.menu-visible &,
	&:hover{
		border-color: #dcdcdc;
		box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.3)  !important;
		.settings.menu-nib {
			background-position: 0 -17px
		}
		.name {
			.notifications{
				color: #b3b3b3;
			}
		}
	}
	.menu-visible &{
		box-shadow: 3px 8px 3px -3px rgba(0,0,0,0.3)  !important;
	}

	.settings.menu-nib{
		position: absolute;
		width: 28px;
		height: 17px;
		top: 23px;
		right: 13px;
		background: url(../images/settings.png) no-repeat 0 0;
	}

	.name {
		color: #747474;
		font: { size: 10.5pt; weight: 500; }
		padding-right: 35px;
		overflow: hidden;
		text-oveflow: ellipsis;

		.notifications {
			margin: auto 5px;
			color: #3fb3f6;
			vertical-align: super;
			font-style: italic;
		}
	}
	.status {
		text-overflow: ellipsis;
		max-width: 190px;
		white-space: nowrap;
		overflow: hidden;
		color: #b8b8b8;
		font: { size: 8pt; weight: 500; }
	}
}

.x-panel-nt.my-account-menu {
	.x-menu-body {
		padding-bottom: 15px !important;
	}
	.x-menu-item {
		color: #747474;
		padding-left: 20px !important;
	}
	.notifications {
        cursor: default;

        .notification-scroll-container {
            overflow: auto;
            position: relative;
        }

		a {
			font-size: 8.5pt;
			font-weight: 300;
			display: block;
			text-decoration: none;
			color: #747474;
			margin-left: 18px;
			&:hover {
				color: #3fb3f6;
			}
		}

		background: white !important;

		.notification-item {
			&:hover{
				//hover state
			}
			cursor: pointer;
			margin: 15px 0 15px 3px;
			padding: 0 0 0 12px !important;
			border-width: 0;
			border-left: 3px solid #f0f0f0;

			.name {
				font-size: 7.5pt;
				font-weight: 800;
				color: #3fb3f6;
				text-transform: uppercase;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.message {
				color: #adadad;
				font-size: 8.5pt;
				font-weight: 300;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}
