@import "variables";

.account-view {
	color: $secondary-grey;
	font: {size: 16px; style: normal; weight: 4;}
	line-height: 25px;
	@include side-panel-view-title;

	.view-title { margin-bottom: 10px; }
	
	.item {
		display: block;
		min-height: 25px;
		margin-left: 20px;

		&.x-item-disabled { opacity: 0.5; cursor: default; &:hover{color:$secondary-grey;}}
		.x-mask { display: none; }
	}
	a.item {
		cursor: pointer;

		&:hover { color: $tertiary-grey; }
		&:active { color: #424242; }

		&:last-of-type {
			margin-bottom: 50px;
		}
	}


	.notifications {
		min-height: 50px;
		line-height: normal;
		margin-left: 20px;
		cursor: default;

		.notification-scroll-container {
			//overflow: auto;
			position: relative;
		}

		a {
			font-size: 8.5pt;
			font-weight: 300;
			display: block;
			text-decoration: none;
			color: #747474;
			margin-left: 18px;
			&:hover {
				color: $primary-blue;
			}
		}

		.notification-item {
			line-height: normal;
			&:hover{ }
			cursor: pointer;
			margin: 15px 0 15px 3px;
			padding: 0 0 0 12px !important;
			border-width: 0;
			border-left: 3px solid #f0f0f0;

			&.unread {
				border-left-color: $primary-blue;
			}

			&.loading {
				background: $loading-indicator 100px center no-repeat;
			}

			.name {
				line-height: normal;
				font-size: 10px;
				font-weight: 800;
				color: $primary-blue;
				text-transform: uppercase;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.message {
				color: #adadad;
				line-height: normal;
				font-size: 11px;
				font-weight: 300;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}
}

.account-form-username .x-panel-body-account{
	font-size: 20px;
	padding: 0 0 1em 0;
}
