
@mixin contact-header {
	color: #8a8989;
	font-size: 7.5pt;
	font-weight: 700;
	padding-bottom: 2px;
	text-transform: uppercase;
}

@mixin text-box-style {
	padding: 5px;
	color: #757474;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	//font-size: 15pt;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #a0a0a0;
	box-shadow: inset 3px 3px 10px -5px #a0a0a0;

	$value: background-color 0.5s, color 0.5s;

	@include experimental(transition, $value);

	&.error-saving {
		@include experimental(transition, $value);
		border-color: red;
		background-color: #ffc0c0;
	}

	&.empty,
	&.x-form-empty-field {
		font-style: italic !important;
	}
}

$over-color: #f4f3f3;

.my-contacts-tab-bar{
	padding: 0 0 10px 30px;

	.my-contacts-tab-bar-body{
		padding-top: 20px !important;
		border: none;
		border-width: 0;
		border-top: 1px solid #dcdcdc;
		width: 215px !important;
		margin-right: 30px;
		background: url(../images/contact-under-divider.png) repeat-x 1px 49px;
		.x-gecko & {
			background-position: 1px 51px;
		}
	}
}

.x-tab-my-contacts {
	&.x-tab {
		background: none !important;
		height: auto;
		margin-right: 10px;

		&.x-tab-top-active{
			button {
				color: #7d7d7d;
				border-bottom: 2px solid #7d7d7d !important;
				.x-ie & {
					padding-bottom: 0;
				}
			}
		}

		em { padding: 0; line-height: normal; }

		button {
			color: #c4c4c4;
			font-family: 'Open Sans', serif !important;
			font-size: 13.5pt;
			font-weight: 200;
			border-bottom: 2px solid #ebebeb;
			overflow: hidden !important;
			padding-bottom: 5px;
			.x-ie & {
				border-bottom: none;
				padding-bottom: 2px;
			}
		}

		&.x-icon {
			margin-left: 50px;
			margin-right: 0;
			&.x-tab-top-active{
				.x-tab-icon{
					&.manage-groups {
						background-position: -56px 0 !important;
					}
				}
			}
			&.x-over{
				.x-tab-icon{
					&.manage-groups {
						background-position: -28px 0;
					}
				}
			}

			button{
				height: 31px !important;
				padding: 0 !important;
				.x-gecko & {
					height: 33px;
				}

				.x-tab-inner {
					display: none;
				}

				.x-tab-icon{
					position: static;
					display: inline-block;
					width: 24px;
					height: 24px;

					&.manage-groups{
						background: url(../images/add_btn.png) 0 0 no-repeat;
						&:hover {
							background-position: -28px 0;
						}
					}
				}
			}
		}
	}
}

.x-panel-body-my-contacts {
	.x-tabpanel-child {
		padding-right: 30px;
		@include animate(bounceInRight, 0.5s);
	}
}

.x-panel.contacts-panel {
	margin: 0 0 20px 20px;

	&.x-collapsed .x-panel-header{
		background-position: 0 -15px;
	}

	.x-panel-header {
		background: url(../images/collapse-expand.png) no-repeat 0 3px;
		cursor: pointer;
		padding-left: 10px;
		@include contact-header;

		.x-tool {
			margin-left: 0px;

			.x-tool-chat {
				width: 22px;
				height: 15px;
				opacity: 0.5;
				background: url(../images/group_chat_icon.png);
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.contact-card {
	margin: 7px 0 0 10px;

	overflow: hidden;
	img {
		float: left;
		width: 32px;
		height: 32px;
		margin-top: 2px;

		&.nib {
			background: transparent url(../images/add_remove_gry.png) -2px -2px no-repeat;
			display: none;
			margin-top: 10px;
			border: none !important;
			float: right;
			width: 14px;
			height: 14px;
			cursor: pointer;

			.contacts-panel & {
				background-position: -20px -2px;
				margin-right: 5px;
			}
		}
	}

	.selection-item-over &,
	&.selection-item-over,
	&.x-menu-item-over,
	&.card-over {
		img.nib{
			display: block;
		}
	}


	.card-body {
		margin-left: 50px;
	}


	.name {
		@include menu-label-text-treatment;
		color: #3fb3f6;
	}
	.status {
		color: #b8b8b8;
		font: { size: 8pt; weight: 500; }
	}

	.activities {
	}

	.activity {
		position: relative;
		left: -2px;
		margin: 12px 0;
		font-size: 8pt;
		color: #b8b8b8;
		padding: 0 0 0 25px;
		&.comment{	background: url(../images/activity-comment.png) 0 2px no-repeat;}
		&.highlight{background: url(../images/activity-highlight.png) 0 3px no-repeat;}
		&.note{		background: url(../images/activity-note.png) 4px 0 no-repeat;}
	}
}



.contacts-management {
	padding: 0 30px;

	.label {
		@include contact-header;
		margin-top: 20px;
		&.group {
			margin-top: 40px;
		}
	}

	.user-search-field {
		margin: 7px 0;
		input {
			background: none;
			@include text-box-style;
		}
		.x-form-item-body {
			position: static;
		}
		.x-trigger-cell {
			&.hidden {
				display: none;
			}
		}
	}

	input {
		background: none;
		@include text-box-style;
	}

	.contact-selection-list {
		margin: 10px 0;
		$value: opacity 0.5s;
		@include experimental(transition, $value);

		&.fade-out {
			opacity: 0.2;
		}

		overflow: visible;
		border-radius: 3px;
		background: #ffffff;

		div.add-person-card {
			background: #ffffff;
			box-shadow: 1px 1px 3px -1px rgba(100, 100, 100, 0.4);
			border: 1px solid #dcdcdc;
			border-bottom-width: 0;
			overflow: hidden;

			&.expanded,
			&.selection-item-over{
				cursor: pointer;
			}

			&:first-of-type{
				border-radius: 3px 3px 0 0;
			}

			&.last-item {
				border-bottom-width: 1px;
				border-radius: 0 0 3px 3px;
			}

			&.expanded {
				margin-bottom: 10px;
				&.last-item {
					margin-bottom: 0;
				}
				border-bottom-width: 1px;

				&, & * {
					border-radius: 0 0 3px 3px;
				}

			}

			.group-selection-list {
				margin-top: 0px;
				ul:first-of-type:before {
					margin-top: 10px;
					padding: 5px 5px 5px 60px;
					content: 'Select Groups';
					display: block;
					@include menu-label-text-treatment;
				}
			}

			.selection-nt .selection-list-ct {
				border-top: 1px solid #dcdcdc;
				li.selection-item-over {
					background-color: transparent !important;
					//img.delete-group { display: none !important; }
				}
			}

			.contact-card-wrapper {
				padding-right: 5px;
				.contact-card {
					margin: 7px 10px;
					img.nib{
						background-position: -20px -2px;
					}
				}
			}
		}
	}


	.group-selection-list {
		margin-top: 10px;

		.selection-list-ct {
			ul {
				padding-bottom: 10px;

				&.disallowSelection{
					li.selection-list-item {
						background: none !important;
						padding: 5px;
					}
				}

				li.selection-list-item {
					padding: 5px 5px 5px 60px;
					background: transparent url(../images/forms/check_box.png) no-repeat 35px 7px;

					&:first-of-type{
						opacity: 0.6;
						&.selection-item-over{
							img.delete-group { display: none !important; }
						}
					}

					&.selection-item-over{
						background-color: $over-color;
						color: #767676 !important;
						pointer: default;
					}


					&.selection-selected {
						background: transparent url(../images/forms/check_mark_a.png) no-repeat 38px 10px;
						&:active {
							background-image: url(../images/forms/check_mark_b.png);
						}
					}


					&.add-group-action {
						background: none;
					}

					a {
						&:active, &:visited, &:link{
							border: 0 dotted #767676;
							border-bottom-width: 2px;
							color: #767676;
							display: inline-block;
							font-style: italic;
							padding: 0px 2px;
							text-decoration: none;
						}
					}

					input {
						border: none;
						box-shadow: none;
						background: transparent;
						padding: 0;
						font-style: italic;
						height: auto;

						$value: text-shadow 0.5s, color 0.5s;

						@include experimental(transition, $value);

						&.error {
							@include experimental(transition, $value);
							@include animate(shake);
							color: red;
							text-shadow: 2px 2px 2px #ffc0c0;
						}
					}

					img.delete-group {
						display: none;
						background: transparent url(../images/add_remove_gry.png) -20px -2px no-repeat;
						margin-top: 3px;
						border: none !important;
						float: right;
						width: 14px;
						height: 14px;
						cursor: pointer;
					}

					&.selection-item-over {
						img.delete-group { display: block !important; }
					}
				}
			}
		}
	}

	.add-contacts-finish-box {
		margin-top: 20px !important;
		padding-top: 10px !important;
		border: none;
		border-width: 0;
		border-top: 1px solid #dcdcdc;
	}
}
