.x-panel-navigation-menu{
	position: absolute !important;
	top: 57px !important;
	left: -3px !important;
	padding: 0 3px 0 3px;
	background: none;
	
	.x-panel-body-navigation-menu {
		@include scrollbar(#ffffff, $tertiary-grey);
		width: 100% !important;
		height: 100% !important;
		padding: 0 50px;
		margin: 0;
		/*box-shadow: inset 1px 0 0 0 #d2d2d2,
					inset 2px 0 0 0 #ffffff,
					-1px 0 3px 0 rgba(0, 0, 0, 0.2);

		background: #f9f9f9 !important;
		border: 0px solid #99c14f;
		border-right-width: 3px !important;*/

		.x-menu-item-cmp {
			margin-bottom: 0 !important;
		}
	}

	&.x-panel.x-layer.x-menu{
		overflow: visible;
	}

	&.search-menu{
		width: 700px !important;

		.x-panel-body-navigation-menu{
			padding: 0;

			.x-box-inner{
				width: 100% !important;

				.x-box-target{
					width: 100% !important;
				}
			}

			.x-menu-item-cmp{
				width: 100% !important;
			}
		}
	}
}


.x-component-navigation-collection {
	//&.x-menu-item{}
	background: #f9f9f9;
	border: 1px solid #d2d2d2 !important;
	border-top-width: 0 !important;
	border-right-width: 0 !important;

	box-shadow: inset 1px 0 0 0 #ffffff,
				0 3px 0 0 #eaeaea;
	margin-bottom: 3px;

	padding: 0 6px 15px;
	position: relative;
	overflow: hidden;

	&:nth-child(n+1){
		margin-top: 10px;
	}


	.stratum {
		padding: 10px;
		border: none !important;
		border-bottom: 1px solid #e4e4e4 !important;
		&:last-of-type {
			border-bottom: none !important;
		}
	}

	.count {
		color: #73cdfb;
		font:{ size: 10px; style: italic; weight: bold; }
		text-transform: uppercase;
		display: inline-block;
		position: relative;
		margin-left: 3px;
		top: -6px;
	}

	.collection-name {
		color: #abaaaa;
		font:{
			size: 14px;
			weight: 600;
		}
		text-transform: uppercase;
	}

	.item {
		cursor: pointer;
		position: relative;
		overflow: hidden;
		width: 300px;
		float: left;
		margin: 5px;

		&.selected, &.x-item-selected {
			background-color: #ebebeb;
			box-shadow: inset 0 -2px 0 0px #D4D4D4,
						inset 0  2px 0 0px #D4D4D4,
						inset -3px 0 0 0px #D4D4D4,
						inset  3px 0 0 0px #D4D4D4;
		}

		.cover {
			background:{
				color: $tertiary-grey;
				size: cover;
				position: center center;
				repeat: no-repeat;
			}
			box-shadow: -1px 1px 3px 0 rgba(0,0,0,0.35);
			border-radius: 1px;
			float: left;
			width: 54px;
			height: 66px;
		}

		.meta {
			margin-left: 65px;

			.title, .author, .price {
				color: $primary-grey;
				font: normal bold 12px/18px $font;
				@include ellipse;
				overflow: hidden;
			}

			.author {
				color: #ababab;//757474
				font-size: 10px;
				line-height: 15px;
				white-space: nowrap;
				text-transform: uppercase;
			}

			.price {
				color: $primary-blue;
				font-style: italic;
				line-height: 30px;
			}

			.sample {
				text-transform: uppercase;
				color: #fff;
				background: $primary-green;
				display: inline-block;
				font: normal 600 10px/16px $font;
				padding: 0 5px;
				margin: 5px 0;
			}
		}

		&.purchasable {
			.cover {
				width: 65px;
				height: 85px;
				box-shadow: none;
			}
			.meta {
				.title, .author{
					white-space: normal;
				}

				background: white;
				min-height: 85px;
				margin-left: 0;
				padding-left: 75px;
				padding-top: 10px;
				box-shadow: -1px 1px 3px 0 rgba(0,0,0,0.35);
			}
            .history{
				border-top: 1px solid #e6e6e6;
				clear: both;
				margin-left: -75px;
                text-align: center;
                padding: 10px;
                background: white;
                color: #ababab;
                font-size: 12px;
                line-height: 15px;
                font-weight: bold;
            }
		}
	}
}
