.note-window {
	@extend .nti-window;
	@include reset-window-border-radius(3px);
	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);

	&,.nti-window-header{
		background-color: #ffffff;
	}

	.nti-window-header{
		cursor: default;
		.header-body {
			span {
			}
		}
	}

	.carousel {
		background: #e6e6e6;
		border: 1px solid #c5c5c5;
		border-left-width: 0;
		border-right-width: 0;
	}

	.main-view {
		border: 0px solid #f1f1f1;
		border-bottom-width: 1px;
		padding: 16px 27px 20px 27px;

		.meta {
			@include menu-label-text-treatment;
			font-size: 12px;
			font-weight: bold;
			.name {
				color: #3fb3f6;
			}

			.controls {
				position: absolute;
				right: 0;
				top: 0;
				//background: blue;

				@include favorite-and-bookmark;
			}
		}

		.context {
			text-rendering: optimizeLegibility;//fallback
			text-rendering: geometricPrecision;

			span{
				color: #494949;
				padding: 2px 0;
				font-size: 14px;
				line-height: 32px;

				word-wrap: break-word;

				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;

				&.highlight {
					color: #136ea5;
					background: #e1f4fe;
					.tip { @include highlight-tip; }
				}
			}

			margin: 15px 20px 25px;
		}

		.body {
			color: #757474;
			font: 16px/24px 'Droid Serif' normal;
		}

		.respond {
			margin: 20px 0 0 0;
			opacity: 0.5;
			&.has-focus {
				opacity: 1;
			}
			
			div {
				@include system-inputbox-style;
				span.whiteboard {
					position: absolute;
					top: 0;
					right: 0;
					width: 28px;
					height: 28px;
					background: url(../images/whiteboard/icon.png) 0 3px no-repeat;
				}
			}
		}
	}
}
