.notifications-icon {
	width: 50px;
	cursor: pointer;
	height: $header-height;

	@include icon('rhp-notification', $side: after, $top: 50%, $left: 50%);

	&::after {
		margin-top: -12px;
		margin-left: -10px;
	}

	&:hover, &.menu-showing {
		@include icon('rhp-notification_active', $side: after, $top: 50%, $left: 50%);
	}

	&[data-badge]:not([data-badge="0"])::before {
		content: attr(data-badge);
		background-color: $primary-red;
		font-size: 0.55em;
		font-weight: 500;
		color: white;
		padding: 0.3em 0.5em;
		border: 2px solid white;
		position: absolute;
		top: 13px;
		left: 25px;
		border-radius: 10em;
		z-index: 2;
		text-indent: 0;
		line-height: 1em;
		width: auto;
	}

	&.menu-showing {
		transition: background-color 0.3s, box-shadow 0.3s;
	}

	.main-navigation.dark-nav & {
		@include icon('rhp-notifications_white', $side: after, $top: 50%, $left: 50%);

		&::after {
			opacity: 0.8;
		}

		&:hover::after {
			opacity: 1;
		}

		&[data-badge]:not([data-badge="0"])::before {
			border: 2px solid #313131;
		}
	}
}

.notifications-index {
	width: 100% !important;

	.loading-container {
		height: 50px;
		position: relative;
		background-color: white;

		.loading {
			position: absolute;
			color: $primary-grey;
			line-height: 24px;//height of the spinner
			padding-left: 30px;//width of the spinner + 6px
			top: 50%; left: 50%;
			margin-top: -12px;
			margin-left: -51px;

			&::before {
				@include loadingSpinner($top: 0, $left: 0);
			}
		}
	}
}

.notifications-view {
	position: fixed !important;
	top: 85px !important;
	right: 15px !important;
	left: auto !important;
	border: 1px solid #dcdcdc;
	width: 300px;
	background-color: white;
	overflow: visible;
	box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.3);
	z-index: 201;

	&::after {
		content: '';
		position: absolute;
		right: 80px; // 70 + (70 / 2) - 15 - (20 / 2)
		top: -10px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid white;
	}

	.show-all {
		cursor: pointer;
		text-align: center;
		line-height: 2em;
		color: $primary-blue;
	}
}

.notification-stream {
	@include flexContainer();
	-webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;

	.sidebar {
		background: #424242;
		box-shadow: 1px 0 0 0 #5e5e5e;
		min-height: calc(100vh - 72px);
		@include flexItem(1 1 210px);
	}

	.groups {
		padding: 0 36px;
		@include flexItem(2 2 100%);
	}

	.item.loading {
		max-width: 775px;
		width: 100%;
		position: relative;
		height: 70px;//40+15+15
		background: white;

		.container-loading-mask {
			top: 15px;
			background: none;

			.load-text {
				color: $primary-grey;
			}
		}
	}

	.group-header {
		position: relative;
		width: 200px;
		left: -236px;//width + padding on the left side of groups
		text-align: right;
		color: white;
		padding-right: 17px;
		font-size: 0.75em;
		font-weight: 300;
		text-transform: uppercase;

		&::after {
			content: '';
			position: absolute;
			top: 3px;
			right: -6px;
			width: 11px;
			height: 11px;
			border-radius: 16px;
			background-color: #535353;
			box-shadow: 0 0 0 2px #535353, inset 0 0 0 2px #343434;
		}

		& + .item-container {
			margin-top: -10px;
		}
	}

	.notification-group {
		margin-bottom: 60px;
	}

	.notification {
		max-width: 775px;
		margin-bottom: 10px;
		padding: 15px 14px;
		@include flexContainer();

		.icon-wrapper {
			@include flexItem(0 0 auto);
			margin-right: 14px;
		}

		.username {
			@include flexItem(0 0 auto);
			float: left;
			width: 200px;
			font: normal 400 0.875em/1.36 $font;
			color: $primary-blue;
			margin-right: 5px;
			overflow: hidden;
			@include ellipse;
		}

		.wrap {
			@include flexItem(1 1 auto);
		}

		.wording {
			display: block;
			font: normal 600 0.875em/1.36 $font;

			.title {
				font-weight: 400;
				-webkit-font-smoothing: antialiased;
			}

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.recent-notifications {
	overflow: auto;

	.item.loading {
		position: relative;
		height: 40px;

		.container-loading-mask {
			background: none;

			.load-text {
				color: $primary-grey;
			}
		}
	}

	.group-header {
		display: none;
	}

	.notification-group .notification {
		padding: 10px 10px 10px 60px;
		position: relative;
		min-height: 60px;//40 + 10 + 10
		box-shadow: inset 0 -1px 0 0px #f0f0f0 !important;
		line-height: 1;

		.icon-wrapper {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		.username, .wording {
			font-size: 0.75em;
		}

		.username {
			display: inline;
			margin-right: 0.5em;
			color: $primary-blue;
			weight: 600
		}

		time {
			display: block;
			line-height: 2;
		}
	}
}

.notification-group {
	.notification {
		background: white;
		overflow: hidden;
		cursor: pointer;

		.icon-wrapper, .avatar-container {
			width: 40px;
			height: 40px;
			float: left;

			.avatar-pic {
				border-radius: 3px;	
			}
		}

		time {
			font: normal 600 0.625em/1 $font;
			text-transform: uppercase;
			color: $tertiary-grey;
		}
	}
}


.notification-header {
	h3 {
		font: normal 300 2em/1.3em $font;
		color: white;
		margin: 40px 0 0;
	}
}
