@import "variables";

@mixin meta-row {
	.meta {
		@include menu-label-text-treatment;
		font-size: 12px;
		font-weight: bold;
		white-space: nowrap;
		.name {
			color: $primary-blue;
		}

		.shared-to{
			display: inline-block;
			margin-left: 15px;
			width: 350px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.controls {
			position: absolute;
			right: 0;
			top: 0;
			//background: blue;

			@include like-and-favorite;
		}
	}
}


@mixin meta-row-window {
	.meta {
		color: $secondary-grey;
		font-size: 12px;
		font-weight: 300;

		.name {
			color: $primary-blue;
			font-size: 24px;
		}

		.time {
			color: $tertiary-grey;
			margin-left: 8px;
			font-size: 12px;
			font-style: italic;
		}

		.shared-to{
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.time,.shared-to{
			font-weight: 400;
		}

		.controls {
			position: absolute;
			right: 0;
			top: 0;
			//background: blue;

			@include like-and-favorite;
		}
	}
	.clear {
		clear: both;
		height: 0px;
	}
}



@mixin note-editor {
	.editor {
		&.active {
			display:  block;
		}

		&.x-repaint{
			background: #ffffff;
		}

		@include animate(fadeIn,0.3s);
		display: none;
		overflow: hidden;
		min-width: 320px;
		min-height: 100px;

		.action {
			width: 24px;
			height: 24px;
			cursor: pointer;
			display: inline-block;
			color: $secondary-grey;
		}

		.main {
			background: #ffffff;
			padding: 0 13px;
			.toolbar {
				position: relative;
				overflow: hidden;
				border-bottom: 1px solid #dcdcdc;
				.left .action {float: left;}
				.right .action {float: right;}

				.action {
					width: 20px;
					height: 32px;
					line-height: 32px;

					&.bold {
						background: url(../images/spr_text_controls.png) 0px 7px no-repeat;
						margin-right: 5px;
						margin-top: 4px;
						height: 28px;

						&.selected{
							background-position: 0px -13px;
						}
					}
					&.italic {
						background: url(../images/spr_text_controls.png) -20px 7px no-repeat;
						margin-right: 5px;
						margin-top: 4px;
						height: 28px;

						&.selected{
							background-position: -20px -13px;
						}
					}
					&.underline {
						background: url(../images/spr_text_controls.png) -40px 8px no-repeat;
						margin-top: 4px;
						height: 28px;

						&.selected{
							background-position: -40px -15px;
							margin-top: 7px;
							height: 25px;
						}
					}
					&.share {
						width: auto;
						white-space: nowrap;
						background:{
							image: url(../images/tools/share.png), url(../images/tools/share-drop-arrow.png);
							position: 4px 8px, right 15px;
							repeat: no-repeat;
						};
						text-align: center;
						padding: 0 12px 0 25px;
						margin: 0 5px 0 0;
					}
				}

			}


			.content {
				&, * {
					@include allow-select;
				}
				white-space: pre;
				padding: 2px 0 0 0;
				color: $secondary-grey;
				font: 14px 'Droid Serif';
				overflow: auto;
				min-height: 50px;
				margin-bottom: 46px;
				max-height: 200px;
				white-space: normal;
				word-wrap: break-word;

				em, em strong{
					font-style: italic !important;
				}

				strong, strong em{
					font-weight: bold !important;
				}

				img.wb-thumbnail {
					height: auto;
				  	width: 40% !important;
					display: block;
					clear: both;
					overflow: hidden;
					background-position: 0 0;
					background-repeat: no-repeat;
					background-size: 100%;
					border: 1px solid #D0D0D0;
					border-radius: 5px;
					box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);

				  	&:hover{
						cursor: pointer;
					}
				}
			}
		}
		.footer {
			position: absolute;
			bottom: 0;
			left: 0; right: 0;
			height: 45px;
			white-space: nowrap;

			border-top: 1px solid #dcdcdc;
			.left .action {float: left;}
			.right .action {float: right;}

			.action {
				height: 45px;
				width: 45px;
				line-height: 45px;
				font-size: 14px;
				text-align: center;
				color: $secondary-grey;
				margin: -1px;

				&.whiteboard {
					background: url(../images/whiteboard/icon.png) 9px 12px no-repeat;
				}

				&.cancel {
					width: 85px;
				}

				&.save {
					width: 95px;
					line-height: 44px;
					font-weight: bold;
					font-style: italic;
					color: #ffffff;
					background: $primary-blue url(../images/notes/comment-icon-white.png) 15px 8px no-repeat;
					border: 1px solid #39a1dd;
					padding: 0 0 0 24px;
				}
			}
		}
	}
}


@mixin reply-options {
	.reply-options {
		opacity: 0.4;
		color: $secondary-grey;

		.reply, .share, .more {
			display: inline-block;
			font-weight: 700;
			font-size: 12px;
			line-height: 32px;
			height: 32px;
			margin-right: 30px;
			cursor: pointer;

			opacity: 0.75;
			&:hover {
				opacity: 1;
			}
		}

		.reply {
			padding-left: 24px;
			background: url(../images/reply.png) 0 8px no-repeat;
		}

	  	.share {
			padding-left: 24px;
			background: url(../images/ico_share.png) 0 8px no-repeat;
		}
/*
		.chat {
			display: none;
			padding-left: 28px;
			background: url(../images/start-chat.png) 0 8px no-repeat;
		}
*/
		.more {
			position: relative;
			margin-right: 0;
			width: 32px;
			//overflow: hidden;
			background: url(../images/more-options.png) -27px center no-repeat;
			border: 1px solid rgba(0,0,0,0);
			border-radius: 2px;

			&.active {
				border-color: #dcdcdc;
				background-color: #ffffff;
				background-position: 5px center;
				box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.09);

				ol {
					display: block;
				}
			}

			ol {
				&::before{
					position: absolute;
					width: 30px;
					height: 2px;
					background: white;
					top: -1px;
					left: 0;
					z-index: 10;
					content: ' ';
					overflow: hidden;
				}
				font-size: 14px;
				font-weight: normal;
				line-height: 27px;
				background: #ffffff;
				border: 1px solid #dcdcdc;
				box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.09);
				display: none;
				position: absolute;
				margin: -8px 0 0 -1px;
				padding: 5px 0 10px 0;
				z-index: 9999;

				li {
					&::after {
						content: ' ';
						width: 18px;
						height: 18px;
						background: url(../images/options-menu-sprite.png) 0 0 no-repeat;
						position: absolute;
						top: 5px;
						left: 10px;
					}
					cursor: pointer;
					position: relative;
					padding: 0 10px 0 37px;

					&:hover {
						background-color: #efefef;
						&.chat::after {
						  	//background: url(../images/start-chat.png) 0 0 no-repeat;
						}
						&.edit::after { background-position: -20px -90px; }
						&.flag::after { background-position: -20px -18px; }
						&.add-contact::after { background-position: -20px -36px; }
						&.chat::after { background-position: 0 -144px; }
						&.follow::after { background-position: -20px -54px; }
						&.block::after { background-position: -20px -72px; }
						&.mute::after { background-position: -20px -126px; }
						&.delete::after { background-position: -20px -108px; }
					}

					&.chat::after {
					  	background: url(../images/start-chat.png) 0 0 no-repeat;
					}
					&.edit::after { background-position: 0 -90px; }
					&.flag::after { background-position: 0 -18px; }
					&.add-contact::after { background-position: 0 -36px; }
					&.chat::after { background-position: 0 -144px; }
					&.follow::after { background-position: 0 -54px; }
					&.block::after { background-position: 0 -72px; }
					&.mute::after { background-position: 0 -126px; }
					&.delete::after { background-position: 0 -108px; }
				}
			}
		}
	}
}

.reply-options-menu{
	.x-menu-item {
		&.reply-option{
			padding: 1px 10px 2px 37px !important;
			line-height: 27px;
			cursor: pointer;
			font-size: 14px;
			font-weight: normal;
			position: relative;


			&::after{
				content: ' ';
				width: 18px;
				height: 18px;
				background: url(../images/options-menu-sprite.png) 0 0 no-repeat;
				position: absolute;
				top: 5px;
				left: 10px;
			}

			&.edit::after{ background-position: 0 -90px; }
			&.flag::after{ background-position: 0 -18px; }
			&.add-contact::after{ background-position: 0 -36px; }
			&.chat::after { background-position: 0 -144px; }
			&.follow::after{ background-position: 0 -54px; }
			&.block::after{ background-position: 0 -72px; }
			&.mute::after{ background-position: 0 -126px; }
			&.delete::after{ background-position: 0 -108px; }
		}
	}
}

.note-gutter {

	position: absolute;
	top: 0;
	left: 0;
	right: 700px !important;
	width: auto;
	//border-right: 1px solid #eee;

	.note-here-control-box {
		//$t: top 0s, opacity 0.1s;
		//@include animate(fadeIn,0.1s);
		//@include experimental(transition, $t);

		cursor: text;
		position: absolute;
		left: 0;
		right: 45px;
		height: 26px;
		border: none;
		margin: 0 5px 0 15px;
		padding: 0;
		display: block;

		&.note-overlay-hidden{
			display: none;
			//opacity: 0;
		}

		.bottom-border {
			overflow: hidden;
			background: none;
			border: 1px solid #e4e4e4;
			border-top-width: 0;
			margin: 0;
			padding: 0;
			height: 4px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 33px;
		}

		@include note-editor;
		.editor {
			//instance specific style
			background: #ffffff;
			border: 1px solid #dcdcdc;
			position: absolute;
			z-index: 999;

			top: -30px;
			left: -10px;
			right: 0;
			min-height: 210px;
		}

		.entry {
			&.active {
				textarea, .clear, .advanced {
					display: block;
				}
				.shadow-text{
					display: none;
				}
			}

			textarea {
				display: none;
				font: 14px 'Droid Serif';
				color: $secondary-grey;
				border: none;
				background: transparent;
				padding: 0 0 0 4px;
				margin: 0;
				resize: none;
				bottom: -2px;
				right: 55px;
				position: absolute;
				left: 0;
				height: 22px;

				.x-ie9 & {
					width: 80%;
					overflow: hidden;
				}
			}

			.clear {
				display: none;
				z-index: 10;
				cursor: pointer;
				position: absolute;
				bottom: 4px; right: 38px;
				width: 16px; height: 16px;
				background: url(../images/tools/clear-line.png) 0 0 no-repeat;
				opacity: 0.6;
				&:hover{
					opacity: 1;
				}
			}
			.advanced {
				display: none;
				z-index: 10;
				cursor: pointer;
				position: absolute;
				top: 0; right: 0;
				background: url(../images/notes/comment-icon-small-active.png) 0 0 no-repeat;
				width: 30px;
				height: 27px;
			}

			.shadow-text {
				color: #c4c4c4;
				position: absolute;
				padding: 0 4px;
				font: italic 14px 'Droid Serif';
				margin: 0;
				bottom: 4px;
			}
		}

	}
}



.note-gutter-widget {

	.reply-count {
		position: relative;
		float: right;
		padding-left: 18px;
		margin-left: 19px;
		top: -7px;
		right: -3px;
		background: url(../images/notes/ico_comment_indicator.png) 0 0 no-repeat;
		font-size: 11px;
		font-weight: semibold;
		font-style: italic;
		color: #787878;
  	}

	&.add-note {
		height: 30px;
		width: 34px;
		position: relative;
		opacity: 0.8;

		&::after {
			content: ' ';
			position: absolute;
			top: 2px; left: 3px;
			width: 29px;
			height: 26px;
			background: url(../images/notes/add_note_sprite.png) 0 0 no-repeat;
		}

		&:hover {
			opacity: 1;
		}
		&:active::after,
		&:focus::after {
			background-position: 0 -26px;
		}

		&.expanded{
			z-index: 1;
			float: right;
			&:hover {
				box-shadow: inset 0 0 0 1px #ECECEC;
				background: #F6F6F6;
				border-radius: 3px !important;
			}
		}
		&.collapsed{
			box-shadow: inset 0 0 0 1px #ececec;
			background: #f6f6f6;
			&:hover {
				background: #fdfdfd;
			}
		}
	}

	&.multi {
		background-size: cover;
		overflow: visible;
		position: relative;
		height: 30px;
		width: 30px;

		&.show-under {
			.bubble {
				bottom: auto;
				top: 46px;
			}

			&::after {
				content: url(../images/notes/bubble-tip-top.png);
				top: auto;
				bottom: -18px;
			}
		}

		.bubble {
			display: none;
			position: absolute;
			overflow: hidden;
			bottom: 46px;
			left: -175px;
			max-width: 430px;
			min-width: 250px;
			max-height: 250px;
			padding: 15px 13px 20px 13px;
			background: #ffffff;
			border: 1px solid #dcdcdc;
			border-radius: 3px;
			box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

			@include meta-row;
			.meta {
				font-size: 10px;
			  	margin-right: 50px;
			}

			.text {
				overflow: hidden;
				text-overflow: ellipsis;
				color: $secondary-grey;
				font: 14px/22px 'Droid Serif' normal;
			}
		}

		&::after {
			 content: url(../images/notes/bubble-tip.png);
			 display: none;
			 position: absolute;
			 top: -18px;
			 left: -14px;
			 width: 34px;
			 height: 15px;
		  	 z-index: 10000;
		}


		&:hover {
			box-shadow:
			  inset 0 0 0 2px #ffffff,
			  0 2px 5px 2px rgba(0,0,0,.3);
			z-index: 10;
			.bubble {
				display: block;
			}
			&::after {
				display: block;
			}
		}
	}

	&.single {
		position: absolute;
		right: 30px;
		left: 0;
		text-align: left;
		direction: ltr;

		//default turn these off
		.seperator, .shared-to, .time, .respond, .controls, .reply-count{
			display: none;
		}

		.name {
			@include menu-label-text-treatment;
			color: $primary-blue;
		}

		.text {
			&::before{
				content: '\201C';
			}
			&::after{
				content: '\201D';
			}
			font: italic 12px 'Droid Serif';
			color: $primary-grey;
			overflow: hidden;
			white-space: nowrap;

			.x-ie9 &{
				min-height: 18px;
			}
		}
		.mask {
			@include fade-mask();
		}

		.respond .more ol {
			z-index: 9999 !important;
		}

		&.menu-open,
		&:hover {

			.narrow-gutter &{
				right: inherit;
			}

			border: 1px solid #dcdcdc;
			box-shadow: inset 0 1px 0 0 #ffffff,
				1px 1px 2px 0 rgba(0, 0, 0, 0.1);
			background: #f8f8f8;
			padding: 10px;
			margin: -11px 0 0 -11px;
			min-width: 280px;
			max-heigt: 400px;
			z-index: 999;

		  	@include meta-row-window;

			.mask {
				display: none;
			}

		  	.controls, .reply-count {
				display: block;
			}

			.text {
				overflow: hidden;
				text-overflow: ellipsis;
				word-wrap: normal;
				white-space: normal;
				font-style: normal;
			}

		  	.meta{

				.name {
					font-weight: 300;
					font-size: 17px;
				}

				.time, {
		  		    display: inline;
				  	font-size: 12px;
				}

			  }

			@include meta-row;

			.respond {
				position: relative;
				display: block;
		  		//overflow: hidden;
		  		margin: 12px 0 0 0;

		  		@include reply-options;
				.reply-options {
					opacity: 1
				};
		  	}
		}
	}
}


.note-window {
	@extend .nti-window;
	@include reset-window-border-radius(3px);
	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3),
				0 0 0 110px transparent;

	&,.nti-window-header{
		background-color: #ffffff;
	}

	.nti-window-header{
		cursor: default;
		.header-body {
			span {
			}
		}
	}

	.note-responses{
		//.note-reply.first {
		.note-reply {
			box-shadow: inset 0 1px 0 0 #ffffff;
		}
		//.note-replies .note-reply.first {
		//	box-shadow: none;
		//}
	}

	.filter-bar {
		margin: 0 10px;
	}

	.x-btn-note-filter {
		&, .x-btn-inner {
			color: #9a9a9a;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 25px;
		}

		border-radius: 90px;
		border: 2px solid #ffffff;
		border-width: 2px !important;
		box-shadow: 0 2px 0 0 rgba(255,255,255,0.5);
		padding: 0 16px;
		margin: 0 5px;


		&.x-pressed {
			border-color: #85b746;
			&, .x-btn-inner {
				color: #85b746;
			}
		}
	}


	.carousel {
		background: url(../images/notes/carousel.png) -365px 0px no-repeat;
		border: 1px solid #c5c5c5;
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		//when the main/reply view is hovered/editor-active it should set the same classes onto the carousel

		.carousel-body {
			margin: 0 50px;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;

		  	.no-search-found{
				margin: 20px 15px;
				color: #9A9A9A;
				font-size: 16px;
				font-family: inherit;
			}
		}

		.carousel-item{
			cursor: pointer;
			display: inline-block;
			position: relative;
			text-align: center;

			img {
				display: block;
				width: 32px; height: 32px;
				background-size: cover;
				margin: 11px 2px 4px 2px;
			}
			.count {
				opacity: 0.5;
				color: #646464;
				font-size: 10px;
				line-height: 12px;
				font-style: italic;
				font-weight: bold;

				span:empty {
					display: inline-block;
					height: 10px;
				}

			}

			&.selected {
				top: -1px;
				img {
					width: 38px; height: 37px;
					margin-top: 4px;
					box-shadow: inset 0 0 0 2px white,
								0 2px 1px 1px rgba(0,0,0,0.2);
				}
				.count {
					opacity: 1; font-size: 12px;
					span {
						background: url(../images/notes/ico_comment_indicator.png) 0 center no-repeat;
						padding-left: 18px;

						&:empty{
							height: 12px;
						}
					}

				}
			}
		}

		.slide-nav {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50px;

			.slide {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 15px;
				width: 20px;
				opacity: 0.4;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
				}
			}

			.disabled {
				&,&:hover{ opacity: 0.10; cursor: default; }
			}

			&.forward{
				right: 0;
			}
			&.backward{
				left: 0;
			}
			.forward{
				background: url(../images/notes/next.png) 0 50% no-repeat;
 			}
			.backward{
				background: url(../images/notes/prev.png) 0 50% no-repeat;
 			}
		}

	}

	.main-view {
		background: #FBFBFB;
	}

	.note-reply,
	.main-view {
		border: 0px solid #f2f2f2;
		border-bottom-width: 1px;
		padding: 16px 27px 5px 27px;
		&.editor-active, &.hover {
			border-color: #e6e6e6;
			box-shadow: inset 0 1px 0 0 #ffffff;
			.respond .reply-options{ opacity: 1; }
		}

		img.avatar {
			float: left;
			width: 60px;
			height: 60px;
			border-radius: 5px;
			background-size: cover;
		}

		@include meta-row-window;
		.meta {
			margin-left: 70px;
		}


		.search-term {
			background: #fcff13 !important;
		}

		.context {
		  	position: relative;
			margin: 20px 0;
			padding: 20px;
			background: #ffffff;
			box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
			clear: both;

			sup {
				vertical-align: super;
			}

			sub {
				vertical-align: sub;
			}

			.nobreak {
				 white-space: nowrap;
			}

			.vfrac {
			       white-space: nowrap;

			       .divider {
				 	font-size: 140%;
				 	vertical-align: -4%;
				}
			}

			.underline {
				   text-decoration: underline;
			}

			.overline {
				  text-decoration: overline;
			}

			em,
			.mathname {
				  font-style: italic;
			}

		  	.mathjax {
			    line-height: normal;
				white-space: nowrap;
			}

		    & > canvas {
				position: absolute;
			  	top: 0;
			  	left: 0;
			  	width: 100%;
			  	height: 100%;
			}

			& > span.text{
			  	position: relative;
			  	z-index: 1;
				color: $primary-grey;
				font-size: 14px;
				line-height: 32px;
				white-space:normal;

				word-wrap: break-word;

				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
			}

			//experiment to kill links in note window
			a {
				pointer-events: none;
				cursor: default;
			}
		}

		.body {
			color: $primary-grey;
			font: 16px/24px 'Droid Serif';

			a {
				word-wrap: break-word;
			}

			strong, em strong {
				font-weight: bold !important;
			}

			em, strong em {
				font-style: italic !important;
			}

			.body-divider .whiteboard-thumbnail{
			  width: 40% !important;
			  display: block;
			  clear: both;
			  overflow: hidden;
			  background-position: 0 0;
			  background-repeat: no-repeat;
			  background-size: 100%;
			  border: 1px solid #D0D0D0;
			  border-radius: 5px;
			  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.08);

			}
		}

		&.editor-active .respond{
			display: block;
			.reply-options{display: none;}
			.editor {
			    display: block;
			  	.action.share {display: none !important;}
			}
		}

		.respond {
			position: relative;
			overflow: hidden;

			@include reply-options;
			.reply-options .more ol{ position: fixed; }

			&.shared .reply-options .share {
				display: inline-block;
			}

			@include note-editor;
			.editor {
				.main{
					border: 1px solid #dcdcdc;
					border-bottom-width: 0;

				  	.content{
						img.wb-thumbnail{
						  width: 20% !important;
						}
					}
				}
				.footer {
					.action {
						&.whiteboard {
							background-position: 2px 12px;
						}
					}
				}
			}
		}
	}

	.note-reply {
		//border-bottom-width: 0px;
		&.first{
			background-image: url(../images/reply-arrow.png);
			background-position: 18px 15px;
			background-repeat: no-repeat;
		}
		position: relative;
		padding-left: 30px;
		&.editor-active,&.hover {
			box-shadow: none;
			.meta .controls {
				display: block;
			}
		}
		.avatar {
			float: left;
			img {
				border-radius: 2px;
				margin-left: 4px;
				background-size: cover;
				width: 32px;
				height: auto;
			}
		}
		.meta {
			margin-left: 45px;
			margin-top: 5px;
			font-size: 10px;

			.name {
				font-size: 14px;
			}

			.controls {
				.favorite {
					display:none;
					margin-top: 0px;
				}
			}
		}
		.body {
			margin-left: 45px;
			font-size: 14px;
			line-height: default;
		}

		&.deleted-reply {
			padding-bottom: 11px;
			.meta {
				.time {
					font-style: italic;
				}
			}
		}
	}

	.note-reply-container {
		background: #ffffff;

		.note-reply-container {
			.note-reply {
				padding-left: 60px;
				background-position: 48px 15px;
			}
			.note-reply-container {
				.note-reply.first {
					background-image: none;
				}
			}
		}
	}

	.note-footer, .note-content-container.scrollbody {
		background: #FBFBFB;
	}
	.note-footer {
		position: relative;
		height: 200px;
		text-align: center;
		padding: 20px;
		color: $tertiary-grey;

		&::after{
			content: 'End';
		}
	}
}


.nav-helper {
	position: absolute;
	.circle {
	  	z-index: 99999;
		position: absolute;
		background: url(../images/notes/prev-next-circles.png) 0 0 no-repeat;
		width: 77px;
		height: 77px;
		margin-top: 125px;
		opacity: 0.4;
		cursor: pointer;
		&:hover {
			opacity: 0.63;
		}
		&.disabled {
			&,&:hover{ opacity: 0.10; cursor: default; }
		}

		&.forward{
			right: -100px;
			margin-left: 75px;
			background-position: -77px 0;
		}
		&.backward{
			left: 0;
			margin-left: -100px;
		}
	}
}
