

.reply-options-menu{
	.x-menu-item {
		&.reply-option{
			padding: 1px 10px 2px 37px !important;
			line-height: 27px;
			cursor: pointer;
			font-size: 14px;
			font-weight: normal;
			position: relative;


			&::after{
				content: ' ';
				width: 18px;
				height: 18px;
				background: url(../images/old_sprites/spr_options_menu.png) 0 0 no-repeat;
				position: absolute;
				top: 5px;
				left: 10px;
			}

			&.edit::after{ background-position: 0 -90px; }
			&.flag::after{ background-position: 0 -18px; }
			&.add-contact::after{ background-position: 0 -36px; }
			&.chat::after { background-position: 0 -144px; }
			&.follow::after{ background-position: 0 -54px; }
			&.block::after{ background-position: 0 -72px; }
			&.mute::after{ background-position: 0 -126px; }
			&.delete::after{ background-position: 0 -108px; }
		}
	}
}

.note-gutter {

	position: absolute;
	top: 0;
	left: 0;
	right: 700px !important;
	width: auto;
	//border-right: 1px solid #eee;

	.note-here-control-box {
		//$t: top 0s, opacity 0.1s;
		//@include animate(fadeIn,0.1s);
		//@include experimental(transition, $t);

	//	cursor: text;
		position: absolute;
		left: 0;
		right: 45px;
		height: 26px;
		border: none;
		margin: 0 5px 0 15px;
		padding: 0;
		display: block;

		&.note-overlay-hidden{
			display: none;
			//opacity: 0;
		}

		.bottom-border {
			overflow: hidden;
			background: none;
			border: 1px solid #e4e4e4;
			border-top-width: 0;
			margin: 0;
			padding: 0;
			height: 4px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 33px;
		}

		@include note-editor;
		.editor {
			//instance specific style
			background: #ffffff;
			border: 1px solid #dcdcdc;
			position: absolute;
			z-index: 999;

			top: -30px;
			left: -10px;
			right: 0;
			min-height: 210px;
		}

		.entry {
			&.active {
				//textarea,
				.clear, .advanced {
					display: block;
				}
				.shadow-text{
					display: none;
				}
			}

			textarea {
				display: none;
				font: 14px 'Droid Serif';
				color: $secondary-grey;
				border: none;
				background: transparent;
				padding: 0 0 0 4px;
				margin: 0;
				resize: none;
				bottom: -2px;
				right: 55px;
				position: absolute;
				left: 0;
				height: 22px;

				.x-ie9 & {
					width: 80%;
					overflow: hidden;
				}
			}

			.clear {
				display: none;
				z-index: 10;
				cursor: pointer;
				position: absolute;
				bottom: 4px; right: 38px;

				background: $icons no-repeat;
				@include sprite($icons,'clear_line',$dimensions: true);
				opacity: 0.6;
				&:hover{
					opacity: 1;
				}
			}
			.advanced {
				display: none;
				z-index: 10;
				cursor: pointer;
				position: absolute;
				top: 0; right: 0;
				background: $icons no-repeat;
				@include sprite($icons,'comment_small_active',$dimensions: true);
			}

			.shadow-text {
				color: #c4c4c4;
				position: absolute;
				padding: 0 4px;
				font: italic 14px 'Droid Serif';
				margin: 0;
				bottom: 4px;
			}
		}

	}
}



.note-gutter-widget {

	.reply-count {
		position: relative;
		float: right;
		padding-left: 18px;
		margin-left: 19px;
		top: -7px;
		right: -3px;
		font-size: 11px;
		font-weight: semibold;
		font-style: italic;
		color: #787878;

		&::after{
			content: ' ';
			position: absolute;
			top: 0; left: 0;
			overflow: hidden;
			background: $icons no-repeat;
			@include sprite($icons,'comment_indicator',$dimensions: true);
		}
  	}

	&.add-note {
		height: 30px;
		width: 34px;
		position: relative;
		opacity: 0.8;

		&::after {
			content: ' ';
			position: absolute;
			top: 2px; left: 3px;
			background: $icons no-repeat;
			@include sprite($icons,'add-note',$dimensions: true);
		}

		&:hover {
			opacity: 1;
		}
		&:active::after,
		&:focus::after {
			@include sprite($icons,'add-note_active',$dimensions: true);
		}

		&.expanded{
			z-index: 1;
			float: right;
			&:hover {
				box-shadow: inset 0 0 0 1px #ECECEC;
				background: #F6F6F6;
				border-radius: 3px !important;
			}
		}
		&.collapsed{
			box-shadow: inset 0 0 0 1px #ececec;
			background: #f6f6f6;
			&:hover {
				background: #fdfdfd;
			}
		}
	}

	&.multi {
		background-size: cover;
		overflow: visible;
		position: relative;
		height: 30px;
		width: 30px;

		&.show-under {
			.bubble {
				bottom: auto;
				top: 46px;
			}

			&::after {
				@include sprite($elements,'bubble-tip-top',$dimensions: true);
				top: auto;
				bottom: -18px;
			}
		}

		.bubble {
			display: none;
			position: absolute;
			overflow: hidden;
			bottom: 46px;
			left: -175px;
			max-width: 430px;
			min-width: 250px;
			max-height: 250px;
			padding: 15px 13px 20px 13px;
			background: #ffffff;
			border: 1px solid #dcdcdc;
			border-radius: 3px;
			box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);

			@include meta-row;
			.meta {
				font-size: 10px;
			  	margin-right: 50px;
			}

			.text {
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: left;

				@include text-pre-wrap;

				color: $secondary-grey;
				font: 14px/22px 'Droid Serif' normal;
			}
		}

		&::after {
			content: ' ';
			overflow: hidden;
			background: $elements;
			@include sprite($elements,'bubble-tip',$dimensions: true);
			display: none;
			position: absolute;
			top: -18px;
			left: -14px;
			z-index: 10000;
		}


		&:hover {
			box-shadow:
			  inset 0 0 0 2px #ffffff,
			  0 2px 5px 2px rgba(0,0,0,.3);
			z-index: 10;
			.bubble {
				display: block;
			}
			&::after {
				display: block;
			}
		}
	}

	&.single {
		position: absolute;
		right: 30px;
		left: 0;
		text-align: left;
		direction: ltr;

		//default turn these off
		.seperator, .shared-to, .time, .respond, .controls, .reply-count{
			display: none;
		}

		.name {
			@include menu-label-text-treatment;
			color: $primary-blue;
		}

		.text {
			&::before{
				content: '\201C';
			}
			&::after{
				content: '\201D';
			}
			font: italic 12px 'Droid Serif';
			color: $primary-grey;
			overflow: hidden;
			white-space: nowrap;

			.x-ie9 &{
				min-height: 18px;
			}
		}
		.mask {
			@include fade-mask();
		}

		.respond .more ol {
			z-index: 9999 !important;
		}

		&.menu-open,
		&:hover {

			.narrow-gutter &{
				right: inherit;
			}

			border: 1px solid #dcdcdc;
			box-shadow: inset 0 1px 0 0 #ffffff,
				1px 1px 2px 0 rgba(0, 0, 0, 0.1);
			background: #f8f8f8;
			padding: 10px;
			margin: -11px 0 0 -11px;
			min-width: 280px;
			max-heigt: 400px;
			z-index: 999;

		  	@include meta-row-window;
			.mask {
				display: none;
			}

		  	.controls, .reply-count {
				display: block;
			}

			.text {
				overflow: hidden;
				text-overflow: ellipsis;
				font-style: normal;
				@include text-pre-wrap;
			}

		  	.meta{

				.name {
					font-weight: 300;
					font-size: 17px;
				}

				.time, {
		  		    display: inline;
				  	font-size: 12px;
				}

			  }

			@include meta-row;

			.respond {
				position: relative;
				display: block;
		  		//overflow: hidden;
		  		margin: 12px 0 0 0;

		  		@include reply-options;
				.reply-options {
					opacity: 1
				};
		  	}
		}
	}
}


.note-window {
	@extend .nti-window;
	@include reset-window-border-radius(3px);
	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3),
				0 0 0 110px transparent;

	&,.nti-window-header{
		background-color: #ffffff;
	}

	.nti-window-header{
		cursor: default;
		.header-body {
			span {
			}
		}
	}

	.note-responses{
		//.note-reply.first {
		.note-reply {
			box-shadow: inset 0 1px 0 0 #ffffff;
		}
		//.note-replies .note-reply.first {
		//	box-shadow: none;
		//}
	}

	.filter-bar {
		margin: 0 10px;
	}

	.x-btn-note-filter {
		&, .x-btn-inner {
			color: #9a9a9a;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 25px;
		}

		border-radius: 90px;
		border: 2px solid #ffffff;
		border-width: 2px !important;
		box-shadow: 0 2px 0 0 rgba(255,255,255,0.5);
		padding: 0 16px;
		margin: 0 5px;


		&.x-pressed {
			border-color: #85b746;
			&, .x-btn-inner {
				color: #85b746;
			}
		}
	}


	.carousel {
		position: relative;//just in case ExtJS doesn't set this absolute... so that our inner coordinates are relative to here.
		background: url(../images/elements/carousel.png) -365px 0px no-repeat;
		border: 1px solid #c5c5c5;
		border-bottom-width: 0;
		border-left-width: 0;
		border-right-width: 0;
		//when the main/reply view is hovered/editor-active it should set the same classes onto the carousel

		.carousel-body {
			margin: 0 50px;
			text-align: center;
			overflow: hidden;
			white-space: nowrap;

		  	.no-search-found{
				margin: 20px 15px;
				color: #9A9A9A;
				font-size: 16px;
				font-family: inherit;
			}
		}

		.carousel-item{
			cursor: pointer;
			display: inline-block;
			position: relative;
			text-align: center;

			img {
				display: block;
				width: 32px; height: 32px;
				background-size: cover;
				margin: 11px 2px 4px 2px;
			}
			.count {
				opacity: 0.5;
				color: #646464;
				font-size: 10px;
				line-height: 12px;
				font-style: italic;
				font-weight: bold;

				span:empty {
					display: inline-block;
					height: 10px;
				}

			}

			&.selected {
				top: -1px;
				img {
					width: 38px; height: 37px;
					margin-top: 4px;
					box-shadow: inset 0 0 0 2px white,
								0 2px 1px 1px rgba(0,0,0,0.2);
				}
				.count {
					opacity: 1; font-size: 12px;
					span {
						position: relative;
						padding-left: 18px;
						&:empty{
							height: 12px;
						}

						&::after {
							content: ' ';
							overflow: hidden;
							position: absolute;
							top: 0; left: 0;
							background: $icons no-repeat;
							@include sprite($icons,'comment_indicator',$dimensions: true);
						}
					}

				}
			}
		}

		.slide-nav {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50px;

			.slide {
				background: $icons no-repeat;
				position: absolute;
				top: 22px;
				left: 15px;
				opacity: 0.4;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
				}
			}

			.disabled {
				&,&:hover{ opacity: 0.10; cursor: default; }
			}

			&.forward{
				right: 0;
			}
			&.backward{
				left: 0;
			}

			.forward{
				@include sprite($icons,'next',$dimensions: true);
 			}
			.backward{
				@include sprite($icons,'prev',$dimensions: true);
 			}
		}

	}

	.main-view {
		background: #FBFBFB;
	}

	.note-reply,
	.main-view {
		position: relative;//just in case ExtJS doesn't set this absolute... so that our inner coordinates are relative to here.
		border: 0px solid #f2f2f2;
		border-bottom-width: 1px;
		padding: 16px 27px 5px 27px;
		&.editor-active, &.hover {
			border-color: #e6e6e6;
			box-shadow: inset 0 1px 0 0 #ffffff;
			.respond .reply-options{ opacity: 1; }
		}

		img.avatar {
			float: left;
			width: 60px;
			height: 60px;
			border-radius: 5px;
			background-size: cover;
		}

		@include meta-row-window;

		.meta {
			margin-left: 70px;
		}

		.add-to-contacts {
			cursor: pointer;
			vertical-align: top;
			color: $secondary-grey;
			line-height: 26px;
			font-weight: 700;
			display: inline-block;
			width: auto;
			white-space: nowrap;
			text-align: center;
			padding: 0 12px 0 25px;
			margin-left: 20px;
			margin-top: 4px;
			border: 1px solid #D0D0D0;
			border-radius: 4px;
			opacity: .75;
			position: relative;
			&:hover {
				opacity: 1;
			}
			&::after{
				background: transparent $icons no-repeat;
				@include sprite($icons,'add-contact',$dimensions: true);
				position: absolute;
				content: ' ';
				top: 5px;
				left: 5px;
			}
		}

		.search-term {
			background: #fcff13 !important;
		}

		.context {
		  	position: relative;
			margin: 20px 0;
			padding: 20px;
			background: #ffffff;
			box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
			clear: both;
			overflow: hidden;

			img {
				max-width: 520px !important;
			}

			sup {
				vertical-align: super;
			}

			sub {
				vertical-align: sub;
			}

			.nobreak {
				 white-space: nowrap;
			}

			.vfrac {
			       white-space: nowrap;

			       .divider {
				 	font-size: 140%;
				 	vertical-align: -4%;
				}
			}

			.underline {
				   text-decoration: underline;
			}

			.overline {
				  text-decoration: overline;
			}

			em,
			.mathname {
				  font-style: italic;
			}

		  	.mathjax {
			    line-height: normal;
				white-space: nowrap;
			}

		    & > canvas {
				position: absolute;
			  	top: 0;
			  	left: 0;
			  	width: 100%;
			  	height: 100%;
			}

			& > span.text{
			  	position: relative;
			  	z-index: 1;
				color: $primary-grey;
				font-size: 14px;
				line-height: 32px;
				white-space:normal;

				word-wrap: break-word;

				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
			}

			//experiment to kill links in note window
			a {
				pointer-events: none;
				cursor: default;
			}
		}

		.body {
			color: $primary-grey;
			font: 16px/24px 'Droid Serif';
			@include text-pre-wrap;

			a {
				word-wrap: break-word;
			}

			strong, em strong {
				font-weight: bold !important;
			}

			em, strong em {
				font-style: italic !important;
			}

			.body-divider .whiteboard-thumbnail{
			  	width: 240px !important;
			  	clear: both;
			}
		}

		&.editor-active .respond{
			display: block;
			.reply-options{display: none;}
			.time{display: none;}
			.editor {
			    display: block;
			  	.action.share {display: none !important;}
			}
		}

		.respond {
			position: relative;
			overflow: hidden;

			@include reply-options;
			.reply-options .more ol{ position: fixed; }

			&.shared .reply-options .share {
				display: inline-block;
			}

			.time {
				color: $tertiary-grey;
				position: absolute;
				right: 0px;
				top: 8px;
				font-size: 12px;
				font-style: italic;
				font-weight: 400;
			}

			@include note-editor;
			.editor {
				.main{
					border: 1px solid #dcdcdc;
					border-bottom-width: 0;

				  	.content{


					}
				}
				.footer {
					.action {
						&.whiteboard {
							background-position: 2px 12px;
						}
					}
				}
			}
		}
	}

	.note-reply {
		//border-bottom-width: 0px;
		&.first{
			&::after {
				content: ' ';
				position: absolute;
				overflow: hidden;
				top: 15px; left: 18px;
				background: $icons no-repeat;
				@include sprite($icons,'reply_arrow',$dimensions: true);
			}
		}
		position: relative;
		padding-left: 30px;
		&.editor-active,&.hover {
			box-shadow: none;
			.meta .controls {
				display: block;
			}
		}
		.avatar {
			float: left;
			img {
				border-radius: 2px;
				margin-left: 4px;
				background-size: cover;
				width: 32px;
				height: auto;
			}
		}
		.meta {
			margin-left: 45px;
			margin-top: 5px;
			font-size: 10px;

			.name {
				font-size: 14px;
			}

			.controls {
				.favorite {
					display:none;
					margin-top: 0px;
				}
			}
		}
		.body {
			margin-left: 45px;
			font-size: 14px;
			line-height: default;
		}

		&.deleted-reply {
			padding-bottom: 11px;
			.meta {
				.time {
					font-style: italic;
				}
			}
		}
	}

	.note-reply-container {
		background: #ffffff;

		.note-reply-container {
			.note-reply {
				padding-left: 60px;
				background-position: 48px 15px;
			}
			.note-reply-container {
				.note-reply.first {
					background-image: none;
				}
			}
		}
	}

	.note-footer, .note-content-container.scrollbody {
		background: #FBFBFB;
	}
	.note-footer {
		position: relative;
		height: 200px;
		text-align: center;
		padding: 20px;
		color: $tertiary-grey;

		&::after{
			content: 'End';
		}
	}
}


.nav-helper {
	position: absolute;
	.circle {
	  	z-index: 99999;
		position: absolute;
		background: $icons no-repeat;
		width: 77px;
		height: 77px;
		margin-top: 125px;
		opacity: 0.4;
		cursor: pointer;
		&:hover {
			opacity: 0.63;
		}
		&.disabled {
			&,&:hover{ opacity: 0.10; cursor: default; }
		}

		&.forward{
			right: -100px;
			margin-left: 75px;
			@include sprite($icons,'circle-next',$dimensions: true);
		}
		&.backward{
			left: 0;
			margin-left: -100px;
			@include sprite($icons,'circle-prev',$dimensions: true);
		}
	}
}


.note-add-to-contacts-popout::after{
	background: $elements no-repeat;
	@include sprite($elements,'add_contact_pointer_left',$dimensions: true);
	top: 26px;
	left: -12px;
}
