.x-gecko li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
}

.x-gecko li > p.par {
            display: inline;
}


#NTIContent {
	&, * {
		text-rendering: optimizeLegibility;//fallback
		text-rendering: geometricPrecision;

		word-wrap: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;

		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	&.x-repaint {
		display: none;
	}

	.injected-related-items {
		font-family: 'Open Sans';
		margin: 15px 0 0 0;

		font-size: 14px;
		.related {
			color: #84b93d;
		}

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		&.showall {
			white-space: normal;
			cursor: auto;
		}
	}

	.externalvideo {
		display: inline-block;
		margin-top: 0.75em;
	}

    div.section-problems,
    div.challenge-problems,
    div.review-problems,
    div.exercises{
        &::before{
            background: none;
        }
        & > span.headingtext {
          position: static;
          top: initial;
          left: initial;
      }
    }
    ol.section-problems,
    ol.challenge-problems,
    ol.review-problems {
        margin: 0;
        padding: 0;
    }
  
   div.picdefns,
   .xtra,
   div.defn,
   div.defns,
   .bogus,
   .importantdef,
   .important,
   .concept,
   .warning,
   .game,
   .sidebar{
		padding: 1em;
		background-image: none;
		background-color: rgba(235, 235, 235, 0.3);
   }

	div {
		&.mathjax{
			&.answer,
			&.response {
				clear: both;
				display: block;
				margin: 1.2em;
			}
		}
	}

	.result {
		padding:  1.2em;
		&.correct {
			background-color: #77BB4E;
		}
		&.incorrect {
			background-color: #DD8888;
		}
	}

	.page-contents {
		color: #757474;
		margin-left: 80px;
		font-size: 14px;
		font-weight: normal;

		.chapter.title,
		.title {
			position: relative;
			left: -85px;
			display: block;
			font-size: 31px;
			font-weight: 200;
			border: none;
			span.ref{
				display: block;
				width: 65px;
				text-align: right;
				float: left;
				padding: 0;
			}
			span.label {
				font-size: inherit;
				margin-left: 80px;
				border: none;
				padding: 0;
				display: block;
			}
		}

		.titlepage .title {
			position: static;
			left: 0;
		}

		.subsection,
		.subsubsection,
		.paragraph,
		.subparagraph,
		.subsubparagraph {
			&.title {
				display: block;
			}
		}
		.subsubsection,
		.paragraph,
		.subparagraph,
		.subsubparagraph {
			&.title {
				font-weight: bold;
				padding-left: 85px;
			}
		}
		.subsubsection.title {font-size: 16px;}
		.paragraph.title,
                .subparagraph.title,
		.subsubparagraph.title {
			font-size: 14px;
		}
	}
}
