#NTIContent {
	.worksheet-problems {
		li{
			clear: both;
		}
		.problem {
			overflow: visible;
			display: block;
			border: none;
			text-align: left;
			padding: 0;
			position: static;
			margin: 0;
			background: none;
			white-space: normal;
			&::after {
				display: none;
			}
		}
		.result {
			clear: both;
		}
	}

	div {
		&.mathjax{
			&.answer,
			&.response {
				clear: both;
				display: block !important;
				margin: 1.2em;
			}
		}
	}

	.result {
		padding:  1.2em;
		&.correct {
			background-color: #77BB4E;
		}
		&.incorrect {
			background-color: #DD8888;
		}
	}

	.page-contents {
		color: #757474;
		margin-left: 80px;

		.chapter.title,
		.title {
			position: relative;
			left: -85px;
			display: block;
			font-size: 180%;
			font-weight: 200;
			border: none !important;
			span.ref{
				display: block;
				width: 65px;
				text-align: right;
				float: left;
				padding: 0;
			}
			span.label {
				margin-left: 80px;
				border: none !important;
				padding: 0 !important;
				display: block;
			}
		}
	}
}
