
.guide-window, .tos-window {
	@extend .nti-window;
	background-color: $quad-grey;
	box-shadow: 0 10px 40px rgba(0,0,0,0.61);

	iframe{
		&.help-iframe{
			/*top: 0 !important;*/
			margin: 0 15px 0px 15px !important;
			left:0 !important;
			width: 675px !important;

		}
		/*height: 100%;*/
		/* removed top and height attrs, unnecessary if layout is fit or vbox */
	}

	.tos-header { /*tos*/
		margin: 8px 24px;
		width: 675px !important;
		h3 {
			font-size: 16px;
			font-weight: bold;
			color: #fd817f;
			margin: 0;
			padding: 0;
		}
		.you-should {
			font-size: 12px;
			color: #b8b8b8;
		}
	}

	.nti-window-header{
		display: none;
	}
	.nti-window-footer{
		background-color: #f3f3f3;
		padding: 10px;

		.x-btn-primary-large{
			&.dismiss{
				padding: 8px 30px;
			}
		}
		.x-disabled{ /*tos*/
			opacity: 0.5 !important;
		}
		.yes-checkbox{ /*tos*/
			margin-top: 4px;
		}
	}
}