.x-gecko li {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
}

.x-gecko li > p.par {
            display: inline;
}

.x-ie li > p.par {
		display: inline;
}


#NTIContent {
	padding-bottom: 10em;

	&, * {
		text-rendering: optimizeLegibility;//fallback
		text-rendering: geometricPrecision;

		position: relative;

		word-wrap: break-word;

		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;

		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.math {
		line-height: normal;
	}

	pre {
		width: 100%;
		font-size: 90%;
		background-color: #f0f0f0;
		padding-top: 5px;
		padding-bottom: 5px;
		font-family: Monaco, "Courier New", Courier, fixed;
		padding-left: 4ex;
	}

	&.x-repaint {
		display: none;
	}

	.injected-related-items {
		font-family: $font;
		margin: 15px 0 0 0;

		font-size: 14px;
		.related {
			color: #84b93d;
			a::after{
				content: ', ';
			}
			a.c10::after,
			a:last-of-type::after {
				content: '  ';
			}

			a{display: none;}
			a.c1,
			a.c2,
			a.c3,
			a.c4,
			a.c5,
			a.c6,
			a.c7,
			a.c8,
			a.c9,
			a.c10 {
				display: inline;
			}
		}

		cursor: pointer;
		&.showall {
			white-space: normal;
			cursor: auto;
			.related a{display: inline;}
			.more {display: none;}
		}
	}

	.externalvideo {
		display: inline-block;
		margin-top: 0.75em;
	}

    div.section-problems,
    div.challenge-problems,
    div.review-problems,
    div.exercises{
        &::before{
            background: none;
        }
        & > span.headingtext {
          position: static;
          top: initial;
          left: initial;
      }
    }
    ol.section-problems,
    ol.challenge-problems,
    ol.review-problems {
        margin: 0;
        padding: 0;
    }
  
   div.picdefns,
   .xtra,
   div.defn,
   div.defns,
   .bogus,
   .importantdef,
   .important,
   .concept,
   .warning,
   .game,
   .sidebar{
		padding: 1em;
		background-image: none;
		background-color: rgba(235, 235, 235, 0.3);
   }

	div {
		&.mathjax{
			&.answer,
			&.response {
				clear: both;
				display: block;
				margin: 1.2em;
			}
		}
	}

	.result {
		padding:  1.2em;
		&.correct {
			background-color: #77BB4E;
		}
		&.incorrect {
			background-color: #DD8888;
		}
	}

	.page-contents {
		color: #757474;
		margin-top: 50px;
		margin-left: 80px;
		font-size: 14px;
		font-weight: normal;
		position: relative;
		line-height: 2.2em;

		.chapter.title,
		.title {
			position: relative;
			display: block;
			font-size: 31px;
			font-weight: 200;
			border: none;
			span.ref{
				display: block;
				width: 65px;
				text-align: right;
				float: left;
				padding: 0;
			}
			span.label {
				font-size: inherit;
				margin-left: 80px;
				border: none;
				padding: 0;
				display: block;
			}
		}

		.titlepage .title {
			position: static;
			left: 0;
		}

		.subsection,
		.subsubsection,
		.paragraph,
		.subparagraph,
		.subsubparagraph {
			&.title {
				display: block;
			}
		}
		.subsubsection,
		.paragraph,
		.subparagraph,
		.subsubparagraph {
			&.title {
				font-weight: bold;
			}
		}
		.subsubsection.title {font-size: 16px;}
		.paragraph.title,
                .subparagraph.title,
		.subsubparagraph.title {
			font-size: 14px;
		}
		.bibitem > p.par {
			 display: inline;
		}
		.placeholder {display: none;}
	}

	.tiny         {font-size: x-small;}
	.scriptsize   {font-size: smaller;}
	.footnotesize {font-size: small;}
	.small        {font-size: small;}
	.normalsize   {font-size: 100%;}
	.large        {font-size: 120%; line-height: 1.3em;}
	.xlarge       {font-size: 130%; line-height: 1.4em;}
	.xxlarge      {font-size: 140%; line-height: 1.5em;}
	.huge         {font-size: 150%; line-height: 1.6em;}
	.xhuge        {font-size: 160%; line-height: 1.7em;}
	.raise15 {margin-bottom: 10px;}
	.raise14 {margin-bottom: 10px;}
	.raise13 {margin-bottom: 10px;}
	.raise12 {margin-bottom: 10px;}
	.raise11 {margin-bottom: 10px;}
	.raise10 {margin-bottom: 10px;}
	.raise9  {margin-bottom: 9px;}
	.raise8  {margin-bottom: 8px;}
	.raise7  {margin-bottom: 7px;}
	.raise6  {margin-bottom: 6px;}
	.raise5  {margin-bottom: 5px;}
	.raise4  {margin-bottom: 4px;}
	.raise3  {margin-bottom: 3px;}
	.raise2  {margin-bottom: 2px;}
	.raise1  {margin-bottom: 1px;}
	.raise0  {margin-bottom: 0px;}
	.lower0  {margin-bottom: -0px;}
	.lower1  {margin-bottom: -1px;}
	.lower2  {margin-bottom: -2px;}
	.lower3  {margin-bottom: -3px;}
	.lower4  {margin-bottom: -4px;}
	.lower5  {margin-bottom: -5px;}
	.lower6  {margin-bottom: -6px;}
	.lower7  {margin-bottom: -7px;}
	.lower8  {margin-bottom: -8px;}
	.lower10 {margin-bottom: -10px;}
	.lower11 {margin-bottom: -11px;}
	.lower12 {margin-bottom: -12px;}
	.lower13 {margin-bottom: -13px;}
	.lower14 {margin-bottom: -14px;}
	.lower15 {margin-bottom: -15px;}
	.lower16 {margin-bottom: -16px;}
	.lower17 {margin-bottom: -17px;}
	.lower18 {margin-bottom: -18px;}
	.lower19 {margin-bottom: -19px;}
	.lower20 {margin-bottom: -20px;}
	.lower21 {margin-bottom: -21px;}
	.lower22 {margin-bottom: -22px;}
	.lower23 {margin-bottom: -23px;}
	.lower24 {margin-bottom: -24px;}
	.lower25 {margin-bottom: -25px;}
	.lower26 {margin-bottom: -26px;}
	.lower27 {margin-bottom: -27px;}
	.lower28 {margin-bottom: -28px;}
	.lower29 {margin-bottom: -29px;}
	.lower30 {margin-bottom: -20px;}
	.lower20 {margin-bottom: -20px;}

	.subfloat {
		  display: inline-table;
		  padding: 1em 3em 1em 3em;
		  text-align: center
	}

	.rightpic, .leftpic {margin: 1.5em;}

	.align-center {text-align: center;}
	.align-left {text-align: left;}
	.align-right{text-align: right;}
	.align-bottom {vertical-align:top;}

	.bigskip {
		 margin: 0;
		 padding: 0;
		 margin-bottom: 24pt;
	}
	.medskip {
		 margin: 0;
		 padding: 0;
		 margin-bottom: 12pt;
	}
	.smallskip {
		 margin: 0;
		 padding: 0;
		 margin-bottom: 6pt;
	}

}
