/*
 * Profile header widget css
 */

.x-profile-header {

    .x-component & {
    	position: relative;
    	overflow: hidden;
    	clear: both;
    	padding: 10px 0px;
    }

	img { float: left; margin: 10px 0px; }
	div { margin: 10px 0px 10px 138px; }
	span{
		&.name { font-size: 3em; }
		&.bio { font-size: 1.5em; white-space: normal; }
		&.edit {
			position: absolute;
			display: none;
			right: 0px; top: 10px;
			width: 32px;
			height: 32px;
			background: url("../images/edit.png");
			cursor: pointer;
			.hover & { display: block; }
		}
	}

}




/*
 * Library section
 */
@mixin section-label-body {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 0px;
	border-bottom: 2px black solid;
}

@mixin section-button-def {
	width: 11px !important;
	height: 11px;
}

.library-section {
    clear: both;
    .label {
       	@include section-label-body;
		.x-panel-body { @include section-label-body; }

		div.x-btn {
		    float: right;
			padding: 3px !important;
			margin-left: 2px;

			button {
				@include section-button-def;
			}
			.view_style_list{
				@include section-button-def;
				background-image: url("../images/list.gif");
			}
			.view_style_grid {
				@include section-button-def;
			    background-image: url("../images/icon.gif");
			}
		}
    }
}

.mystuff-section{
	@extend .library-section;
}
