
#profile {
	padding: 75px 20% 0;
	overflow-x: hidden;
	overflow-y: auto;

	.x-container-profile {

		.profile-head{
			position: relative;

			.avatar {
				top: -45px;
				left: 3px;
				width: 200px;
				height: 200px;
				position: absolute;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				box-shadow: inset 0 0 0 1px #fff;

				&::before{
					content: ' ';
					display: block;
					position: absolute;
					border: 1px solid $border-grey;
					border-radius: 3px;
					top: -2px;
					left: -2px;
					right: -2px;
					bottom: -2px;
					background: #fff;
					box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
					z-index: -1;
				}

				.edit {
					@include animate($name: fadeIn, $duration: 0.5s, $delay: 0s);
					position: absolute;
					bottom: 0; left: 0; right: 0;
					background: rgba(0,0,0,0.3);
					color: #fff;
					text-transform: uppercase;
					padding: 5px;
					cursor: pointer;
					display: none;
					font: normal 600 10px $font;
				}

				&:hover {
					.edit {
						display: block;
					}
				}
			}

			.meta {
				margin-left: 220px;
				min-height: 170px;//Ensure the content after the meta is below the avatar
				font: normal 500 14px/24px $font;
				color: $secondary-grey;

				[data-field=role], [data-field=affiliation] {
					display: inline-block;
					white-space: nowrap;
				}

				.name {
					font: italic 300 30px/36px $font;
					color: $primary-blue;
					margin-bottom: 5px;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				.actions {
					margin: 20px 0;
					text-transform: uppercase;
					color: $tertiary-grey;
					white-space: nowrap;
					font: normal 600 10px/20px $font;

					.chat,.message,.email {
						opacity: 0.8;
						cursor: pointer;
						display: inline-block;
						padding: 0 25px 0 20px;
						position: relative;

						&:hover {
							opacity: 1;
						}

						&::after{
							content: ' ';
							position: absolute;
							top: 4px; left: 0;
							background: $icons no-repeat;
						}
					}

					.chat{
						padding-left:25px;
						&::after {
							@include sprite($icons,'activity-chat',$dimensions: true);
						}
					}
					.email::after {
						@include sprite($icons,'account-email',$dimensions: true);
					}
					.message::after {
						left: 2px;
						@include sprite($icons,'activity-comment',$dimensions: true);
					}
				}
			}
		}

		.x-panel-profile,.x-panel-body-profile {
			overflow: visible;
		}

		.profile-activity-item{
			margin: 40px 0;
			padding: 0;
			border: 1px solid $border-grey;
			box-shadow: 0 0 1px 0 rgba(0,0,0,0.3);

			@include like-and-favorite;
			.favorite-spacer{display: none;}

			.avatar {
				margin: 10px 0 10px 10px;
				float: left;
				width: 36px;
				height: 36px;
				background:{
					color: transparent;
					position: center;
					repeat: no-repeat;
					size: cover;
				}
			}

			.meta,.body,.reply-options { margin-left: 55px; }

			.context{
				padding: 30px 40px;
				display: none;
				background: $quad-grey;
				border: 1px solid $border-grey;
				border-width: 1px 0;
				position: relative;
				canvas{
					position: absolute;
					top: 0; left: 0; right: 0; bottom: 0;
				}

				& > span.text {
					font: normal 400 16px $font;
					color: $primary-grey;
					display: inline-block;
					padding: 0 15px;
					min-height: 30px;
					box-shadow: -3px 0 0 0 $tertiary-grey;
				}
			}

			.context,.body,.reply-options{ clear: both; }

			.meta{
				margin-top: 10px;
				font: normal 600 10px $font;
				color: $tertiary-grey;

				.link {
					color: $primary-blue;
				}

				.subject{
					font:{size: 14px; weight: 300;}
				}

				.stamp {
					text-transform: uppercase;
				}
			}

			.body{
				margin-top: 20px;
				font: normal 400 16px $font;
				color: $primary-grey;
				@include text-pre-wrap;
			}

			.reply-options {
				opacity: 0.4;
				color: $secondary-grey;
				text-transform: uppercase;

				.reply, .flag {
					display: inline-block;
					font: normal 700 11px/45px $font;
					height: 45px;
					margin-right: 30px;
					cursor: pointer;

					opacity: 0.75;
					&:hover {
						opacity: 1;
					}

					padding-left: 24px;
					position: relative;

					&::after {
						content: ' ';
						position: absolute;
						top: 14px; left: 0;
						overflow: hidden;
						background: $icons no-repeat;
					}
				}

				.reply::after {
					@include sprite($icons,'reply',$dimensions: true);
				}

				.flag::after {
					@include sprite($icons,'flag-13x15_hover',$dimensions: true);
				}
			}
		}
	}
}

.name-editor {
	.input-wrap, .textbox-base{
		input{
			font: normal 300 30px/36px $font;
			height: auto;
			padding-left: 10px;
		}
	}
}
