

.search-field-wrap{
	height: 62px;
	border: 1px solid #d2d2d2 !important;
	border-top-width: 0 !important;
	border-right-width: 0 !important;
	border-left-width: 0 !important;
	padding: 0;

	.search-field {
		position: absolute;
		top: 13px;
		left: 20px; right: 13px;

		box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.2);

		border: 1px solid #a0a0a0;
		border-radius: 3px;
		background: #ffffff;
		white-space: nowrap;
		overflow: hidden;

		* {
			vertical-align: middle;
		}

		input {
			background: none;
			border: none;
			padding: 7px;
			padding-right: 0;
			font: 11pt $font;
			width: 225px;
		}

		.placeholder {
			@include placeholder-style;
			position: absolute;
			top: 0; left: 0;
			font: 11pt $font;
			font-style: italic;
			margin: 7px 0 0 7px;
		}

		a.trigger {
			right:0; top:0;
			position: absolute;
			display: block;
			background: url(../images/elements/search-nib.png) left center no-repeat;
			width: 20px;
			height: 36px
		}
	}
}


.search-result-category {
	overflow: hidden;
	position: relative;
	margin: 0 0 3px 0;
	background: transparent;
	border: 1px solid #d2d2d2 !important;
	border-top-width: 0 !important;
	border-right-width: 0 !important;

	box-shadow: inset 1px 0 0 0 #ffffff,
				0 3px 0 0 #eaeaea;

	padding: 15px 12px 0 6px;

	.body {
		.search-result {
			white-space: normal;
			margin: 0 0 20px 70px;
			.title, .section {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				color: $tertiary-grey;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: 700;
			}

			.chapter {
				display: inline;
			}

			.section {
				text-transform: none;
				font-style: italic;
				font-size: 14px;
				font-weight: 600;
				padding-left: 2px;
			}

			.wrap {
				margin-top: 1em;
			}

			.name {
				@include menu-label-text-treatment;
			}

			.snippet, .noresults {
				white-space: normal;
				margin-top: 2px;
				color: $primary-grey;
				font-style: italic;
				font-size: 15px;
				span, .term {
					background: #fcff13;
					display: inline-block;
					box-shadow:
						0 0 0 2px #FCFF13,
						1px 1px 2px 2px rgba(0,0,0,0.2);
				}
			}

		}

		.see-all, .see-all a {
			color: $primary-blue;
			text-decoration: none;
			font-size: 11pt;
		}
	}
	.label {
		text-align: right;
		float: left;
		width: 60px;
		color: $secondary-grey;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 700;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#search-results {
	@include scrollbar(#ffffff, $tertiary-grey, 5px 0);
	@include fixIEScrollbarGulf();

	min-height: 40px;
	box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
	overflow-x: hidden;
	overflow-y: scroll;

	.search-result-category{
		@include animate(fadeInDown, 0.3s);
	}
	.x-mask-msg {
		top: 25px !important;
	}
}
