.search-advanced-menu {
	margin: 40px 0;

	.search-option {
		font-weight: 300;
		line-height: 1.75em;
		font-size: 1em;
		margin-right: 1.5em;
		color: $tertiary-grey;
		cursor: pointer;

		&.active {
			color: $primary-blue;
		}
	}
}

.search-results {

	.search-result, .control-item {
		background-color: white;
		margin-bottom: 10px;
	}

	.control-item {
		height: 75px;
		line-height: 75px;
		text-align: center;
		color: $primary-blue;

		&.error {
			color: $primary-red;
		}

		&.loading-container {
			position: relative;

			.loading {
				position: absolute;
				color: $primary-grey;
				line-height: 24px;//height of the spinner
				padding-left: 30px;//width of the spinner + 6px
				top: 50%; left: 50%;
				margin-top: -12px;
				margin-left: -51px;

				&::before {
					@include loadingSpinner($top: 0, $left: 0);
				}
			}
		}
	}

	.search-result {
		padding: 10px;

		.title {
			color: $primary-blue;
			font-size: 1.25em;
		}

		.fragments {
			font-size: 0.875em;

			.fragment {
				line-height: 2em;
				span, .term {
					font-weight: 700;
					font-size: 0.9rem;
				}
			}
		}
	}
}



.search-field-wrap {
	padding: 0;

	.search-field {
		border: 1px solid #e7e7e7;
		border-radius: 3px;
		background: #f5f5f5;
		margin: 18px 0;
		white-space: nowrap;
		overflow: hidden;
		position: relative;


		* {
			vertical-align: middle;
		}

		input {
			background: none;
			border: none;
			padding: 7px;
			padding-right: 0;
			font: 11pt $font;
			width: 100%;

			&::-webkit-input-placeholder ,
			&::-moz-placeholder { /* Firefox 18- */
				   color: red;  
			}
		}

		a.trigger {
			display: none;
			right:0; top:0;
			position: absolute;
			background: url(../images/elements/search-nib.png) left center no-repeat;
			width: 20px;
			height: 36px
		}

		.search-icon {
			top: 0; right: 0;
			height: 36px;
			width: 25px;
			cursor: pointer;

			@include icon('rhp-search', $position: absolute, $top: 9px, $left: 0);
		}
	}
}


.search-result-category {
	overflow: hidden;
	position: relative;
	margin: 0 0 3px 0;
	background: transparent;
	border: 1px solid #d2d2d2 !important;
	border-top-width: 0 !important;
	border-right-width: 0 !important;

	box-shadow: inset 1px 0 0 0 #ffffff,
				0 3px 0 0 #eaeaea;

	padding: 15px 12px 0 6px;

	.body {
		margin: 0 0 0 70px;

		.search-result {
			white-space: normal;
			margin: 0 0 20px 0;
			cursor: pointer;
			.title, .section {
				//Do we want search hits to not show the whole title?
				@include ellipse;
				overflow: hidden;
				color: $tertiary-grey;
				font-size: 10px;
				text-transform: uppercase;
				font-weight: 700;
			}
			
			.chapter {
				display: inline;
			}

			.section {
				text-transform: none;
				font-style: italic;
				font-size: 14px;
				font-weight: 600;
				padding-left: 2px;
			}

			.wrap {
				margin-top: 1em;
			}

			.name {
				@include menu-label-text-treatment;
			}

			.fragments, .noresults {
				white-space: normal;
				margin-top: 2px;
				color: $primary-grey;
				font-style: italic;
				font-size: 15px;
				.fragment{
					margin-top: 1em;
				}
				span, .term {
					background: #fcff13;
					display: inline-block;
					box-shadow:
						0 0 0 2px #FCFF13,
						1px 1px 2px 2px rgba(0,0,0,0.2);
				}
			}

		}
		
		.search-result-post{
			.tags{
				margin-top: 1em;
				overflow: hidden;
				@include ellipse;
			}
		}	
		
		.see-all, .see-all a {
			color: $primary-blue;
			text-decoration: none;
			font-size: 11pt;
		}
	}
	.label {
		text-align: right;
		float: left;
		width: 60px;
		color: $secondary-grey;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 700;
		overflow: hidden;
		@include ellipse;
	}
}

#search-results {
	@include scrollbar(#ffffff, $tertiary-grey);
	@include fixIEScrollbarGulf();

	min-height: 40px;
	box-shadow: inset 0px 6px 6px -4px rgba(0, 0, 0, 0.2);
	overflow:{
		x: hidden;
		y: auto; //scroll;
	}

	.search-result-category{
		@include animate(fadeInDown, 0.3s);
	}
	.x-mask-msg {
		top: 25px !important;
	}
}
