

.sidebar{
	box-shadow: inset 0 1px 0 1px white,0 2px 2px rgba(0, 0, 0, 0.45);
	border: 1px solid #cacaca;
	border-bottom-width: 0;


	&.undocked {
		border-radius: 5px 5px 0 0;
		.x-panel-body-sidebar{
			border-radius: 5px 5px 0 0;
		}
	}

	.gripper {
		border-radius: 5px 5px 0 0;
		min-height: 28px;
		line-height: 28px;
		@include menu-label-text-treatment;
		padding-left: 15px;

		img.tool {
			position: absolute;
			opacity: 0.5;
			cursor: pointer;
			background: $icons no-repeat;
			@include sprite($icons,'window-control-minimize',$dimensions: true);

			&:hover{ opacity: 1; }

			&.maximize {
				top: 9px;
				right: 10px;
				@include sprite($icons,'window-control-restore',$dimensions: true);
			}

			&.minimize {
				top: 9px;
				right: 30px;
			}
		}
	}

	.x-panel-body-sidebar{
		background: #fafafa;
		background: rgba(250,250,250,0.97);
	}

	.x-mask-msg {
		.x-mask-msg-inner {
			left: 0%;
		}
	}
}


.sidebar-tab-bar-sidebar {
	background: #f3f3f3;
	padding: 0 0 0 10px;
	border: 1px solid #dddddd;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px !important;
	box-shadow: inset 0 -1px 0 0 #f7f7f7;

	&::after {
	    content: '';
	    display: block;
	    position: absolute;

	    bottom: -1px;
	    left: 0;
	    right: 0;
	    height: 10px;
	    overflow: hidden;

	    box-shadow: 0 3px 3px -3px rgba(0,0,0,0.2);
	}

	div.x-tab {
		margin: 0 9px 0 0;
		width: 40px;
		height: 55px;

		.x-tab-wrap {
			padding: 0;
		}

		&,&.x-tab-top {
			background: none;
		}

		.badge {
			position: absolute;
			top: 2px;
			right: -5px;
			font: italic 500 12px $font;
			color: #d9d9d9;
			z-index: 10;
		}

		a {
			position: relative;
			width: 50px;
			height: 55px;
			overflow: hidden;

			&:active { left: 0; top: 0; }

			.x-tab-inner { display: none; }
		}
	}

	span.x-tab-icon-el {
		top: 18px;
		background: $icons no-repeat;

		&.contacts { left: 7px; @include sprite($icons, 'rhp-contacts', $dimensions: true); }
		&.activity { left: 9px; @include sprite($icons, 'rhp-activity', $dimensions: true); }
		&.inbox { left: 11px; @include sprite($icons, 'rhp-inbox', $dimensions: true); }

		&.history { left: 10px; @include sprite($icons, 'rhp-history', $dimensions: true); }
	}


	.x-tab-top-active{
		background: none;
		button span.x-tab-inner{ color: #b1b1b1; }
		span.x-tab-icon-el{
			&.contacts { @include sprite($icons, 'rhp-contacts_active', $dimensions: true); }
			&.activity { @include sprite($icons, 'rhp-activity_active', $dimensions: true); }
			&.inbox { @include sprite($icons, 'rhp-inbox_active', $dimensions: true); }

			&.history { @include sprite($icons, 'rhp-history_active', $dimensions: true); }
		}
	}
}
