

.sidebar{

	&.undocked {
		border-radius: 5px 5px 0 0;
		box-shadow: inset 0 1px 0 1px white,0 2px 2px rgba(0, 0, 0, 0.45);
		border: 1px solid #cacaca;
		border-bottom-width: 0;
		.x-panel-body-sidebar{
			border-radius: 5px 5px 0 0;
		}
	}

	.gripper {
		border-radius: 5px 5px 0 0;
		min-height: 28px;
		line-height: 28px;
		@include menu-label-text-treatment;
		padding-left: 15px;

		img.tool {
			position: absolute;
			opacity: 0.5;
			cursor: pointer;
			background: $icons no-repeat;
			@include sprite($icons,'window-control-minimize',$dimensions: true);

			&:hover{ opacity: 1; }

			&.maximize {
				top: 9px;
				right: 10px;
				@include sprite($icons,'window-control-restore',$dimensions: true);
			}

			&.minimize {
				top: 9px;
				right: 30px;
			}
		}
	}

	.x-panel-body-sidebar{
		background: #fafafa;
		background: rgba(250,250,250,0.97);
	}
}



.sidebar-tab-bar-sidebar-plain {
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, #575757 0%,#424242 100%));

	padding: 0 0 0 15px;

	div.x-tab {
		margin: 0 9px 0 0;
		width: 50px;
		height: 55px;

		em {
			padding: 0;
		}

		&,&.x-tab-top {
			background: none;
		}

		button {
			position: relative;
			width: 50px;
			height: 55px;
			overflow: hidden;

			&:active { left: 0; top: 0; }


			.x-tab-inner {
				text-transform: uppercase;
				font: normal 700 10px/10px $font;
				color: #868686;
				z-index: 1;
				padding:0;
				display: block;
				position: absolute;
				bottom: 6px; left: 0; right: 0;
				text-align: center;
			}
		}
	}

	span.x-tab-icon {
		top: 10px;
		background: $icons no-repeat;

		&.contacts { left: 7px; @include sprite($icons, 'tab-chat', $dimensions: true); }
		&.activity { left: 9px; @include sprite($icons, 'tab-activity', $dimensions: true); }
		&.history { left: 12px; @include sprite($icons, 'tab-history', $dimensions: true); }
		&.inbox { left: 11px; @include sprite($icons, 'tab-inbox', $dimensions: true); }
	}


	.x-tab-top-active{
		background: none;
		button span.x-tab-inner{ color: #b1b1b1; }
		span.x-tab-icon{
			&.contacts { @include sprite($icons, 'tab-chat_active', $dimensions: true); }
			&.activity { @include sprite($icons, 'tab-activity_active', $dimensions: true); }
			&.history { @include sprite($icons, 'tab-history_active', $dimensions: true); }
			&.inbox { @include sprite($icons, 'tab-inbox_active', $dimensions: true); }
		}
	}
}
