
.x-container-slidedeck{

	&.overlay{
		background: rgba(0,0,0,0.85);
	}

	&.view {
		.exit-button {
			border-radius: 3px;
			border: 1px solid black;
			padding: 10px 16px;

			cursor: pointer;

			position: absolute;
			top: 10px; right: 10px;

			font-family: $font;
			font-size: 14px;
			font-weight: 500;

			color: $tertiary-grey;
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top,  rgba(70,70,70,1) 0%,rgba(58,58,58,1) 100%));


			box-shadow: inset 0 1px 0px 0px rgba(255,255,255,0.13),
							0 2px 0px 0px rgba(255,255,255,0.12);

			&:active, &:target {
				@include background-image(linear-gradient(top, rgba(58,58,58,1) 0%, rgba(70,70,70,1) 100%));
			}
		}
	}
}
