.resource-not-found{
	border: 1px solid black;
	border-radius: 3px;
	padding: 16px;

	.heading{
		border-bottom: 1px solid black;
		padding-bottom: 7px;
  		margin-bottom: 15px;
   		font-weight: 500;
	}

}
