.stream {
	-webkit-font-smoothing: antialiased;
	
	.item {
		&.loading, &.empty, &.done, &.error {
			position: relative;
			background-color: white;
			height: 50px;
			margin-top: 5px;
		}

		&.loading {
			.container-loading-mask {
				background: white;

				.load-text {
					color: $primary-grey;
					top: 25%;
				}
			}
		}

		&.error {
			.error-text {
				text-align: center;
				line-height: 50px;
				color: $primary-red;
			}
		}
	}

	.loading-container {
		height: 50px;
		position: relative;

		.loading {
			position: absolute;
			color: $primary-grey;
			line-height: 24px;//height of the spinner
			padding-left: 30px;//width of the spinner + 6px
			top: 50%; left: 50%;
			margin-top: -12px;
			margin-left: -51px;

			&::before {
				@include loadingSpinner($top: 0, $left: 0);
			}
		}
	}

	.error-container {
		height: 50px;
		line-height: 50px;
		text-align: center;
		color: $primary-red;
	}

	.body-content {
		position: relative;
		padding: 20px;
		overflow: hidden;

		.controls {
			position: absolute;
			right: 0;
			top: 1px;

			@include like-and-favorite;
		}

		.meta {
			.avatar {
				width: 60px;
				height: 60px;
				float: left;

				.avatar-pic {
					border-radius: 5px;
				}
			}

			.content {
				min-height: 60px;
				margin: 0 70px 0 80px;

				.title {
					cursor: pointer;
					font: normal 300 1.75em/35px $font;
					color: $primary-grey;
					max-width: 100%;
					overflow: hidden;
					margin-bottom: 5px;
					@include ellipsis;
				}

				.list-item {
					font-size: 0.75em;
				}
			}
		}

		.list-item {
			float: left;
			color: $tertiary-grey;
			font-size: 0.875em;

			&:not(:first-of-type)::before {
				content: '\00B7';
				color: $tertiary-grey;
				display: inline;
				margin: 0 0.5em;
			}

			&.blue {
				color: $primary-blue;
			}

			&.link {
				cursor: pointer;
				opacity: 0.75;

				&:hover {
					opacity: 1;
				}
			}
		}

		.body {
			margin: 20px 0;
			font: normal 400 1em/1 $font;
			color: $primary-grey;
		}
	}

	.add-comment {
		box-shadow: inset 0 1px 0 0 white;
		padding: 10px;
		border: 1px solid #eaeaea;
		background: $panel-background;

		div {
			cursor: pointer;
			padding: 0 10px;
			background: white;
			color: $primary-blue;
			font: italic 400 0.875em/37px $font;
			border: 1px solid #dcdcdc;
		}
	}
}