.nti-profile-tabbar-plain {
	border: 0 solid $border-grey;
	border-width: 1px 0 1px !important;

	.x-tab-profile-tab {
		background: transparent;
		margin: 0;
		border: 0 !important;
		height: 50px;
		.x-tab-inner {
			color: $tertiary-grey;
			font: italic 500 18px/50px $font;
			text-transform: uppercase;
			padding: 0 6px;
		}

		em{padding: 0;}

		&.x-tab-active {
			box-shadow: inset 0 -4px 0 0 #85b746;
			.x-tab-inner {
				color: #85b746;
			}
		}

		& + .x-tab-profile-tab{
			margin-left: 30px;
		}
	}
}

.nti-content-tabbar-plain {
	border-top: 1px solid #f1f1f1 !important;

	.nti-body-content-tabbar{

		.x-tab-content-tab {
			background: #ffffff;
			border: 1px solid #f1f1f1;
			border-right-width: 0 !important;
			border-top-width: 0 !important;
			height: 32px;
			margin: 0 !important;

			&:last-of-type {
				border-right-width: 1px !important;
			}
			em {padding: 0 15px;}
			.x-tab-inner {
				color: $secondary-grey;
				font: 12px/32px $font !important;
				text-transform: uppercase;
			}

			&.x-tab-active {
				background: #ffffff;
				.x-tab-inner {
					color: #85b746;
					font-weight: 600 !important;
				}
			}

		}
	}
}


.nti-secondary-tabbar-plain {
	div.x-tab {
		&.x-tab-top-active {
			$experimental-support-for-svg: true;
			@include background-image(linear-gradient(top, #6dae1d 0%,#8fd03f 100%));

			box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);

			.x-tab-inner {
				color: #ffffff;
			}
		}

		margin: 0 0 20px 0;
		height: 31px;

		border: 1px solid #cfcfcf;
		border-right-width: 0 !important;
		border-left-width: 0 !important;


		background: #ebebeb;
		$experimental-support-for-svg: true;
		@include background-image(linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.65) 100%));
		box-shadow: 0 1px 0 0 #ffffff, inset 0 2px 0 0 rgba(255,255,255,0.4);

		em {padding: 0;}

		button {
			.x-ie & {&,&:active {
				left: 0;
				top: 0;
				overflow-x: hidden;
				overflow-y: hidden;
			}}
			overflow: hidden;
		}

		.x-tab-inner {
			display: inline-block;
			padding: 0 15px 0 15px;
			text-align: center;
			text-transform: uppercase;
			color: $primary-grey;
			font-size: 10px;
			line-height: 28px;
			font-weight: 600;
			font-style: normal;
			font-family: $font;
		}

		&:first-of-type {
			border-left-width: 1px !important;
			border-radius: 5px 0 0 5px;
			.x-tab-inner {
				text-align: right;
				padding-left: 20px;
			}
		}

		&:last-of-type {
			border-right-width: 1px !important;
			border-radius: 0 5px 5px 0;
			.x-tab-inner {
				text-align: left;
				padding-right: 20px;
			}
		}
	}
}


.x-panel-body-secondary-tabpanel {
	.x-panel-body-default{
		background: transparent;
	}
}


