$tokens-sprite: url(../images/old_sprites/spr_groups_light.png);

div.nt-token-wrapper{
	display: inline-block;
	* {
		font-size: 12px;
	}

	.nt-token {
		background: #1DA1D8;
		background: -moz-linear-gradient(top,#28AFE7,#1192C8);
		background: -o-linear-gradient(top,#28AFE7,#1192C8);
		background: -webkit-gradient(linear,left top,left bottom,from(#28AFE7),to(#1192C8));
		border: 1px solid #057BAC;
		border-radius: 3px;
		display: inline-block;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		color: white;
		margin: 2px;
		outline: none;
		padding: 0 1px;
		vertical-align: middle;
		cursor: default;

		opacity: 1;

		&.nt-token-public {
			background: #67AE3F;
			background: -moz-linear-gradient(top,#77BB4E,#57A02F);
			background: -o-linear-gradient(top,#77BB4E,#57A02F);
			background: -webkit-gradient(linear,left top,left bottom,from(#77BB4E),to(#57A02F));
			border: 1px solid #3F980E;

			.nt-token-body { border-color: #9BCE7C; }
		}

		.nt-token-body {
			display: inline-block;
			padding: 0 2px 5px 5px;
			border-top: 1px solid #61C8EE;

			.nt-token-label { vertical-align: middle; }

			.nt-token-nib {
				background-image: $tokens-sprite;
				background-repeat: no-repeat;
				display: inline-block;
				height: 13px;
				vertical-align: middle;
				width: 13px;

				&.nt-token-nib-person { display: none; }
				&.nt-token-nib-public { background-position: 0 0; font-weight: bold;}
				&.nt-token-nib-group { background-position: -14px -14px; font-weight: bold;}
			}

			.nt-token-nib-end {
				background-position: -28px 0;
				height: 7px;
				width: 7px;
				margin: 3px;
				cursor: pointer;
			}

		}
	}
}
