

@mixin chat-history-item {
	margin: 15px;
	padding-left: 30px;
	position: relative;
	overflow: hidden;

	&::after{
		position: absolute;
		top: 5px;
		left: 5px;
		content: ' ';
		height: 14px;
		width: 18px;
		background: url(../images/old_sprites/spr_activity_icons.png) -2px -24px no-repeat;
	}

	.occupants {
		@include menu-label-text-treatment;
		color: $primary-blue;
		line-height: 20px;
	}

	.time {
		font-size: 12px;
		font-family: $font;
		font-weight: normal;
		color: $secondary-grey;
	}
}

.nti-alert {
	.history {
		&.chat {
			@include chat-history-item;
			background: #fbfbfb;
			border: 1px solid #eaeaea;
			border-radius: 6px;
			padding: 10px 20px 10px 30px;
			margin-left: 0;
			&::after {
				top: 13px;
				left: 10px;
			}

			.occupants{
				font-weight: 700;
				font-size: 9px;
			}
			.time {
				font-weight: 700;
				font-size: 9px;
				.started { display: none; }
			}
		}
	}
}

.user-data-panel {

	@include divider;

	//add some space between all dividers and the first history
	.divider + .history {
		padding-top: 12px;
	}

	.history{
		&.nothing{
			color: $tertiary-grey;
			text-align: center;
			font-family: $font;
			font-size: 10px;
			font-weight: 600;
		}

		&.chat{
			@include chat-history-item;
			.time {
					.date { display: none; }
			}
		}

		&.note,
		&.highlight,
		&.favorite{
			margin: 0 20px;

			.path,.location {
				color: $tertiary-grey;
				font-family: $font;
			}

			.path {
				font-size: 10px;
				font-weight: 600;
				text-transform: uppercase;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.location {
				font-size: 14px;
				font-weight: 500;
				font-style: italic;
				margin: 2px 0 8px;
			}

			.body {
				padding: 0 15px 32px 32px;
				margin-left: -20px;
				font-family: 'Droid Serif' serif !important;
				font-size: 14px;
				font-weight: normal;
				color: $primary-grey;
				word-wrap: break-word;

				position: relative;

				&::before {
					content: ' ';
					overflow: hidden;
					position: absolute;
					top: 0; left: 15px;
					background: transparent $backdrops no-repeat;
					@include sprite($backdrops,'ldquo',$dimensions: true);
				}

				&::after{
					content: ' ';
					display: inline-block;
					margin-left: 5px;
					background: transparent $backdrops no-repeat;
					@include sprite($backdrops,'rdquo',$dimensions: true);
				}
			}
		}

		&.highlight{
			.body {
				span {
					color: #136ea5;
					background: #e1f2fc;
					line-height: 25px;
					padding: .25em;
				}

				background: none;
				&::after{
					content: ' ';
					display: none;
				}
			}
		}
	}
}
