@import "variables";


.user-data-panel {

	@include divider;

	.history{
		&.nothing{
			color: $tertiary-grey;
			text-align: center;
			font-family: $font;
			font-size: 10px;
			font-weight: 600;
		}

		&.chat{
			margin: 15px;
			padding-left: 30px;
			position: relative;
			overflow: hidden;

			&::after{
				position: absolute;
				top: 5px;
				left: 5px;
				content: ' ';
				height: 14px;
				width: 18px;
				background: url(../images/activity-icons.png) -2px -24px no-repeat;
			}

			.occupants {
				@include menu-label-text-treatment;
				color: $primary-blue;
				line-height: 20px;
			}

			.time {
				font-size: 12px;
				font-family: $font;
				font-weight: normal;
				color: $secondary-grey;
			}
		}

		&.note{
			margin: 0 20px;

			.path,.location {
				color: $tertiary-grey;
				font-family: $font;
			}

			.path {
				font-size: 10px;
				font-weight: 600;
				text-transform: uppercase;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.location {
				font-size: 14px;
				font-weight: 500;
				font-style: italic;
				margin: 2px 0 8px;
			}

			.body {
				padding: 0 15px 32px 32px;
				margin-left: -20px;
				font-family: 'Droid Serif' serif !important;
				font-size: 14px;
				font-weight: normal;
				color: $primary-grey;
				word-wrap: break-word;
				background: url(../images/ldquo.png) 15px 0 no-repeat;

				&::after{
					content: url(../images/rdquo.png);
					display: inline-block;
					margin-left: 5px;
				}
			}
		}
	}
}
