@import "variables";


.user-data-panel {

	.divider {
		margin: 10px 20px;
		color: $secondary-grey;
		text-align: center;
		font-family: $font;
		font-size: 10px;
		font-weight: 700;
		text-transform: uppercase;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		display: block;
		position: relative;
		outline: hidden;

		span {
			background: #fafafa;
			background: rgba(250, 250, 250, 0.97);
			position: relative;
			display: inline-block;
			z-index: 2;
			padding: 0 3px;
		}
		
		&::after{
			content: ' ';
			position: absolute;
			width: 100%;
			background: #eaeaea;
			border-bottom: 1px solid #ffffff;
			height: 1px;
			top: 50%; left: 0;
			z-index: 1;
		}
	}

	.history{
		&.nothing{
			color: $tertiary-grey;
			text-align: center;
			font-family: $font;
			font-size: 10px;
			font-weight: 600;
		}

		&.note{
			margin: 0 20px;

			.path,.location {
				color: $tertiary-grey;
				font-family: $font;
			}

			.path {
				font-size: 10px;
				font-weight: 600;
				text-transform: uppercase;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}

			.location {
				font-size: 14px;
				font-weight: 500;
				font-style: italic;
				margin: 2px 0 8px;
			}

			.body {
				padding: 0 15px 32px 32px;
				margin-left: -20px;
				font-family: 'Droid Serif' serif !important;
				font-size: 14px;
				font-weight: normal;
				color: $primary-grey;
				word-break: break-all;
				word-wrap: break-word;
				background: url(../images/ldquo.png) 15px 0 no-repeat;

				&::after{
					content: url(../images/rdquo.png);
					display: inline-block;
					margin-left: 5px;
				}
			}
		}
	}
}
