$backdrops: sprite-map("backdrops/*.png",$layout:smart);
$icons: sprite-map("icons/*.png",$layout:smart);
$elements: sprite-map("elements/*.png",$layout:smart);
$file-types: sprite-map("file-types/*.png",$layout:smart);

$font: 'Open Sans', sans-serif;

$loading-indicator:			url(../images/elements/ajax-loader.gif);
$data-view-over-bg:			url(../images/elements/over.gif);
$data-view-selected-bg:		url(../images/elements/selected.gif);


//colors
$primary-grey: #494949;
$secondary-grey: #757474;
$tertiary-grey: #b8b8b8;
$quad-grey: #f8f8f8;

$primary-red: #F35252;
$secondary-red: #750000;
$primary-blue: #3fb3f6;
$primary-green: #8eb737;

$border-blue: #39a1dd;
$border-grey: #dbdbdb;

$toast-border-top: #78caf9;


@import "common-mixins";
@import "sprites";
