$ext: '../lib/ext-4.0.7';
//$ext: '../lib/ext-4.1.0-rc1';

//the python parser is converting blindly gray to #808080... so had to break up the string so it wouldn't find it.
$exttheme: '#{$ext}/resources/themes/images/g'+'ray';
$exticons: '#{$ext}/examples/shared/icons/fam';


//icons
$uploading-file-icon-generic: url(../images/upload.png);
$file-type-unknown:			url(../images/file-types/unknown.png);
$file-type-unknown-large:	url(../images/file-types/unknown-64.png);
$file-type-ai:				url(../images/file-types/ai.png);
$file-type-doc:				url(../images/file-types/doc.png);
$file-type-pdf:				url(../images/file-types/pdf.png);
$file-type-pps:				url(../images/file-types/pps.png);
$file-type-ppt:				url(../images/file-types/ppt.png);
$file-type-swf:				url(../images/file-types/swf.png);
$file-type-xls:				url(../images/file-types/xls.png);
$file-type-zip:				url(../images/file-types/zip.png);

$loading-indicator:			url(../images/ajax-loader.gif);
$tokens-sprite:				url(../images/token-sprite.png);

$header-logo:				url(../images/ntbanner.png);
$mode-button-sprite:		url(../images/nti-pc-icons-masthead.png);

$session-my-account-icon:	url(../images/user_silhouette.gif);
$session-logout-icon:		url(../images/sign-in.gif);
$session-settings-icon:		url(../images/gear.png);
$session-notice-box:		url(../images/notify.png);

$filter-who-icon-sprite:	url(../images/filters/WhoIcons.png);
$filter-type-unknown-icon:	url(../images/filters/unkown.png);
$filter-type-note-icon:		url(../images/filters/note-type.png);
$filter-type-highlight-icon:url(../images/filters/highlight-type.png);
$note-action-chat-icon:		url(../images/chat/chat-16.png);
$note-action-delete-icon:	url(../images/chat/delete-16.png);
$note-action-edit-icon:		url(../images/chat/edit-16.png);
$note-action-reply-icon:	url(../images/chat/re-16.png);
$note-action-share-icon:	url(../images/chat/share-16.png);
$note-action-mute-icon:		url(../images/chat/mute-16.png);
$note-seperator-icon:		url(../images/draw/seperator_16.png);
$note-whiteboard-icon:		url(../images/draw/whiteboard_16.png);

$empty-reader-bg:			url(../images/empty-content.png);
$empty-class-resources-bg:	url(../images/folder_web_upload.png);
$data-view-over-bg:			url(../images/over.gif);
$data-view-selected-bg:		url(../images/selected.gif);

$delete-action:				url(#{$exticons}/delete.gif);
$app-goto: 					url(#{$exticons}/application_go.png);

$arrow-right:				url(#{$exttheme}/menu/menu-parent.gif);
$next-arrow-disabled:		url(../images/page-next-disabled.gif);
$prev-arrow-disabled:		url(../images/page-prev-disabled.gif);
$next-arrow:				url(../images/page-next.gif);
$prev-arrow:				url(../images/page-prev.gif);

$ext-text-entry:			url(#{$exttheme}/form/text-bg.gif);
$script-entry-promot-icon:	url(../images/chat/script-promote-16.png);
$chat-icon:					url(../images/chat/speachbubble.png);
$chat-menu-icon:			url(../images/chat/chat-16.png);
$chat-pin:					url(../images/chat/chat-pin-64.png);
$chat-reply-public:			url(../images/chat/re-32.png);
$chat-reply-whisper:		url(../images/chat/whisper-16.png);
$flag-icon:					url(../images/chat/flag-16.png);
$flag-icon-disabled:		url(../images/chat/flag-16-disabled.png);
$presences-offline:			url(../images/core/offline.png);
$presences-online:			url(../images/core/online.png);
$shadow-menu-icon:			url(../images/chat/shadow-user-16.png);
$reply-to-button-icon:		url(../images/chat/submit-22.png);
$compose-message-icon:		url(../images/chat/compose-message.png);
$switch-to-classroom-icon:	url(../images/chat/classroom-22.png);
$object-explorer-icon:		url(../images/objects16.png);

$whiteboard-tools-sprite:	url(../images/draw/sprite.png);

//charms
$charm-note-icon: 			url(../images/charms/note-white.png);
$charm-highlight-icon:  	url(../images/charms/highlight-white.png);
$charm-quizresult-icon:  	url(../images/charms/quiz-results.png);
$charm-chattranscript-icon:	url(../images/charms/chat-transcript.png);



//colors
$panel-background: white;
$ui-link-color: #222;
$external-link-color:  #7889A3;
$border-color: #ccc;
$hover-background-color: #7889A3;
$hover-foreground-color: white;

$read-background-color: #D8D8D8;
$read-foreground-color: inherit;
$unread-background-color: white;
$unread-foreground-color: inherit;

$tracker-tip-background: white;

$shadowed-background-color: #f2eeee;
$shadowed-foreground-color: white;
$shadowed-hover-background-color: #cecece;
$shadowed-hover-foreground-color: black;

$promoted-background-color: #cecece;
$promoted-foreground-color: inherit;

$flagged-background-color: #ffdddd;
$flagged-foreground-color: black;
$flagged-hover-background-color: #fa8072;
$flagged-hover-foreground-color: black;

$timestamp-color: #7a7a7a;
$name-label-color: #7889A3;
$transcript-placeholder-text-color:#444;
