
.x-panel-video.videos {
	overflow: visible;
	background: #2b2b2b;
	box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.6);
}
.component-overlay .x-panel-image-roll,
.component-overlay .x-panel-video-roll {
	padding: 0;
	border: 1px solid #bcbcbc;
	border-radius: 1px;
	background: #fafafa;

	& > .x-panel-body-image-roll,
	& > .x-panel-body-video-roll {
		padding: 0;
		color: $primary-grey;

		.carousel {
			background: none;
			padding: 0 10px;
			height: 105px;

			.item-wrap {
				display: inline-block;
				line-height: 0;
				overflow: hidden;
				cursor: pointer;
				padding: 0px;
				margin: 15px 10px;
				border: 1px solid $tertiary-grey-alt;
				box-shadow: 2px 3px 1px 0 rgba(0,0,0,0.13);

				&.x-item-selected {
					img.item{
						box-shadow: inset 0 0 0 5px $primary-blue;
					}
				}

				&.over {
					img.item {
						box-shadow: inherit;
					}
				}

				img.item {
					width: 128px;
					height: 73px;
					box-shadow: none;
				}
			}
		}

		.fade-outs {
			overflow: visible;

			* {position: absolute; bottom: 0; width: 20px; height: 109px; z-index: 2;}

			.left {
				@include background-image(linear-gradient(left,  rgba(250,250,250,1) 0%,rgba(250,250,250,0) 80%,rgba(250,250,250,0) 100%));
				left: 0;
			}

			.right {
				right: 0;
				@include background-image(linear-gradient(left,  rgba(250,250,250,0) 0%,rgba(250,250,250,0) 20%,rgba(250,250,250,1) 100%));
			}
		}
	}
}

.component-overlay .x-panel-image-roll,
.component-overlay .x-panel-video-roll,
.x-panel-video.videos {

	.close {
		top: -34px;
		right: -34px;
		position: absolute;

		background: transparent $icons no-repeat;
		@include sprite($icons,'close_popup',$dimensions: true);
		cursor: pointer;
		box-shadow: 0 0 10px 5px #ffffff;
		border-radius: 90px;
	}

	.carousel {
		height: 115px;
		background: #2b2b2b;
		padding: 10px 15px;
		position: relative;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;

		.item-wrap {
			position: relative;
			overflow: hidden;
			//float: left;
			margin: 10px;

			&.x-item-selected::after {
				position: absolute;
				top: 25px; left: 25px;
				content: ' ';
				z-index: 1;
				background: transparent $icons no-repeat;
				@include sprite($icons,'now_playing',$dimensions: true);
			}

			&.x-item-selected,
			&.over {
				img.item {
					box-shadow: inset 0 0 0 3px #d7d7d7;
				}
			}

			img.item {
				width: 130px;
				height: 75px;
				background-position: center;
				background-size: cover;
				box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
			}
		}
	}
}


.component-overlay .x-panel-image-roll{
	.carousel {
		.item-wrap.x-item-selected::after{display: none;}
	}
}
