
.x-color-picker {
	height: 108px !important;
}



.x-btn-icon.color-none {
	background: #ffffff $whiteboard-color-none no-repeat 0 0;
}

a.color-NONE {
	em {
		span {
			background: #ffffff $whiteboard-color-none-sm no-repeat 0 0;
		}
	}
}

.whiteboard-toolbar {

    .x-form-item {
		margin: 0;
    }

    .x-btn {
        button{
            .x-ie & {
            	overflow: hidden;
            }
			.x-btn-inner {
				padding-left: 30px !important;
			}
			.x-btn-icon{

				&.tool{
					background: $whiteboard-tools-sprite;
					width: 24px !important;
					height: 24px !important;

					&.circle { background-position:  0 0;  }
					&.clear { background-position:  0 -24px;  }
					&.delete { background-position:  0 -48px;  }
					&.image { background-position:  0 -72px;  }
					&.line { background-position:  0 -96px;  }
					&.hand { background-position:  0 -120px;  }
					&.path { background-position:  0 -144px;  }
					&.poly { background-position:  0 -168px;  }
					&.text { background-position:  0 -208px;  }
					&.seperator_16 { background-position:  0 -192px;  }
					&.whiteboard_16 { background-position:  0 -232px;  }								

				}
			}
		}
	}
}

.whiteboard .x-surface {
	cursor: crosshair;
}

.body-divider {
	position: relative;

	img.whiteboard-thumbnail {
		width: 150px;
		height: auto !important;
		.x-chat-log-entry &,
		.x-chat-log-entry-pinnded & {
			width: 90%;
        }
	}

	a.whiteboard-magnifier {
		display: none;
		background: $magnifying-glass;
  		width: 24px;
  		height: 24px;
  		position: absolute;
  		top: 0;
  		left: 125px;
	}

	&:hover {
	    a.whiteboard-magnifier {
			display: block;
			.x-chat-log-entry &,
			.x-chat-log-entry-pinnded &	{
				display: none;
			}
		}
	}
}

