
.x-color-picker {
	height: 108px !important;
}


@mixin color-none{
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 40%, rgba(255,0,0,1) 50%, rgba(255,255,255,1) 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(40%,rgba(255,255,255,1)), color-stop(50%,rgba(255,0,0,1)), color-stop(60%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 40%,rgba(255,0,0,1) 50%,rgba(255,255,255,1) 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 40%,rgba(255,0,0,1) 50%,rgba(255,255,255,1) 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 40%,rgba(255,0,0,1) 50%,rgba(255,255,255,1) 60%); /* IE10+ */
	background: linear-gradient(-45deg,  rgba(255,255,255,1) 40%,rgba(255,0,0,1) 50%,rgba(255,255,255,1) 60%); /* W3C */
}

.x-btn-icon.color-none {
	@include color-none;
}

a.color-none {
	em {
		span {
			@include color-none;
		}
	}
}

.whiteboard-toolbar {
    .x-btn {
        button{
			.x-btn-inner {
				padding-left: 30px !important;
			}
			.x-btn-icon{

				&.tool{
					background: $whiteboard-tools-sprite;
					width: 24px !important;
					height: 24px !important;

					&.circle { background-position: 0 -0px; }
					&.clear { background-position:  0 -24px; }
					&.delete { background-position:  0 -48px; }
					&.line { background-position:  0 -72px; }
					&.hand { background-position:  0 -96px; }
					&.path { background-position:  0 -120px; }
					&.poly { background-position:  0 -144px; }
					&.text { background-position:  0 -184px; }
					&.seperator_16 { background-position:  0 -168px; }
					&.whiteboard_16 { background-position: 0 -208px; }

				}
			}
		}
	}
}

.whiteboard .x-surface {
	cursor: crosshair;
}

.body-divider {
	position: relative;

	img.whiteboard-thumbnail {
		width: 150px;
		height: auto !important;
		.x-chat-log-entry &{
			width: 90%;
        }
	}

	a.whiteboard-magnifier {
		display: none;
		background: $magnifying-glass;
  		width: 24px;
  		height: 24px;
  		position: absolute;
  		top: 0;
  		left: 125px;
	}

	&:hover {
	    a.whiteboard-magnifier {
			display: block;
			.x-chat-log-entry &{
				display: none;
			}
		}
	}
}

