
.nti-window {
    background-color: #fcfcfc;
	box-shadow: 3px 3px 6px -3px #cccccc;
	border-radius: 5px;
	border: 1px solid #dbdbdb;
	overflow: hidden;

	iframe {
		border-radius: 5px;
        &.padded {
            margin: 15px;
        }
	}

	.x-window-body {
		border-radius: 5px;
		border: none !important;
		border-width: 0 !important;
	}

	.nti-window-header {
		border-radius: 5px 5px 0 0;
		background: transparent;
		border-bottom: 1px solid #ffffff;
		box-shadow: inset 0px -1px 0px 0px #F6F5F5;

		.header-body {
			border-radius: 5px 5px 0 0;
			position: relative;
			overflow: hidden;
			span {
				@include menu-label-text-treatment;
				padding: 8px 10px;
				float: left;
				display: inline-block;
			}

			.tools {
				float: right;
				padding: 5px;

				img.tool {
					margin: 2px 7px;
					width: 14px;
					height: 14px;
					cursor: pointer;
				}
			}

			.controls {
				border-radius: 0 5px 0 0;
				height: 100%;
				float: right;
				background: url(../images/window_controls_v_div.png) left center no-repeat;
				padding: 8px 5px;

				img.tool {
					width: 8px; height: 8px;
					margin: 2px 7px;
					float: right;
					cursor: pointer;

					background: url(../images/window-sprites.png) -100px -100px no-repeat;
					&.close { background-position: -1px 0; }
					&.minimize { background-position: -15px 0; }
				}
			}
		}

	}

}


#window-tracker{
	position: fixed;
	right: 0;
	bottom: 0;

	.window-minimized{
		white-space: nowrap;
		margin: 6px;
		border: 1px solid #dbdbdb;
		border-radius: 5px;
		background: #fcfcfc;
		box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
		min-width: 200px;


		.title {
			@include menu-label-text-treatment;
			color: #ababab;
			margin-right: 32px;
			padding: 6px 8px 6px 8px;
			position: relative;
		}

		.activity{
			position: absolute;
		}
		.closer {
			border-radius: 0 5px 5px 0;
			padding: 10px 11px 8px 11px;
			border-left: 1px solid #fcfcfc;
			float: right;

			&:hover {
				background: #f4f4f4;
				border-left-color: #dbdbdb;
			}

			img.closer-nib {
				width: 8px; height: 8px;
				cursor: pointer;
				background: url(../images/window-sprites.png) -1px 0 no-repeat;
			}
		}
	}
}


//search widget

.user-search-suggestion {
	position: relative;
	overflow: hidden;
	clear: both;
	line-height: 34px;

	img {
		width: 24px;
		height: auto;
		vertical-align: middle;
		float: left;
		margin: 5px;
	}
	span {
		display: block;
		margin-left: 40px;
		font-weight: bold;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
