

@mixin reset-window-border-radius($radius){
	&,iframe,.x-window-body{ border-radius: $radius; }
	.nti-window-header {
		&,.header-body {
			border-radius: $radius $radius 0 0;
			.controls {border-radius: 0 $radius 0 0;}
		}
	}
	.nti-window-footer { border-radius: 0 0 $radius $radius; }
}


.nti-window {
	@include reset-window-border-radius(5px);
    background-color: #fcfcfc;
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.1);
	border: 1px solid $border-grey;
	overflow: hidden;
	position: fixed !important;

	iframe {
        &.padded {
            margin: 15px;
        }
	}

	.x-window-body {
		border: none !important;
		border-width: 0 !important;
	}

	.nti-window-header {
		cursor: move;
		background: transparent;
		border-bottom: 1px solid #ffffff;
		box-shadow: inset 0px -1px 0px 0px #F6F5F5;

		.header-body {
			position: relative;
			overflow: hidden;
			span {
				@include menu-label-text-treatment;
				padding: 8px 10px;
				//float: left;
				display: block;
			}

			.tools {
				float: right;
				padding: 5px;

				img.tool {
					margin: 2px 7px;
					width: 14px;
					height: 14px;
					cursor: pointer;
				}
			}

			.controls {
				height: 100%;
				float: right;
				padding: 0;
				&.has-tools {
					padding-left: 11px;
					position: relative;
					&::after{
						content: ' ';
						position: absolute;
						overflow: hidden;
						top: 4px; left: 0;
						background: $elements no-repeat;
						@include sprite($elements,'window-control-divider',$dimensions: true);
					}
				}

				img.tool {
					&:hover{ opacity: 1; }
					opacity: 0.5;
					margin: 8px 11px 8px 0;
					float: right;
					cursor: pointer;


					background: $icons no-repeat;
					&.close {
						@include sprite($icons,'window-control-close',$dimensions: true);
					}
					&.minimize {
						@include sprite($icons,'window-control-minimize',$dimensions: true);
					}
					&.popout {
						@include sprite($icons,'window-control-maximize',$dimensions: true);
					}
				}
			}
		}
	}

	.nti-window-footer {
		background: #ffffff;
		border-color: #e7e7e7;
		border-width: 0px;
		border-top-width: 1px !important;
		padding: 10px;
	}

	div.field {
		margin: 12px 8px 10px 8px;
		background: #f7f7f7;
		box-shadow: inset 0 0 1px 1px white;

		.user-token-field {
			border: 1px solid #dcdcdc;
			background: #fff;
			padding: 3px;
		}
	}


	.buttons {
		margin: 10px;
	}
}

.nti-alert {
	overflow: visible;
	position: fixed !important;

	&:not(.showing) {
		.alert-container {
			@include animate(fadeOutDown, $duration: 0.35s, $delay: 0);
		}
	}

	&.showing {
		.alert-container {
			@include animate(fadeInUp, $duration: 0.35s);
		}

		&::after {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.alert-container {
		background-color: white;
		position: relative;
		padding-top: 30px;
	}

	&.closable .close{
		display: block;
	}

	.close {
		display: none;
		width: 10px;
		height: 10px;
		right: 10px;
		top: 10px;
		cursor: pointer;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

		@include icon('message_box_close', $position: absolute);
	}

	.message-container {
		color: $primary-grey;
		padding-left: 80px;
		font: normal 300 1em/1.3 $font;
		min-height: 47px;
		margin: 0 10px 30px 10px;

		.title {
			font-size: 1.5em;
			margin-bottom: 5px;
		}

		.message {
			font-size: 0.9em;
		}

		@include icon('modal-yellow-sign', $left: 10px, $top: -5px);

		&.error, &.warning-red {
			@include icon('modal-red-sign', $left: 10px, $top: -5px);
		}

		a {
			text-decoration: none;
			color: $primary-blue;
		}
	}

	.button-body {
		background-color: #f8f8f8;
		overflow: hidden;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			bottom: 40px;
			height: 300px;
			left: 0;
			right: 0;
			background-color: #f0f0f0;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
			clip: rect(300px, auto, 310px, auto);
			border-radius: 350em / 4em;
		}
	
		.button {
			float: right;
			padding: 0 20px;
			cursor: pointer;
			font: normal 400 0.9em/40px $font;
			text-align: center;
			min-width: 90px;

			&:hover {
				opacity: 1;
			}

			&.primary {
				background-color: $primary-blue;
				color: white;
				box-shadow: inset 1px 0 0 0 $border-blue;

				&:hover {
					opacity: 0.9;
				}

				&.decline, &.caution {
					box-shadow: inset 1px 0 0 0 #dd4845; 
				}
			}

			&.secondary {
				font-weight: 300;
				color: $primary-grey;

				&:hover {
					background-color: white;
					box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.5);
				}

				&.declinde, &.caution {
					color: $primary-red;
				}

			}

			&.accept {
				background-color: $secondary-green;
			}

			&.decline, &.caution {
				background-color: $primary-red;
			}
			
		}
	}

	&.error .message-container {
	 	@include icon('modal-red-sign', $left: 10px);
	}

	&::after {
		content: '';
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		background-color: rgba(0, 0, 0, 0);
		z-index: -1;
		@include experimental(transition, all 0.35s 0 ease-out);
	}
}

.iframe-window {
	iframe.iframe {
		width: 100%;
	}
}

.iframe-window, .confirm-window{
	position: fixed !important;

	.iframe{
		width: auto;

		&.confirm {
			width: 100%;
			height: 100%;
		}
	}

	.deny {
		line-height: 37px;
		margin-right: 10px;
	}

	.error-text {
		font: normal 500 1.1em/1.3 $font;
		padding: 60px;
		color: $primary-grey;
	}
}


.badge-window {
	.badge-preview {
		.img{
			width: 128px;
			height: 128px;
		}

		.wrap{
			width: 631px;
			min-height: 148px;
			font-size: 1.1em;
			padding-right: 128px;

			.description {
				margin: 4px 0 40px;
			}
		}

		.issuer, .criteria {
			margin-bottom: 4px;
			display: inline-block;
		}

		.issuer {
			margin-right: 4em;
		}

		.link {
			display: block;
			font-size: 0.9em;
			text-decoration: none;
			color: $primary-blue;
			overflow: hidden;
			@include ellipse;
		}

		.label {
			font-size: 0.5em;
			font-weight: 600;
			color: $tertiary-grey;
		}
	}
}

.notifications-window {
	.x-window-item {
		overflow-y: auto;
	}

	div.nti-window-header{
		background-color: #fffefe;
		display: block;

		.controls {
			display: none;
		}
	}

	.x-component-notifications.user-data-panel .notification {
		.body { display: block; }
	}
}

.object-window {

	overflow-y: hidden;

	.window-loading {
		height: 100px;
		padding: 45px 0 0 6px;
		position: relative;

		div {
			position: absolute;
			width: 100px;
			top: 50%;
			left: 50%;
			line-height: 24px;
			padding-left: 28px;
			margin-top: -12px;
			margin-left: -50px;

			&::before {
				@include loadingSpinner($top: 0, $left: 0);
			}
		}

	}

	.window-header{
		position: relative;
		height: 44px;
		border-bottom: 1px solid #ededed;
		font-size: 0.75em;

		.title{
			color: #494949;
			margin-left: 15px;
			line-height: 44px;
			max-width: 675px;
			overflow: hidden;
			white-space: nowrap;
			@include ellipse;
		}

		.close{
			@include icon('note-window-x', $side: after, $position: absolute);
			top: 10px;
			right: 10px;
			cursor: pointer;
			width: 24px;
			height: 24px;

			&:hover{
				@include icon('note-window-x_hover', $side: after, $position: absolute);
			}
		}
	}
}

.timeline-window {
	margin: auto;

	.nti-window-header {
		height: 50px;
		border-bottom: 1px solid #e5e5e5;
		background-color: $quad-grey;
		padding: 10px 50px 10px 10px;
		position: relative;

		.controls {
			.close {
				cursor: pointer;
				position: absolute;
				right: 13px;
				top: 13px;
				width: 24px;
				height: 24px;
				background: $icons no-repeat;
				$disable-magic-sprite-selectors: true;
				@include sprite($icons, 'note-window-x', $dimensions: true);

				&:hover {
					@include sprite($icons, 'note-window-x_hover', $dimensions: true);
				}
			}
		}

		span {
			color: $secondary-grey;
			line-height: 1.5em;
			font-weight: 300;
			font-size: 1.5em;
			text-transform: none;
			@include ellipse();
		}
	}

	.nti-window-footer {
		height: 40px;
		border-radius: 0;
		background-color: $quad-grey;
		box-shadow: inset 0 1px 0 0 #e5e5e5;
		border: none;

		.close-btn {
			cursor: pointer;
			display: inline-block;
			float: right;
			font: italic 600 0.875em/40px $font;
			color: white;
			background-color: $primary-blue;
			padding: 0 2em;
		}
	}

	&::after {
		content: '';
		position: fixed;
		top: 0; bottom: 0;
		left: 0; right: 0;
		z-index: -1;
		background-color: rgba(0,0,0,0.5);
	}
}

