$accessibility_mode: false;


@import
	"base/fonts",
	"utils/variables",
	"utils/animate",
	"layout/main-layout";

@import "nti-override.css";

@import
	"debris/reader",

	"debris/nav-panel",
	"debris/navbar",
	"debris/dnd",
	"debris/transitions",

	"debris/branding-defaults",
	"debris/containers",
	"debris/charts",
	"debris/grid",
	"debris/editor",
	"debris/window-treatments",
	"debris/chat",
	"debris/whiteboard",
	"debris/notes",
	"debris/dictionary",
	"debris/coppa-specific",
	"debris/lightbox",
	"debris/videopopup",
	"debris/account-window",
	"debris/profiles",
	"debris/forums",
	"debris/blog",
	"debris/prompt",
	"debris/image-cropping",

	"debris/notifications",
	"debris/stream",

	"debris/tabbars",
	"debris/buttons",
	"debris/token",
	"debris/header",
	"debris/content",
	"debris/library",
	"debris/navigation-menu",
	"debris/masks-and-tips",
	"debris/form-fields",
	"debris/menu-items",
	"debris/video",
	"debris/context",


	"debris/contact-search",
	"debris/contacts",
	"debris/oobe-contacts",
	"debris/activity",

	"debris/nav-outline",
	"debris/content-nav",
	"debris/annotations",
	"debris/myaccount",
	"debris/file-uploader",
	"debris/link-styles",

	"debris/sidebar",
	"debris/search",
	"debris/assessments",
	"debris/identity",

	"debris/history-view",
	"debris/user-data-panel",

	"debris/slidedeck",

	"debris/avatar-choices",
	"debris/random-gravatar-picker",
	"debris/toast",
	"debris/nti-welcome",

	"debris/store",
	"debris/course-dashboard",
	"debris/course-nav",
	"debris/course-info",
	"debris/course-assessment",
	"debris/course-reports",
	"debris/course-admission",
	"debris/course-email",
	"debris/content-editing",

	"debris/pointer",

	"debris/fullscreen-rules",

	"debris/static-resources",

	"debris/ipad",
	"debris/auditlog";

.x-panel-default,
.x-border-layout-ct { background: inherit; }

//Firefox: make sure we do not outline focusable elements
.x-gecko [tabindex] { outline: 0; }

//.viewport {
// position: fixed;
//}

.x-form-item,
.x-form-field,
.x-body,
html,
body {
	//reset base font settings
	line-height: normal;
	font:{
		variant: normal;
		weight: normal;
		style: normal;
		size: 1em;
		family: $font;
	}
	//@include experimental(font-smoothing, antialiased);
}

input::-ms-clear { display: none; }

.placeholder { @include placeholder-style(); }
::input-placeholder { @include placeholder-style(); }
::-webkit-input-placeholder { @include placeholder-style(); }
::-moz-placeholder { @include placeholder-style(); }
input:-moz-placeholder { @include placeholder-style(); }
:-ms-input-placeholder{ @include placeholder-style(); }
input:-ms-input-placeholder{ @include placeholder-style(); }


.ellipsis {
	margin: 0 10px;
	text-decoration: none;
	display: inline-block;

	div {
		display: inline-block;
		border-radius: 90px;
		width: 4px; height: 4px;
		margin: 2px;
		background: $primary-blue;
	}
}

.x-repaint {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0,0,1px);
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.scroll-lock{
	overflow: hidden !important;
}



.empty-state{
	text-align: center;
	font: normal 300 2em $font;
	color: $tertiary-grey;
	margin-top: 2em;

	.sub{
		font-size: 0.5em;
	}
	&.no-assignments{
	  margin-bottom: 2em;
	}
}

.error-message-component {
	text-align: center;
	font-size: 0.9em;
	line-height: 5;
	font-style: italic;
	font-weight: 600;
	color: $primary-red;
}
