@import "compass";
@import "variables";
@import "animate";

@import "nti-override.css";

@import "branding-defualts";
@import "grid";
@import "editor";
@import "window-treatments";
@import "chat";
@import "whiteboard";
@import "notes";
@import "dictionary";
@import "coppa-specific";
@import "videopopup";
@import "account-window";
@import "profiles";
@import "forums";

@import "tabbars";
@import "buttons";
@import "token";
@import "header";
@import "content";
@import "library";
@import "navigation-menu";
@import "masks-and-tips";
@import "form-fields";
@import "menu-items";


@import "contact-search";
@import "contacts";
@import "oobe-contacts";
@import "activity";

@import "nav-outline";
@import "content-nav";
@import "annotations";
@import "myaccount";
@import "file-uploader";
@import "link-styles";

@import "sidebar";
@import "search";
@import "assessments";
@import "identity";

@import "history-view";
@import "user-data-panel";

@import "slidedeck";

@import "avatar-choices";
@import "random-gravatar-picker";
@import "toast";
@import "nti-welcome";

@import "store";
@import "course-dashboard";
@import "course-nav";
@import "course-info";

@import "pointer";

@import "fullscreen-rules";

@import "static-resources";

.x-panel-default,
.x-border-layout-ct { background: inherit; }

//Firefox: make sure we do not outline focusable elements
.x-gecko [tabindex] { outline: 0; }

.x-form-item,
.x-form-field,
.x-body,
html,
body {
	//reset base font settings
	line-height: normal;
	font:{
		variant: normal;
		weight: normal;
		style: normal;
		size: 1em;
		family: $font;
	}
	//@include experimental(font-smoothing, antialiased);
}

input::-ms-clear { display: none; }

.placeholder { @include placeholder-style(); }
:-webkit-input-placeholder { @include placeholder-style(); }
:-moz-placeholder { @include placeholder-style(); }
:-ms-input-placeholder{ @include placeholder-style(); }


.ellipsis {
	margin: 0 10px;
	text-decoration: none;
	display: inline-block;

	div {
		display: inline-block;
		border-radius: 90px;
		width: 4px; height: 4px;
		margin: 2px;
		background: $primary-blue;
	}
}

.x-repaint {
	display: none !important;
}

.scroll-lock{
	overflow: hidden !important;
}

.scrollable {
	-webkit-overflow-scrolling: touch;
}


.empty-state{
	text-align: center;
	font: normal 300 2em $font;
	color: $tertiary-grey;
	margin-top: 2em;

	.sub{
		font-size: 0.5em;
	}
}
