@import "~nti-style-common/all.scss";

.user-recent-sessions {
	width: 241px;
	height: 340px;
	box-shadow: 0 1px 2px 1px #ccc;
	color: #555;
	font-weight: 300;
	padding: 10px;

	.header {
		.title {
			margin-left: 10px;
			font-size: 24px;
			font-weight: 500;
		}
	}

	figure.loading {
		position: relative;
		top: 20%;
	}

	.no-sessions {
		margin-left: 12px;
		margin-top: 20%;
	}

	.items {
		margin: 10px;

		.item {
			margin: 10px 0;

			.day {
				font-size: 12px;
				font-weight: 500;
				color: #b8b8b8;
			}
		}
	}
}
