@import "~nti-style-common/all.scss";

.hit-fragment {
	margin-bottom: 5px;
	display: inline;
}

.hit-fragment hit {
	color: #757474;
	font-weight: 700;
	font-style: normal;
}

.hit-fragments {
	cursor: pointer;
	margin: 5px 0;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 25px;
	color: #757474;
	text-align: left;
	width: 600px;
}

.hit-path {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 25px;
	color: #B8B8B8;
}

.hit-title {
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	color: #3FB3F6;
	cursor: pointer;
}

.search-advanced-menu-react.search-advanced-menu {
	margin: 20px 0;
	height: 50px;
	background-color: #FBFBFB;
	box-shadow: inset 0 -1px 0 0 #E2E2E2;
}

.search-advanced-menu-react.search-advanced-menu > .search-option {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 600;
	line-height: 50px;
	display: inline-block;
	height: 50px;
	color: #757474;
	padding: 0 15px;
	margin-right: 0;

	&.active {
		color: #3FB3F6;
		box-shadow: inset 0 -1px 0 0 #3FB3F6;
	}
}

.search-result-react {
	margin-bottom: 20px;
	min-height: 84px;
}

.show-more-button {
	background: #3fb3f6;
	color: #fff;
	cursor: pointer;
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
	padding: 25px;
	height: auto;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	border: 0;
}

.pagination-container {
	height: 40px;
	padding-left: 0;
}

.pagination-item {
	border: 1px solid #EFEFEF;
	display: inline-block;
	margin-right: 10px;
	color: #B8B8B8;
	line-height: 19px;
	height: 40px;
	width: 40px;
	cursor: pointer;

	&.active {
		color: #FFFFFF;
		background-color: #3FB3F6;
	}
}

.page-num {
	height: 19px;
	width: 8px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	padding: 10px 16px 11px;
}

.page-num-large {
	height: 19px;
	width: 16px;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	padding: 10px 12px 11px;
}

.next-results-page {
	display: inline-block;
	color: #B8B8B8;
	line-height: 19px;
	height: 40px;
	width: 40px;
}

.next-results-page-button {
	display: inline-block;
	cursor: pointer;
	color: #3FB3F6;
	font-size: 14px;
	font-weight: bold;
}

.prev-results-page {
	display: inline-block;
	color: #B8B8B8;
	line-height: 19px;
	height: 40px;
	width: 20px;
}
