.hit-fragments {
	margin: 5px 0;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 25px;
	color: #757474;
}

.hit-fragment {
	margin-bottom: 5px;
}

.hit-fragment em {
	color: black;
	font-weight: bold;
	font-style: normal;
}

.hit-path {
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 25px;
	color: #B8B8B8;
}

.hit-title {
	margin-top: 20px;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	color: #494949;
}

.search-results-hits {
	background-color: #FBFBFB;
}

.show-more-button {
	background: #3fb3f6;
	color: #fff;
	cursor: pointer;
	font-size: 0.875em;
	font-weight: 600;
	line-height: 1em;
	text-transform: uppercase;
	padding: 25px;
	height: auto;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	border: 0;
}
