@import "~@nti/style-common/all";

html {
	--nt-app-top-offset: 70px;

	&.msg-bar-open {
		--nt-app-top-offset: 110px;
	}
}

//Workaround ExtJS legacy z-index-happy bull$#!+ >.<
body > .modal .modal-mask,
body > .modal .modal-mask.nti-lightbox-dialog {
	z-index: 175;
}

body.full-screen-video {
	.main-viewport {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}
}
