@import '~@nti/style-common';

.site-admin-book-item {
	display: flex;
	min-height: rem-calc(117px);
	overflow: hidden;
	padding: 1rem 0;
	position: relative;
	box-shadow: 0 1px 0 0 #e2e2e2;

	.book-icon {
		width: rem-calc(160px);
		height: rem-calc(128px);
		flex: 0 0 auto;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.book-info {
		padding-left: 1rem;
		position: absolute;
		left: 10rem;
		bottom: 1rem;

		.title {
			color: $primary-grey;
			font-size: 20px;
			margin-bottom: 4px;
		}

		.created-date {
			font-size: 12px;
			color: #494949;

			span {
				margin-left: 4px;
			}
		}

		.description {
			font-size: 14px;
			color: $secondary-grey;
		}
	}
}
