.asset-item {
	display: flex;
	padding: 1rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.asset-item > * {
	flex: 1;
}

.asset-item > .preview {
	flex: 0 0 auto;
	height: 70px;
}

.preview img {
	max-height: 100%;
}
