.asset-item {
	display: flex;
	align-items: center;
	padding: 1rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.asset-item > * {
	flex: 1;
}

.asset-item > .preview {
	--height: 70px;

	flex: 0 0 auto;
	max-height: var(--height);
}

.preview img {
	max-height: var(--height);
}
