.loading-container {
	min-height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.reading-view :global(.content-toolbar) {
	display: none;
}

.reading-view :global(.content-viewer) {
	padding: 0;
	margin-bottom: -80px;
}

.reading-view :global(.reader-container.navigation-panel .center .x-reader-pane) {
	margin-top: 0;
}

.reading-view.submitting :global(.reader-container.navigation-panel .center .x-reader-pane) {
	opacity: 0.3;
	pointer-events: none;
}

.reading-view :global(.x-component-editor.in-gutter) {
	position: absolute !important;
}
