@import '~@nti/style-common';

.site-admin-user-list-nav-bar {
	.site-admin-card {
		margin-bottom: 0.5rem;
	}

	.header {
		color: var(--tertiary-grey);
		box-shadow: 0 1px 0 0 #e2e2e2;
		height: 52px;
		line-height: 52px;
		padding-left: 20px;
		font-size: 14px;
		margin-bottom: 10px;
	}

	.site-admin-tabs {
		li {
			font-size: 14px;
			line-height: 40px;
			box-shadow: none;

			a {
				padding: 0 20px;
				position: relative;

				.invitations-count {
					position: absolute;
					top: 6px;
					right: 8px;
					color: var(--tertiary-grey);
					border: solid 1px var(--tertiary-grey);
					border-radius: 20px;
					padding: 2px 14px;
					height: 26px;
					font-size: 12px;
					line-height: 22px;
				}

				&.active {
					.invitations-count {
						border: 1px solid
							rgba(var(--accent-color-overlay-inverted), 0.38);
						color: white;
					}
				}
			}
		}
	}

	.invite {
		color: var(--primary-blue);
		font-size: 14px;
		padding: 0 1.25rem;
		line-height: 60px;
		cursor: pointer;
		border-bottom: 1px solid var(--border-grey-light);

		i {
			margin-right: 0.5rem;
		}
	}
}
